{% extends "base.html" %}
{% block titulo %}Configurar Tiempos de Sistema de Adquisición{% endblock %}

{% block externalcss %}
    <link rel="stylesheet" href="/static/css/forms/main.css" type="text/css" />
    <link rel="stylesheet" href="/static/css/forms/c_centers.css" type="text/css" />
    <link type="text/css" href="/static/jquery-ui-1.8.23/css/smoothness/jquery-ui-1.8.23.custom.css" rel="stylesheet" />
    <link rel="stylesheet" href="/static/css/forms/configure_ie_pm.css" type="text/css" />

{% endblock %}
{% block externaljs %}
    <script type="text/javascript" src="/static/jquery-ui-1.8.23/js/jquery-ui-1.8.23.custom.min.js"></script>
    <script src="/static/js/external/ui.spinner.min.js"></script>
    <script src="/static/js/external/jquery-ui-timepicker-addon.js"></script>


{% endblock %}
{% block document_ready %}
    $(".spinner").spinner({
        min: 10,
        max: 3600,
        step: 10
    });

    $('.initial_send_time_h').timepicker();
    $("#setup_pm").click(function(e){
        e.preventDefault()
        $("#pm_settings").slideToggle();
        $("#setup_pm p").toggle();
    })

{% endblock %}


{% block breadcumbs %}
    <div id="bread_crumbs">
    <a href="/profile/{{ request.user.pk }}/" class="fl username">{{ request.user.first_name }} {{ request.user.last_name }}</a>
        <ul>
            <li><a href="/main/">Inicio</a></li>
            <li><a href="/panel_de_control/">Administraci&oacute;n</a></li>
            <li><a href="/buildings/industrial_equipments/">Equipos Industriales</a></li>
            <li>Configurar Equipo Industrial</li>
        </ul>
    <a href="/logout" id="userLogOut">Cerrar sesión</a>

    </div>

{% endblock %}


{% block contenido %}


    <div id="page_content">
    <div id="contenido_interno" class="card">
        <h2 id="titulo_form" class="powermeter">
            Configurar Tiempos de Sistema de Adquisición - {{ ie.alias }}
        </h2>


        <div class="divider" id="divider_top">&nbsp;</div>
        {% if message %}
            <span class="notif {{ msg_type }}">
                    {% autoescape off %}{{ message }}{% endautoescape %}
                    <a href="#" onclick="$(this).parent().remove(); History.replaceState({}, '', ' ');">X</a>
                </span>
        {% endif %}
        <p class="description">
            Pid nisi sed dictumst ac ultricies, vut velit pid, nascetur est ac nunc urna amet tempor cum in odio. Ultrices. Urna placerat in auctor, urna.
            <br/>
            Pid eu, nisi egestas. Enim in porttitor, sed nec tempor, cursus dictumst enim? Augue! Porttitor mid, risus cras! Non duis et turpis, adipiscing augue.
        </p>

        <div class="g12" id="form_container">
            <form action="." method="post">
            {% csrf_token %}
                <div id="industrial_eq" class="g12">
                    <h3 id="notice" class="g12">Este equipo fue modificado por &uacute;ltima vez el {{ last_changed|date:"l d" }} de {{ last_changed|date:"F" }} de {{ last_changed|date:"Y" }}, a las {{  last_changed|date:"H:i e" }}</h3>
                    <label for="monitor_time_rate" class="g3">Frecuecia de env&iacute;o, en segundos</label>
                    <div class="g2">
                        <input type="text" class="integer fl spinner" id="send_rate" name="send_rate" value="{{ powermeters.0.send_time_rate }}"/>
                    </div>
                    <span class="g2"></span>
                    <label for="check_config_time_rate" class="g3">Tiempo para verificar nueva configuraci&oacute;n, en segundos</label>
                    <div class="g2">
                        <input type="text" class="integer fl spinner" id="check_config_time_rate" name="check_config_time_rate" value="{{ ie.check_config_time_rate }}"/>
                    </div>
                    <div class="vacio"></div>
                    <button class="aqua_btn" id="setup_pm"><p>Configurar Medidores</p><p class="hidden">Ocultar Medidores</p></button>
                    <button class="aqua_btn"><p>Guardar</p></button>
                </div>
                <div id="pm_settings">
                    {% for pm in powermeters %}
                        <div class="pm g12">
                            <h3>{{ pm.anotation }}</h3>
                            <label for="read_time_rate_{{ pm.pk }}" class="g3">Frecuencia de lectura, en segundos</label>
                            <div class="g2">
                                <input type="text" class="integer fl spinner" id="read_time_rate_{{ pm.pk }}" name="read_time_rate_{{ pm.pk }}" value="{{ pm.read_time_rate }}"/>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </form>
        </div>


    </div>
</div>
{% endblock %}