#titulo span{
    font-size: 18px;
    font-weight: 700 !important;
}
#titulo{
    font-size: 18px;
    font-weight: 300 !important;
    margin: 10px 0;
}
.notif_days{
    margin-bottom: 40px;
}
.raised_alarm{
    border-bottom: solid 1px #9ebfc7;
    padding: 5px;
    margin-bottom: 5px;
    color: #666;
}
.notif_detail{
    border-top: dotted 1px #9ebfc7;
    display: block;
    padding: 7px 5px;
    color: #666;
}
.notif_detail.item0{
    border-top: none;
}
.t_hour, .parameter, .value, .range, .consumer_unit_alarm{
    font-weight: 700;
}
.value{
    color: #d05762;
}
.consumer_unit_alarm{
    color: #2b778f;
}

#showAllNotifications{
    position: relative;
    top: 5px;
    margin-left: 5px;
}

#moreResultsNotificacions{
    display: block;
    clear:both;
    margin-bottom: 10px;

}

#notificationFilter{
    overflow: hidden;
    display: none;
    width: 50%;
}

#notificationFilter p,#notificationFilter .divSplit{
    margin: 10px 0 !important;
    overflow: hidden;
}

#slider-range{
    width: 85%;
    float: left;
    margin-left: 9px;
    margin-bottom: 10px;
}

#rengeNotification{
    display: block;
    float: left;
}

