{% extends "base.html" %}
{% block titulo %}
    {% if operation == "edit" %}Editar{% else %}Alta de{% endif %} usuario
{% endblock %}
{% block externalcss %}
    <link rel="stylesheet" href="/static/css/forms/main.css" type="text/css" />
    <link rel="stylesheet" href="/static/css/forms/rbac_add_user.css" type="text/css" />
    <link type="text/css" href="/static/jquery-ui-1.8.23/css/smoothness/jquery-ui-1.8.23.custom.css" rel="stylesheet" />
{% endblock %}
{% block externaljs %}
    <script type="text/javascript" src="/static/jquery-ui-1.8.23/js/jquery-ui-1.8.23.custom.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/external/maskedinput.js"></script>
    <script type="text/javascript">
    var form_valid = true;
    var send_form = 0;
        $(document).ready(function(){
            $("#username").focus();

            $("#tel_o, #tel_m").mask("(999) 999-9999");

            $( "#dob" ).mask("99-99-9999").datepicker({ monthNames: ["Enero","Febrero","Marzo","Abril","Mayo",
                "Junio","Julio","Agosto","Septiembre","Octubre","Noviembre","Diciembre"],
                                     dateFormat: "dd-mm-yy", onSelect: function(){
                                    var _span;
                                    if($(this).val()=='__-__-____'){
                                        _span = "incorrect";
                                        form_valid = false;
                                    }else{
                                        _span = "correct";
                                        form_valid = true;
                                    }
                                    $(this).next().removeClass("incorrect").removeClass("correct").addClass(_span);
                }});
            $(".required").each(function(){
                $(this).parent().next().blur(function(e){
                    var _span;

                    var valor = $.trim(e.delegateTarget.value);

                    if (e.delegateTarget.id == "pass1"){
                        if (e.delegateTarget.value.length < 8){
                            _span = "incorrect";
                            form_valid = false;
                        }else{
                            _span = "correct";
                            form_valid = true;
                        }
                    }else if (e.delegateTarget.id == "pass2"){

                        var pass1 = $("#pass1");
                        if(pass1.val() != $("#pass2").val()){
                            _span = "incorrect";
                            form_valid = false;
                            pass1.next().removeClass("incorrect");
                            pass1.next().removeClass("correct");
                            pass1.next().addClass(_span);
                        }else{
                            if (valor !=''){
                                _span = "correct";
                                form_valid = true;
                            }

                        }
                    }else  if (e.delegateTarget.id == "mail"){
                        if(isValidEmailAddress(e.delegateTarget.value)){
                            _span = "correct";
                            form_valid = true;
                        }else{
                            _span = "incorrect";
                            form_valid = false;
                        }
                    }else  if (e.delegateTarget.id == "dob"){

                    }else if(valor=='' || !isValidString(valor)){
                        _span = "incorrect";
                        form_valid = false;
                    }else{
                        _span = "correct";
                        form_valid = true;
                    }

                    var n_span = $("#"+e.delegateTarget.id).next();
                    n_span.removeClass("incorrect");
                    n_span.removeClass("correct");
                    n_span.addClass(_span);
                });
            });
            $("#save").click(function(){
                validate_form();
                return send_form == 1;
            });
        });
    function validate_form(){
        form_valid= true;

            var _span;


            if($.trim($("#dob").val()) == ''){
                _span = "incorrect";
                form_valid = false;
            }else{
                _span = "correct";
            }
            $("#dob").next().removeClass("incorrect");
            $("#dob").next().removeClass("correct");
            $("#dob").next().addClass(_span);



            var username = $("#username");
            if($.trim(username.val())=='' || !isValidString(username.val())){
                _span = "incorrect";
                form_valid = false;
            }else{
                _span = "correct";
            }
            username.next().removeClass("incorrect");
            username.next().removeClass("correct");
            username.next().addClass(_span);
            {% if operation != "edit" %}
            var pass1 = $("#pass1");
            var pass2 = $("#pass2");
            {% if operation != "edit" %}
            if (pass1.val().length < 8){
                _span = "incorrect";
                form_valid = false;
            }else{
            {% endif %}
                if(pass1.val() != pass2.val()){
                    _span = "incorrect";
                    form_valid = false;
                }else{
                    _span = "correct";
                }
            {% if operation != "edit" %}
            }
            {% endif %}
            pass1.next().removeClass("incorrect");
            pass1.next().removeClass("correct");
            pass1.next().addClass(_span);
            {% endif %}
            var lastname = $("#last_name");
            if($.trim(lastname.val())=='' || !isValidString(lastname.val())){
                _span = "incorrect";
                form_valid = false;
            }else{
                _span = "correct";
            }
            lastname.next().removeClass("incorrect");
            lastname.next().removeClass("correct");
            lastname.next().addClass(_span);

            var surname = $("#surname");
            if(surname.val()!=''){
                if(!isValidString(surname.val())){
                    _span = "incorrect";
                    form_valid = false;
                }else{
                    _span = "correct";
                }
                surname.next().removeClass("incorrect");
                surname.next().removeClass("correct");
                surname.next().addClass(_span);
            }else{
                surname.next().removeClass("incorrect");
                surname.next().removeClass("correct");
            }


            var name = $("#name");
            if($.trim(name.val())=='' || !isValidString(name.val())){
                _span = "incorrect";
                form_valid = false;
            }else{
                _span = "correct";
            }
            name.next().removeClass("incorrect");
            name.next().removeClass("correct");
            name.next().addClass(_span);


            var mail = $("#mail");
            if($.trim(mail.val())==''){
                _span = "incorrect";
                form_valid = false;
            }else{
                if(isValidEmailAddress(mail.val())){
                    _span = "correct";
                }else{
                    _span = "incorrect";
                    form_valid = false;
                }

            }
            mail.next().removeClass("incorrect");
            mail.next().removeClass("correct");
            mail.next().addClass(_span);


        if (form_valid){
            send_form++;
        }

        return form_valid;
    }
    </script>
{% endblock %}


{% block contenido %}
    <div id="bread_crumbs">
        <ul>
            <li><a href="/main/">Inicio</a></li>
            <li><a href="/panel_de_control/">Administraci&oacute;n</a></li>
            <li><a href="/panel_de_control/usuarios/">Usuarios</a></li>
            {% if operation == "edit" %}
                <li>

                        Edici&oacute;n de usuario

                </li>
            {% else %}
                <li>Alta de usuario</li>
            {% endif %}

        </ul>

    </div>
    <div id="contenido_interno">
        <h2 id="titulo_form" class="user_role">
            {% if operation == "edit" %}Edici&oacute;n de{% else %}Alta de{% endif %} usuario
        </h2>


        <div class="divider" id="divider_top">&nbsp;</div>
        <div id="form_container">
            {% if message %}
                <span class="notif {{ type }}">
                    {% autoescape off %}{{ message }}{% endautoescape %}
                    <a href="#" onclick="$(this).parent().remove();">X</a>
                </span>
            {% endif %}
            <p class="description">
                Pid nisi sed dictumst ac ultricies, vut velit pid, nascetur est ac nunc urna amet tempor cum in odio. Ultrices. Urna placerat in auctor, urna.
                <br/>
                Pid eu, nisi egestas. Enim in porttitor, sed nec tempor, cursus dictumst enim? Augue! Porttitor mid, risus cras! Non duis et turpis, adipiscing augue.
            </p>
            <form method="post" action=".">
                {% csrf_token %}
                <h3 class="g12">Nombre de Usuario y Contraseña</h3>
                <div id="basic_info">
                    <div class="fields_row g12">
                        <label for="username" class="g2">Nombre de
                            usuario<span class="required">*</span></label>
                        <input type="text" name="username" id="username" class="g9"
                               value="{{ post.username }}"
                               {% if operation == "edit" %}readonly="readonly" {% endif %}
                                />
                        <span></span>
                    </div>
                    <div class="fields_row g12">
                        <label for="pass1" class="g2">
                            Contrase&ntilde;a<span class="required">*</span>
                            <span class="g12">La contrase&ntilde;a debe contener al menos 8
                                caracteres</span>
                        </label>

                        <input type="password" name="pass1" id="pass1" class="g9"/>
                        <span></span>
                    </div>
                    <div class="fields_row g12">
                        <label for="pass2" class="g2">
                            Re-introducir Contrase&ntilde;a<span class="required">*</span>
                            {% if operation == "edit" %}
                                <span class="g12">Deja los campos vac&iacute;os para
                                    conservar la misma contrase&ntilde;a
                                </span>
                            {% endif %}
                        </label>
                        <input type="password" name="pass2" id="pass2" class="g9"/>
                    </div>
                </div>
                <h3 class="g12">Informaci&oacute;n Personal</h3>
                <div id="personal_info">
                    <div class="fields_row g12">
                        <label for="name" class="g2">Nombre(s)<span class="required">*</span></label>
                        <input type="text" name="name" id="name" class="g9" value="{{ post.name }}"/>
                        <span></span>
                    </div>
                    <div class="fields_row g12">
                        <label for="last_name" class="g2">Apellido Paterno<span class="required">*</span></label>
                        <input type="text" name="last_name" id="last_name" class="g9"
                               value="{{ post.last_name }}"/>
                        <span></span>
                    </div>
                    <div class="fields_row g12">
                        <label for="surname" class="g2">Apellido Materno</label>
                        <input type="text" name="surname" id="surname" class="g9" value="{{ post.surname }}"/>
                        <span></span>
                    </div>
                    <div class="fields_row g12">
                        <label for="mail" class="g2">Correo Electr&oacute;nico<span class="required">*</span></label>
                        <input type="email" name="mail" id="mail" class="g9" value="{{ post.mail }}"/>
                        <span></span>
                    </div>
                    <div class="fields_row g12">
                        <span class="label g2">Sexo</span>
                        <label for="sex_m" class="g2">
                            <input type="radio" name="sex" id="sex_m" value="M"
                                       {% if post.sex == "M" %}
                                            checked="checked"
                                       {% endif %}
                                       {% if not post %}
                                            checked="checked"
                                       {% endif %}
                                   />
                            Masculino
                        </label>
                        <label for="sex_f" class="g2">
                            <input type="radio" name="sex" id="sex_f" value="F"
                                        {% if post.sex == "F" %}
                                            checked="checked"
                                        {% endif %}
                                    />
                            Femenino
                        </label>
                    </div>
                    <div class="fields_row g12">
                        <label for="dob" class="g2">Fecha de Nacimiento<span class="required">*</span></label>
                        <input type="text" name="dob" id="dob" class="g2"
                               {% if operation == "edit" %}value="{{ post.dob|date:"d-m-Y" }}"
                               {% else %}value="{{ post.dob }}"
                               {% endif %}/>
                        <span></span>
                    </div>
                    <div class="fields_row g12">
                        <label for="tel_o" class="g2">Tel&eacute;fono Oficina</label>
                        <input type="text" name="tel_o" id="tel_o" class="g9" value="{{ post.tel_o }}"/>
                    </div>
                    <div class="fields_row g12">
                        <label for="tel_m" class="g2">Tel&eacute;fono Celular</label>
                        <input type="text" name="tel_m" id="tel_m" class="g9" value="{{ post.tel_m }}"/>
                    </div>
                </div>
                <div class="buttons g12">

                    <span class="g2">&nbsp;</span>
                    <div class="g9">
                        <button class="aqua_btn fr" id="save">
                            Guardar
                        </button>
                    </div>
                </div>
            </form>

        </div>


    </div>
{% endblock %}