{% extends "base.html" %}
{% block titulo %}Reportes{% endblock %}
{% block externalcss %}
    <link rel="stylesheet" href="/static/css/forms/main.css" type="text/css">
{% endblock %}
{% block externaljs %}

{% endblock %}
{% block document_ready %}

{% endblock %}
{% block contenido %}
    <div id="bread_crumbs">
        <ul>
            <li><a href="/main/">Inicio</a></li>
            <li><a href="/main/">Asignaci&oacute;n de permisos</a></li>
        </ul>

    </div>
    <div id="contenido_interno">
        <h2 id="titulo_form">Asignaci&oacute;n de permisos</h2>


        <div class="divider" id="divider_top">&nbsp;</div>
        <div id="form_container">


        </div>


    </div>
{% endblock %}