{% extends "base.html" %}
{% block titulo %}Alta de Rol{% endblock %}
{% block externalcss %}
    <link rel="stylesheet" href="/static/css/forms/main.css" type="text/css">
    <link rel="stylesheet" href="/static/css/forms/rbac.css" type="text/css">
{% endblock %}

    {% block document_ready %}
            //custom select for sidebar
            $("#empresa").click(function(){
                $("#company_list").slideToggle();
            });
            $("#company_list li").click(function(){
                var texto=$(this).text().replace(/^\s*|\s*$/g,'');
                var texto1 = texto.substring(0,17) + "...";
                $("#empresa").text(texto1);
                $("#company_list").slideUp();

                $.ajax({
                    url: "/reportes/set_default_building/" + $(this).attr("rel"),
                    type: "GET",
                    dataType: 'json',
                    async: 'true',
                    success: function(datos){
                        console.log("changed");
                    }
                });

            });

            $("#add_permission").click(function(e){
                e.preventDefault();
                var rol = $("#role_name");
                if($.trim(rol.val()) != ''){
                    rol.val($.trim(rol.val()));
                    $("#basic_rol_info").hide();
                    $("#rolename").text(rol.val());
                    $("#role_description").text($("#role_desc").val());
                    $("#add_permissions").show();
                    if(rol.parent().find("span.g1").hasClass("incorrect")){
                        rol.parent().find("span.g1").removeClass("incorrect");
                        rol.parent().find("span.g1").addClass("correct");
                    }
                }else{
                    rol.parent().find("span.g1").addClass("incorrect");
                }
            });
            $(".edit").click(function(e){
                $("#add_permissions").hide();
                $("#basic_rol_info").show();
            });

            $("#operation").click(function(){
                $(this).find("ul.ddl").slideToggle();
            });
            $("#group").click(function(){
                $(this).find("ul.ddl").slideToggle();
            });
            $("#object .legend").click(function(){
                $(this).parent().find("ul.ddl").slideToggle();
            });
            $("#operation_list li").click(function(){
                $("#group_list, #object_list").html("").hide();
                var elemento = $(this);
                $("#operation span").text(elemento.text());
                elemento.parent().slideUp().stop();
                var uri = elemento.attr("rel");
                var url = "/rbac/get_group/"+uri;
                $("#group_list").load(url, function(){
                    $(this).slideDown();


                    $("#group_list li").click(function(){
                        $("#object_list").html("").hide();
                        var elemento = $(this);
                        $("#group span").text(elemento.text());
                        elemento.parent().slideUp().stop();
                        var url2 = elemento.attr("rel");
                        url2 = "/rbac/get_object/"+url2+"?operation="+uri;
                        $("#object_list").load(url2, function(){
                            var all = '<li><input type="checkbox" name="all" ' +
                                    'id="all"/>'+
                                    '<label for="all" >'+
                                    'Todos'+
                                    '</label></li>';
                            $(this).prepend(all).slideDown();
                            $("#object_list input:checkbox").uniform();
                            $("#add_buttons").show();
                            $("#all").change(function(){

                                if($(this).is(":checked")){
                                    $("#object_list").find("input:checkbox").each(function(){

                                        if($(this).attr('id')!="all"){
                                            $(this).prop("checked", true);
                                        }

                                    });
                                }else{
                                    $("#object_list").find("input:checkbox").each(function(){

                                        if($(this).attr('id')!="all"){
                                            $(this).prop("checked", false);
                                        }

                                    });
                                }

                                $.uniform.update();
                            });
                        });

                    });

                });

                $("#add_objects").click(function(e){
                    e.preventDefault();
                    add_object();
                });
                $("#add_save").click(function(e){
                    e.preventDefault();
                    add_object();
                    $("#save_btn button").click();
                });
            });
            $("a.back").click(function(e){e.preventDefault(); history.back();});

        {% endblock %}
{% block externaljs %}
    <script type="text/javascript">
    function add_object(){
        var added_objects='';
        var added_objects_ids='';
        if ($("#all").is(":checked")){
            added_objects='Todos';
            $("#object_list").find("input:checkbox").each(function(){
                if ($(this).is(':checked')){
                    if (added_objects_ids == ''){
                        added_objects_ids = $(this).attr('id');
                    }
                    else{
                        added_objects_ids += ',' + $(this).attr('id');
                    }
                }
            });
        }else{
            $("#object_list").find("input:checkbox").each(function(){
                if ($(this).is(':checked')){
                    if (added_objects == ''){
                        added_objects = $(this).parent().parent().next().text();
                        added_objects_ids = $(this).attr('id');
                    }
                    else{
                        added_objects += ',' + $(this).parent().parent().next().text();
                        added_objects_ids += ',' + $(this).attr('id');
                    }
                }
            });
        }

        if (added_objects != ''){
            var operacion = $("#operation span").text().replace(/^\s+/,'').replace(/\s+$/,'');

            var grupo = $("#group span").text().replace(/^\s+/,'').replace(/\s+$/,'');
            var grupo_tag = grupo.toLowerCase()
            grupo_tag = grupo_tag.replace(/á/gi,"a");
            grupo_tag = grupo_tag.replace(/é/gi,"e");
            grupo_tag = grupo_tag.replace(/í/gi,"i");
            grupo_tag = grupo_tag.replace(/ó/gi,"o");
            grupo_tag = grupo_tag.replace(/ú/gi,"u");
            grupo_tag = grupo_tag.replace(/\s/gi,"-");

            var append = '<a href="#eliminar" class="delete hidden_icon" ' +
                    'title="eliminar permiso asignado"></a>' +
                    '<span class="permission">' +
                    operacion +
                    '</span>' +
                    '<span class="group">' +
                    grupo +
                    '</span>'+
                    '<span class="object">'+
                    added_objects +
                    '</span>' +
                    '<input type="hidden" name="' + operacion + "_" +grupo_tag +'" ' +
                    'value="' +
                    added_objects_ids +
                    '"/>';
            var change=true;
            $("#add_permissions").find("input:hidden").each(function(){

                if($(this).attr("name") == operacion + "_" +grupo_tag){
                    change = false;
                    $(this).parent().html(append);
                }
            });
            if(change){
                append = '<div class="added_permissions"> ' +
                        append +
                        '</div>';
                $("#add_another_perm").before(append);
            }

            $(".added_permissions").mouseenter(function(){
                $(this).find(".hidden_icon").css("visibility","visible");
            }).mouseleave(function(){
                        $(this).find(".hidden_icon").css("visibility","hidden");
                    });
            $(".delete").click(function(e){
                e.preventDefault();
                $(this).parent().remove();
                if($(".added_permissions").length > 0){
                    $("#save_btn").show();
                }else{
                    $("#save_btn").hide();
                }
            });

            $("#group_list, #object_list").html("").hide();
            $("#group span.legend").text("Grupo");
            $("#object span.legend").text("Privilegio");
            $("#operation span.legend").text("Operación");
            if($(".added_permissions").length > 0){
                $("#save_btn").show();
            }
        }
    }
    </script>
{% endblock %}


{% block contenido %}
    <div id="bread_crumbs">
        <ul>
            <li><a href="/main/">Inicio</a></li>
            <li><a href="/panel_de_control/">Administraci&oacute;n</a></li>
            <li><a href="/panel_de_control/roles/">Roles</a></li>
            <li>Nuevo rol</li>
        </ul>

    </div>
    <div id="contenido_interno">
        <h2 id="titulo_form" class="user_role">
            {% if role %}Modificar rol{% else %}Crear un nuevo rol{% endif %}
        </h2>


        <div class="divider" id="divider_top">&nbsp;</div>
        <div id="form_container">
            {% if message %}
                <span class="notif {% if msg_type == "success" %}n_success{% else %}n_error{% endif %}">
                    {% autoescape off %}{{ message }}{% endautoescape %}
                    <a href="#" onclick="$(this).parent().remove();">X</a>
                </span>
            {% endif %}
            <p class="description">
                Pid nisi sed dictumst ac ultricies, vut velit pid, nascetur est ac nunc urna amet tempor cum in odio. Ultrices. Urna placerat in auctor, urna.
                <br/>
                Pid eu, nisi egestas. Enim in porttitor, sed nec tempor, cursus dictumst enim? Augue! Porttitor mid, risus cras! Non duis et turpis, adipiscing augue.
            </p>
            <form method="post" action=".">
                {% csrf_token %}
                <div id="basic_rol_info">
                    <label class="input">
                        <span>Nombre del rol</span>
                        <input type="text" name="role_name" id="role_name"
                                value="{{  post.role_name }}"/>
                        <span class="g1"></span>
                    </label>

                    <label class="input">
                        <span>Descripcion del rol</span>
                        <input type="text" name="role_desc" id="role_desc" value="{{  post.role_desc }}"/>
                    </label>
                    <p class="buttons">
                        <button class="aqua_btn" id="add_permission">
                            A&ntilde;adir permisos
                        </button> &oacute;
                        <a href="#" class="back" rel="cancel">cancelar</a>
                    </p>
                </div>

                <div id="add_permissions">
                    <span id="rolename">{{  post.role_name }}</span>
                    <a href="#editar" class="edit" title="Editar rol"></a>
                    <p id="role_description">
                        {{  post.role_desc }}
                    </p>

                    <div id="add_another_perm">
                        <div class="widgetField" id="operation">
                            <span class="legend">Operaci&oacute;n</span>
                            <a href="#"></a>
                            <ul id="operation_list" class="ddl">
                                {% for operation in operations %}
                                    <li rel="{{ operation.pk }}">
                                        {{ operation.operation_name }}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>

                        <div class="widgetField" id="group">
                            <span class="legend">Grupo</span>
                            <a href="#"></a>
                            <ul id="group_list" class="ddl">
                                <li></li>
                            </ul>
                        </div>

                        <div class="widgetField" id="object">
                            <span class="legend">Privilegio</span>
                            <a href="#"></a>
                            <ul id="object_list" class="ddl">
                                <li>
                                    <label>
                                        <input type="checkbox" name="uno"/>
                                        uno
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input type="checkbox" name="dos"/>
                                        dos
                                    </label>
                                </li>
                                <li><label><input type="checkbox" name="tres"/>
                                        tres
                                    </label>
                                </li>
                            </ul>
                        </div>

                        <p class="buttons" id="add_buttons">
                            <button class="grey_btn fl" id="add_objects">
                                <span class="plus"></span>
                                Agregar
                            </button>
                            <span id="add_and_save" class="fl">
                                o <a href="#" id="add_save">Agregar y guardar</a>
                            </span>
                        </p>
                    </div>
                    <p class="buttons" id="save_btn">
                        <button class="aqua_btn">
                            Guardar Rol
                        </button>
                    </p>
                </div>

            </form>

        </div>


    </div>
{% endblock %}