{% extends "base.html" %}
{% block titulo %}Privilegios Asignados{% endblock %}
{% block externalcss %}
    <link rel="stylesheet" href="/static/css/forms/main.css" type="text/css">
    <link rel="stylesheet" href="/static/css/forms/rbac_user_list.css" type="text/css">
    <link href="/static/js/external/messi/messi.css" rel="stylesheet" type="text/css" media="screen" />
{% endblock %}
{% block externaljs %}
    <script src="/static/js/external/messi/messi.min.js"></script>
    <script type="text/javascript">
        function search_submit(pagina){
            if (typeof pagina == "object") {
                pagina = "1";
            }

            var base_url = window.location.pathname;
            base_url+="?page="+pagina;
            base_url=append_page(base_url);
            window.location = base_url;
        }
        function append_page(base_url){
            var get = getUrlVars();
            if(get.length>0){
                if (get[0]!=window.location.protocol+"//"+window.location
                        .host+window.location.pathname){
                    for(var i=0; i<get.length; i++){
                        if (get[i]!="msj" && get[i]!="ntype" && get[i]!="page"){
                            base_url+="&"+get[i]+"="+get[get[i]];
                        }
                    }
                }

            }
            return base_url
        }
        function append_get(base_url){
            var get = getUrlVars();
            if(get.length>0){
                if (get[0]!=window.location.protocol+"//"+window.location
                        .host+window.location.pathname){
                    for(var i=0; i<get.length; i++){
                        if (get[i]!="order_username" && get[i]!="order_role" && get[i]!="order_entity"){
                            base_url+="&"+get[i]+"="+get[get[i]];
                        }
                    }
                }

            }
            return base_url
        }
    </script>
{% endblock %}
{% block document_ready %}

            //custom select for sidebar
            $("#empresa").click(function(){
                $("#company_list").slideToggle();
            });
            $("#company_list li").click(function(){
                var texto=$(this).text().replace(/^\s*|\s*$/g,'');
                var texto1 = texto.substring(0,17) + "...";
                $("#empresa").text(texto1);
                $("#company_list").slideUp();

                $.ajax({
                    url: "/reportes/set_default_building/" + $(this).attr("rel"),
                    type: "GET",
                    dataType: 'json',
                    async: 'true',
                    success: function(datos){
                        window.location.reload();
                    }
                });
            });
            $("a.del").click(function(event){
                event.preventDefault();
                var url="/rbac/eliminar_asignacion_rol/"+$(this).attr("rel")+"/";
                new Messi('&iquest;Est&aacute; seguro de que desea eliminar la asignaci&oacute;n Rol-Usuario?',
                        {title: 'Eliminar usuario', modal: true, buttons: [{id: 0,
                            label: 'Cancelar', val: 'N'},{id: 1, label: 'Aceptar', val: 'Y'
                        }],
                        callback: function(val) {
                            if(val=='Y'){
                                document.location.href=url;
                            } else return false; }
                        });
            });
            $("#aplicar").click(function(e){
                e.preventDefault();
                if($("#actions").val()!="0"){
                    var check = false;
                    $("tbody input:checkbox").each(function(){
                        if($(this).is(":checked")){
                            check = true;
                        }
                    });
                    if(check){
                    new Messi('&iquest;Est&aacute; seguro de que desea eliminar las asignaciones rol-usuario seleccionados?',
                            {title: 'Eliminar usuarios', modal: true, buttons: [{id: 0,
                                label: 'Cancelar', val: 'N'},{id: 1, label: 'Aceptar', val: 'Y'
                            }],
                                callback: function(val) {
                                    if(val=='Y'){
                                        document.forms["operations_batch"].submit();
                                    } else return false; }
                            });
                    }
                }else{
                    return false;
                }

            });

            $("#sort_role").click(function(e){
                e.preventDefault();
                var get = getUrlVars();

                var base_url = window.location.pathname;
                base_url+="?order_role="+$("#sort_role").attr("rel");
                base_url=append_get(base_url);
                window.location = base_url;
            });
            $("#sort_username").click(function(e){
                e.preventDefault();
                var get = getUrlVars();

                var base_url = window.location.pathname;
                base_url=append_get(base_url);
                window.location = base_url;
            });
            $("#sort_entity").click(function(e){
                e.preventDefault();
                var get = getUrlVars();

                var base_url = window.location.pathname;
                base_url+="?order_entity="+$("#sort_entity").attr("rel");
                base_url=append_get(base_url);
                window.location = base_url;
            });


{% endblock %}


{% block contenido %}
    <div id="bread_crumbs">
        <ul>
            <li><a href="/main/">Inicio</a></li>
            <li><a href="/panel_de_control/roles/">Roles</a></li>
            <li>Privilegios Asignados</li>
        </ul>

    </div>
    <div id="contenido_interno">
        <h2 id="titulo_form" class="privileges">Roles Asignados</h2>


        <div class="divider" id="divider_top">&nbsp;</div>
        {% if message %}
            <span class="notif {{ msg_type }}">
                    {% autoescape off %}{{ message }}{% endautoescape %}
                <a href="#" onclick="$(this).parent().remove(); history.replaceState({}, '', '?page=1');">X</a>
                </span>
        {% endif %}
        <div id="form_container">

            <p class="description">
                Pid nisi sed dictumst ac ultricies, vut velit pid, nascetur est ac nunc urna amet tempor cum in odio. Ultrices. Urna placerat in auctor, urna.
                <br/>
                Pid eu, nisi egestas. Enim in porttitor, sed nec tempor, cursus dictumst enim? Augue! Porttitor mid, risus cras! Non duis et turpis, adipiscing augue.
            </p>


                <div id="user_actions" class="context">

                    <a href="/panel_de_control/asignar_roles/"><span class="plus"></span>
                        Crear nuevo privilegio
                    </a>
                    <span class="hz_divider"></span>
                    <form method="get" action=".">
                    <div id="filter_data_context">
                        <label for="select_user">
                            Mostrar privilegios de:
                        </label>
                        <select name="select_user" id="select_user">
                            <option value="0">Seleccione el usuario</option>
                            {% for usuario in usuarios %}
                                <option value="{{ usuario.pk }}">
                                    {{ usuario.username }}
                                </option>
                            {% endfor %}
                        </select>
                        <label for="select_emp">
                            o
                        </label>
                        <select name="select_emp" id="select_emp">
                            <option value="0">Seleccione la entidad</option>
                            {% for empresa in empresas %}
                                <option value="{{ empresa.pk }}">
                                    {{ empresa.company_name }}
                                </option>
                            {% endfor %}
                        </select>

                        <button class="aqua_btn">
                            Buscar
                        </button>
                    </div>
                    </form>
                </div>
                <form id="operations_batch" action="/rbac/delete_batch_datacontext/" method="post">
                    {% csrf_token %}
                    <div id="grid_container">
                        <table>
                            <thead>
                            <tr>
                                <th style="width: 25%;">
                                    <a href="#" id="sort_username" rel="{{ order_username }}">
                                        Usuario
                                        <span class="sort"></span>
                                    </a>
                                </th>
                                <th style="width: 25%;">
                                    <a href="#" id="sort_role" rel="{{ order_role }}">
                                        Rol
                                        <span class="sort"></span>
                                    </a>
                                </th>
                                <th style="width: 25%;">
                                    <a href="#" id="sort_entity" rel="{{ order_entity }}">
                                        Entidad
                                        <span class="sort"></span>
                                    </a>
                                </th>
                                <th style="width: 25%;">Acciones</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for data_context in paginacion.object_list %}

                                <tr class="{% cycle 'row1' 'row2' %}">
                                    <td>
                                        <input type="checkbox" id="context_{{ data_context.pk }}"
                                               name="context_{{ data_context.pk }}"/>
                                        <label for="context_{{ data_context.pk }}">

                                                {{ data_context.user_role.user.username }}

                                        </label>
                                    </td>
                                    <td class="c">
                                        <a href="/panel_de_control/ver_rol/{{ data_context.user_role.role.pk }}/">
                                            {{ data_context.user_role.role.role_name }}
                                        </a>
                                    </td>
                                    <td class="c">

                                            {{ data_context.building.building_name }}

                                    </td>
                                    <td class="c">
                                        <a class="del" rel="{{ data_context.pk }}"
                                           title="Eliminar asignaci&oacute;n" href="#"></a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <div id="table_footer">
                            <select id="actions" name="actions">
                                <option value="0">Elije una Acci&oacute;n</option>
                                <option value="delete">Eliminar</option>
                            </select>
                            <button class="fl aqua_btn" id="aplicar">Aplicar a la
                                selecci&oacute;n</button>

                            <div class="pagination">
                            <span class="step-links">
                                {% if paginacion.has_previous %}
                                    <a href="#" onclick="search_submit({{ paginacion.previous_page_number }})">Anterior</a> &ndash;
                                {% endif %}

                                <span class="current">
                                    P&aacute;gina {{ paginacion.number }} de {{ paginacion.paginator.num_pages }}
                                </span>

                                {% if paginacion.has_next %}
                                    &ndash; <a href="#" onclick="search_submit({{ paginacion.next_page_number }})">Siguiente</a>
                                {% endif %}
                            </span>
                            </div>

                        </div>
                    </div>
                </form>




        </div>


    </div>
{% endblock %}