{% extends "base.html" %}
{% block titulo %}{% if just_watch %}Ver{% else %}Editar{% endif %} Rol{% endblock %}
{% block externalcss %}
    <link rel="stylesheet" href="/static/css/forms/main.css" type="text/css" />
    <link rel="stylesheet" href="/static/css/forms/rbac.css" type="text/css" />
    <link href="/static/js/external/messi/messi.css" rel="stylesheet" type="text/css" media="screen" />
    <link type="text/css" href="/static/jquery-ui-1.8.23/css/smoothness/jquery-ui-1.8.23.custom.css" rel="stylesheet" />
{% endblock %}

    {% block externaljs %}
        <script type="text/javascript" src="/static/jquery-ui-1.8.23/js/jquery-ui-1.8.23.custom.min.js"></script>
        <script src="/static/js/external/messi/messi.min.js"></script>
        <script type="text/javascript">
            function order_column(column){
                var column_n = "order_" + column;
                var order = $("#sort_"+column).attr("rel");
                var get = getUrlVars();
                var base_url = window.location.pathname;
                base_url+="?" + column_n + "="+order;
                if(get.length>0){
                    if (get[0]!=window.location.protocol+"//"+window.location.host+window.location.pathname){
                        for(var i=0; i<get.length; i++){
                            if (get[i]!="order_username" && get[i]!="order_role" && get[i]!="order_status"){
                                base_url+="&"+get[i]+"="+get[get[i]];
                            }
                        }
                    }
                }
                window.location = base_url;
            }

            function form_row(pm, alias, role, status){
                var row = '<td>';
                row += '<input type="checkbox" id="userrole_'+pm+'" name="userrole_'+pm+'"/>';
                row += '<label for="user_'+pm+'">';
                row += '<a href="/panel_de_control/ver_usuario/'+pm+'/">';
                row += alias;
                row += '</a></label></td>';
                row += '<td class="c">'+role+'</td>';
                row += '<td class="c"><a href="#" rel="'+pm+'"';
                if (status == "True"){
                    row += 'class="switch active_switch" title="desactivar"';
                }else{
                    row += 'class="switch inactive_switch" title="activar"';
                }
                row += '></a></td>';
                row += '<td class="c"><a class="remove" title="Eliminar rol de usuario" rel="'+pm+'">Desvincular rol de usuario</a></td>';

                var tabla = $("#users_table");
                if($("#users_table tr").size()>1)
                    if(tabla.find("tr:last-child").hasClass("row1")){
                        tabla.append('<tr class="row2">' + row + '</tr>');
                    }
                    else{
                        tabla.append('<tr class="row1">' + row + '</tr>');
                    }
                else{
                    tabla.append('<tr class="row1">' + row + '</tr>');
                }
                tabla.find("tr:last-child input").uniform();
            }
            function check_if_exists(checkbox){

                var id_check = parseInt(checkbox.attr("id"));
                var operation_name = $("#operation span.legend").text();
                operation_name = $.trim(operation_name);
                var group_name = $("#group span.legend").text();
                group_name = $.trim(group_name);
                var grupo_tag = group_name.toLowerCase()
                grupo_tag = grupo_tag.replace(/á/gi,"a");
                grupo_tag = grupo_tag.replace(/é/gi,"e");
                grupo_tag = grupo_tag.replace(/í/gi,"i");
                grupo_tag = grupo_tag.replace(/ó/gi,"o");
                grupo_tag = grupo_tag.replace(/ú/gi,"u");
                grupo_tag = grupo_tag.replace(/ñ/gi,"n");
                grupo_tag = grupo_tag.replace(/\s/gi,"-");
                var input_name = operation_name + "_" + grupo_tag;

                $("#add_permissions").find("input[type='hidden']").each(function(){
                    if($(this).attr('name') == input_name){
                        var valores = $(this).val();
                        valores = valores.split(",");
                        for(var i=0; i<valores.length; i++){
                            if (valores[i] == "all" || parseInt(valores[i]) == id_check){
                                checkbox.prop("checked", true);
                            }

                        }
                    }
                });
            }
            function add_object(){
                var added_objects='';
                var added_objects_ids='';
                if ($("#all").is(":checked")){
                    added_objects='Todos';
                    $("#object_list").find("input:checkbox").each(function(){
                        if ($(this).is(':checked')){
                            if (added_objects_ids == ''){
                                added_objects_ids = $(this).attr('id');
                            }
                            else{
                                added_objects_ids += ',' + $(this).attr('id');
                            }
                        }
                    });
                }else{
                    $("#object_list").find("input:checkbox").each(function(){
                        if ($(this).is(':checked')){
                            if (added_objects == ''){
                                added_objects = $(this).parent().parent().next().text();
                                added_objects_ids = $(this).attr('id');
                            }
                            else{
                                added_objects += ',' + $(this).parent().parent().next().text();
                                added_objects_ids += ',' + $(this).attr('id');
                            }
                        }
                    });
                }

                if (added_objects != ''){
                    var operacion = $("#operation span").text().replace(/^\s+/,'').replace(/\s+$/,'');

                    var grupo = $("#group span").text().replace(/^\s+/,'').replace(/\s+$/,'');
                    var grupo_tag = grupo.toLowerCase()
                    grupo_tag = grupo_tag.replace(/á/gi,"a");
                    grupo_tag = grupo_tag.replace(/é/gi,"e");
                    grupo_tag = grupo_tag.replace(/í/gi,"i");
                    grupo_tag = grupo_tag.replace(/ó/gi,"o");
                    grupo_tag = grupo_tag.replace(/ú/gi,"u");
                    grupo_tag = grupo_tag.replace(/ñ/gi,"n");
                    grupo_tag = grupo_tag.replace(/\s/gi,"-");
                    var append = '<a href="#eliminar" class="delete hidden_icon" ' +
                            'title="eliminar permiso asignado"></a>' +
                            '<span class="permission">' +
                            operacion +
                            '</span>' +
                            '<span class="group">' +
                            grupo +
                            '</span>'+
                            '<span class="object">'+
                            added_objects +
                            '</span>' +
                            '<input type="hidden" name="' + operacion + "_" +grupo_tag +'" ' +
                            'value="' +
                            added_objects_ids +
                            '"/>';
                    var change=true;
                    $("#add_permissions").find("input:hidden").each(function(){

                        if($(this).attr("name") == operacion + "_" +grupo_tag){
                            change = false;
                            $(this).parent().html(append);
                        }
                    });
                    if(change){
                        append = '<div class="added_permissions"> ' +
                                append +
                                '</div>';
                        $("#add_another_perm").before(append);
                    }

                    $(".added_permissions").mouseenter(function(){
                        $(this).find(".hidden_icon").css("visibility","visible");
                    }).mouseleave(function(){
                                $(this).find(".hidden_icon").css("visibility","hidden");
                            });
                    $(".delete").click(function(e){
                        e.preventDefault();
                        $(this).parent().remove();
                        if($(".added_permissions").length > 0){
                            $("#save_btn").show();
                        }else{
                            $("#save_btn").hide();
                        }
                    });

                    $("#group_list, #object_list").html("").hide();
                    $("#group span.legend").text("Grupo");
                    $("#object span.legend").text("Privilegio");
                    $("#operation span.legend").text("Operación");
                    if($(".added_permissions").length > 0){
                        $("#save_btn").show();
                    }
                }
            }
        var send_form = 0;
        function valida(){
            send_form++;
            return send_form == 1;
        }
        </script>
    {% endblock %}
{% block document_ready %}
    $( "#user" ).autocomplete({
        source: "/rbac/search_users/",
        minLength: 2,
        select: function( event, ui ) {
            $("#usuario").val(ui.item.pk);
            $("#asign").show();
        }
    }).keyup(function(e){
        if($.trim($(this).val())==''){
            $("#usuario").val();
            $("#asign").hide();
        }
        if(e.keyCode!=13){
            $("#id_pm").val("");
            $("#asign").hide();
        }
    });

    var msg = '<span class="notif n_error">Ocurri&oacute; un error al procesar la petici&oacute;n, revise los datos y verifique si tiene los permisos necesarios<a href="#" onclick="$(this).parent().remove();">X</a></span>';
    $("#asign").click(function(e){
        e.preventDefault();
        History.replaceState({}, '', ' ');
        $(".notif").remove();
        $.ajax({
            url: "/panel_de_control/asign_role/{{ rol.pk }}/?usr="+$("#usuario").val(),
            global: false,
            type: "GET",
            dataType: "json",
            statusCode: {
                404: function() {
                        $("#search_user").append(msg);
                }
            },
            success: function(msg){
                $("#user").val("");
                $("#id_pm").val("");
                var registro = msg[0];
                if (registro.created == "True")
                    form_row(registro.pk, registro.username, registro.role, registro.status);
            },
        });
    });


    $("a.switch").live('click',function(event){
    event.preventDefault();
    var url="/panel_de_control/user_role_status/"+$(this).attr("rel")+"/?ref={{ rol.pk }}{% if just_watch %}&see=1{% endif %}";
    var action = $(this).attr("title");
    new Messi('&iquest;Est&aacute; seguro de que desea '+ action +' este rol de usuario?',
    {title: action+' rol de usuario', modal: true, buttons: [{id: 0,
    label: 'Cancelar', val: 'N'},{id: 1, label: 'Aceptar', val: 'Y'
    }],
    callback: function(val) {
    if(val=='Y'){
    document.location.href=url;
    } else return false; }
    });
    });

    $(".remove").live("click", function(event){
    event.preventDefault();
    var url="/panel_de_control/delete_user_role/"+$(this).attr("rel")+"/?role={{ rol.pk }}{% if just_watch %}&see=1{% endif %}"
    new Messi('&iquest;Est&aacute; seguro de que desea desvincular el presente rol para el usuario?',
    {title: 'Desvincular Rol', modal: true, buttons: [{id: 0,
    label: 'Cancelar', val: 'N'},{id: 1, label: 'Desvincular', val: 'Y'
    }],
    callback: function(val) {
    if(val=='Y'){
    document.location.href=url;
    } else return false; }
    });
    });


            $("#add_permission").click(function(e){
                e.preventDefault();
                var rol = $("#role_name");
                var desc = $("#role_desc");
                if(isValidString($.trim(rol.val())) && $.trim(rol.val())!= ''){
                    if(isValidString($.trim(desc.val()))){
                        rol.val($.trim(rol.val()));
                        $("#basic_rol_info").hide();
                        $("#rolename").text(rol.val());
                        $("#role_description").text($("#role_desc").val());
                        $("#add_permissions").show();
                        if(rol.parent().find("span.g1").hasClass("incorrect")){
                            rol.parent().find("span.g1").removeClass("incorrect");
                            rol.parent().find("span.g1").addClass("correct");
                        }
                        if(desc.parent().find("span.g1").hasClass("incorrect")){
                            desc.parent().find("span.g1").removeClass("incorrect");
                            desc.parent().find("span.g1").addClass("correct");
                        }
                    }else{
                        desc.parent().find("span.g1").addClass("incorrect");
                    }
                }else{
                    rol.parent().find("span.g1").addClass("incorrect");
                }
            });
            $(".edit").click(function(e){
                $("#add_permissions").hide();
                $("#basic_rol_info").show();
            });

            $("#operation").click(function(){
                $(this).find("ul.ddl").slideToggle();
            });
            $("#group").click(function(){
                $(this).find("ul.ddl").slideToggle();
            });
            $("#object .legend").click(function(){
                $(this).parent().find("ul.ddl").slideToggle();
            });
            $(".delete").click(function(e){
                e.preventDefault();
                $(this).parent().remove();
                if($(".added_permissions").length > 0){
                    $("#save_btn").show();
                }else{
                    $("#save_btn").hide();
                }
            });
            $(".added_permissions").mouseenter(function(){
                $(this).find(".hidden_icon").css("visibility","visible");
            }).mouseleave(function(){
                        $(this).find(".hidden_icon").css("visibility","hidden");
                    });

            $("#operation_list li").click(function(){
                $("#group_list, #object_list").html("").hide();
                var elemento = $(this);
                $("#operation span").text(elemento.text());
                elemento.parent().slideUp().stop();
                var uri = elemento.attr("rel");
                var url = "/rbac/get_group/"+uri;
                $("#group_list").load(url, function(){
                    $(this).slideDown();


                    $("#group_list li").click(function(){
                        $("#object_list").html("").hide();
                        var elemento = $(this);
                        $("#group span").text(elemento.text());
                        elemento.parent().slideUp().stop();
                        var url2 = elemento.attr("rel");
                        url2 = "/rbac/get_object/"+url2+"?operation="+uri;
                        $("#object_list").load(url2, function(){
                            var all = '<li><input type="checkbox" name="all" ' +
                                    'id="all"/>'+
                                    '<label for="all" >'+
                                    'Todos'+
                                    '</label></li>';
                            $(this).prepend(all).slideDown();
                            $("#object_list input:checkbox").each(function(){
                                check_if_exists($(this));
                            }).uniform();
                            $("input[name*='object_']").change(function(){

                                if($("#all").is(":checked")){
                                    $("#all").prop("checked", false);
                                    $.uniform.update();
                                }
                            });
                            //$("#object_list input:checkbox").uniform();
                            $("#add_buttons").show();

                            $("#all").change(function(){

                                if($(this).is(":checked")){
                                    $("#object_list").find("input:checkbox").each(function(){

                                        if($(this).attr('id')!="all"){
                                            $(this).prop("checked", true);
                                        }

                                    });
                                }else{
                                    $("#object_list").find("input:checkbox").each(function(){

                                        if($(this).attr('id')!="all"){
                                            $(this).prop("checked", false);
                                        }

                                    });
                                }

                                $.uniform.update();
                            });
                        });

                    });

                });

                $("#add_objects").click(function(e){
                    e.preventDefault();
                    add_object()
                });
                $("#add_save").click(function(e){
                    e.preventDefault();
                    add_object();
                    $("#save_btn button").click();
                });
            });
            $("a.back").click(function(e){e.preventDefault(); History.back();});
    $("#sort_username").click(function(e){
    e.preventDefault();
    order_column("username");
    });

    $("#sort_status").click(function(e){
    e.preventDefault();
    order_column("status");
    });

{% endblock %}


{% block contenido %}

    <div id="bread_crumbs">
        <ul>
            <li><a href="/main/">Inicio</a></li>
            <li><a href="/panel_de_control/">Administraci&oacute;n</a></li>
            <li><a href="/panel_de_control/roles/">Roles</a></li>
            <li>{% if just_watch %}Ver{% else %}Editar{% endif %} Rol</li>
        </ul>
    </div>
<div id="page_content">
    <div id="contenido_interno">
        <h2 id="titulo_form" class="user_role">
            {% if just_watch %}Ver{% else %}Editar{% endif %} Rol
        </h2>


        <div class="divider" id="divider_top">&nbsp;</div>
        <div id="form_container">
        {% if message %}
            <span class="notif {{ msg_type }}">
                    {% autoescape off %}{{ message }}{% endautoescape %}
                    <a href="#" onclick="$(this).parent().remove(); History.replaceState({}, '', ' ');">X</a>
                </span>
        {% endif %}
            <p class="description">
                Pid nisi sed dictumst ac ultricies, vut velit pid, nascetur est ac nunc urna amet tempor cum in odio. Ultrices. Urna placerat in auctor, urna.
                <br/>
                Pid eu, nisi egestas. Enim in porttitor, sed nec tempor, cursus dictumst enim? Augue! Porttitor mid, risus cras! Non duis et turpis, adipiscing augue.
            </p>
            {% if not just_watch %}
            <form method="post" action="." onsubmit="return valida();">
                {% csrf_token %}
                <div id="basic_rol_info">
                    <label class="input">
                        <span>Nombre del rol</span>
                        <input type="text" name="role_name" id="role_name"
                               value="{{  rol.role_name }}"/>
                        <span class="g1"></span>
                    </label>
                    <label class="input">
                        <span>Descripcion del rol</span>
                        <input type="text" name="role_desc" id="role_desc" value="{{  rol.role_description }}"/>
                        <span class="g1"></span>
                    </label>
                    <p class="buttons">
                        <button class="aqua_btn" id="add_permission">
                            A&ntilde;adir permisos
                        </button>
                        <button class="aqua_btn" id="save" type="submit">
                            Guardar
                        </button>
                        &oacute;
                        <a href="#" class="back" rel="cancel">cancelar</a>
                    </p>
                </div>
                
            {% endif %}
                <div id="add_permissions"{% if just_watch %} style="display: block;" {% endif %}>
                    <span id="rolename">{{  rol.role_name }}</span>
                    {% if not just_watch %}
                    <a href="#editar" class="edit" title="Editar rol"></a>
                    {% endif %}
                    <p id="role_description">
                        {{  rol.role_description }}
                    </p>
                {% for obj in objs_group_perms %}
                    <div class="added_permissions">
                        {% if not just_watch %}
                        <a href="#eliminar" class="delete hidden_icon" title="eliminarpermiso asignado"></a>
                        {% endif %}
                        <span class="permission">
                            {{ obj.operacion }}
                        </span>
                        <span class="group">
                            {{ obj.grupo}}
                        </span>
                        <span class="object" style="visibility: visible !important; ">
                                {% for op in obj.privs %}
                                    {{ op.object_name }},
                                {% endfor %}
                        </span>
                        <input type="hidden" name="{{ obj.operacion }}_{{ obj.grupo|slugify }}"
                               value="_{% for op in obj.privs %},{{ op.pk }}{% endfor %}"/>
                    </div>
                {% endfor %}
                {% if just_watch %}
                    <div class="c" style="margin-top: 4em;">
                        <a href="/panel_de_control/editar_rol/{{ rol.pk }}/" class="aqua_btn">
                            Editar rol{% if show_asign %} / Asignar usuarios{% endif %}
                        </a>
                    </div>
                {% endif %}
                {% if not just_watch %}
                    <div id="add_another_perm">
                        <div class="widgetField" id="operation">
                            <span class="legend">Operaci&oacute;n</span>
                            <a href="#">&nbsp;</a>
                            <ul id="operation_list" class="ddl">
                                {% for operation in operations %}
                                    <li rel="{{ operation.pk }}">
                                        {{ operation.operation_name }}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>

                        <div class="widgetField" id="group">
                            <span class="legend">Grupo</span>
                            <a href="#">&nbsp;</a>
                            <ul id="group_list" class="ddl">
                                <li></li>
                            </ul>
                        </div>

                        <div class="widgetField" id="object">
                            <span class="legend">Privilegio</span>
                            <a href="#">&nbsp;</a>
                            <ul id="object_list" class="ddl">
                                <li>
                                </li>
                            </ul>
                        </div>

                        <p class="buttons" id="add_buttons">
                            <button class="grey_btn fl" id="add_objects">
                                <span class="plus"></span>
                                Agregar
                            </button>
                            <span id="add_and_save" class="fl">
                                o <a href="#" id="add_save">Agregar y guardar</a>
                            </span>
                        </p>
                    </div>
                    <p class="buttons" id="save_btn">
                        <button class="aqua_btn">
                            Guardar Rol
                        </button>
                    </p>
                </div>

            </form>
            {% endif %}
            {% if ver_usuarios %}
                <div id="user_roles" class="g12">
                    {% if not just_watch %}

                    <div id="search_user" class="g12">

                        <label class="g2">
                            Asignar rol
                        </label>
                        <input type="text" name="user" id="user" class="g7"/>
                        <input type="hidden" id="usuario" name="usuario"/>

                        <a href="#" title="Asignar rol al usuario" id="asign" class="g2">
                            <span class="plus"></span>
                            Asignar rol al usuario
                        </a>
                    </div>
                    {% endif %}
                    <form id="operations_batch" action="/panel_de_control/status_batch_user_role/?ref={{ rol.pk }}" method="post">
                    {% csrf_token %}
                    <span class="strong label">Usuarios con rol '{{ rol.role_name }}':</span>
                    <div id="grid_container">
                        <table id="users_table">
                            <thead>
                            <tr>
                                <th style="width: 25%;">
                                    <a href="#" id="sort_username" rel="{{ order_username }}">
                                        Usuario
                                        <span class="sort"></span>
                                    </a>
                                </th>
                                <th style="width: 25%;">
                                        Rol

                                </th>
                                <th style="width: 25%;">
                                    <a href="#" id="sort_status" rel="{{ order_status }}">
                                        Estatus
                                        <span class="sort"></span>
                                    </a>
                                </th>
                                <th style="width: 25%;">Acciones</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for user in usuarios %}

                                <tr class="{% cycle 'row1' 'row2' %}">
                                    <td>
                                        {% if not just_watch %}
                                            <input type="checkbox" id="userrole_{{ user.pk }}"
                                                   name="userrole_{{ user.pk }}"/>
                                        {% endif %}
                                        <label for="user_{{ user.user.pk }}">
                                            <a href="/panel_de_control/ver_usuario/{{ user.user.pk }}/">
                                                {{ user.user.username }}
                                            </a>
                                        </label>
                                    </td>
                                    <td class="c">
                                        {{ user.role.role_name }}
                                    </td>
                                    <td class="c">
                                        <a href="#" rel="{{ user.pk }}" {% if user.status == 1 %}class="switch active_switch" title="desactivar"{% else %}class="switch inactive_switch" title="activar"{% endif %}>
                                        </a>
                                    </td>
                                    <td class="c">
                                        <a class="remove" title="Eliminar rol de usuario" rel="{{ user.pk }}">Desvincular rol de usuario</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        {% if not just_watch %}
                        <div id="table_footer">
                            <select id="actions" name="actions">
                                <option value="0">Elije una Acci&oacute;n</option>
                                <option value="status">Habilitar/Deshabilitar</option>
                            </select>
                            <button class="fl aqua_btn" id="aplicar">Aplicar a la
                                selecci&oacute;n</button>

                        </div>
                        {% endif %}
                    </div>
                    </form>
                </div>
            {% endif %}
        </div>


    </div>
</div>
{% endblock %}