{% extends "base.html" %}
{% block titulo %}Ver Roles{% endblock %}
{% block externalcss %}
    <link rel="stylesheet" href="/static/css/forms/main.css" type="text/css">
    <link rel="stylesheet" href="/static/css/forms/rbac.css" type="text/css">
{% endblock %}
{% block externaljs %}
    <script type="text/javascript">
        $(document).ready(function(){
            //custom select for sidebar
            $("#empresa").click(function(){
                $("#company_list").slideToggle();
            });
            $("#company_list li").click(function(){
                var texto=$(this).text().replace(/^\s*|\s*$/g,'');
                var texto1 = texto.substring(0,17) + "...";
                $("#empresa").text(texto1);
                $("#company_list").slideUp();

                $.ajax({
                    url: "/reportes/set_default_building/" + $(this).attr("rel"),
                    type: "GET",
                    dataType: 'json',
                    async: 'true',
                    success: function(datos){
                        console.log("changed");
                    }
                });

            });


        });
    function search_submit(pagina){
        if (typeof pagina == "object") {
            pagina = "1";
        }
        var url;
        url=window.location.href;
        url=url.split("/");
        url=url[url.length-1];
        url=url.replace("#",'');
        url=url.replace(/&page=\d+/,'');
        url+="&page="+pagina;

        //window.history.replaceState(search_param,"Busqueda de propiedades", search_param);
        //$("#search-results").load("/property/"+url+search_param+"&ajax", function(){
        window.history.replaceState(url,"Busqueda de roles", url);
        $("#search-results").load(url+"&ajax", function(){
            $("#search-results input:checkbox").uniform();
            $(".prop_search_result").mouseover(function(){
                $(this).next().slideDown();
            });
            $(".prop_search_result").parent().mouseleave(function(){
                $(this).find(".options").slideUp();
            });
            $("#filters_body").removeClass("hidden");
        });
        //$('#print_pdf').attr('href','/professional_search_pdf/'+search_param);
        return false;
    }
    </script>
{% endblock %}


{% block contenido %}
    <div id="bread_crumbs">
        <ul>
            <li><a href="/main/">Inicio</a></li>
            <li><a href="/panel_de_control/">Administraci&oacute;n</a></li>
            <li><a href="/panel_de_control/roles">Listado de roles</a></li>
        </ul>

    </div>
    <div id="contenido_interno">
        <h2 id="titulo_form" class="user_role">Ver Roles</h2>


        <div class="divider" id="divider_top">&nbsp;</div>
        <div id="form_container">
            {% if message %}
                <span class="notif {% if msg_type == "success" %}n_success{% else %}n_notif{% endif %}">
                    {% autoescape off %}{{ message }}{% endautoescape %}
                <a href="#" onclick="$(this).parent().remove();">X</a>
                </span>
            {% endif %}
            <p class="description">
                Pid nisi sed dictumst ac ultricies, vut velit pid, nascetur est ac nunc urna amet tempor cum in odio. Ultrices. Urna placerat in auctor, urna.
                <br/>
                Pid eu, nisi egestas. Enim in porttitor, sed nec tempor, cursus dictumst enim? Augue! Porttitor mid, risus cras! Non duis et turpis, adipiscing augue.
            </p>
            <form method="post" action=".">
                {% csrf_token %}
                <div id="role_actions">
                    {% if create_rol %}
                    <a href="/panel_de_control/nuevo_rol/"><span class="plus"></span>
                        Nuevo Rol
                    </a>
                    <span class="hz_divider"></span>
                    {% endif %}
                    <label class="input">
                        <span>Inserte su texto aqu&iacute;</span>
                        <input type="text" name="search" id="search"/>
                    </label>
                    <button class="aqua_btn">
                        Buscar
                    </button>
                </div>
                <div id="grid_container">
                    <table>
                        <thead>
                            <tr>
                                <th style="width: 20%;">Nombre del rol<span
                                        class="sort"></span></th>
                                <th style="width: 65%;">Descripci&oacute;n<span
                                        class="sort"></span></th>
                                <th style="width: 15%;">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for permrole in paginacion.object_list %}

                            <tr class="{% cycle 'row1' 'row2' %}">
                                <td>
                                    <input type="checkbox" id="{{ permrole.pk }}"/>
                                    <label for="{{ permrole.pk }}">
                                        {{ permrole.role_name }}
                                    </label>
                                </td>
                                <td class="c">
                                    {{ permrole.role_description }}
                                </td>
                                <td class="c">
                                    <a class="del"></a>
                                    <a class="edit"></a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div id="table_footer">
                        <select id="actions">
                            <option>Eliminar</option>
                        </select>
                        <button class="fl aqua_btn" id="aplicar">Aplicar a la
                            selecci&oacute;n</button>
                        <div class="pagination">
                            <span class="step-links">
                                {% if paginacion.has_previous %}
                                    <a href="#" onclick="search_submit({{ paginacion.previous_page_number }})">Anterior</a> &ndash;
                                {% endif %}

                                <span class="current">
                                    P&aacute;gina {{ paginacion.number }} de {{ paginacion.paginator.num_pages }}.
                                </span>

                                {% if paginacion.has_next %}
                                    &ndash; <a href="#" onclick="search_submit({{ paginacion.next_page_number }})">Siguiente</a>
                                {% endif %}
                            </span>
                        </div>

                    </div>
                </div>

            </form>

        </div>


    </div>
{% endblock %}