{% extends "base.html" %}
{% block titulo %}Alta de Rol{% endblock %}
{% block externalcss %}
    <link rel="stylesheet" href="/static/css/forms/main.css" type="text/css">
    <link rel="stylesheet" href="/static/css/forms/rbac.css" type="text/css">
{% endblock %}
{% block externaljs %}
    <script type="text/javascript">
        $(document).ready(function(){
            //custom select for sidebar
            $("#empresa").click(function(){
                $("#company_list").slideToggle();
            });
            $("#company_list li").click(function(){
                var texto=$(this).text().replace(/^\s*|\s*$/g,'');
                var texto1 = texto.substring(0,17) + "...";
                $("#empresa").text(texto1);
                $("#company_list").slideUp();

                $.ajax({
                    url: "/reportes/set_default_building/" + $(this).attr("rel"),
                    type: "GET",
                    dataType: 'json',
                    async: 'true',
                    success: function(datos){
                        console.log("changed");
                    }
                });

            });

            $("#add_permission").click(function(e){
                e.preventDefault();
                var rol = $("#role_name");
                if(rol.val() != ''){
                    $("#basic_rol_info").hide();
                    $("#rolename").text(rol.val());
                    $("#role_description").text($("#role_desc").val());
                    $("#add_permissions").show();
                    if(rol.parent().hasClass("error")){
                        rol.parent().removeClass("error");
                    }
                }else{
                    rol.parent().addClass("error");
                }
            });
            $(".edit").click(function(e){
                $("#add_permissions").hide();
                $("#basic_rol_info").show();
            });

            $("#operation").click(function(){
                $(this).find("ul.ddl").slideToggle();
            });
            $("#group").click(function(){
                $(this).find("ul.ddl").slideToggle();
            });
            $("#operation_list li").click(function(){
                var elemento = $(this);
                $("#operation span").text(elemento.text());
                elemento.parent().slideUp().stop();
                var uri = elemento.attr("rel");
                var url = "/rbac/get_group/"+uri;
                $("#group_list").load(url, function(){
                    $(this).slideDown();


                    $("#group_list li").click(function(){
                        var elemento = $(this);
                        $("#group span").text(elemento.text());
                        elemento.parent().slideUp().stop();
                        var url2 = elemento.attr("rel");
                        url2 = "/rbac/get_object/"+url2+"?operation="+uri;
                        $("#object_list").load(url2, function(){
                            var all = '<li><input type="checkbox" name="all" ' +
                                    'id="all"/>'+
                                    '<label for="all" >'+
                                    'Todos'+
                                    '</label></li>';
                            $(this).prepend(all).slideDown();
                            $("#object_list input:checkbox").uniform();
                            $("#add_buttons").show();
                            $("#all").change(function(){

                                if($(this).is(":checked")){
                                    $("#object_list").find("input:checkbox").each(function(){

                                        if($(this).attr('id')!="all"){
                                            $(this).prop("checked", true);
                                        }

                                    });
                                }else{
                                    $("#object_list").find("input:checkbox").each(function(){

                                        if($(this).attr('id')!="all"){
                                            $(this).prop("checked", false);
                                        }

                                    });
                                }

                                $.uniform.update();
                            });
                        });

                    });

                });

                $("#add_objects").click(function(e){
                    e.preventDefault();
                    var added_objects='';
                    var added_objects_ids='';
                    if ($("#all").is(":checked")){
                        added_objects='Todos';
                        $("#object_list").find("input:checkbox").each(function(){
                            if ($(this).is(':checked')){
                                if (added_objects_ids == ''){
                                    added_objects_ids = $(this).attr('id');
                                }
                                else{
                                    added_objects_ids += ',' + $(this).attr('id');
                                }
                            }
                        });
                    }else{
                        $("#object_list").find("input:checkbox").each(function(){
                            if ($(this).is(':checked')){
                                if (added_objects == ''){
                                    added_objects = $(this).parent().parent().next().text();
                                    added_objects_ids = $(this).attr('id');
                                }
                                else{
                                    added_objects += ',' + $(this).parent().parent().next().text();
                                    added_objects_ids += ',' + $(this).attr('id');
                                }
                            }
                        });
                    }

                    if (added_objects != ''){
                        var operacion = $("#operation span").text().replace(/^\s+/,'').replace(/\s+$/,'');

                        var grupo = $("#group span").text().replace(/^\s+/,'').replace(/\s+$/,'');

                        var append = '<a href="#eliminar" class="delete hidden_icon" ' +
                                'title="eliminar permiso asignado"></a>' +
                                '<span class="permission">' +
                                operacion +
                                '</span>' +
                                '<span class="group">' +
                                grupo +
                                '</span>'+
                                '<span class="object">'+
                                added_objects +
                                '</span>' +
                                '<input type="hidden" name="' + operacion + "_" +grupo +'" ' +
                                'value="' +
                                added_objects_ids +
                                '"/>';
                        var change=true;
                        $("#add_permissions").find("input:hidden").each(function(){

                            if($(this).attr("name") == operacion + "_" +grupo){
                                change = false;
                                $(this).parent().html(append);
                            }
                        });
                        if(change){
                            append = '<div class="added_permissions"> ' +
                                    append +
                                    '</div>';
                            $("#add_another_perm").before(append);
                        }

                        $(".added_permissions").mouseenter(function(){
                            $(this).find(".hidden_icon").css("visibility","visible");
                        }).mouseleave(function(){
                                    $(this).find(".hidden_icon").css("visibility","hidden");
                                });
                        $(".delete").click(function(e){
                            e.preventDefault();
                            $(this).parent().remove();
                            if($(".added_permissions").length > 0){
                                $("#save_btn").show();
                            }else{
                                $("#save_btn").hide();
                            }
                        });

                        $("#group_list, #object_list").html("").hide();
                        $("#group span.legend").text("Grupo");
                        $("#object span.legend").text("Privilegio");
                        $("#operation span.legend").text("Operación");
                        if($(".added_permissions").length > 0){
                            $("#save_btn").show();
                        }
                    }
                });
            });




        });
    function search_submit(pagina){
        if (typeof pagina == "object") {
            pagina = "1";
        }
        var url;
        url=window.location.href;
        url=url.split("/");
        url=url[url.length-1];
        url=url.replace("#",'');
        url=url.replace(/&page=\d+/,'');
        url+="&page="+pagina;

        //window.history.replaceState(search_param,"Busqueda de propiedades", search_param);
        //$("#search-results").load("/property/"+url+search_param+"&ajax", function(){
        window.history.replaceState(url,"Busqueda de propiedades", url);
        $("#search-results").load(url+"&ajax", function(){
            $("#search-results input:checkbox").uniform();
            $(".prop_search_result").mouseover(function(){
                $(this).next().slideDown();
            });
            $(".prop_search_result").parent().mouseleave(function(){
                $(this).find(".options").slideUp();
            });
            $("#filters_body").removeClass("hidden");
        });
        //$('#print_pdf').attr('href','/professional_search_pdf/'+search_param);
        return false;
    }
    </script>
{% endblock %}


{% block contenido %}
    <div id="bread_crumbs">
        <ul>
            <li><a href="/main/">Inicio</a></li>
            <li><a href="/panel_de_control/">Administraci&oacute;n</a></li>
            <li><a href="/panel_de_control/roles">Listado de roles</a></li>
        </ul>

    </div>
    <div id="contenido_interno">
        <h2 id="titulo_form" class="user_role">Ver Roles</h2>


        <div class="divider" id="divider_top">&nbsp;</div>
        <div id="form_container">
            {% if message %}
                <span class="notif {% if msg_type == "success" %}n_success{% else %}n_notif{% endif %}">
                    {% autoescape off %}{{ message }}{% endautoescape %}
                </span>
            {% endif %}
            <p class="description">
                Pid nisi sed dictumst ac ultricies, vut velit pid, nascetur est ac nunc urna amet tempor cum in odio. Ultrices. Urna placerat in auctor, urna.
                <br/>
                Pid eu, nisi egestas. Enim in porttitor, sed nec tempor, cursus dictumst enim? Augue! Porttitor mid, risus cras! Non duis et turpis, adipiscing augue.
            </p>
            <form method="post" action=".">
                {% csrf_token %}
                <div id="list_container">
                    {% if create_rol %}
                    <a href="/panel_de_control/nuevo_rol/">Nuevo Rol</a>
                    {% endif %}
                    <label class="input">
                        <span>Inserte su texto aqu&iacute;</span>
                        <input type="text" name="search" id="search"/>
                    </label>
                    <button class="aqua_btn">
                        Buscar
                    </button>
                </div>
                <div id="grid_container">
                    <span>Todos los roles</span>
                    <table>
                        <thead>
                            <tr>
                                <th>Nombre del rol</th>
                                <th>Descripci&oacute;n</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for permrole in paginacion.object_list %}

                            <tr>
                                <td>
                                    <input type="checkbox" id="{{ permrole.pk }}"/>
                                    <label for="{{ permrole.pk }}">
                                        {{ permrole.role_name }}
                                    </label>
                                </td>
                                <td>
                                    {{ permrole.role_description }}
                                </td>
                                <td>
                                    <a class=".delete"></a>
                                    <a class=".edit"></a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div id="table_footer">
                        <select id="actions">
                            <option>Eliminar</option>
                        </select>
                        <div class="pagination">
                            <span class="step-links">
                                {% if paginacion.has_previous %}
                                    <a href="#" onclick="search_submit({{ paginacion.previous_page_number }})">Anterior</a> &ndash;
                                {% endif %}

                                <span class="current">
                                    P&aacute;gina {{ paginacion.number }} de {{ paginacion.paginator.num_pages }}.
                                </span>

                                {% if paginacion.has_next %}
                                    &ndash; <a href="#" onclick="search_submit({{ paginacion.next_page_number }})">Siguiente</a>
                                {% endif %}
                            </span>
                        </div>

                    </div>
                </div>

            </form>

        </div>


    </div>
{% endblock %}