
<html>
<head>
    <link rel="stylesheet" href="/static/css/theme.css">
    <link rel="stylesheet" href="/static/css/consumption_centers/cfe_bill.css">
    <link rel="stylesheet" href="/static/css/forms/rbac_general.css" type="text/css" />

    <script type="text/javascript" src="/static/js/external/jquery.tools.min.js"></script>
    <script type="text/javascript">

        $(document).ready(function(){

            //$(this).contents().find("#cal").DatePicker();
        });

    </script>

</head>

<body style="background: none">
<div class="iframe_container">

<div id="grid_container" style="border: none; margin-top: 0px">

{% if tarifas %}
    {% for tarifa in tarifas.items %}
        <div class="grid_cont">
        <table>
            <thead>
                <tr>
                    <th style="width: 16%;">{{ tarifa.0 }}</th>
                    <th style="width: 7%;">Ene</th><th style="width: 7%;">Feb</th>
                    <th style="width: 7%;">Mar</th><th style="width: 7%;">Abr</th>
                    <th style="width: 7%;">May</th><th style="width: 7%;">Jun</th>
                    <th style="width: 7%;">Jul</th><th style="width: 7%;">Ago</th>
                    <th style="width: 7%;">Sep</th><th style="width: 7%;">Oct</th>
                    <th style="width: 7%;">Nov</th><th style="width: 7%;">Dic</th>
                </tr>
            </thead>
            <tr class="row1">
                <td>Demanda</td>
                {% for tf in tarifa.1.0 %}
                    <td class="c">
                    {% if tf %}
                        {{ tf|floatformat:2 }}
                    {% else %}
                        -
                    {% endif %}
                    </td>
                {% endfor %}
            </tr>
            <tr class="row2">
                <td>KWH Punta</td>
                {% for tf in tarifa.1.1 %}
                    <td class="c">
                        {% if tf %}
                            {{ tf|floatformat:4 }}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
            <tr class="row1">
                <td>KWH Intermedio</td>
                {% for tf in tarifa.1.2 %}
                    <td class="c">
                        {% if tf %}
                            {{ tf|floatformat:4 }}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
            <tr class="row2">
                <td>KWH Base</td>
                {% for tf in tarifa.1.3 %}
                    <td class="c">
                        {% if tf %}
                            {{ tf|floatformat:4 }}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
            <tr class="row1">
                <td>FRI</td>
                {% for tf in tarifa.1.4 %}
                    <td class="c">
                        {% if tf %}
                            {{ tf|floatformat:4 }}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
            <tr class="row2">
                <td>FRB</td>
                {% for tf in tarifa.1.5 %}
                    <td class="c">
                        {% if tf %}
                            {{ tf|floatformat:4 }}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
            <tr class="row1">
                <td></td>
                {% for tf in tarifa.1.6 %}
                    <td class="c">
                        {% if tf %}
                            <a class="edit" title="Editar Cuota"
                               target="_parent"
                               href="/electric_rates/editar_tarifaHM/{{ tf }}/">Editar</a>
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
        </table>
        </div>
    {% endfor %}
{% endif %}

</div>
</div>
</body>
</html>