{% extends "base.html" %}
{% block titulo %}
{% if operation == "edit" %}Editar{% else %}Alta de{% endif %} Suscripcíon alarmas
{% endblock %}
{% block externalcss %}
<link rel="stylesheet" href="/static/css/forms/main.css" type="text/css" />
<link rel="stylesheet" href="/static/css/forms/rbac_general.css" type="text/css" />
<link rel="stylesheet" href="/static/css/forms/c_centers.css" type="text/css" />
<link rel="stylesheet" href="/static/css/forms/rbac_user_list.css" type="text/css" />
<link type="text/css" href="/static/jquery-ui-1.8.23/css/smoothness/jquery-ui-1.8.23.custom.css" rel="stylesheet" />
{% endblock %}
{% block externaljs %}
<script type="text/javascript" src="/static/jquery-ui-1.8.23/js/jquery-ui-1.8.23.custom.min.js"></script>
<script type="text/javascript" src="/static/js/external/jquery-validator/js/validator.js"></script>
<script type="text/javascript">

    $(document).ready(function(){
        $('#save').hide();
        var url=window.location.href;
        url= (url.substr(url.lastIndexOf('/') + 1));
        if(url != "")
        {

            prueba('editar');
        }



        $("#clustername").focus();
        $(".required").each(function(){
            var _span;
            if ($(this).parent().next()[0].nodeName.toLowerCase() == 'input'){
                $(this).parent().next().blur(function(e){

                    if($.trim(e.delegateTarget.value)==''){

                        _span = "incorrect";
                        form_valid = false;
                    }else{
                        if(/^[A-Za-z0-9ÁÉÍÓÚáéíóuñÑ ]+$/.test(e.delegateTarget.value)){
                            _span = "correct";
                            form_valid = true;
                        }else{
                            _span = "incorrect";
                            form_valid = false;
                        }
                    }

                    var n_span = $("#"+e.delegateTarget.id).next();
                    n_span.removeClass("incorrect");
                    n_span.removeClass("correct");
                    n_span.addClass(_span);
                });
            }else if ($(this).parent().next()[0].nodeName.toLowerCase() == 'select'){
                var id_select = $(this).parent().next().attr('id')
                $("#"+id_select).change(function(e){
                    if($.trim(e.delegateTarget.value)==''){
                        _span = "incorrect";
                        form_valid = false;
                    }else{
                        _span = "correct";
                        form_valid = true;
                    }

                    var n_span =  $("#"+id_select).parent().next();
                    n_span.removeClass("incorrect");
                    n_span.removeClass("correct");
                    n_span.addClass(_span);
                });
            }
        });

    });
    function prueba(operacion)
    {

       if(operacion =='alta')
       {
        $('#alarmselector').children().remove();
       }

        valor=  document.getElementById("buildingselect").value;

        if(valor != '0')
            {

                $.ajax({
                    url: "/configuracion/alta_suscripcion_alarma/?id=" + valor,
                    type: "GET",
                    dataType: 'json',
                    async: 'true',

                     success: function(data){
                        if(data.length == 0)
                        {

                            $('#alarmselector').children().remove();
                            $('#alarmselector').parent().find('span').html('No existen alarmas para este edificio');
                            $('#alarmselector').append("<option value='0' selected=selected>No existen alarmas para este edificio</option>")
                        }
                        else
                        {

                            for(var i=0; i<data.length; i++)
                            {

                              if(operacion=='alta')
                              {

                                $('#alarmselector').parent().find('span').html('Selecciona una alarma:');


                                $('#alarmselector').append("<option value='"+data[i].id+"' > "+data[i].edificio+ "-- "+data[i].param +"</option>")
                              }
                              if(operacion=='editar')
                              {

                                 if(document.getElementById("alarmselector").value != data[i].param )
                                 {
                                  $('#alarmselector').append("<option value='"+data[i].id+"' > "+data[i].edificio+ "-- "+data[i].param +"</option>")
                                 }
                              }

                            }
                        }

                     }
                 });
        }
        else
        {
            $('#save').hide();
            $("#buildingselect").parent().next().attr("class", "incorrect");


        }
    }


    $("#save").click(function(){


    });

    function AlarmChange()
    {
        valor=  document.getElementById("alarmselector").value;

        if(valor==0)
        {
            $('#save').hide();
        }
        else
        {
            edificio=  document.getElementById("buildingselect").value;
            notificacion= document.getElementById("notiselect").value;

            if(edificio!=0 && notificacion!=0)
            {
                $('#save').show();
            }
        }
    }

    function notiChange()
    {

        valor=  document.getElementById("notiselect").value;

        if(valor==0)
        {
            $('#save').hide();
        }
        else
        {
            edificio=  document.getElementById("buildingselect").value;
            alarma= document.getElementById("alarmselector").value;

            if(edificio!=0 && alarma!=0)
            {
                $('#save').show();
            }
        }

    }





</script>
{% endblock %}
{% block breadcumbs %}
<div id="bread_crumbs">
    <a href="/profile/{{ request.user.pk }}/" class="fl username">{{ request.user.first_name }} {{ request.user.last_name }}</a>
    <ul>
        <li><a href="/main/">Inicio</a></li>
        <li><a href="/panel_de_control/">Administraci&oacute;n</a></li>
        <li><a href="/configuracion/suscripcion_alarma/">Suscripcion a alarmas</a></li>

        {% if operation == "edit" %}
        <li>
            Editar suscripción a alarmas
        </li>
        {% else %}
        <li>Alta de suscripción a alarmas</li>
        {% endif %}

    </ul>
<a href="/logout" id="userLogOut">Cerrar sesión</a>
</div>
{% endblock %}

{% block contenido %}

<div id="page_content">
    <div id="contenido_interno">
        <h2 id="titulo_form" class="powermeter">
            {% if operation == "edit" %}Editar{% else %}Alta de{% endif %} suscripción a alarmas
        </h2>


        <div class="divider" id="divider_top">&nbsp;</div>
            {% if message %}
                <span class="notif {{ msg_type }}">
                    {% autoescape off %}{{ message }}{% endautoescape %}
                <a href="#" onclick="$(this).parent().remove(); History.replaceState({}, '', '?page=1');">X</a>
                </span>
            {% endif %}

            <div id="form_container">
                {% if message %}
                    <span class="notif {{ type }}">
                        {% autoescape off %}{{ message }}{% endautoescape %}
                        <a href="#" onclick="$(this).parent().remove();">X</a>
                    </span>
                {% endif %}
                <p class="description">
                    Pid nisi sed dictumst ac ultricies, vut velit pid, nascetur est ac nunc urna amet tempor cum in odio. Ultrices. Urna placerat in auctor, urna.
                    <br/>
                    Pid eu, nisi egestas. Enim in porttitor, sed nec tempor, cursus dictumst enim? Augue! Porttitor mid, risus cras! Non duis et turpis, adipiscing augue.
                </p>
                {% if operation == 'edit' %}<form method="post" action="#">  {% else %}<form method="post" action="."> {% endif %}
                {% csrf_token %}
                <h3 class="g12">Informaci&oacute;n de suscripción a alarmas</h3>
                <div id="cluster_fields">
                    <div class="fields_row g9">
                        <label for="buildingselect" class="g2">Edificio<span class="required">*</span></label>
                            <select name="buildingselect" id="buildingselect" class="g9 validate notnull" onchange="prueba('alta')">
                                <option value="0">Selecciona una edificio: </option>
                                {% if operation == 'edit' %}
                                    {% if edificios %}
                                        {% for item in edificios %}
                                            {% if edit_suscription.alarm.consumer_unit.building.building_name == item.building_name  %}
                                                <option value="{{item.id}}" selected="selected"> {{ item.building_name }} </option>
                                            {% else %}
                                                <option value="{{item.id}}"> {{ item.building_name }} </option>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                {% else %}

                                        {% if edificios %}
                                            {% for item in edificios %}
                                                <option value="{{item.id}}"> {{ item.building_name }} </option>
                                            {% endfor %}
                                        {% endif %}

                                {% endif %}


                            </select>
                            <span></span>
                    </div>
                    <div class="fields_row g9">
                        <label for="alarmselector" class="g2">Alarma<span class="required">*</span></label>
                        <select name="alarmselector" id="alarmselector" class="g9 validate notnull" onchange='AlarmChange()'>
                            {% if operation == 'edit' %} <option selected="selected" value='{{ edit_suscription.alarm.id }}'> {{ edit_suscription.alarm.consumer_unit.building.building_name }}--{{ edit_suscription.alarm.electric_parameter.name }} </option>
                            {% else %}<option value='0'>Selecciona una alarma:</option>
                            {% endif %}
                        </select>
                        <span></span>
                    </div>
                    <div class="fields_row g9">
                        <label for="notiselector" class="g2">Notificación<span class="required">*</span></label>
                        <select name="notiselect" id="notiselect" class="g9 validate notnull" onchange="notiChange()">
                            {% if operation == 'edit' %}
                                {% if edit_suscription.notification_type == 1  %}
                                    <option value="1" selected="selected">Push</option>
                                    <option value="3">Email</option>
                                    <option value="4">Ninguno</option>
                                {% elif edit_suscription.notification_type == 3  %}
                                    <option value="3" selected="selected">Email</option>
                                    <option value="1">Push</option>
                                    <option value="4">Ninguno</option>
                                {% elif edit_suscription.notification_type == 4  %}
                                    <option value="4" selected="">ninguno</option>
                                    <option value="1">Push</option>
                                    <option value="3">Email</option>
                                {% endif %}
                                <script> $('#save').show();</script>
                            {% else %}
                                <option value="0">Selecciona una notificación: </option>
                                <option value="1">Push</option>
                                <option value="3">Email</option>
                                <option value="4">Ninguno</option>
                            {% endif %}
                        </select>
                        <span></span>
                    </div>
                    <div class="buttons g12">
                        <button class="aqua_btn" id="save">
                            Guardar
                        </button>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}