{% extends "base.html" %}
{% block titulo %}
{% if operation == "edit" %}Editar{% else %}Alta de{% endif %} Suscripcíon alarmas
{% endblock %}
{% block externalcss %}
<link rel="stylesheet" href="/static/css/forms/main.css" type="text/css" />
<link rel="stylesheet" href="/static/css/forms/rbac_general.css" type="text/css" />
<link rel="stylesheet" href="/static/css/forms/c_centers.css" type="text/css" />
<link rel="stylesheet" href="/static/css/forms/rbac_user_list.css" type="text/css" />
<link type="text/css" href="/static/jquery-ui-1.8.23/css/smoothness/jquery-ui-1.8.23.custom.css" rel="stylesheet" />
{% endblock %}
{% block externaljs %}
<script type="text/javascript" src="/static/jquery-ui-1.8.23/js/jquery-ui-1.8.23.custom.min.js"></script>
<script type="text/javascript">
    var form_valid = true;
    var send_form = 0;
    $(document).ready(function(){
        $("#clustername").focus();
        $(".required").each(function(){
            var _span;
            if ($(this).parent().next()[0].nodeName.toLowerCase() == 'input'){
                $(this).parent().next().blur(function(e){

                    if($.trim(e.delegateTarget.value)==''){

                        _span = "incorrect";
                        form_valid = false;
                    }else{
                        if(/^[A-Za-z0-9ÁÉÍÓÚáéíóuñÑ ]+$/.test(e.delegateTarget.value)){
                            _span = "correct";
                            form_valid = true;
                        }else{
                            _span = "incorrect";
                            form_valid = false;
                        }
                    }

                    var n_span = $("#"+e.delegateTarget.id).next();
                    n_span.removeClass("incorrect");
                    n_span.removeClass("correct");
                    n_span.addClass(_span);
                });
            }else if ($(this).parent().next()[0].nodeName.toLowerCase() == 'select'){
                var id_select = $(this).parent().next().attr('id')
                $("#"+id_select).change(function(e){
                    if($.trim(e.delegateTarget.value)==''){
                        _span = "incorrect";
                        form_valid = false;
                    }else{
                        _span = "correct";
                        form_valid = true;
                    }

                    var n_span =  $("#"+id_select).parent().next();
                    n_span.removeClass("incorrect");
                    n_span.removeClass("correct");
                    n_span.addClass(_span);
                });
            }
        });
        $("#save").click(function(){
            validate_form();
            return send_form == 1;
        });
    });
    function validate_form(){
        if (form_valid){
            var _span;
            var clustername = $("#clustername");
            if(clustername.val()==''){
                _span = "incorrect";
                form_valid = false;
            }else{
                _span = "correct";
            }
            clustername.next().removeClass("incorrect");
            clustername.next().removeClass("correct");
            clustername.next().addClass(_span);

            }

            var sector = $("#clustersector");
            if(sector.val()==''){
                _span = "incorrect";
                form_valid = false;
            }else{
                _span = "correct";
            }
            $("#sel_sector").removeClass("incorrect").removeClass("correct").addClass(_span);
            if(form_valid){
                send_form++;
            }
            return form_valid
        }
</script>
{% endblock %}


{% block contenido %}

<div id="bread_crumbs">
    <ul>
        <li><a href="/main/">Inicio</a></li>
        <li><a href="/panel_de_control/">Administraci&oacute;n</a></li>
        <li><a href="/buildings/clusters/">Grupos de empresas</a></li>
        {% if operation == "edit" %}
        <li>
            Editar suscripción a alarmas
        </li>
        {% else %}
        <li>Alta de suscripción a alarmas</li>
        {% endif %}

    </ul>
</div>
<div id="page_content">
<div id="contenido_interno">
    <h2 id="titulo_form" class="powermeter">
        {% if operation == "edit" %}Editar{% else %}Alta de{% endif %} suscripción a alarmas
    </h2>


    <div class="divider" id="divider_top">&nbsp;</div>
    <div id="form_container">
        {% if message %}
                <span class="notif {{ type }}">
                    {% autoescape off %}{{ message }}{% endautoescape %}
                    <a href="#" onclick="$(this).parent().remove();">X</a>
                </span>
        {% endif %}
        <p class="description">
            Pid nisi sed dictumst ac ultricies, vut velit pid, nascetur est ac nunc urna amet tempor cum in odio. Ultrices. Urna placerat in auctor, urna.
            <br/>
            Pid eu, nisi egestas. Enim in porttitor, sed nec tempor, cursus dictumst enim? Augue! Porttitor mid, risus cras! Non duis et turpis, adipiscing augue.
        </p>
        <form method="post" action=".">
            {% csrf_token %}
            <h3 class="g12">Informaci&oacute;n de suscripción a alarmas</h3>
            <div id="cluster_fields">

                 <div class="fields_row g9">
                    <label for="clustername" class="g2">Edificio<span class="required">*</span></label>

                      <select name="clustersector" id="clustersector" class="g9">
                        <option value="">Selecciona una edificio: </option>
                        {% if edificios %}
                            {% for item in edificios %}
                                <option value="{{item.id}}" {% if post.clustersector == item.id %} selected {% endif %}> {{ item.building_name }}</option>
                            {% endfor %}
                        {% endif %}

                    </select>
                    <span></span>
                </div>


               <div class="fields_row g9">
                    <label for="clustername" class="g2">Alarma<span class="required">*</span></label>

                      <select name="clustersector" id="clustersector" class="g9">
                        <option value="">Selecciona una alarma: </option>
                        {% if lista %}
                            {% for item in lista %}
                                <option value="{{sector.id}}" {% if post.clustersector == sector.id %} selected {% endif %}> </option>
                            {% endfor %}
                        {% endif %}

                    </select>
                    <span></span>
                </div>
            <div class="fields_row g9">
                    <label for="clustername" class="g2">Notificación<span class="required">*</span></label>

                      <select name="clustersector" id="clustersector" class="g9">
                        <option value="">Notificación </option>
                        {% if lista %}
                            {% for item in lista %}
                                <option value="{{sector.id}}" {% if post.clustersector == sector.id %} selected {% endif %}>{{ item.notification_types }}</option>
                            {% endfor %}
                        {% endif %}

                    </select>
                    <span></span>
                </div>

            <div class="buttons g12">
                <button class="aqua_btn" id="save">
                    Guardar
                </button>
            </div>
        </form>

    </div>


</div>
</div>
{% endblock %}