{% extends "base.html" %}
{% block titulo %}Ver suscripción a alarma{% endblock %}

{% block externalcss %}
<link rel="stylesheet" href="/static/css/forms/main.css" type="text/css" />
<link rel="stylesheet" href="/static/css/forms/rbac.css" type="text/css" />
<link rel="stylesheet" href="/static/css/forms/c_centers.css" type="text/css" />

{% endblock %}

{% block breadcumbs %}
    <div id="bread_crumbs">
    <a href="/profile/{{ request.user.pk }}/" class="fl username">{{ request.user.first_name }} {{ request.user.last_name }}</a>
    <ul>
        <li><a href="/main/">Inicio</a></li>
        <li><a href="/panel_de_control/">Administraci&oacute;n</a></li>
        <li><a href="/panel_de_control/?cat=4">Panel Alarmas</a></li>
        <li><a href="/configuracion/suscripcion_alarma">Suscripcion a Alarma</a></li>
        <li>Ver suscripción a alarma</li>
    </ul>
    <a href="/logout" id="userLogOut">Cerrar sesión</a>

</div>

{% endblock %}


{% block contenido %}

<div id="page_content">
<div id="contenido_interno" class="card cluster_content">
    <h2 id="titulo_form" class="powermeter">
        Sucripción Alarma
    </h2>

<div class="divider" id="divider_top">&nbsp;</div>
    <div id="card_container">
       <div id="user_img" class="fl">
            {% if companies.company.company_logo %}
            <img src="/static/media/{{companies.company.company_logo}}" alt="{{companies.company.company_name}}_logo" width="200px">
            {% else %}
                <img src="/static/css/images/imgs_icns/place_holder_cluster.png" alt="{{ companies.company.company_name }}"/>
            {%endif%}
        </div>
        <div id="user_data" class="fl">
            <p>
                <span class="strong label">Usuario:</span>
                {{ usuario }}

            </p>
            <p>
                <span class="strong label">Edificio:</span>
                {{ building }}
            </p>

            <p>
                <span class="strong label">Parametro:</span>
                {{ parameter }}
            </p>

            <p>
                <span class="strong label">Tipo de notificación:</span>
                {{ notification }}

            </p>


            <a href="/configuracion/suscripcion_alarma" id="go_back">Volver al listado</a>
        </div>

    </div>


</div>
</div>
{% endblock %}