{% extends "base.html" %}
{% block titulo %}Ver Suscripciones a Alarmas{% endblock %}
{% block externalcss %}
    <link rel="stylesheet" href="/static/css/forms/main.css" type="text/css" />
    <link rel="stylesheet" href="/static/css/forms/rbac_general.css" type="text/css" />
    <link rel="stylesheet" href="/static/css/forms/rbac_user_list.css" type="text/css" />
    <link href="/static/js/external/messi/messi.css" rel="stylesheet" type="text/css" media="screen" />
{% endblock %}
{% block externaljs %}
    <script src="/static/js/external/messi/messi.min.js"></script>
    <script type="text/javascript">
        function search_submit(pagina){
            if (typeof pagina == "object") {
                pagina = "1";
            }

            var base_url = window.location.pathname;
            base_url+="?page="+pagina;
            base_url=append_page(base_url);
            window.location = base_url;
        }
        function append_page(base_url){
            var get = getUrlVars();
            if(get.length>0){
                if (get[0]!=window.location.protocol+"//"+window.location
                        .host+window.location.pathname){
                    for(var i=0; i<get.length; i++){
                        if (get[i]!="msj" && get[i]!="ntype" && get[i]!="page"){
                            base_url+="&"+get[i]+"="+get[get[i]];
                        }
                    }
                }

            }
            return base_url
        }
        function append_get(base_url){
            var get = getUrlVars();
            if(get.length>0){
                if (get[0]!=window.location.protocol+"//"+window.location
                        .host+window.location.pathname){
                    for(var i=0; i<get.length; i++){
                        if (get[i]!="order_user" && get[i]!="order_name" && get[i]!="order_lastname" && get[i]!="order_alarm" && get[i]!="order_date" && get[i]!="order_status" && get[i]!="order_building"){
                            base_url+="&"+get[i]+"="+get[get[i]];
                        }
                    }
                }

            }
            return base_url
        }
    </script>
{% endblock %}
{% block document_ready %}

    $("a.switch").click(function(event){
        event.preventDefault();
        var url="/configuracion/status_suscription_alarm/"+$(this).attr("rel")+"/";
        var action = $(this).attr("title");
        new Messi('&iquest;Est&aacute; seguro de que desea '+ action +' esta suscripción a  alarma?',
            {title: action+' alarma', modal: true, buttons: [{id: 0,
                label: 'Cancelar', val: 'N'},{id: 1, label: 'Aceptar', val: 'Y'
            }],
            callback: function(val) {
                if(val=='Y'){
                    document.location.href=url;
                } else return false; }
        });
    });

    $("#aplicar").click(function(e){
        e.preventDefault();
        if($("#actions").val()!="0"){
            var check = false;
            $("tbody input:checkbox").each(function(){
                if($(this).is(":checked")){
                    check = true;
                }
            });
            if(check){
                new Messi('&iquest;Est&aacute; seguro de que desea cambiar el estatus de susciprición de las alarmas' +
                ' seleccionadas?',
                    {
                        title: 'Cambiar estatus', modal: true, buttons: [{id: 0,
                        label: 'Cancelar', val: 'N'},{id: 1, label: 'Aceptar', val: 'Y'}],
                        callback: function(val) {
                            if(val=='Y'){
                                document.forms["operations_batch"].submit();
                            } else return false;
                    }
                });
            }
        }else{
            return false;
        }
    });

    $("#order_user").click(function(e){
        e.preventDefault();
        var base_url = window.location.pathname;
        base_url+="?order_user="+$("#order_user").attr("rel");
        base_url=append_get(base_url);
        window.location = base_url;
    });




    $("#order_name").click(function(e){
        e.preventDefault();
        var base_url = window.location.pathname;
        base_url+="?order_name="+$("#order_name").attr("rel");
        base_url=append_get(base_url);
        window.location = base_url;
    });

    $("#order_lastname").click(function(e){
        e.preventDefault();
        var base_url = window.location.pathname;
        base_url+="?order_lastname="+$("#order_lastname").attr("rel");
        base_url=append_get(base_url);
        window.location = base_url;
    });

    $("#order_alarm").click(function(e){
        e.preventDefault();
        var base_url = window.location.pathname;
        base_url+="?order_alarm="+$("#order_alarm").attr("rel");
        base_url=append_get(base_url);
        window.location = base_url;
    });

    $("#order_date").click(function(e){
        e.preventDefault();
        var base_url = window.location.pathname;
        base_url+="?order_date="+$("#order_date").attr("rel");
        base_url=append_get(base_url);
        window.location = base_url;
    });

    $("#order_status").click(function(e){
        e.preventDefault();
        var base_url = window.location.pathname;
        base_url+="?order_status="+$("#order_status").attr("rel");
        base_url=append_get(base_url);
        window.location = base_url;
    });

   $('#probar').click(function(){
        $.ajax({
            url: "/buildings/medition_rate/",
            type: "POST",
            data:{id_reading:1729887},
            success:function(){alert("good");},
            fail: function(){alert("fail");}})
    });

{% endblock %}
{% block breadcumbs %}
     <div id="bread_crumbs">
     <a href="/panel_de_control/ver_usuario/{{ request.user.pk }}/" class="fl username">{{ request.user.first_name }} {{ request.user.last_name }}</a>
        <ul>
            <li><a href="/main/">Inicio</a></li>
            <li><a href="/panel_de_control/">Panel de Control</a></li>
            <li><a href="/panel_de_control/?cat=4">Panel Alarmas</a></li>
            <li>Suscripción a alarmas</li>
        </ul>
        <a href="/logout" id="userLogOut">Cerrar sesión</a>

    </div>

{% endblock %}

{% block contenido %}


    <div id="page_content">
        <div id="contenido_interno">
            <h2 id="titulo_form" class="powermeter">Ver Suscripciones a Alarmas</h2>




            <div class="divider" id="divider_top">&nbsp;</div>

            {% if message %}
                <span class="notif {{ msg_type }}">
                    {% autoescape off %}{{ message }}{% endautoescape %}
                <a href="#" onclick="$(this).parent().remove(); History.replaceState({}, '', '?page=1');">X</a>
                </span>
            {% endif %}
            <div id="form_container">

                <p class="description">
                    Pid nisi sed dictumst ac ultricies, vut velit pid, nascetur est ac nunc urna amet tempor cum in odio. Ultrices. Urna placerat in auctor, urna.
                    <br/>
                    Pid eu, nisi egestas. Enim in porttitor, sed nec tempor, cursus dictumst enim? Augue! Porttitor mid, risus cras! Non duis et turpis, adipiscing augue.
                </p>

                <div id="user_actions">

                    <a href="/configuracion/alta_suscripcion_alarma/"><span class="plus"></span>
                        Nueva Suscripción a Alarma
                    </a>
                    <span class="hz_divider"></span>
                    <form method="get" action=".">
                        <label class="input">
                            <span>Inserte su texto aqu&iacute;</span>
                            <input type="text" name="search" id="search"/>
                        </label>
                        <button class="aqua_btn">
                            Buscar
                        </button>
                    </form>
                </div>
                <form id="operations_batch" action="/configuracion/status_suscription_batch_alarm/" method="post">
                    {% csrf_token %}
                    <div id="grid_container">
                        <table>

                            <thead>
                            <tr>
                                <th style="width: 14%;">
                                    <a href="#" id="order_user" rel="{{ order_user }}">
                                        Usuario
                                        <span class="sort"></span>
                                    </a>
                                </th>
                                <th style="width: 11%;">
                                    <a href="#" id="order_name" rel="{{ order_name }}">
                                        Nombre
                                        <span class="sort"></span>
                                    </a>
                                </th>
                                <th style="width: 12.5%;">
                                    <a href="#" id="order_lastname" rel="{{ order_lastname }}">
                                        Apellido
                                        <span class="sort"></span>
                                    </a>
                                </th>
                                <th style="width: 11.5%;">
                                    <a href="#" id="order_alarm" rel="{{ order_alarm }}">
                                        Alarma
                                        <span class="sort"></span>
                                    </a>
                                </th>
                                <th style="width: 14.5%;">
                                    <a href="#" id="order_date" rel="{{ order_date }}">
                                        &Uacute;ltima Modif.
                                        <span class="sort"></span>
                                    </a>
                                </th>
                                <th style="width: 12.5%;">
                                    <a href="#" id="order_status" rel="{{ order_status }}">
                                        Estatus
                                        <span class="sort"></span>
                                    </a>
                                </th>
                                <th style="width: 12.5%;">Acciones</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for item in paginacion.object_list %}


                                <tr class="{% cycle 'row1' 'row2' %}">
                                    <td>
                                        <input type="checkbox" id="alarma_{{ item.pk }}"
                                               name="alarma_{{ item.pk }}"/>
                                        <label for="alarma_{{ item.pk }}">
                                            <a href="/configuracion/alarma_suscripcion/{{ item.pk }}/">
                                                {{ item.user }}
                                            </a>
                                        </label>
                                    </td>
                                    <td class="c">
                                        {{ item.user.first_name }}
                                    </td>
                                    <td class="c">
                                        {{ item.user.last_name }}
                                    </td>
                                    <td class="c">
                                        {{ item.alarm.electric_parameter.name }} &ndash; {{ item.alarm.consumer_unit.building.building_name }}
                                    </td>
                                    <td class="c">
                                        {{ item.alarm.last_changed }}
                                    </td>
                                    <td class="c">
                                        <a href="#" rel="{{ item.pk }}" {% if item.status %}class="switch active_switch" title="desactivar"{% else %}class="switch inactive_switch" title="activar"{% endif %}>
                                        </a>


                                    </td>

                                    <td class="c">
                                        <a class="edit" title="Editar alarma"
                                           href="/configuracion/editar_suscripcion_alarma/{{ item.pk }}"></a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <div id="table_footer">
                            <select id="actions" name="actions">
                                <option value="0">Elije una Acci&oacute;n</option>
                                <option value="status">Habilitar/Deshabilitar</option>
                            </select>
                            <button class="fl aqua_btn" id="aplicar">Aplicar a la
                                selecci&oacute;n</button>

                            <div class="pagination">
                            <span class="step-links">
                                {% if paginacion.has_previous %}
                                    <a href="#" onclick="search_submit({{ paginacion.previous_page_number }})">Anterior</a> &ndash;
                                {% endif %}

                                <span class="current">
                                    P&aacute;gina {{ paginacion.number }} de {{ paginacion.paginator.num_pages }}
                                </span>

                                {% if paginacion.has_next %}
                                    &ndash; <a href="#" onclick="search_submit({{ paginacion.next_page_number }})">Siguiente</a>
                                {% endif %}
                            </span>
                            </div>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <button class="aqua_btn" id='probar'>
                            Buscar
                        </button>
{% endblock %}