{% extends "base.html" %}
{% block titulo %}
    {% if operation == "edit" %}Editar{% else %}Alta de{% endif %} Alarma
{% endblock %}
{% block externalcss %}
    <link rel="stylesheet" href="/static/css/forms/main.css" type="text/css" />
    <link rel="stylesheet" href="/static/css/forms/c_centers.css" type="text/css" />
    <link rel="stylesheet" type="text/css" href="/static/js/external/jquery-validator/css/validator.css">
    <link rel="stylesheet" href="/static/css/forms/rbac_general.css" type="text/css" />
    <link rel="stylesheet" href="/static/css/forms/rbac_user_list.css" type="text/css" />
    <link href="/static/js/external/messi/messi.css" rel="stylesheet" type="text/css" media="screen" />
    <link type="text/css" href="/static/jquery-ui-1.8.23/css/smoothness/jquery-ui-1.8.23.custom.css" rel="stylesheet" />
{% endblock %}
{% block externaljs %}
    <script type="text/javascript" src="/static/jquery-ui-1.8.23/js/jquery-ui-1.8.23.custom.min.js"></script>
    <script src="/static/js/external/messi/messi.min.js"></script>
    <script type="text/javascript" src="/static/js/external/jquery-validator/js/validator.js"></script>
    <script type="text/javascript">
        $(document).on("ready", function(){
            $("#alarm").validate();
            var save_button = $("#save");
            var min = $("#alarm_min_value");
            var max = $("#alarm_max_value");

            min.on("blur", function(){
                if(max.val()!=""){
                    if(parseFloat(min.val())>parseFloat(max.val())){
                        min.val("");
                    }
                }
            });
            max.on("blur", function(){
                if(min.val()!=""){
                    if(parseFloat(min.val())>parseFloat(max.val())){
                        max.val("");
                    }
                }
            });
            {% if operation == "alta" %}
            save_button.hide();
            {% endif %}
            $("#cluster").change(function(){
                if($(this).val() != "0"){
                    $.ajax({
                        url: "/buildings/get_cluster_companies/"+$(this).val()+"/?op=118",
                        type: "GET",
                        dataType: 'json',
                        async: 'true',
                        success: function(datos){
                            var append_text = '';
                            if(datos.length == 0){
                                append_text = 'El grupo de empresas seleccionado no tiene empresas asociadas.';
                                $("#cons_unit").html(append_text);
                            }else{

                                var first_option = '';

                                save_button.hide();
                                first_option='<option value="0">'+
                                        'Selecciona una empresa</option>';

                                if(datos[0].company != undefined){
                                    append_text = '<label for="company" class="g3">' +
                                            'Selecciona una empresa' +
                                            '</label>' +
                                            '<select name="company" id="company" class="g9">';

                                    append_text += first_option;

                                    for(var i=0; i<datos.length; i++){
                                        append_text+='<option value="' + datos[i].pk + '"> ' +
                                                datos[i].company +
                                                '</option>';
                                    }
                                    append_text += "</select>";

                                    $("#empresas").html(append_text);
                                    $("#edificios").html("");
                                    $("#cons_unit").html("");
                                    $("#company").uniform();

                                }else{
                                    append_text = 'El grupo de empresas seleccionado no tiene empresas asociadas.';
                                    $("#empresas").html(append_text);
                                    $("#edificios").html("");
                                    $("#cons_unit").html("");
                                    save_button.hide();
                                }
                            }

                        }
                    });
                }else{
                    //si no selecciono cluster
                    $("#empresas").html("");
                    $("#edificios").html("");
                    $("#cons_unit").html("");
                    save_button.hide();
                }
            });
            $("#company").live("change", function(){
                if ($(this).val()!="0" && $(this).val()!="todos"){
                    $.ajax({
                        url: "/buildings/get_company_buildings/"+$(this).val()+"/?op=118",
                        type: "GET",
                        dataType: 'json',
                        async: 'true',
                        success: function(datos){

                            var append_text = '';
                            if(datos.length == 0){
                                append_text = 'La empresa seleccionada no tiene edificios asociados.';
                                $("#cons_unit").html(append_text);
                            }else{


                                var first_option = '';

                                save_button.hide();
                                first_option='<option value="0">'+
                                        'Selecciona un edificio</option>';

                                if(datos[0].building != undefined){

                                    append_text = '<label for="building" class="g3">' +
                                            'Selecciona un edificio' +
                                            '</label>' +
                                            '<select name="building" id="building" class="g9">';

                                    append_text += first_option;


                                    for(var i=0; i<datos.length; i++){
                                        append_text+='<option value="' + datos[i].pk + '"> ' +
                                                datos[i].building +
                                                '</option>';
                                    }
                                    append_text += "</select>";

                                    $("#edificios").html(append_text);
                                    $("#cons_unit").html("");
                                    $("#building").uniform();


                                }else{
                                    append_text = 'La empresa seleccionada no tiene edificios asociados.';
                                    $("#edificios").html(append_text);
                                    $("#cons_unit").html("");
                                    save_button.hide();
                                }
                            }
                        }
                    });
                }else{
                    $("#edificios").html("");
                    $("#cons_unit").html("");
                    save_button.hide();
                }
            });
            $("#building").live("change", function(){
                if ($(this).val()!="0" && $(this).val()!="todos"){
                    $.ajax({
                        url: "/buildings/get_cus_of_building/"+$(this).val()+"/?op=118",
                        type: "GET",
                        dataType: 'json',
                        async: 'true',
                        success: function(datos){
                            var append_text = '';
                            if(datos.length == 0){
                                append_text = 'El edificio seleccionado no tiene unidades de consumo asociadas.';
                                $("#cons_unit").html(append_text);
                            }else{

                                var first_option='';
                                if(datos[0].all){
                                    save_button.show();
                                    first_option='<option value="todas">'+
                                            'Todas las unidades de consumo del edificio('+datos.length+')</option>';

                                }else{
                                    save_button.hide();
                                    first_option='<option value="0">'+
                                            'elije una parte del edificio</option>';
                                }
                                if(datos[0].pk != undefined){
                                    append_text = '<label for="c_unit" class="g3">' +
                                            'Selecciona una unidad de consumo' +
                                            '</label>' +
                                            '<select name="c_unit" id="c_unit" class="g9">';

                                    append_text += first_option;

                                    for(var i=0; i<datos.length; i++){
                                        append_text+='<option value="' + datos[i].pk + '"> ' +
                                                datos[i].annotation +
                                                '</option>';
                                    }
                                    append_text += "</select>";

                                    $("#cons_unit").html(append_text);
                                    $("#c_unit").uniform().change(function(){
                                        if ($(this).val()!="0"){
                                            save_button.show();
                                        }
                                    });
                                }else{
                                    append_text = 'El edificio seleccionado tiene unidades de consumo asociadas.';
                                    $("#cons_unit").html(append_text);
                                    save_button.hide();
                                }
                            }

                        }
                    });
                }else{
                    $("#cons_unit").html("");
                    save_button.hide();
                }
            });

        });
        function form_row(pm, alias, brand, model, serial, status){
            var row = '<td>';
            row += '<input type="checkbox" id="powermeter_'+pm+'" name="powermeter_'+pm+'"/>';
            row += '<label for="powermeter_'+pm+'">';
            row += '<a href="/buildings/ver_medidor/'+pm+'/">';
            row += alias;
            row += '</a></label></td>';
            row += '<td class="c">'+brand+'- '+model+'</td>';
            row += '<td class="c">'+serial+'</td>';
            row += '<td class="c"><a href="#" rel="'+pm+'"';
            if (status == 1){
                row += 'class="switch active_switch" title="desactivar"';
            }else{
                row += 'class="switch inactive_switch" title="activar"';
            }
            row += '></a></td>';
            row += '<td class="c"><a class="edit" title="Editar medidor" href="/buildings/editar_medidor/'+pm+'/"></a><a class="remove" title="Desvincular medidor" rel="'+pm+'">Desvincular Medidor</a></td>';

            var tabla = $("#powermeters_table");
            if($("#powermeters_table tr").size()>1)
                if(tabla.find("tr:last-child").hasClass("row1")){
                    tabla.append('<tr class="row2">' + row + '</tr>');
                }
                else{
                    tabla.append('<tr class="row1">' + row + '</tr>');
                }
            else{
                tabla.append('<tr class="row1">' + row + '</tr>');
            }
            tabla.find("tr:last-child input").uniform();
        }
    </script>
{% endblock %}
{% block document_ready %}
{% endblock %}
{% block breadcumbs %}
     <div id="bread_crumbs">
        <a href="/panel_de_control/ver_usuario/{{ request.user.pk }}/" class="fl username">{{ request.user.first_name }} {{ request.user.last_name }}</a>
         <ul>
            <li><a href="/main/">Inicio</a></li>
            <li><a href="/panel_de_control/">Panel de Control</a></li>
            <li><a href="/panel_de_control/?cat=4">Panel Alarmas</a></li>
            <li><a href="/configuracion/alarmas/">Alarmas</a></li>
            {% if operation == "edit" %}
                <li>
                    Editar alarma
                </li>
            {% else %}
                <li>Alta de alarma</li>
            {% endif %}
        </ul>
        <a href="/logout" id="userLogOut">Cerrar sesión</a>

    </div>

{% endblock %}

{% block contenido %}

    <div id="page_content">
        <div id="contenido_interno">
            <h2 id="titulo_form" class="powermeter">
                {% if operation == "edit" %}Editar{% else %}Alta de{% endif %} alarma
            </h2>
            <div class="divider" id="divider_top">&nbsp;</div>
            <div id="form_container" class="g12">
                {% if message %}
                    <span class="notif {{ msg_type }}">
                    {% autoescape off %}{{ message }}{% endautoescape %}
                    <a href="#" onclick="$(this).parent().remove(); History.replaceState({}, '', ' ');">X</a>
                </span>
                {% endif %}
                <p class="description">
                    Pid nisi sed dictumst ac ultricies, vut velit pid, nascetur est ac nunc urna amet tempor cum in odio. Ultrices. Urna placerat in auctor, urna.
                    <br/>
                    Pid eu, nisi egestas. Enim in porttitor, sed nec tempor, cursus dictumst enim? Augue! Porttitor mid, risus cras! Non duis et turpis, adipiscing augue.
                </p>
                <form method="post" action="." id="alarm">
                    {% csrf_token %}
                    <h3 class="g12">Informaci&oacute;n de Alarma</h3>
                    <div id="alarm_fields">
                        <div class="fields_row g12">
                            <label for="alarm_param" class="g3">Par&aacute;metro El&eacute;ctrico<span class="required">*</span></label>
                            <select name="alarm_param" id="alarm_param" class="g9 validate notnull">
                                <option value="0">Elije un par&aacute;metro</option>
                                {% for param in parameters %}
                                    <option value="{{ param.pk }}"{% if param.pk == alarm.pk %}selected="selected"{% endif %}>{{ param.name }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="fields_row g12">
                            <label for="alarm_max_value" class="g3">Valor m&aacute;ximo</label>
                            <input type="text" name="alarm_max_value" id="alarm_max_value" class="g8 validate numeric notnull" value="{{ alarm.max_value|floatformat:2 }}"/>
                        </div>
                        <div class="fields_row g12">
                            <label for="alarm_min_value" class="g3">Valor m&iacute;nimo</label>
                            <input type="text" name="alarm_min_value" id="alarm_min_value" class="g8 validate numeric notnull" value="{{ alarm.min_value|floatformat:2 }}"/>
                        </div>
                        <div class="fields_row g12">
                            <label for="cluster" class="g3">Selecciona un grupo de empresas</label>
                            <select name="cluster" id="cluster" class="g8 validate notnull">
                                <option value="0">Elije el edificio para el equipo industrial</option>
                                {% for clus in clusters %}
                                    <option value="{{ clus.pk }}"{% if curr_cluster.pk == clus.pk %} selected="selected" {% endif %}>{{ clus.cluster_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="fields_row g12" id="empresas">
                            {% if operation == "edit" %}
                                <label for="company" class="g3">Selecciona una empresa</label>
                                <select name="company" id="company" class="g9">
                                    <option value="0">Selecciona una empresa</option>
                                    {% for cc in companies %}
                                        <option value="{{ cc.company.pk }}" {% if cc.company.pk == curr_company.pk %}selected="selected" {% endif %}>{{ cc.company.company_name }}</option>
                                    {% endfor %}
                                </select>
                            {% endif %}
                        </div>
                        <div class="fields_row g12" id="edificios">
                            {% if operation == "edit" %}
                                <label for="building" class="g3">Selecciona un edificio</label>
                                <select name="building" id="building" class="g9">
                                    <option value="0">Selecciona un edificio</option>
                                    {% for cb in comp_buildings %}
                                        <option value="{{ cb.building.pk }}" {% if cb.building.pk == alarm.consumer_unit.building.pk %}selected="selected" {% endif %}>{{ cb.building.building_name }}</option>
                                    {% endfor %}
                                </select>
                            {% endif %}
                        </div>
                        <div class="fields_row g12" id="cons_unit">
                            {% if operation == "edit" %}
                                <label for="c_unit" class="g3">Selecciona una unidad de consumo</label>
                                <select name="c_unit" id="c_unit" class="g9">
                                    <option value="todas">Todas las unidades de consumo del edificio</option>
                                    {% for cu in consumer_units %}
                                        <option value="{{ cu.pk }}" {% if cu.pk == alarm.consumer_unit.pk %}selected="selected" {% endif %}>{{ cu.profile_powermeter.powermeter.powermeter_anotation }}</option>
                                    {% endfor %}
                                </select>
                            {% endif %}
                        </div>
                    </div>

                    <div class="buttons g12">
                        <button class="aqua_btn auto" id="save">
                            Guardar
                        </button>
                    </div>
                </form>

            </div>
        </div>
    </div>
{% endblock %}