{% extends "base.html" %}
{% block titulo %}Ver Notificaciones de Alarmas{% endblock %}
{% block externalcss %}
    <link rel="stylesheet" href="/static/css/forms/main.css" type="text/css" />
    <link rel="stylesheet" href="/static/css/forms/rbac_general.css" type="text/css" />
    <link rel="stylesheet" href="/static/css/forms/rbac_user_list.css" type="text/css" />
    <link rel="stylesheet" href="/static/css/alarms/notification_list_full.css" type="text/css" />
    <link rel="stylesheet" href="/static/js/external/fancybox/jquery.fancybox.css" type="text/css" />
{% endblock %}
{% block externaljs %}
    <script type="text/javascript" src="/static/js/external/fancybox/jquery.fancybox.js"></script>
    <script type="text/javascript">

    </script>
{% endblock %}
{% block document_ready %}
    $(".variousf").fancybox({
        maxWidth	: 800,
        maxHeight	: 800,
        fitToView	: false,
        width		: '70%',
        height		: '70%',
        autoSize	: false,
        closeClick	: false,
        openEffect	: 'none',
        closeEffect	: 'none'
    });


    console.log($("#notificaciones .readed_true").size())

    $("#moreResultsNotificacions").click(function(e){
        e.preventDefault();
        $("#notificationFilter").slideToggle();
    })

{% endblock %}

{% block breadcumbs %}
     <div id="bread_crumbs">
        <a href="/profile/{{ request.user.pk }}/" class="fl username">{{ request.user.first_name }} {{ request.user.last_name }}</a>
        <ul>
            <li><a href="/main/">Inicio</a></li>
            <li><a href="/panel_de_control/">Administraci&oacute;n</a></li>
            <li>Notificaciones</li>
        </ul>

    </div>

{% endblock %}

{% block contenido %}
    {% load custom_filters %}

    <div id="page_content">
        <div id="contenido_interno">
            <h2 id="titulo"><span>Alarmas Recientes</span> <br>
                {% if super_user %}
                    <label for="mostrar">Mostrar todas las notificaciones </label>
                    {% if all %}
                        <a href="./" class="switch active_switch" id="showAllNotifications"></a>
                    {% else %}
                        <a href="./?todas=1" class="switch inactive_switch" id="showAllNotifications"></a>
                    {% endif %}

                {% endif %}
            </h2>
             {% if not ncount  %}
                <a href="#" id="moreResultsNotificacions">Busqueda avanzada</a>
                <form action="#" method="get" id="notificationFilter">
                    <p>
                        <label for="parameterType">Parametro:</label>
                        <select name="parameterType" id="parameterType">
                            <option value="0">Selecciona un parametro</option>
                            <option value='-1'>Interrupción de Datos</option>
                            {% for item in electricParameters %}
                                <option value="{{ item.id }}">{{ item.name }}</option>
                            {% endfor %}
                        </select>
                    </p>

                    <p>
                       <label for="buildingNotification">Edificio:</label>
                        <select name="buildings" id="buildings" >
                            <option value="0">Selecciona un edificio</option>
                            {% for item in buildings %}
                                <option value="{{ item.id }}">{{ item.building_name }}</option>
                            {% endfor %}
                        </select>
                    </p>
                     <div class="buttons g12">
                        <button class="aqua_btn" id="save">
                            Filtrar
                        </button>
                    </div>
                </form>
            {% endif %}

            {% if not ncount  %}
                {% for key, value in notifications.items|sortKeys:"reverse" %}
                    <div class="vacio"></div>
                    <div class="notif_days">
                        <h3 class="raised_alarm">
                        {% if today_str == key %}
                            El día de hoy
                        {% else %}
                            {{ value.0.notif.alarm_event.triggered_time|date:"j \d\e F" }}
                        {% endif %}
                        </h3>
                        <div class="vacio"></div>
                        {% for notif in value %}

                            <p class="notif_detail item{{ forloop.counter0 }}">
                            {% if notif.notif.alarm_event.alarm.alarm_identifier == "Interrupción de Datos" %}
                              <span class="t_hour">{{ notif.triggered|time:"f A" }}</span>
                              El envío de datos ha cesado para la configuración de <span class="consumer_unit_alarm">{{ notif.notif.alarm_event.alarm.consumer_unit.building.building_name }} en {{ notif.notif.alarm_event.alarm.consumer_unit.electric_device_type.electric_device_type_name }}.</span> Por favor revise que el sistema de adquisici&oacute;n se encuentre funcionando.
                            {% else %}
                                <span class="t_hour">{{ notif.triggered|time:"f A" }}</span>
                                La lectura del par&aacute;metro <span class="parameter">{{ notif.notif.alarm_event.alarm.electric_parameter.name }}</span>
                                ha sido de <span class="value {{ notif.type }}">{{ notif.notif.alarm_event.value|floatformat:2 }}{{ notif.notif.alarm_event.alarm.electric_parameter.param_units }}</span>
                                sali&eacute;ndose del rango establecido entre <span class="range">{{ notif.notif.alarm_event.alarm.min_value|floatformat:2 }}{{ notif.notif.alarm_event.alarm.electric_parameter.param_units }}</span> y <span class="range">{{ notif.notif.alarm_event.alarm.max_value|floatformat:2 }}{{ notif.notif.alarm_event.alarm.electric_parameter.param_units }}</span>
                                para la configuraci&oacute;n de <span class="consumer_unit_alarm">{{ notif.notif.alarm_event.alarm.consumer_unit.building.building_name }} en {{ notif.notif.alarm_event.alarm.consumer_unit.electric_device_type.electric_device_type_name }}</span>
                            {% endif %}
                            </p>
                        {% endfor %}
                    </div>

                {% endfor %}
            {% endif %}
            {% if ncount %}
                <div class="vacio"></div>
                    <div class="notif_days">
                {% for key, value in diccionario.items %}

                    {% for key2, value2 in value.items %}


                            {% if value2.0.alarm_event.alarm.alarm_identifier == "Interrupción de Datos" %}
                               <h4> El envío de datos ha cesado para la configuración de <span class="consumer_unit_alarm">{{ value2.0.alarm_event.alarm.consumer_unit.building.building_name }} en {{ value2.0.alarm_event.alarm.consumer_unit.electric_device_type.electric_device_type_name }}.</span> Por favor revise que el sistema de adquisici&oacute;n se encuentre funcionando.</h4>
                            {% else %}
                            <h4>Se han disparado {{ value2|length }} veces la alarma establecida para el parametro {{ value2.0.alarm_event.alarm.electric_parameter }} saliendose del rango establecido entre {{ value2.0.alarm_event.alarm.min_value|floatformat:2 }} y {{ value2.0.alarm_event.alarm.max_value|floatformat:2 }} para la configuracion de {{ value2.0.alarm_event.alarm.consumer_unit.building.building_name }} en {{ value2.0.alarm_event.alarm.consumer_unit.electric_device_type.electric_device_type_name }}</h4>
                           {% endif %}


                        <h3 class="raised_alarm">
                            {{ key2 }}
                        </h3>

                        {% for notif in value2 %}

                            <p class="notif_detail item{{ forloop.counter0 }}">
                            <span class="t_hour">{{ notif.alarm_event.triggered_time|time:"f A" }}</span>
                            {% if notif.alarm_event.alarm.alarm_identifier == "Interrupción de Datos" %}
                                El envío de datos ha cesado para la configuración de <span class="consumer_unit_alarm">{{ notif.alarm_event.alarm.consumer_unit.building.building_name }} en {{ notif.alarm_event.alarm.consumer_unit.electric_device_type.electric_device_type_name }}.</span> Por favor revise que el sistema de adquisici&oacute;n se encuentre funcionando.
                            {% else %}
                                <span class="t_hour">{{ notif.alarm_event.triggered_time|time:"f A" }}</span>
                                La lectura del par&aacute;metro <span class="parameter">{{ notif.alarm_event.alarm.electric_parameter.name }}</span>
                                ha sido de <span class="value {{ notif.type }}">{{ notif.alarm_event.value|floatformat:2 }}{{ notif.notif.alarm_event.alarm.electric_parameter.param_units }}</span>
                                sali&eacute;ndose del rango establecido entre <span class="range">{{ notif.alarm_event.alarm.min_value|floatformat:2 }}{{ notif.alarm_event.alarm.electric_parameter.param_units }}</span> y <span class="range">{{ notif.alarm_event.alarm.max_value|floatformat:2 }}{{ notif.alarm_event.alarm.electric_parameter.param_units }}</span>
                                para la configuraci&oacute;n de <span class="consumer_unit_alarm">{{ notif.alarm_event.alarm.consumer_unit.building.building_name }} en {{ notif.alarm_event.alarm.consumer_unit.electric_device_type.electric_device_type_name }}</span>
                            {% endif %}
                            </p>
                        {% endfor %}
                        <br>
                    {% endfor %}

                {% endfor %}
           {% endif %}
        </div>
    </div>
{% endblock %}