.iframe_container{
    background: #fff !important;
    display: block;
    height: 110%;
}
#titulo_reporte{
    height: 22px;
    padding-left: 39px;
}
#titulo_reporte.report_icon{
    background: url("../images/imgs_icns/graph_icon.png") no-repeat;
}
#datepicker_component {
    position: relative;
    float: right;
    width: 360px;
    margin-right: 20px;
}
#uniform-month_01{
    width: 100px;
}

#uniform-month_01 span{
    width: 70px;
}

#uniform-month_01 select{
    min-width: 105px;
}

#uniform-year_01{
    width: 70px;
}

#uniform-year_01 span{
    width: 40px;
}

#uniform-year_01 select{
    min-width: 70px;
}

#divider_top.divider{
    margin-top: 40px;
}

#types_graphs{
    background: url(../images/bgs/bread_crumbs_bg.png);
    margin-top: 10px;
    height: 37px;
    line-height: 32px;
}
#left_col, #right_col{
    display:block;
    min-height: 10px;
}
#left_col{
    width: 39%;
    padding-right: 5px;
    min-width: 394px;
    float: left;
}
#right_col{
    width: 58%;
    padding-left: 5px;
    min-width: 573px;
    float: left;
}
h3{
    color: #697a8a;
    font-size: 18px;
    font-weight: 700;
}
h4{
    color: #697a8a;
    font-weight: 700;
    font-size: 20px;

}
#sumary{
    margin-top: 15px;
}
#sumary span{
    width: 49%;
    font-weight: 700;
    color: #878787;
    display: inline-block;
    line-height: 160%;
}

#sumary span.l_period{
    width: 19% !important;
}

#sumary span.r_period{
    width: 80% !important;
}


#sumary span.r{
    text-align: right;
    font-size: 15px;
    width: 50%;
}
#sumary span.l{
    text-align: left;
    font-size: 13px;
    width: 49%;
}

#sumary span.total{
    font-size: 25px !important;
}
.inner_col table{
    width: 100%;
    border: solid 1px #9ebfc7;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.inner_col tr{
    line-height: 220%;
}
.inner_col tr:nth-child(2n+1){
    background-color: #fff;
}
.inner_col tr:nth-child(2n+2){
    background-color: #f6f9fa;
}
#history_graph{
    border: solid 1px #9ebfc7;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    background: #fff;
}
#graph_title{
    display: block;
    width: 100%;
    text-align: center;
    line-height: 35px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.inner_col th, #graph_title{
    font-weight: 700;
    font-size: 13px;
    color: #878787;
    background-image: linear-gradient(bottom, rgb(240,245,247) 9%, rgb(255,255,255) 78%);
    background-image: -o-linear-gradient(bottom, rgb(240,245,247) 9%, rgb(255,255,255) 78%);
    background-image: -moz-linear-gradient(bottom, rgb(240,245,247) 9%, rgb(255,255,255) 78%);
    background-image: -webkit-linear-gradient(bottom, rgb(240,245,247) 9%, rgb(255,255,255) 78%);
    background-image: -ms-linear-gradient(bottom, rgb(240,245,247) 9%, rgb(255,255,255) 78%);
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.09, rgb(240,245,247)),
        color-stop(0.78, rgb(255,255,255))
    );
    height: 35px;
    vertical-align: middle;
}
#function_period, #rates{
    margin-top: 20px;
}
#function_period .h82{
    width: 82%;
    border-right: solid 1px #9ebfc7;
}
#function_period .h18{
    width: 18%;
}
#function_period td:nth-child(2n+2){
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    color: #878787;
}
#function_period td:nth-child(2n+1){
    font-size: 13px;
    color: #444;
    border-right: solid 1px #9ebfc7;
    padding-left: 5px;
}
#rates th{
    border-right: solid 1px #9ebfc7;
}
#rates td{
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    color: #878787;
    border-right: solid 1px #9ebfc7;
}
#rates td:nth-child(1){
    text-align: left;
    font-size: 13px;
    font-weight: 400;
    color: #444;
    padding-left: 5px;
}
#notes{
    text-align: center;
    margin-bottom: 10px;
}
#notes span{
    font-size: 13px;
    color: #878787;
    line-height: 200%;
}
#notes span:nth-child(2n+1){
    font-weight: bold;
    margin-left: 5px;
}
#visualization{
    width: 100%;
    height: 325px;
    text-align: center;
}

#sumary_month{
    margin-top: 8px;
}
#sumary_month td{
    text-align: center;
    font-size: 15px;
    color: #878787;
    font-weight: 700;
}
#sumary_month td:nth-child(1){
    padding-left: 5px;
    text-align: left;
    font-weight: 400;
    font-size: 13px;
}
#sumary_month td:nth-child(3),#sumary_month th:nth-child(3){
    border-right: solid 1px #9ebfc7;
}
.period_tag{
    float: left;
    line-height: 30px;
    font-weight: 700;
    margin-right: 5px;
    font-size: 13px;
    color: #878787;
}

#cfe_container{
    width: 100%;
    overflow: auto;
}

iframe{
    width: 100%;
}

.iframe_spinner{
    background-image: url(../images/spinner.gif);
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: 50% 0%;
}

#date_cutdates{
    float:left;
}


.select_hours div.selector{
    width: 50px !important;
}

.select_hours div.selector select{
    width: 20px !important;
    min-width: 55px !important;
}

.select_hours div.selector span{
    width: 20px !important;
}

#cut_date_fb{
    float: none;
}

#body_fb{
    background: none;
    min-height: 90% !important;
    height: 95% !important;
}

#corte_container{
    width: 380px;
    text-align: center;
    margin: 10px;"
    overflow: auto;
}

#corte_title{
    padding-bottom: 10px;
    font-size: 20px;
}

#corte_input{
    padding: 10px 0px;
}

#corte_calendarios{
    margin-left: 90px;
}

#corte_selects{
    padding: 15px 0px;
}



