#list{
    display: none;
}
a.consumer_unit{
    width: 100%;
    display: block;
    height: 100%;
    background: url(../images/imgs_icns/consumer_unit_icon.png) 50% 50% no-repeat;
}
.jOrgChart table{
    margin: 0 auto;
}
.jOrgChart .node{
    background: #fafafa;
    border: solid 2px #869baf;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.node a{
    font-size: 14px;
    line-height: 150%;
    color: #909aa2 !important;
    text-decoration: none;
    cursor: ;
}
.temp{
    border: dotted 2px #869baf !important;
}
.edit{
    margin-right: 0;
}
.consumer_unit{
    background: url(../images/imgs_icns/consumer_unit_icon.png) 50% 50% no-repeat #fff !important;
}
.disabled{
    border: dotted 2px #d4cb5a !important;
}
.virtual{
    border: dotted 2px #23cbcc !important;
}