/*---------------------------------------------*/
/*------general look and feel-------*/
/*---------------------------------------------*/
@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);
/*-----Reset CSS-----*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body{
    min-height: 100% !important;
    height: 100%;
    width: 100%;
    min-width: 100% !important;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 12px;
    vertical-align: baseline;
    font-family: 'Droid Sans', Helvetica, sans-serif;
    text-decoration: none;
}
input, select{
    font-family: helvetica, serif;
    height: 25px;

}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
.hidden{
    display: none;
}
.vacio{
    display: block;
    width: 100%;
    height: 1px;
    line-height: 1px;
    clear: both;
}
body {
    line-height: 1;
    /*background-image: url("../images/general/body_back.png");*/
}
ol, ul {
    list-style: none;
}

/*--..General..--*/
.fl{ float:left !important; }
.fr{ float:right !important; }

.g1, .g2, .g3, .g4, .g5, .g6, .g7, .g8, .g9, .g10, .g11, .g12{
     float:left !important;
}
.g1{width:6.333%;}
.g2{width:14.667%;}
.g3{width:23.0%;}
.g4{width:31.333%;}
.g5{width:39.667%;}
.g6{width:48.0%;}
.g7{width:56.333%;}
.g8{width:64.667% !important;}
.g9{width:73.0%;}
.g10{width:81.333%;}
.g11{width:89.667%;}
.g12{width:98.0%;}


#compare_interval2{
    margin-top: 20px;
}
#compare_interval li, #compare_interval2 li{
    color: #636363;
    font-weight: 700;
    cursor: pointer;
}
#compare_interval1 li, #compare_interval2 li{
    float: left;
    height: 23px;
    /*border: solid 1px #bdbdbf;
    background: url(../images/bgs/date_interval_selector_bg.png) repeat-x;*/
    line-height: 23px;
    width: 65px;
    text-align: center;
    margin: 0;
}
#compare_interval1 li.active, #compare_interval2 li.active{
    border: solid 1px #9ebfc7;
    /*box-shadow: 0 0 2px 1px #9EBFC7;
    background: url(../images/bgs/date_interval_selected_bg.png) repeat-x;*/
}
#compare_interval li, #compare_interval2 li{
    float: left;
    height: 23px;
    border: solid 1px #bdbdbf;
    background: url(../images/bgs/date_interval_selector_bg.png) repeat-x;
    line-height: 23px;
    width: 65px;
    text-align: center;
    margin: 0;
    cursor: pointer;
}
#compare_interval li.active, #compare_interval2 li.active{
    border: solid 1px #9ebfc7;
    box-shadow: 0 0 2px 1px #9EBFC7;
    background: url(../images/bgs/date_interval_selected_bg.png) repeat-x;
}
#compare_interval li:hover, #compare_interval2 li:hover{
    border: solid 1px #9ebfc7;
    box-shadow: 0 0 2px 1px #9EBFC7;
    background: url(../images/bgs/date_interval_selected_bg.png) repeat-x;
}
#compare_interval li:first-child, #compare_interval2 li:first-child{
    -webkit-border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
#compare_interval li:last-child, #compare_interval2 li:last-child{
    -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
#dashboard, #dashboard2{
    position: relative;
    clear: both;
    width: 100%;
}
#control, #control2{
    width: 90%;
    height: 55px;
    display: block;
    margin: 10px auto;
}
#chart, #chart2{
    width: 100%;
    height: 300px;
    margin-top: 20px;
}
#chart.pp{
    padding-top: 7px;
}
.period_tag{
    float: left;
    line-height: 30px;
    font-weight: 700;
    margin-right: 5px;
    font-size: 13px;
    color: #878787;
}
#chart rect{
    fill-opacity: .3;
}
.ui-slider-vertical{
    height: 211px !important;
    position: absolute !important;
    right: 25px;
    top: 66px;
}
button{
    height: 25px;
}
a.aqua_btn:hover{
    text-decoration: none;
}
.aqua_btn{
    text-align: center;
    background: url(../images/bgs/aqua_button.png) repeat-x;
    border: solid 1px #78939a;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 0 0 4px #999;
    padding: 3px;
}
.aqua_btn:active{
    background: #c7d9dd;
}
#weekly_summary{
    clear: both;
    padding-top: 3em;
}
#weekly_summary h1{
    font-size: 18px;
    height: 22px;
    background: url(../images/imgs_icns/electric_icon.png) no-repeat;
    padding-left: 39px;
    line-height: 22px;
    color: #878787;
    font-weight: 700;
}
#weekly_summary div.selector{
    width: 88px;
}
#weekly_summary div.selector select{
    min-width: 100px !important;
}
#weekly_summary div.selector span{
    width: 62px;
}
.vs_tag{
    color: #920d50;
    font-weight: 700;
}
#weekly_summary table{
    width: 90%;
    display: block;
    margin: 3em auto;
    border-collapse: collapse;
    color: #6d6d6d;
}
#weekly_summary table thead tr{
    text-align: left;
    background-color: #CFCFCF !important;
}
#weekly_summary table td, #weekly_summary table th{
    padding: 3px;
}
#weekly_summary table tr.bg_gray{
    background-color: #e0e0e0;
    font-weight: 700;
}
div.container{
    border: solid 1px #DDD;
}
#report_div p{
    font-weight: 700;
    width: 90%;
    margin: 0 auto;
    color: #878787;
}
#report_div p span{
    font-size: 14px;
}
#compare_week_contrls,#main_week{
    float: left;
}
#compare_week_contrls{
    display: none;
}
#check_compare{
    margin-top: 2px;
}
#export_csv{
    color: #666;
    font-weight: 700;
    margin: 7px;
}

.chart-column-active{
    font-weight: bold;
}

.chart-column-not-active{
    font-weight: normal;
}
#parameter_controls{
    position: relative;
    background: #eaeaea;
    top: 53px;
    width: 93%;
    left: 66px;
    padding-left: 15px;
}
#parameter_controls .checker{
    z-index: 3;
}


.statistics_power_profile{
    margin: 1%;
}

#statistic_tables .grid_container{
    width: 100% !important;
}
.grid_container{
    border: solid 1px #9EBFC7;
    border-radius: 7px;
    overflow: hidden;
    width: 800px;
    display: block;
    margin: 65px auto 10px auto;
}
.grid_container table{
    width: 100%;
    color: #6c6c6c;
    border-collapse: collapse;
    border-spacing: 0;
}
.grid_container table th a{
    color: #6c6c6c;
}
.grid_container table td{
    padding-left: 10px;
}
.grid_container table td.table_value{
    text-align: center;
}
.grid_container table td, .grid_container table th{
    border: solid 1px #9EBFC7;
    vertical-align: middle;
}
.grid_container table tr:first-child th {
    border-top: 0;
}
.grid_container table tr#table_h{

}
.grid_container table tr:last-child td {
    border-bottom: 0;
}
.grid_container table tr td:first-child,
.grid_container table tr th:first-child {
    border-left: 0;
}
.grid_container table tr td:last-child,
.grid_container table tr th:last-child {
    border-right: 0;
}
.grid_container table tr{
    height: 30px;
}
.grid_container table thead tr{
    background: url(../images/bgs/bread_crumbs_bg.png) repeat-x;
}
.grid_container table tr.row1{
    background-image: linear-gradient(top, rgb(252,253,253) 12%, rgb(240,245,247) 56%) !important;
    background-image: -o-linear-gradient(top, rgb(252,253,253) 12%, rgb(240,245,247) 56%) !important;
    background-image: -moz-linear-gradient(top, rgb(252,253,253) 12%, rgb(240,245,247) 56%) !important;
    background-image: -webkit-linear-gradient(top, rgb(252,253,253) 12%, rgb(240,245,247) 56%) !important;
    background-image: -ms-linear-gradient(top, rgb(252,253,253) 12%, rgb(240,245,247) 56%) !important;

    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0.12, rgb(252,253,253)),
        color-stop(0.56, rgb(240,245,247))
    ) !important;
}
.grid_container table tr.row2{
    background: #fff;
}
.grid_container a, .grid_container a:active{
    color: #6c6c6c;
}
#table_footer{
    border-top: solid 1px #9EBFC7;
    height: 39px;
    padding-top: 9px;
    background-image: linear-gradient(bottom, rgb(240,240,240) 47%, rgb(255,255,255) 74%);
    background-image: -o-linear-gradient(bottom, rgb(240,240,240) 47%, rgb(255,255,255) 74%);
    background-image: -moz-linear-gradient(bottom, rgb(240,240,240) 47%, rgb(255,255,255) 74%);
    background-image: -webkit-linear-gradient(bottom, rgb(240,240,240) 47%, rgb(255,255,255) 74%);
    background-image: -ms-linear-gradient(bottom, rgb(240,240,240) 47%, rgb(255,255,255) 74%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.47, rgb(240,240,240)),
        color-stop(0.74, rgb(255,255,255))
    );
}
#showing_week{
    display: block;
    width: 50%;
    text-align: center;
    margin: 9px auto 0 auto;
}
#showing_week span{
    font-size: 19px !important;
}
#showing_week .sem_count{
    font-weight: 700;
}

#control_container{
    display: block;
    margin: 0 auto;
    position: relative;
    width: 1000px;
}
.left_grip, .right_grip{
    display: block;
    width: 20px;
    height: 26px;
    cursor: pointer;
    position: absolute;
}
.left_grip{
    background: url("../images/imgs_icns/left_grip.png") no-repeat;
    left: 0;
    top: 14px;
}
.right_grip{
    background: url("../images/imgs_icns/right_grip.png") no-repeat;
    right: 0;
    top: 14px;
}
.left_legend, .right_legend{
    display: inline-block;
    width: 35px;
    height: 11px;
    cursor: pointer;
}
.left_legend{
    background: url("../images/bgs/arrow_left.png") no-repeat center;
}
.right_legend{
    background: url("../images/bgs/arrow_right.png") no-repeat center;
}
#dias{
    width: 1050px;
    display: block;
    margin: 13px auto 0 auto;
}
#dias_profile{
    width: 1050px;
    display: block;
    margin: 40px auto 0 auto;
}
#dias span, #dias_profile span{
    font-size: 13px;
    width: 14.28%;
    display: block;
    text-align: center;
}

.messi{
    top: 50px !important;
}
.messi .btn{
    padding-top: 0 !important;
}
.month_param{
    color: #636363;
}
.title_tile{
    font-size: 17px;
}
.units_tile{
    font-size: 50px;
}
.month_param{
    margin-top: 20px;
}
.month_param p{
    font-size: 14px;
}
#parameter_details{
    margin-top: 77px !important;
}
.param_value{
    color: #9b205c;
    font-size: 14px;
}
#demanda .g8{
    margin-top: 12px;
}
.green{
    color: #3e8e17;
    font-weight: 700;
}