#datepicker_component{
    position: relative;
    float: right;
    width: 400px;
}
#date_ranges{
    display: block;
    float: right;
    width: 200px;
    color: #666;
}
#date_ranges label#compare_prev_date{
    font-weight: 700;
    display: inline-block;

}
#date_ranges div{
    display: inline-block;
    width: 87px;
}
#date_ranges div label{
    display: block;
}
#date_ranges div{
    display: inline-block;
}
#date_ranges div input[type=text]{
    width: 80px;
}
#date_ranges .checker{
    width: 15px;
}
#date_ranges .aqua_btn{
    display: block;
    margin: 4px auto;
    width: 103px;
}
#widgetField{
    text-align: center;
    width: 320px;
    height: 26px;
    float: right;
    line-height: 26px;
    background: url(../images/bgs/datepicker_select_bg.png) repeat-x #fff;
    border: solid 1px #BDBDBD;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    cursor: pointer;
}
#widgetField span{
    width: 90%;
    float: left;
}
#widgetField a{
    float: right;
    width: 21px;
    background: url(../images/imgs_icns/arrow_down_sm_gray.png) no-repeat 0 50%;
    display: inline-block;
    text-decoration: none;
}
#datepicker{
    z-index: 2;
    padding: 11px 3px 0 3px;
    width: 592px;
    left: -201px;
    top: 27px;
    position: absolute;
    border: solid 1px #BDBDBD;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    background: whiteSmoke;
    display: none;
}
#widgetCalendar,#widgetCalendar2, #widgetCalendar3,#widgetCalendar4{
    float: left;
    width: 392px;
    height: 170px;
}
#widgetCalendar2,#widgetCalendar3,#widgetCalendar4{
    display: none;
}
#divider_top.divider{
    margin-top: 40px;
}

#types_graphs{
    background: url(../images/bgs/bread_crumbs_bg.png);
    margin-top: 10px;
    height: 37px;
    line-height: 32px;
}
#types_graphs ul li.active{
    background: #fff;
}
#types_graphs ul li{
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-right: solid 1px #D6D6D6;
    border-left: solid 1px #D6D6D6;
    border-top: solid 1px #D6D6D6;
    padding: 0 8px;
    float: left;
    background: #E4E4E4;
    height: 27px;
    margin-top: 4px;
    cursor: pointer;
}
#types_graphs ul li:hover{
    background: #fff;
}
#types_graphs ul li a{
    color: #424242;
    font-size: 12px;
}
#types_graphs ul li a:hover{
    text-decoration: none;
}
#compare span{
    color: #636363;
}
#compare span.compared{
    font-weight: 700;
    margin: 0 5px;
}
#compare span.vs_tag{
    color: #920d50;
    font-weight: 700;
}
#compare_interval li{
    color: #636363;
    font-weight: 700;
    cursor: pointer;
}
#compare_interval li{
    float: left;
    border: solid 1px #bdbdbf;
    height: 23px;
    background: url(../images/bgs/date_interval_selector_bg.png) repeat-x;
    line-height: 23px;
    width: 65px;
    text-align: center;
    margin: 0;
}
#compare_interval li:hover{
    border: solid 1px #9ebfc7;
    box-shadow: 0 0 2px 1px #9EBFC7;
    background: url(../images/bgs/date_interval_selected_bg.png) repeat-x;
}
#compare_interval li.active{
    border: solid 1px #9ebfc7;
    box-shadow: 0 0 2px 1px #9EBFC7;
    background: url(../images/bgs/date_interval_selected_bg.png) repeat-x;
}
#compare_interval li:first-child{
    -webkit-border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
#compare_interval li:last-child{
    -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
#dashboard{
    clear: both;
    width: 100%;
}
#control{
    width: 90%;
    height: 55px;
    display: block;
    margin: 10px auto;
}
#chart{
    width: 100%;
    height: 300px;
    margin-top: 20px;
}
.period_tag{
    float: left;
    line-height: 30px;
    font-weight: 700;
    margin-right: 5px;
    font-size: 13px;
    color: #878787;
}
#graph_container{
    width: 100%;
    overflow: hidden;
}

iframe{
    width: 100%;
    overflow: hidden !important;
}
#chart rect{
    fill-opacity: .3;
}
#title_lb{
    font-size: 16px;
    font-weight: 400;
    display: block;
    margin: 1em auto;
}
#title_lb span{
    font-weight: 700;
    font-size: 16px;
}
#notice{
    font-size: 12px;
}
ul#partes{
    margin-top: 1em;
}
ul#partes li{
    margin-left: 2em;
}
ul#partes li a{
    font-size: 14px;
    line-height: 150%;
    color: #909aa2;
}
ul#partes li a:hover{
    color: #505e68;
}

ul#permissions li a{
    text-decoration: none;
    line-height: 125%;
    font-weight: 700;
    color: #666;
}
#week_sumary td{
    text-align: center;
}
#week_sumary tr.datos_semana td{
    margin-top: 1em;
    height: 32px;
    vertical-align: middle !important;
    color: #878787;
}
#week_sumary th{
    color: #666;
}
#graphic_container{
    width: 960px;
    margin: 0 auto;
}
h3{
   background: url("../images/imgs_icns/electric_icon.png") no-repeat;
    height: 22px;
    padding-left: 39px;
    display:block;
    margin-bottom: 5px;
    color:#666 !important;
    float:left;
    font-size: 20px;
    font-weight: 100;
    margin-top: 10px;
}

#upload_buttons
{
    position: relative;
    top: 20px;
}
#formulario p button{
    position: relative;
    top: 20px;
}
#formulario{
    display: block;
    overflow: hidden;
    clear: both;
    margin-top: 40px;
}