table.datepickerViewDays th{
    font-weight: lighter;
    text-transform: capitalize;
}
.ringl, .ringr{
    top: 36px;
    background: url("../images/bgs/ring.png");
    display: inline-block;
    width: 17px;
    height: 42px;
    position: relative;
    z-index: 1;
}
.ringl{
    left: 50px;

}
.ringr{
    right: -530px;
}
#widgetCal{
    width: 530px;
    height: 764px;
    display: block;
    margin: 0 0 0 165px;
    position: relative;
}

.datepickerContainer{
    width: 530px;
}
.datepickerContainer table{
    box-shadow: 2px 2px 5px #ccc;
    -moz-box-shadow: 2px 2px 5px #ccc;
}
table.datepickerViewDays{

}
table.datepickerViewDays thead tr:first-child,
table.datepickerViewMonths thead tr:first-child,
table.datepickerViewYears thead tr:first-child{
    background-image: linear-gradient(bottom, #353741 11%, #696B7B 56%);
    background-image: -o-linear-gradient(bottom, #353741 11%, #696B7B 56%);
    background-image: -moz-linear-gradient(bottom, #353741 11%, #696B7B 56%);
    background-image: -webkit-linear-gradient(bottom, #353741 11%, #696B7B 56%);
    background-image: -ms-linear-gradient(bottom, #353741 11%, #696B7B 56%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.11, #353741),
        color-stop(0.56, #696B7B)
    );
    width: 760px;
}
table.datepickerViewDays thead tr:first-child th,
table.datepickerViewMonths thead tr:first-child th,
table.datepickerViewYears thead tr:first-child th{
    height: 36px;
}
table.datepickerViewDays th.datepickerMonth a,
table.datepickerViewMonths th.datepickerMonth a,
table.datepickerViewYears th.datepickerMonth a
{
    height: 36px;
}
table.datepickerViewDays th.datepickerMonth a span,
table.datepickerViewMonths th.datepickerMonth a span,
table.datepickerViewYears th.datepickerMonth a span{
    color: #fff;
    font-family: helvetica,sans-serif;
    font-weight: bold !important;
    text-shadow: -1px -1px #666;
    font-size: 17px !important;
    line-height: 36px !important;
}

.datepickerGoPrev a span, .datepickerGoNext a span{

    display: inline-block;
    width: 13px;
    height: 18px;
}
.datepickerGoPrev a span{
    background: url("../images/bgs/calendar_arrow_l.png") no-repeat;
}
.datepickerGoNext a span{
    background: url("../images/bgs/calendar_arrow_r.png") no-repeat;
}
table.datepickerViewDays tr.datepickerDoW{
    background-image: linear-gradient(bottom, #DBE2E7 11%, #F3F5F7 56%);
    background-image: -o-linear-gradient(bottom, #DBE2E7 11%, #F3F5F7 56%);
    background-image: -moz-linear-gradient(bottom, #DBE2E7 11%, #F3F5F7 56%);
    background-image: -webkit-linear-gradient(bottom, #DBE2E7 11%, #F3F5F7 56%);
    background-image: -ms-linear-gradient(bottom, #DBE2E7 11%, #F3F5F7 56%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.11, #DBE2E7),
        color-stop(0.56, #F3F5F7)
    );
    height: 25px;


}
table.datepickerViewDays tr.datepickerDoW th span{
    text-shadow: 1px 1px #fff;
    font-size: 17px !important;
    line-height: 25px;
    font-family: helvetica, sans-serif;
    color: #6e6e6e;
}
table.datepickerViewDays tr.datepickerDoW th{
    width: 113px;
}
table.datepickerViewDays tr.datepickerDoW th:first-child{
    width: 23px;
}
table.datepickerViewDays td{
    height: 80px !important;
    border: solid 2px #e7e9ea;
    padding: 2px 7px;
}
table.datepickerViewDays td.datepickerNotInMonth{
    background: rgba(230, 230, 230, 0.2);
    opacity: 0.6;
}
table.datepickerViewDays td:not(.datepickerNotInMonth){

    background-image: linear-gradient(bottom, #F2F6F8 11%, #F3F5F7 56%);
    background-image: -o-linear-gradient(bottom, #F2F6F8 11%, #F3F5F7 56%);
    background-image: -moz-linear-gradient(bottom, #F2F6F8 11%, #F3F5F7 56%);
    background-image: -webkit-linear-gradient(bottom, #F2F6F8 11%, #F3F5F7 56%);
    background-image: -ms-linear-gradient(bottom, #F2F6F8 11%, #F3F5F7 56%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.11, #F2F6F8),
        color-stop(0.56, #F3F5F7)
    );
    -moz-box-shadow: inset 0 0 2px #fff;
    -webkit-box-shadow: inset 0 0 2px #fff;
    box-shadow: inner 0 0 2px #fff;
}
table.datepickerViewDays td a span{
    color: #930c50;
    font-size: 13px;
}
/*-----MONTH PICKER-----*/
table.datepickerViewMonths,
table.datepickerViewYears{
    width: 760px;
}
table.datepickerViewMonths td,
table.datepickerViewYears td{
    width: 190px;
    height: 104px;
    vertical-align: middle !important;
}
table.datepickerViewMonths td a,
table.datepickerViewYears td a{
    display: block;
    margin: 0 auto;
}
table.datepickerViewMonths td a span,
table.datepickerViewYears td a span{
    font-size: 18px;
    font-weight: bold;
}

/*----INNER TEXT----*/
.inner_day{
    margin-top: 20px;
    display: block;
    height: 60px;
    width: 80px;
}
.inner_day span{
    color: #666666;
}
.inner_day .red{
    color: #FFF !important;
    background-color: #c30000;
    font-weight: 700 !important;
    display: block;
    margin: 0 auto !important;
    padding: 0 !important;
    text-align: center !important;
}
.inner_day .green{
    color: #FFF !important;;
    background-color: #58b11d;
    font-weight: 700 !important;
    display: block;
    margin: 0 auto !important;
    padding: 0 !important;
    text-align: center !important;
}
.demanda_max, .title_inner, .consumo{
    display: block;
    text-align: left !important;
}
.title_inner{
    display: block;
    font-size: 0 !important;
}
.datepicker .demanda_max, .datepicker .consumo{
    font-size: 11px !important;
    font-weight: 700;
    line-height: 25px;
}
.inner_day .demanda_max{
    padding-left: 23px;
    margin-left: 2px;
    color:#9441e5;
    font-weight:100;
}
.inner_day .consumo{
    padding-left: 19px;
    margin-left: 4px;
    color:#fe0054;
    font-weight:100;
}
.datepickerSelected{
    background-image: linear-gradient(bottom, #E0E0E0 17%, #F0F0F0 59%) !important;
    background-image: -o-linear-gradient(bottom, #E0E0E0 17%, #F0F0F0 59%) !important;
    background-image: -moz-linear-gradient(bottom, #E0E0E0 17%, #F0F0F0 59%) !important;
    background-image: -webkit-linear-gradient(bottom, #E0E0E0 17%, #F0F0F0 59%) !important;
    background-image: -ms-linear-gradient(bottom, #E0E0E0 17%, #F0F0F0 59%) !important;

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.17, #E0E0E0),
        color-stop(0.59, #F0F0F0)
    ) !important;
}

.day_cal a{
    font-size: 13px !important;
    width: 80px !important;
    position: absolute;
    height: 80px !important;
    text-align: left;
    padding: 3px 4px;
}
.day_cal.datepickerSelected a span{
    font-weight: 700;
}
h2.titulo_reporte span{
    color: #4d5b65;
    font-size: 20px !important;
}
h2.titulo_reporte .building{
    font-weight: 700;
}
h2.titulo_reporte .device{
    font-weight: 300;
}
h3.titulo_reporte{
    font-size: 14px;
    color: #878787;
}
#titulo_reporte.report_icon{
    background: url("../images/imgs_icns/graph_icon.png") no-repeat;
    height: 22px;
    padding-left: 39px;
    display:block;
    margin-bottom: 5px;
    color:#666 !important;
    margin-top: 15px;
    float:left;
}
/*--------BARRA LATERAL------*/
#lateral.collapsed{
    display: none !important;
}
#lateral{
    background-image: linear-gradient(bottom, #F0F4F7 13%, #E0E2E3 57%);
    background-image: -o-linear-gradient(bottom, #F0F4F7 13%, #E0E2E3 57%);
    background-image: -moz-linear-gradient(bottom, #F0F4F7 13%, #E0E2E3 57%);
    background-image: -webkit-linear-gradient(bottom, #F0F4F7 13%, #E0E2E3 57%);
    background-image: -ms-linear-gradient(bottom, #F0F4F7 13%, #E0E2E3 57%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.13, #F0F4F7),
        color-stop(0.57, #E0E2E3),
        color-stop(0.79, #D3D3D3)
    );
    width: 178px;
    height: 510px;
    display: block;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 2px 2px 2px #ccc;
    -webkit-box-shadow: 2px 2px 2px #ccc;
    box-shadow: 2px 2px 2px #ccc;
    top: 91px;
    right: -264px;
    position: absolute;
    padding-right: 4px;
}
#lateral div.vacio{
    border-top: solid 1px #CCCCCC;
}
#lateral h2{
    float: none;
    color: #393b46;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    margin: 13px auto 5px auto;
}
#lateral h3{
    background: none;
    color: #1f728b;
    font-size: 22px;
    font-weight: 300;
    text-align: center;
    margin-top: 25px;
    padding: 0;
}
#lateral .lat_sep, #lateral h2, #lateral h3, #lateral #lat_consumo,
#lateral #lat_costo,#lateral #lat_demanda, #lateral .aditional,
#lateral .s_value, #lateral .m_value, #lateral .semana_cont,
#lateral .label_wvalue{
    display: block;
}
.lat_sep{
    height: 4px;
    width: 100%;
    background: url(../images/bgs/lat_separator.png) center no-repeat;
}
#lateral #close{
    background: url("../images/imgs_icns/close_lat.png") no-repeat center;
    width: 25px;
    height: 25px;
    display: block;
    top: -12px;
    right: -15px;
    position: absolute;
}
/*--------BARRA LATERAL DIA------*/
#lateral .energia_semanal, #lateral .demanda_semanal,
#lateral .costo_promedio_semanal, #lateral .factor_potencia{
    font-weight: 700;
    height: 16px;
    margin-left: 10px;
    text-align: left !important;
    text-indent: 0;
    color: #444651;
    display: block;
    font-size: 12px;
    margin-top: 10px;
    padding-top: 5px;
}
.no_bolder{
 font-weight: 100 !important;
}

#lat_consumo .m_value, #lat_demanda .m_value, #lat_costo .m_value,
#potencia_semanal .m_value{
    text-align: right;
    padding-top: 5px;
    height: 34px;
    margin-bottom: 5px;
    display: block;
}

#lat_consumo .m_value{
    background: url(../images/imgs_icns/energia_semanal.png) left top no-repeat !important;
}
#lat_demanda .m_value {
    background: url(../images/imgs_icns/demanda_semanal.png) left 3px no-repeat !important;
}
#lat_costo .m_value{
    background: url(../images/imgs_icns/costo_semanal.png) left 3px no-repeat !important;
}
#potencia_semanal .m_value{
    background: url(../images/imgs_icns/fp_semanal.png) left 3px no-repeat !important;
}
.s_value{
    display: block;
    padding-top: 3px;
    float: left;
}
.m_value{
    color: #393b46;
    font-size: 20px;
    font-weight: 700;
    margin-left: 10px;
}
.s_value{
    color: #595959;
    font-size: 13px;
    font-weight: 300;
    margin-left: 12px;
}
#lat_consumo span{
    display: block;
    margin-bottom: 5px;
}
#lateral a, #lateral a:active, #lateral a:visited{
    display: block;
    text-align: left;
    color: #00569e;
    text-decoration: underline;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 20px;

}
#lateral .aditional{
    font-size: 14px;
    color: #595959;
    margin-left: 40px;
    line-height: 125%;
}

.val_unit{
    font-weight: 700;
    text-align: center;
    margin-left: 10px;
}

.s_unit{
    font-weight: 100;
}
.val_unit, .s_unit{
    padding: 4px 2px 0 2px;
    display: block;
    width: 25px;
    height: 15px;
    float: right;
    color: #fff;
    margin-bottom: 0 !important;
    text-align: center;
}
#lat_consumo .s_unit{
    background-color: #ffb95f;
}

#lat_consumo .val_unit{
    background-color: #ff9000;
}

#lat_demanda .s_unit{
    background-color: #9441e5;
}

#lat_demanda .val_unit{
    background-color: #bb84f0;
}
#potencia_semanal .val_unit{
    background-color: #33943e;
}

.s_label, .s_value{
    color: #595959;
    float: left;
    margin: 0 !important;
}
.s_label{
    text-indent: 10px;
    width: 50px;
}
.s_value{
    text-align: right;
    width: 75px;
}
#lat_demanda .s_value{
    width: 140px;
}

.link{
    font-size: 10px;
}
/*--------BARRA LATERAL SEMANA------*/
.semana_cont{
    height: 70px;
    margin: 5px 0;
}
.week_num{
    color: #a8a8a8;
    font-size: 14px;
    font-weight: 700;
    text-shadow: -1px -1px 0 #999,0 1px 0 #fefefe;
    margin-left: 10px;
    width: 55px;
}
.week_values_cont{
    color: #595959;
    font-size: 12px;
    margin-left: 10px;
    width: 166px;
}
.label_wvalue{
    font-weight: 700;
    font-size: 11px;
    float: left;
}
.wvalue{
    font-weight: 100;
    float: right;
}
/*-------TOP-------*/
#monthly_container{
    height: 50px;
    width: 100%;
    overflow: hidden;
}
#month_sumary{
    display: block;
    margin: 15px auto 0 auto;
    width: 891px;
    height: 140px;
    clear: both;
    overflow: hidden;
    background: url(../images/bgs/month_bg.png) top no-repeat !important;
}

.subtitle{
    margin-left: 47px;
    text-transform: uppercase;
    color: #666;
    font-size: 17px;
}

#month_sumary ul{
    display: block;
    width:100%
}
#month_sumary ul li{
    display: block;
    list-style: none;
    float:left;
    width:25%;
    margin: 0;
    color:white;
    text-align: center;
    line-height: 18px;
}
.icon_sumary{
    margin-left: 8px;
    float: left;
    height: 100px;
    text-align: left;
    width: 24%;
    text-indent: 5px;
}

.month_totals{
    float: left;
    width: 222px;
    margin-top: 5px;
}


.icon_sumary span{
    display: block;
    color: #898989;
    font-weight: 700;
    font-size: 10px;
}


.icon_sumary #cons_total{
    background: url(../images/imgs_icns/consumo_mensual.png) 5px center no-repeat;
    padding-left: 28px;
    padding-right: 37px;
    text-align: right;
    color: #fe0054;
}
.icon_sumary #dem_total{
    background: url(../images/imgs_icns/demanda_semanal.png) 5px center no-repeat;
    padding-left: 28px;
    padding-right: 37px;
    text-align: right;
    color: #9441e5;
}
.icon_sumary #emit_total{
    background: url(../images/imgs_icns/fp_semanal.png) 5px center no-repeat;
    padding-left: 28px;
    padding-right: 37px;
    text-align: right;
    color: #207b2b;
}
.icon_sumary #pp_total{
    background: url(../images/imgs_icns/co2_mensual.png) 5px center no-repeat;
    padding-left: 28px;
    padding-right: 37px;
    text-align: right;
    color: #1a89e7;
}

.consumo_t .label_icon{
    color: #fe0054;
}

.demanda .label_icon{
    color: #9441e5;
}

.emisiones .label_icon{
    color: #207b2b;
}

.potencia .label_icon{
    color: #1a89e7;
    left: 2px;
}

.label_icon{
    position: relative;
    top: -13px;
    font-size: 12px;
    text-align: left;
    left: -5px;
}

#cons_total, #dem_total, #emit_total, #pp_total{
    font-size: 22px !important;
    font-weight: 300 !important;
    height: 53px;
    line-height: 55px;
}
.month_totals span{
    float: left;
    color: #898989;
    font-size: 13px;
    margin: 3px 0 0 8px;
}
.month_totals .label_tot{
    width: 49px;
}
.month_totals .value_tot{
    text-align: right;
    width: 117px;
    font-weight: 100;
}
/*--------boton lateral - semana---------*/
#week_consumed, #week_demand, #week_s{
    position: absolute;
    color: #ffe9ed;
    font-size: 12px;
    font-weight: 700;
    display: block;
    width: 60px;
    height: 12px;
    line-height: 14px;
    border: none;
    cursor: default;
    text-align: center;
    left: -60px;
    padding: 3px 5px;
}
#week_consumed {
    background: #fe0054;
    top: 174px;
}
#week_demand {
    background: #9441e5;
    top: 150px;
}
#week_s{
    background: #95c1e6;
    top: 90px;
    height: 27px;
    cursor: pointer;
}
.datepickerContainer table table{
    width:597px !important;
}
#headers_mr li{
    position: relative;
}
#headers_mr li span{
    padding-top: 17px;
    font-weight: 700;
    position: absolute;
    width: 33px;
    top: 19px;
    right: 0;
}
#headers_mr li span#kwh{
    background-color: #ff9bbd;
    height: 115px;
}
#headers_mr li span#kw{
    background-color: #bc99dd;
    height: 56px;
}
#headers_mr li span#pc{
    background-color: #84d68e;
    height: 56px;
}
#headers_mr li span#ton{
    background-color: #95c1e6;
    height: 56px;
}