{% extends "base.html" %}
{% block titulo %}Reportes{% endblock %}
{% block externalcss %}
    <link rel="stylesheet" href="/static/css/consumption_centers/cfe_bill.css">
    <!--<link rel="stylesheet" href="/static/datepicker/css/datepicker.css" type="text/css" />-->
{% endblock %}
{% block externaljs %}
    <!--<script type="text/javascript" src="/static/datepicker/js/datepicker.js"></script>-->
    <script type="text/javascript" src="http://www.google.com/jsapi"></script>


    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/base/jquery-ui.css">
    <script type="text/javascript" src="/static/js/external/jqueryUniform/jquery.uniform.min.js"></script>

    <script type="text/javascript">
        google.load('visualization', '1', {packages: ['corechart']});
    </script>
    <script type="text/javascript">
        function graphsReload(){
            /* Takes the date in the range inputs and reloads the graph data */

            var f1_init = encodeURIComponent($("#range1_init").val());
            var f1_end = encodeURIComponent($("#range1_end").val());

            if(f1_init != ''){
                var url = "/reportes/cfe/?";
                url += "f1_init=" + f1_init;
                if(f1_end != ''){
                    url += "&f1_end="+f1_end;
                }else{
                    url += "&f1_end=" + encodeURIComponent(new Date().format("yyyy-mm-dd"));
                }

                window.location.href = url;
            }

        }

        function cfeReload(){

            var month = $("#id_month").val();
            var year = $("#id_year").val();

            var url = '/reportes/cfe_calculos/'
            url += '?month='+month+"&year="+year;

            //$("#cfe_container").append('<img src="/static/css/images/spinner.gif" id="spinner" alt="cargando" style="display: block; margin: 0 auto; width: 200px;">');
            //$('#cfe_container').load(url, function(){$("#spinner").remove();});

            $('#cfe_container').addClass('iframe_spinner');
            makeIframe(url);

        }

        function refresh_iframe_height(){
            // regresca el height del iframe para ajustarse a su conte
            setTimeout("parent.document.getElementById('graphFrame').height = document['body'].offsetHeight;", 1000);
        }
        function makeIframe(src){
            var graphFrame = document.createElement("IFRAME");
            graphFrame.id = "graphFrame";
            graphFrame.src = src;

            $("#cfe_container").html(graphFrame);
            if (navigator.userAgent.indexOf("MSIE") > -1 && !window.opera) {
                graphFrame.onreadystatechange = function(){
                    if (graphFrame.readyState == "complete"){
                        $('#cfe_container').removeClass('iframe_spinner');
                    }
                };
            } else {
                graphFrame.onload = function(){
                    $('#cfe_container').removeClass('iframe_spinner');
                };
            }
            refresh_iframe_height()
        }

        /*
         function drawVisualization() {
         // Create and populate the data table.
         var data = google.visualization.arrayToDataTable([
         ['Mes', 'Base', 'Media', 'Punta'],
        {% for hist in  historico%}
             ['{{ hist.fecha|date:"m/Y" }}', {{ hist.kw_base }}, {{ hist.kw_intermedio }}, {{ hist.kw_punta }}],
        {% endfor %}
         ]);

         // Create and draw the visualization.
         new google.visualization.ColumnChart(document.getElementById('visualization')).
         draw(data,
         {
         width:570, height:325,}
         );
         }


         google.setOnLoadCallback(drawVisualization);*/
    </script>
{% endblock %}
{% block document_ready %}
    $("select, input, input:checkbox, input:radio, input:file").uniform();
    $(".desp").click(function(){
    $(this).next().slideToggle();
    });
    $("#nav_toggle").click(function(){
    if($("#sidebar").hasClass("collapsed_nav")){

    $("#sidebar").animate({width: 'toggle',}, 500, function(){console.log("quito la clase");
    $(this).removeClass("collapsed_nav");
    });
    $("#sidebar_content").show('slide', {direction: 'right'}, 100);
    $("footer").show('slide', {direction: 'right'}, 100);

    }else{
    $("#sidebar").addClass("collapsed_nav");
    $("#sidebar_content").hide('slide', {direction: 'left'}, 100);
    $("footer").hide('slide', {direction: 'left'}, 100);
    $("#sidebar").animate({width: 'toggle',}, 500);
    }
    $("#nav_toggle").toggleClass("closed");
    });

    var now3 = new Date();
    now3.addDays(-60);
    var now4 = new Date();


    $('.date-picker').datepicker( {
    changeMonth: true,
    changeYear: true,
    showButtonPanel: true,
    dateFormat: 'MM yy',
    monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
    monthNames: ['Enero','Febrero','Marzo','Abril','Mayo','Junio', 'Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'],
    currentText: 'Hoy',
    closeText: 'Listo',
    onClose: function(dateText, inst) {
    var month = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
    var year = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
    $('#id_month').val(month)
    $('#id_year').val(year)
    $(this).datepicker('setDate', new Date(year, month, 1));
    cfeReload();
    }
    });


    var state = false;
    $('#widgetField').click(function(){
    $('#datepicker').slideToggle();
    });
    $("#date_ranges .aqua_btn").click(function(e){
    e.preventDefault();
    $('#datepicker').slideUp();
    graphsReload();
    });


    //custom select for sidebar
    $("#empresa").click(function(){
    $("#company_list").slideToggle();
    });
    $("#company_list li").click(function(){
    var texto=$(this).text().replace(/^\s*|\s*$/g,'');
    var texto1=texto.substring(0,17)+"...";
    $("#empresa").text(texto1);
    $("#company_list").slideUp();
    //reload with the selected company data
    window.location.href="/reportes/set_default_building/"+$(this).attr("rel")+"/?referer=cfe";


    });
{% endblock %}
{% block contenido %}

    <style>
        .ui-datepicker-calendar {
            display: none;
        }
        #datepicker_component{
            width: 300px;
        }

        #startDate{
            width: 160px;
            padding-left: 80px;
            background-color: white;
            color: #000000;
        }

    </style>
    <div id="bread_crumbs">
        <ul>
            <li><a href="/main/">Inicio</a></li>
            <li><a href="/reportes/cfe/">Recibo CFE</a></li>
        </ul>

    </div>
    <div id="contenido_interno">
        <h2 id="titulo_reporte">Reporte de CFE</h2>

        <div class="divider" id="divider_top">&nbsp;</div>

        <div id="types_graphs">
            <ul>
                <li class="active"><a href="#">Reporte CFE</a></li>
            </ul>
        </div>
        <div id="data_container">
            <h3>{{ empresa.building_name }}</h3>
            <input type="hidden" name="empresa_act" id="empresa_act" value="{{ empresa.pk }}"/>
            <div id="datepicker_component">
                <span class="period_tag">Periodo</span>

                <input name="startDate" id="startDate" class="date-picker" />
                <input type="hidden" name="month" id="id_month">
                <input type="hidden" name="year" id="id_year">

            </div>
            <div class="vacio"></div>
            <div id="cfe_container">
                <iframe src="/reportes/cfe_calculos/" id="graphFrame"></iframe>
            </div>


        </div>


    </div>
{% endblock %}