<!DOCTYPE html>
<html>
<head>

    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>
        Jerarqu&iacute;a de unidades de consumo
    </title>

    <link rel="stylesheet" href="/static/js/external/jOrgChart/css/jquery.jOrgChart.css"/>

    <link rel="stylesheet" href="/static/css/consumption_centers/iframe_consumer_units.css">


    <script type="text/javascript" src="/static/jquery-ui-1.8.23/js/jquery-1.8.0.min.js"></script>
    <script type="text/javascript" src="/static/jquery-ui-1.8.23/js/jquery-ui-1.8.23.custom.min.js"></script>
    <script type="text/javascript" src="/static/js/external/jOrgChart/jquery.jOrgChart.js"></script>
    <script>
        jQuery(document).ready(function() {
            $("#org").jOrgChart({
                chartElement : '#chart',
                dragAndDrop  : false
            });

            $("#chart a").click(function(e){
                e.preventDefault();

                var texto = $(this).text();
                $.ajax({
                    url: "/reportes/set_c_u/"+$(this).attr("rel"),
                    type: "GET",
                    dataType: 'json',
                    async: 'true',
                    success: function(datos){
                        parent.jQuery("h2#titulo_reporte span").text(texto);
                        //parent.makeIframe("");
                        //$.fancybox.close( true );
                        parent.window.location.reload();// = "/";
                        parent.jQuery.fancybox.close();
                    }
                });
            });
        });
    </script>
</head>
<body>
<h1 id="title_lb">Cambiar la unidad de consumo de <span>{{ building.building_name }}</span></h1>
<p id="notice">
    Selecciona la parte del edificio que deseas consultar.
</p>
<div id="list">
    {% autoescape off %}{{ hierarchy }}{% endautoescape %}
</div>

<div id="chart"></div>
</body>
</html>