{% extends "base.html" %}
{% block titulo %}Crear jerarqu&iacute;a de partes de edificio y medidores{% endblock %}

{% block externalcss %}
    <link rel="stylesheet" href="/static/css/forms/main.css" type="text/css" />
    <link rel="stylesheet" href="/static/css/forms/c_centers.css" type="text/css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}js/external/jOrgChart/css/jquery.jOrgChart.css"/>
    <link rel="stylesheet" href="/static/css/consumption_centers/consumer_units_tree.css">
    <link rel="stylesheet" href="/static/js/external/fancybox/jquery.fancybox.css" type="text/css" />
{% endblock %}
{% block externaljs %}
    <script type="text/javascript" src="/static/js/external/fancybox/jquery.fancybox.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}jquery-ui-1.8.23/js/jquery-ui-1.8.23.custom.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/external/jOrgChart/jquery.jOrgChart.custom.js"></script>
    <script type="text/javascript">

        function init_tree(){
            var opts = {
                chartElement : '#chart',
                dragAndDrop  : true
            };
            $("#chart").html("");
            $("#org").jOrgChart(opts);
        }
    var click_flag = true;

    function add_pw2cu(pw, cu){

    }
    function add_node(){

    }
    </script>
{% endblock %}
{% block document_ready %}
    init_tree();

    $(".del").live("click", function(e){
        var nodo=$(this);
        var texto = $.trim(nodo.parent().parent().find("a:eq(0)").text())

        $("#org").find("li").each(function(index, lista){
            var texto_lista = $.trim($(lista).find("a:eq(0)").text());
            if(texto_lista==texto){
                $(lista).remove();
                init_tree();

            }else{
                return;
            }
        });

    });
    $(".add").live("click", function(){
        click_flag=false;
    }).fancybox({
        maxWidth	: 800,
        maxHeight	: 800,
        fitToView	: false,
        width		: '70%',
        height		: '70%',
        autoSize	: false,
        closeClick	: false,
        openEffect	: 'none',
        closeEffect	: 'none',
        afterClose  : function(){click_flag=true;init_tree()}
    });
    $("#type_node").change(function(){
        var valor = parseInt($(this).val());
        $("#node_part").parent().find("span").text("Elija una opción");
        if (valor > 0){
            if(valor == 1){
                $("#label_node_part").text("Elija la parte del edificio");
                var url = "/buildings/add_partbuilding_pop/{{ building.pk }}/"
                var newwindow=window.open(url,'name','height=600,width=900');
                if (window.focus) {newwindow.focus()}
                return false;
            }else{
                $("#node_part").html();
                options = "<option value='0'>Elija una opci&oacute;n</option> ";
                options += "<option value='newed'>Crear un nuevo dispositivo o sistema el&eacute;ctrico</option> ";

                {% if electric_devices|length > 0 %}
                    {% for device in electric_devices %}
                        options += "<option value='{{ device.pk }}'>{{ device.electric_device_type_name }}</option> ";
                    {% endfor %}
                {% endif %}
                $("#node_part").html(options);
            }
        }
    });
    $("#node_part").change(function(){
        var val_added_cu = $("#node_part").val();
        pw = val_added_cu.split("_");
        if(pw.length>1){
            $("#prof_pwr").parent().parent().show("hidden");
        }else{
            if(val_added_cu == 'newed'){
                var url = "/buildings/add_electric_device_popup/"
                var newwindow=window.open(url,'name','height=600,width=800');
                if (window.focus) {newwindow.focus()}
                return false;
            }else{
                $("#prof_pwr").parent().parent().hide("hidden");
            }
        }
    });
    $("#prof_pwr").change(function(){
        var val_added_cu = $("#prof_pwr").val();
        if(val_added_cu == 'newpm'){
            var url = "/buildings/add_powermeter_popup/";
            var newwindow=window.open(url,'name','height=600,width=800');
            if (window.focus) {newwindow.focus()}
            return false;
        }
    });
    /*
    $(".add").live("click", function(e){
    var nodo=$(this);
    var texto = $.trim(nodo.parent().parent().find("p:eq(0)").text())

    $("#org").find("li").each(function(index, lista){
    var texto_lista = $.trim($(lista).find("p:eq(0)").text());

    if(texto_lista==texto){
    $(lista).removeClass("temp");
    init_tree();
    return false;
    }
    });

    })
    */


{% endblock %}


{% block contenido %}
    <div id="bread_crumbs">
        <ul>
            <li><a href="/main/">Inicio</a></li>
            <li><a href="/panel_de_control/">Administraci&oacute;n</a></li>
            <li><a href="/buildings/industrial_equipments/">Equipos Industriales</a></li>
            <li>Configurar Equipo Industrial</li>
        </ul>

    </div>
    <div id="contenido_interno" class="card">
        <h2 id="titulo_form" class="powermeter">
            Configurar Jerarqu&iacute;a de Partes y Medidores - {{ building.building_name }}
        </h2>


        <div class="divider" id="divider_top">&nbsp;</div>
        {% if message %}
            <span class="notif {{ msg_type }}">
                    {% autoescape off %}{{ message }}{% endautoescape %}
                    <a href="#" onclick="$(this).parent().remove(); History.replaceState({}, '', ' ');">X</a>
                </span>
        {% endif %}
        <p class="description">
            Pid nisi sed dictumst ac ultricies, vut velit pid, nascetur est ac nunc urna amet tempor cum in odio. Ultrices. Urna placerat in auctor, urna.
            <br/>
            Pid eu, nisi egestas. Enim in porttitor, sed nec tempor, cursus dictumst enim? Augue! Porttitor mid, risus cras! Non duis et turpis, adipiscing augue.
        </p>

        <div class="g12" id="form_container">
            <form action="." method="post">
                {% csrf_token %}
                <div id="hierarchy" class="g12">
                    <div id="chart"></div>
                    {{ list|safe }}
                </div>
                <div id="fancy">
                    <h1 id="title_lb">Crear Nuevo Nodo</h1>
                    <p id="notice">
                        Selecciona que tipo de nodo deseas agregar
                    </p>
                    <div class="g12" id="agregar_nodo">
                        <div class="g3">
                            <label class="fl"> Elija un tipo de nodo</label>
                            <select class="fl" id="type_node">
                                <option value="0">Elija una opci&oacute;n</option>
                                <option value="1">
                                    Parte de edificio
                                </option>
                                <option value="2">
                                    Sistema o dispositivo el&eacute;ctrico
                                </option>
                            </select>
                        </div>
                        <div class="g3 hidden">
                            <label class="fl" id="label_node_part" for="node_part"> Elija un tipo de nodo</label>
                            <select class="fl" id="node_part">
                                <option value="0">Elija una opci&oacute;n</option>
                            </select>
                        </div>
                        <div class="g3 hidden">
                            <label class="fl" id="label_pwer" for="prof_pwr"> Elija un medidor</label>
                            <select class="fl" id="prof_pwr">
                                <option value='0'>Elija una opci&oacute;n</option>
                                <option value='newpm'>Crear un nuevo medidor el&eacute;ctrico</option>
                                {% if prof_pwmeters|length > 0 %}
                                    {% for pm in prof_pwmeters %}
                                        options += "<option value='{{ pm.pk }}'>{{ pm.powermeter.powermeter_anotation }}</option> ";
                                    {% endfor %}
                                {% endif %}
                            </select>

                        </div>
                        <div class="g3 hidden">
                            <button id="add_node" class="aqua_btn">agregar</button>
                        </div>

                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}