{% extends "base.html" %}
{% load render_table from django_tables2 %}
{% block titulo %} Mediciones El&eacute;ctricas{% endblock %}
{% block externalcss %}
    <link rel="stylesheet" href="/static/django_tables2/themes/paleblue/css/screen.css" />
    <link rel="stylesheet" href="/static/css/consumption_centers/main.css" type="text/css" />
{% endblock %}
{% block document_ready %}
    var get = getUrlVars();
    $(".paleblue a, ul.pagination a").each(function(){
    var append_str = "";
    if(get.length>0){
    if (get[0]!=window.location.protocol+"//"+window.location.host+window.location.pathname){
    for(var i=0; i<get.length; i++){
    if (get[i]=="inicio" || get[i]=="fin"){
    append_str+="&"+get[i]+"="+get[get[i]];
    }
    }
    }
    }

    var href = $(this).attr("href")
    $(this).attr("href", href+append_str);
    });
{% endblock %}
{% block contenido %}
    {{ electric_data.as_html }}
{% endblock %}