{% extends "base.html" %}
{% block titulo %}An&aacute;lisis de Consumo El&eacute;ctrico Mensual - {{ building.building_name }}{% endblock %}
{% block externalcss %}
    <!--suppress HtmlUnknownTarget -->
    <link rel="stylesheet" href="/static/css/consumption_centers/main.css" type="text/css" />
    <link rel="stylesheet" href="/static/date_picker/css/datepicker2.css" type="text/css" />
    <link rel="stylesheet" href="/static/css/consumption_centers/montly_report.css" type="text/css" />
    <link rel="stylesheet" href="/static/js/external/fancybox/jquery.fancybox.css" type="text/css" />
{% endblock %}
{% block externaljs %}
    <script type="text/javascript" src="/static/js/external/fancybox/jquery.fancybox.js"></script>
    <script type="text/javascript" src="/static/date_picker/js/datepicker.js"></script>
    <script type="text/javascript">
        var fecha_act = new Date();
        var current_month = fecha_act.getMonth()+1;
        var current_year = fecha_act.getFullYear();
        var current_day = fecha_act.format("yyyy-mm-dd");
        var lateral;
        var jqxhr, jqxhr1;
    function get_full_month(){
        var maxx_d = 0;
        var minn_d = 9000000;
        var maxx_kwh = 0;
        var min_kwh = 9000000;
        var index_maxd, index_mind, index_maxkwh, index_minkwh;
        if(jqxhr && jqxhr.readyState != 4){
            jqxhr.abort();
        }
        jqxhr = $.ajax({
            url: "/buildings/month_analitics/"+String(current_year)+"/"+String(current_month)+"/",
            type: "GET",
            success: function(data){
                for(var i=0; i<data.length; i++){
                    var dato = data[i];
                    var div = "<div class='inner_day fr'>";
                    var class_d = '';
                    var class_k = '';
                    if(data[i].empty == "true"){
                        //div += "<span class='title_inner'>&nbsp;</span>";
                        div += "<span class='demanda_max'>-</span>";
                        div += "<span class='title_inner'>&nbsp;</span>";
                        div += "<span class='consumo'>-</span>";
                        div += "</div>";
                    }else{
                        div += "<span class='demanda_max "+class_d+"' id='demand_"+i+"'>"+ dato.max_demand +" kW</span>";
                        div += "<span class='title_inner'>&nbsp;</span>";
                        div += "<span class='consumo "+class_k+"' id='cons_"+i+"'>"+ dato.KWH_total +" kWh</span>";
                        div += "</div>";

                        var mes = parseInt(dato.fecha.split("-")[1], 10);
                        mes = String(mes);
                        current_month = parseInt(current_month, 10);
                        current_month = String(current_month);
                        if(mes === String(current_month)){
                            if(dato.max_demand > maxx_d){
                                maxx_d = dato.max_demand;
                                index_maxd = i;
                            }
                            if(dato.KWH_total > maxx_kwh){
                                maxx_kwh = dato.KWH_total;
                                index_maxkwh = i;
                            }
                            if(dato.max_demand < minn_d && dato.max_demand != 0){
                                minn_d = dato.max_demand;
                                index_mind = i;
                            }
                            if(dato.KWH_total < min_kwh && dato.KWH_total != 0){
                                min_kwh = dato.KWH_total;
                                index_minkwh = i;
                            }
                        }
                    }
                    var str_fecha = dato.fecha.split(" ")[0];
                    $("."+str_fecha).each(function(){
                        var dia = $(this).find("a span").text();
                        div = "<a href='#'><span>"+dia+"</span></a>"+div;
                        $(this).html(div);
                    });
                }
                $("#demand_"+index_maxd).addClass("red");
                $("#demand_"+index_mind).addClass("green");
                $("#cons_"+index_maxkwh).addClass("red");
                $("#cons_"+index_minkwh).addClass("green");
            }
        });
        //clean month data
        var month_totals = $(".month_totals");
        $("#cons_total").text("-");
        $("#dem_total").text("-");
        $("#pp_total").text("-");
        $("#emit_total").text("-");

        month_totals.find("#month_dem_min").text("-");
        month_totals.find("#month_cons_prom").text("-");
        month_totals.find("#month_cons_med").text("-");
        month_totals.find("#month_cons_des").text("-");
        if(jqxhr1 && jqxhr1.readyState != 4){
            jqxhr1.abort();
        }
        jqxhr1 = $.ajax({
            url: "/buildings/month_analitics_h/"+String(current_year)+"/"+String(current_month)+"/",
            type: "GET",
            success: function(data){
                var texto_kwh = '-';
                //console.log(data[0])
                if(data[0].consumo_acumulado != undefined){
                    texto_kwh = addCommas(data[0].consumo_acumulado) + "kWh";
                }
                $("#cons_total").html(texto_kwh);

                var texto_dt = '-';
                if(data[0].demanda_max != undefined){
                    texto_dt = addCommas(data[0].demanda_max) + "kW";
                }
                $("#dem_total").text(texto_dt);

                var texto_pf = '-';
                if(data[0].factor_potencia != undefined){
                    //console.log(data[0].factor_potencia)
                    texto_pf = String(data[0].factor_potencia.toFixed(2)) + "%";
                }
                $("#emit_total").text(texto_pf);

                var texto_emit = '-';
                if(data[0].emisiones != undefined){
                    texto_emit = addCommas(parseInt(data[0].emisiones)) + " TON";
                }
                $("#pp_total").text(texto_emit);




                var month_dem_min = '-';
                var month_cons_prom = '-';
                var month_cons_med = '-';
                var month_cons_des = '-';
                if(data[0].demanda_min != undefined){
                    month_dem_min = addCommas(data[0].demanda_min) + "kW";
                }
                if(data[0].consumo_promedio != undefined){
                    month_cons_prom = addCommas(data[0].consumo_promedio.toFixed(2));
                }
                if(data[0].consumo_mediana != undefined){
                    month_cons_med = addCommas(data[0].consumo_mediana.toFixed(2)) ;
                }
                if(data[0].consumo_desviacion != undefined){
                    month_cons_des = addCommas(data[0].consumo_desviacion.toFixed(2)) ;
                }
                month_totals.find("#month_dem_min").text(month_dem_min);
                month_totals.find("#month_cons_prom").text(month_cons_prom);
                month_totals.find("#month_cons_med").text(month_cons_med);
                month_totals.find("#month_cons_des").text(month_cons_des);
            }
        });
    }

    function load_day(day){
        var fecha = day.split("-");
        fecha = new Date(parseInt(fecha[0]), parseInt(fecha[1])-1, parseInt(fecha[2]));
        fecha = dateFormat(fecha, "dddd d, mmmm");
        $.ajax({
            url: "/buildings/month_analitics_day/?date="+day,
            type: "GET",
            success: function(data){

                data = data[0];
                var lateral_content = '<span id="close"></span>';
                lateral_content +=     '<h2>'+ fecha+'</h2>';
                lateral_content +=     '<span class="lat_sep"></span>';
                if(data.empty == "true"){
                    lateral_content +=     '<span class="no_data">No hay informaci&oacute;n para este d&iacute;a</span>';
                }else{
                    lateral_content +=     '<span class="no_bolder energia_semanal">Energía</span>';
                    lateral_content +=     '<div id="lat_consumo">';
                    lateral_content +=     '<span class="m_value">'+ addCommas(data.c_tot)+' kWh</span>';

                    if(data.electric_rate == '1'){
                        lateral_content +=     '<span class="s_value">'+ addCommas(data.c_base)+'kWh base</span>';
                        lateral_content +=     '<span class="s_value">'+ addCommas(data.c_int)+'kWh intermedia</span>';
                        lateral_content +=     '<span class="s_value">'+ addCommas(data.c_punta)+'kWh punta</span>';
                    }

                    lateral_content +=     '</div>';
                    lateral_content +=     '<a href="/main/?g_type=consumo&fechaGrafica=' + day + '">Ver en una gr&aacute;fica</a>';
                    lateral_content +=     '<span class="no_bolder demanda_semanal">Demanda M&aacute;xima</span>';
                    lateral_content +=     '<div id="lat_demanda">';
                    lateral_content +=     '<span class="m_value">'+ addCommas(data.d_max)+' kW</span>';
                    lateral_content +=     '<span class="s_value">'+ addCommas(data.d_max_time)+'</span>';
                    lateral_content +=     '</div>';
                    lateral_content +=     '<a href="/main/?g_type=energia&fi=' + day + '&ff=' + day + '">Ver en una gr&aacute;fica</a>';
                    lateral_content +=     '<span class="no_bolder costo_promedio_semanal">Costo Promedio</span>';
                    lateral_content +=     '<div id="lat_costo">';
                    lateral_content +=     '<span class="m_value">$'+ addCommas(data.cost_p)+'</span>';
                    lateral_content +=     '<span class="s_value">MXN</span>';
                    lateral_content +=     '</div>';
                    lateral_content +=     '<span class="no_bolder factor_potencia">Factor potencia</span>';
                    lateral_content +=     '<div id="potencia_semanal">';
                    lateral_content +=     '<span class="m_value">'+ data.pf+'%</span>';
                    lateral_content +=     '</div>';
                    //lateral_content +=     '<span class="aditional">kVArh: '+ addCommas(data.kvarh) +' KVar</span>';
                }
                $("#lateral").html(lateral_content);
            }
        });
    }

    function close_lat(){
        lateral.animate({width: 'toggle', right: "-60px"}, 500, function(){
            $(this).addClass("collapsed");
            $(this).css('opacity', '0');
        });
    }
    function open_lat(){
        if(lateral.hasClass("collapsed")){
            lateral.removeClass("collapsed");
            lateral.show().animate({width: '178px', right: "-255px", opacity: "1"}, 500);
        }
    }

    </script>
{% endblock %}
{% block document_ready %}
    lateral = $("#lateral");
    close_lat();
    $("#close").live("click", function(e){
        close_lat();
    });
    $("#week_s").click(function(){
        $.ajax({
            url: "/buildings/month_analitics_week/"+String(current_year)+"/"+String(current_month)+"/",
            type: "GET",
            success: function(data){

                lateral.html('<span id="close"></span><h2>Reporte Semanal</h2><span class="lat_sep"></span>');
                var cont = 0;
                $(".datepickerWeek a span").each(function(){
                    valor = $(this).text();
                    semana = parseInt(valor)
                    if(semana){
                        var acum=0;
                        if(data[cont].consumo_acumulado != null){
                            acum = data[cont].consumo_acumulado
                        }

                        var div = "<div class='semana_cont'>";
                        div += "<span class='week_num fl'>S"+ String(semana) +"</span>";
                        div += "<div class='week_values_cont fl'>";
                        div += "<span class='label_wvalue'>Consumo Acumulado:";
                        div += "<span class='wvalue'> "+acum+" kWh</span></span>";
                        div += "<span class='label_wvalue'>Demanda M&aacute;x:";
                        div += "<span class='wvalue'> "+data[cont].demanda_max+" kW</span></span>";
                        div += "<span class='label_wvalue'>Demanda Mínima:";
                        div += "<span class='wvalue'> "+data[cont].demanda_min+" kW</span></span>";
                        div += "<span class='label_wvalue'>Consumo Promedio:";
                        div += "<span class='wvalue'> "+data[cont].consumo_promedio.toFixed(2)+" kWh</span></span>";
                        div += "<span class='label_wvalue'>Consumo Mediana:";
                        div += "<span class='wvalue'> "+data[cont].consumo_mediana.toFixed(2)+" kWh</span></span>";
                        div += "<span class='label_wvalue'>Consumo Desviación:";
                        div += "<span class='wvalue'>"+data[cont].consumo_desviacion.toFixed(2)+" kWh</span></span>";
                        div += "</div>";
                        lateral.append(div);
                        cont++;
                    }
                });
                open_lat();
            }
        });
    });

    $('#widgetCal').DatePicker({
        flat: true,
        format: 'Y-m-d',
        date: [fecha_act],
        calendars: 1,
        starts: 7,
        onChange: function(month, selected) {
            var display_day = false;
            //console.log("selected", selected)
            current = month.split("-");
            c_month = current[1];
            c_year = current[0];

            //month name as auxiliar for the events of loading info
            var mes = parseInt(current_month);
            if(mes < 10){
                mes = "0" + String(mes);
            }else{
                mes = String(mes);
            }
            if(c_month != current_month || c_year != current_year ){
                var class_name = "."+String(current_year) + "-" + mes + "-15";
                if(!$(class_name).size()){
                    //console.log("cambio de mes");
                    current_month = c_month;
                    current_year = c_year;
                    close_lat();
                    display_day = false;
                    get_full_month();
                }else{
                    display_day = true;
                }
            }else{
                display_day = true;
            }

            if(display_day){
                if(current_day != selected){
                    current_day = selected;
                    //console.log("carga la información del día");
                    load_day(selected);
                }else{
                    //console.log("muestra solamente");
                }
                open_lat();

            }

        },
        onRender: function(date){
            //maneja los eventos al generar cada día
            return {selected: false, disabled: false, className: "day_cal"+" "+date.format("yyyy-mm-dd")};
        }
    });
    get_full_month();
    $(".various").fancybox({
        maxWidth	: 800,
        maxHeight	: 800,
        fitToView	: false,
        width		: '70%',
        height		: '70%',
        autoSize	: false,
        closeClick	: false,
        openEffect	: 'none',
        closeEffect	: 'none'
    });

{% endblock %}
{% block breadcumbs %}

    <div id="bread_crumbs">
    <a href="/profile/{{ request.user.pk }}/" class="fl username">{{ request.user.first_name }} {{ request.user.last_name }}</a>
        <ul>
            <li><a href="/main/">Inicio</a></li>
            <li><a href="/reportes/analisis_mensual/">An&aacute;lisis de Consumo El&eacute;ctrico Mensual</a></li>
        </ul>
    <a href="/logout" id="userLogOut">Cerrar sesión</a>
    </div>

{% endblock %}

{% block contenido %}
    

    <div id="page_content">
    <div id="contenido_interno">


        <div id="logo_container" {% if company.company_logo %}class="c fr" style="background: url(/static/media/{{ company.company_logo }}) no-repeat 50% 50%; background-size: 100% auto; margin-top: 0px; position:relative;">
        {% else %}class="c fr" style="background: url(/static/css/images/imgs_icns/company_placeholder.png) no-repeat 50% 50%; background-size: 100% auto; margin-top: -19px;">
        {% endif %}
        </div>
        <h2 id="titulo_reporte" class="titulo_reporte report_icon">An&aacute;lisis de Consumo El&eacute;ctrico Mensual</h2>
        <div class="divider" id="divider_top">&nbsp;</div>


        <div id="month_sumary">
            <ul>
                <li>Consumo Acomulado</li>
                <li>Demanda</li>
                <li>Calidad de Energía</li>
                <li>Emisiones de CO2</li>
            </ul>
            <div style='width:100%;overflow:hidden;'>
                <div class="icon_sumary consumo_t">
                    <span id="cons_total">
                        -
                    </span>
                </div>
                <div class="icon_sumary demanda">
                    <span id="dem_total">
                        -
                    </span>
                </div>
                <div class="icon_sumary emisiones">
                    <span id="emit_total">
                        404 TON
                    </span>
                </div>
                <div class="icon_sumary potencia">
                    <span id="pp_total">
                        -
                    </span>
                </div>
            </div>
            <div class="month_totals">
                <span class="label_tot" style="display:none;">Demanda Mínima</span>
                <span class="value_tot" style="display:none;"id="month_dem_min">-</span><br>

                <span class="label_tot">Promedio</span>
                <span class="value_tot" id="month_cons_prom">-</span><br>

                <span class="label_tot" style="clear:left;">Media</span>
                <span class="value_tot" id="month_cons_med">-</span><br>

                <span class="label_tot" style="clear:left;">Desviación</span>
                <span class="value_tot"  id="month_cons_des">-</span><br>
            </div>
        </div>

        <div id="widgetCal">
            <span class="ringl"></span>
            <span class="ringr"></span>
            <div id="week_consumed">
                Consumo
            </div>
            <div id="week_demand">
                Demanda
            </div>
            <div id="lateral">

            </div>

        </div>
    </div>
    </div>
{% endblock %}