{% extends "base.html" %}
{% block titulo %} Mediciones El&eacute;ctricas{% endblock %}
{% block externalcss %}
    <!--suppress HtmlUnknownTarget -->
    <link rel="stylesheet" href="/static/css/consumption_centers/main.css" type="text/css" />
    <link rel="stylesheet" href="/static/date_picker/css/datepicker2.css" type="text/css" />
    <link rel="stylesheet" href="/static/css/consumption_centers/montly_report.css" type="text/css" />
{% endblock %}
{% block externaljs %}
    <script type="text/javascript" src="/static/date_picker/js/datepicker.js"></script>
    <script type="text/javascript">
        var fecha_act = new Date();
        var current_month = fecha_act.getMonth()+1;
        var current_year = fecha_act.getFullYear();
        var current_day = fecha_act.format("yyyy-mm-dd");

    function get_full_month(){
        $.ajax({
            url: "/buildings/month_analitics/{{ building.pk }}/"+String(current_year)+"/"+String(current_month)+"/",
            type: "GET",
            success: function(data){ console.log(data)
                $("td.day_cal").each(function(index){
                    var td = $(this);
                    var div = "<div class='inner_day fr'>";
                    div += "<span class='title_inner'>Demanda M&aacute;x</span>";
                    div += "<span class='demanda_max'>350 kW</span>";
                    div += "<span class='title_inner'>Consumo</span>";
                    div += "<span class='consumo'>35 kWh</span>";
                    div += "</div>";
                    td.append(div);
                });
            }
        });
    }
    </script>
{% endblock %}
{% block document_ready %}
    var lateral = $("#lateral");
    $("#close").click(function(e){
        lateral.animate({width: 'toggle', right: "0"}, 500, function(){
            $(this).addClass("collapsed");
        });
    });

    $('#widgetCal').DatePicker({
        flat: true,
        format: 'Y-m-d',
        date: [fecha_act],
        calendars: 1,
        starts: 7,
        onChange: function(month, selected) {
            var display_day = false;
            console.log("selected", selected)
            current = month.split("-");
            c_month = current[1];
            c_year = current[0];

            //month name as auxiliar for the events of loading info
            var mes = parseInt(current_month);
            if(mes < 10){
                mes = "0" + String(mes);
            }else{
                mes = String(mes);
            }
            if(c_month != current_month || c_year != current_year ){
                var class_name = "."+String(current_year) + "-" + mes + "-15";
                if(!$(class_name).size()){
                    console.log("cambio de mes");
                    current_month = c_month;
                    current_year = c_year;
                    lateral.animate({width: 'toggle', right: "0"}, 500, function(){
                        $(this).addClass("collapsed");
                    });
                    display_day = false;
                    get_full_month();
                }else{
                    display_day = true;
                }
            }else{
                display_day = true;
            }

            if(display_day){
                if(current_day != selected){
                    current_day = selected;
                    console.log("carga la información del día");
                }else{
                    console.log("muestra solamente");
                }
                if(lateral.hasClass("collapsed")){
                    lateral.removeClass("collapsed");
                    lateral.show().animate({width: '240px', right: "-249px"}, 500);
                }

            }

        },
        onRender: function(date){
            //maneja los eventos al generar cada día
            return {selected: false, disabled: false, className: "day_cal"+" "+date.format("yyyy-mm-dd")};
        }
    });
    get_full_month();
{% endblock %}
{% block contenido %}
    <div id="bread_crumbs">
        <ul>
            <li><a href="/main/">Inicio</a></li>
            <li><a href="/reportes/analisis_mensual/">An&aacute;lisis El&eacute;ctrico Mensual</a></li>
        </ul>
    </div>

    <div id="contenido_interno">
        <h2 id="titulo_reporte">An&aacute;lisis El&eacute;ctrico Mensual - {{ building.building_name }}</h2>

        <div class="divider" id="divider_top">&nbsp;</div>

        <div id="month_sumary">
            <div class="icon_sumary consumo_t">
                <span id="cons_total">
                    3,404 kWh
                </span>
                <span>Consumo acumulado/ m</span>
            </div>
            <div class="icon_sumary demanda">
                <span id="dem_total">
                    304 kW
                </span>
                <span>Demanda Máxima / m</span>
            </div>
            <div class="icon_sumary emisiones">
                <span id="emit_total">
                    404 ton
                </span>
                <span>Emisiones de CO2</span>
            </div>
            <div class="icon_sumary potencia">
                <span id="pp_total">
                    97%
                </span>
                <span>Factor de Potencia</span>
            </div>
            <div class="month_totals">
                <span class="label_tot">Demanda Mínima</span>
                <span class="value_tot">204W</span>

                <span class="label_tot">Comsumo promedio</span>
                <span class="value_tot">340kWh</span>

                <span class="label_tot">Consumo media</span>
                <span class="value_tot">200kWh</span>

                <span class="label_tot">Consumo desviación</span>
                <span class="value_tot">100kWh</span>
            </div>
        </div>

        <div id="widgetCal">
            <span class="ringl"></span>
            <span class="ringr"></span>
            <div id="week_s">
                Ver resumen semanal
            </div>
            <div id="lateral">
                <span id="close"></span>
                <h2>Lunes x de Yyyyyy</h2>
                <span class="lat_sep"></span>
                <h3>Consumo</h3>
                <div id="lat_consumo">
                    <span class="m_value">35 kWh</span>
                    <span class="s_value">15kWh base</span>
                    <span class="s_value">15kWh intermedia</span>
                    <span class="s_value">15kWh punta</span>
                </div>
                <a href="/main/">Ver en una gr&aacute;fica</a>

                <h3>Demanda M&aacute;x</h3>
                <div id="lat_demanda">
                    <span class="m_value">320 kW</span>
                    <span class="s_value">02:45 PM</span>
                </div>
                <a href="/main/">Ver en una gr&aacute;fica</a>

                <h3>Costo Promedio</h3>
                <div id="lat_costo">
                    <span class="m_value">$420.25</span>
                    <span class="s_value">MXN</span>
                </div>

                <span class="aditional">Factor Potencia: 98%</span>
                <span class="aditional">kVArh: 450 KVar</span>
            </div>

        </div>
    </div>
{% endblock %}