{% extends "base.html" %}
{% block titulo %}An&aacute;lisis de Consumo El&eacute;ctrico Mensual - {{ building.building_name }}{% endblock %}
{% block externalcss %}
    <!--suppress HtmlUnknownTarget -->
    <link rel="stylesheet" href="/static/css/consumption_centers/main.css" type="text/css" />

{% endblock %}
{% block externaljs %}
<script type="text/javascript">
    {% load plupload %}
    {% plupload_script temp_ad_pk csrf_token  %}
</script>
{% endblock %}
{% block document_ready %}
{% endblock %}
{% block contenido %}

    <div id="bread_crumbs">
        <ul>
            <li><a href="/main/">Inicio</a></li>
            <li>Restaurar datos el&eacute;ctricos</li>
        </ul>
    </div>
    <div id="page_content">
        <div id="contenido_interno">
            <h2 class="titulo_reporte"><span class="building">{{ building.building_name }}</span> - <span class="device">{{ request.session.consumer_unit.electric_device_type.electric_device_type_name }}</span></h2>

            <div class="divider" id="divider_top">&nbsp;</div>
            <h3 id="titulo_reporte" class="titulo_reporte report_icon">Restaurar Datos El&eacute;ctricos</h3>
            <div id="content">
                <div id="formulario">
                    <form method="POST" action=".">
                        {% csrf_token %}
                        {% pl_upload_form %}

                        <input type="hidden" name="temp_" value="{{ temp_ad_pk }}"/>

                        <p>
                            <label for="title">Titulo</label>
                            <input type="text" name="title" id="title"/>
                        </p>
                        <p>
                            <label for="description">Descripcion</label>
                            <textarea type="text" name="description" id="description" cols="20" rows="8"></textarea>
                        </p>
                        <p>
                            <label for="price">Precio</label>
                            <input type="text" name="price" id="price"/>
                        </p>
                        <p>
                            <button type="submit">Guardar anuncio</button>
                        </p>

                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
