<h2 id="titulo_form" class="powermeter">
    {% if operation == "edit" %}Edici&oacute;n de{% else %}Alta de{% endif %} Dispositivos y Sistemas El&eacute;ctricos
</h2>
<div class="divider" id="divider_top">&nbsp;</div>
<div id="form_container">
    {% if message %}
        <span class="notif {{ type }}">
                    {% autoescape off %}{{ message }}{% endautoescape %}
                    <a href="#" onclick="$(this).parent().remove();">X</a>
                </span>
    {% endif %}
    <p class="description">
            {% if operation == "edit" %}Realice los cambios correspondientes a el tipo de equipo eléctrico y de click en guardar para aplicar los cambios.{% else %}Complete los siguientes campos para crear un nuevo tipo de equipo eléctrico en el sistema.{% endif %}
    </p>
    <form method="post" action="." id="add_electric_device_form">
        {% csrf_token %}
        <h3 class="g12">Informaci&oacute;n del Tipo de Equipo Eléctrico</h3>
        <div id="cluster_fields">
            <div class="fields_row g9">
                <label for="devicetypename" class="g2">Nombre<span class="required">*</span></label>
                <input type="text" name="devicetypename" id="devicetypename" class="g9"
                       value="{{ post.devicetypename }}"
                        />
                <span></span>
            </div>
            <div class="fields_row g9">
                <label for="devicetypedescription" class="g2">Descripci&oacute;n</label>
                <textarea rows="5" name="devicetypedescription" id="devicetypedescription" class="g9">{{ post.devicetypedescription }}</textarea>

                <span></span>
            </div>


        </div>

        <div class="buttons g12">
            <button class="aqua_btn" id="save">
                Guardar
            </button>
        </div>
    </form>

</div>