<h2 id="titulo_form" class="company">
    {% if operation == "edit" %}Edici&oacute;n de{% else %}Alta de{% endif %} edificio
</h2>


<div class="divider" id="divider_top">&nbsp;</div>
<div id="form_container">
    {% if message %}
            <span class="notif {{ type }}">
                {% autoescape off %}{{ message }}{% endautoescape %}
                <a href="#" onclick="$(this).parent().remove();">X</a>
            </span>
    {% endif %}
    <p class="description">
        Pid nisi sed dictumst ac ultricies, vut velit pid, nascetur est ac nunc urna amet tempor cum in odio. Ultrices. Urna placerat in auctor, urna.
        <br/>
        Pid eu, nisi egestas. Enim in porttitor, sed nec tempor, cursus dictumst enim? Augue! Porttitor mid, risus cras! Non duis et turpis, adipiscing augue.
    </p>
    <form method="post" action="." id="building_form">
    {% load custom_tags_n_filters %}
        {% csrf_token %}
        <div>
        <div class="building_info_top">
            <h3 class="g12">Informaci&oacute;n de Edificio</h3>
            <div class="building_column">
                <div class="fields_row g12">
                    {{ form_b.building_name.errors }}
                    <label for="building_name" class="g3">Nombre<span class="required">*</span></label>
                    {{ form_b.building_name|add_class:"g8" }}
                    <span></span>
                </div>
                <div class="fields_row g12">
                    {{ form_b.building_description.errors }}
                    <label for="building_description" class="g3">Descripci&oacute;n</label>
                    {{ form_b.building_description|add_class:"g8" }}
                    <span></span>
                </div>
                <div class="fields_row g12">
                    {{ form_bc.company.errors }}
                    <label for="company" class="g3">Empresa<span class="required">*</span></label>
                    {{ form_bc.company|add_class:"g8" }}

                    <span id="sel_company"></span>
                </div>
                <div class="fields_row g12">
                    {{ form_b.mts2_built.errors }}
                    <label for="mts2_built" class="g3">Superficie (m<sup>2</sup>)</label>
                    {{ form_b.mts2_built|add_class:"g8" }}
                    <span></span>
                </div>
                <div class="fields_row g12">
                    <label for="electric_rate" class="g3">Tarifa:<span class="required">*</span></label>
                    {{ form_b.electric_rate|add_class:"g8" }}
                    <span id="sel_electric"></span>
                </div>
            </div>
            <div class="building_column">
                <div class="fields_row g12">
                    <label for="b_type" class="g3">Tipo de Edificio:<span class="required">*</span></label>
                    {{ form_bt.building_type}}
                    <span id="sel_type"></span>
                </div>
            </div>
        </div>
        <div class="building_info_bottom">
            <h3 class="g12">Ubicaci&oacute;n</h3>
            <div class="building_column">
                <div class="fields_row g12">
                    <label for="b_country" class="g3">Pa&iacute;s<span class="required">*</span></label>
                    <input type="text" name="b_country" id="b_country" class="g8"
                           value="{{ post.b_country }}"  autocomplete="off"
                            />
                    <span></span>
                    {{ form_b.pais }}

                </div>
                <div class="fields_row g12">
                    <label for="b_state" class="g3">Estado<span class="required">*</span></label>
                    <input type="text" name="b_state" id="b_state" class="g8"
                           value="{{ post.b_state }}"  autocomplete="off"
                            />
                    <span></span>
                    {{ form_b.estado }}
                </div>
                <div class="fields_row g12">
                    <label for="b_municipality" class="g3">Municipio<span class="required">*</span></label>
                    <input type="text" name="b_municipality" id="b_municipality" class="g8"
                           value="{{ post.b_municipality }}"  autocomplete="off"
                            />
                    <span></span>
                    {{ form_b.municipio }}
                </div>
                <div class="fields_row g12">
                    <label for="b_neighborhood" class="g3">Colonia<span class="required">*</span></label>
                    <input type="text" name="b_neighborhood" id="b_neighborhood" class="g8"
                           value="{{ post.b_neighborhood }}"  autocomplete="off"
                            />
                    <span></span>
                    {{ form_b.colonia }}
                </div>
                <div class="fields_row g12">
                    <label for="b_street" class="g3">Calle<span class="required">*</span></label>
                    <input type="text" name="b_street" id="b_street" class="g8"
                           value="{{ post.b_street }}"  autocomplete="off"
                            />
                    <span></span>
                    {{ form_b.calle }}
                </div>
                <div class="fields_row g12">
                    <label for="b_ext" class="g3">Ext<span class="required">*</span></label>
                    {{ form_b.building_external_number }}
                    <span></span>
                </div>
                <div class="fields_row g12">
                    <label for="b_int" class="g3">Int</label>
                    {{ form_b.building_internal_number }}
                    <span></span>
                </div>
                <div class="fields_row g12">
                    <label for="b_zip" class="g3">C&oacute;digo Postal<span class="required">*</span></label>
                    {{ form_b.building_code_zone }}
                    <span></span>
                </div>
                <div class="fields_row g12">
                    <label for="b_region" class="g3">Regi&oacute;n<span class="required">*</span></label>
                    {{ form_b.region }}
                    <span id="sel_region"></span>
                </div>

                <div class="fields_row g12">
                    <label for="see_reg" class="g3"></label>
                    <span id="see_reg" class="g8" style="padding: 0"><a id="see_regions" href="#">Ver Regiones</a></span>

                </div>

                <div class="fields_row g12">
                    <label for="b_time_zone" class="g3">Zona Horaria:<span class="required">*</span></label>
                    {{ form_btz.time_zone }}
                    <span id="sel_time_zone"></span>
                </div>

                <div class="fields_row g12">
                    <label for="see_reg" class="g3"></label>
                    <span id="see_reg" class="g8" style="padding: 0"><a id="see_time_zone" href="#">Ver Zonas Horarias</a></span>

                </div>

            </div>
            <div class="building_column">
                <input type="hidden" id="b_latitude" name="b_latitude" value="{% if post.b_lat %}{{post.b_lat}}{% else %}0{% endif %}"/>
                <input type="hidden" id="b_longitude" name="b_longitude" value="{% if post.b_long %}{{post.b_long}}{% else %}0{% endif %}"/>
                <div id="map_container">
                    <div id="map_canvas" class="map_canvas"></div>
                </div>
            </div>
        </div>
        <div class="vacio"></div>
        <div style="height: auto">
        <h3 class="g12">Índices Energéticos</h3>
        {{post.b_attributes|safe}}
        </div>
        <div id="atributes_fields">
            <div id="fields_row g9">
                <div class="widgetField" id="attributes_type">
                    <span class="legend">Tipos de Índices</span>
                    <a href="#">&nbsp;</a>
                    <ul id="attributes_type_list" class="ddl">
                        {% for tipo_at in tipos_atributos %}
                        <li rel="{{ tipo_at.pk }}">
                            {{ tipo_at.building_attributes_type_name }}
                        </li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="widgetField" id="attributes">
                    <span class="legend">Índices Energéticos</span>
                    <a href="#">&nbsp;</a>
                    <ul id="attribute_list" class="ddl">
                        <li></li>
                    </ul>
                </div>

                <div class="fields_row attribute_value_text_row g4">
                    <input type="text" name="attr_value" id="attr_value" class="attribute_value_text g10"  placeholder="Valor" maxlength="3"/>
                </div>

                <p class="buttons" id="">
                    <button class="grey_btn fl" id="add_attributes">
                        <span class="plus"></span>
                        Agregar
                    </button>
                </p>
                <input type="hidden" name="attr_type_id_sel" id="attr_type_id_sel" value="">
                <input type="hidden" name="attr_id_sel" id="attr_id_sel" value="">
            </div>
        </div>

        <div class="buttons g12" style="float:none">
            <button class="aqua_btn" id="save">
                Guardar
            </button>
        </div>
        </div>
    </form>

</div>