{% extends "base.html" %}
{% block titulo %}{% if operation == "edit" %}Editar{% else %}Alta de{% endif %} estado{% endblock %}
{% block externalcss %}
    <link rel="stylesheet" href="/static/css/forms/main.css" type="text/css" />
    <link rel="stylesheet" href="/static/css/forms/location_add_edit.css" type="text/css" />
    <link type="text/css" href="/static/jquery-ui-1.8.23/css/smoothness/jquery-ui-1.8.23.custom.css" rel="stylesheet" />
{% endblock %}
{% block externaljs %}
    <script type="text/javascript" src="/static/jquery-ui-1.8.23/js/jquery-ui-1.8.23.custom.min.js"></script>
    <script type="text/javascript">
        $(function() {
            {% if operation != "edit" %}
            $("#asign").hide();
            $("#save").hide();
            $( "#pais" ).autocomplete({
                source: "/location/busca_pais/",
                minLength: 2,
                select: function( event, ui ) {
                    $("#country").val(ui.item.pk);
                    $("#asign").show();
                }
            }).keyup(function(){
                        if($.trim($(this).val())==''){
                            $("#country").val("");
                            $("#estado").val("");
                            $("#asign").hide();
                            $("#save").hide();
                        }
                    });
            {% endif %}
            $( "#estado" ).keyup(function(){
                        if($.trim($(this).val())==''){
                            $("#save").hide();
                        }else{
                            $("#save").show();
                        }
                    });

        });
    var send_form = 0;
    function valida(){
        var valid = true;
        var est = $("#estado");
        var estado = $.trim(est.val());
        est.next().removeClass("correct").removeClass("incorrect");

        if (estado =='' || !isValidString(estado)){
            est.next().addClass("incorrect");
            valid = false;
        }else{
            est.next().addClass("correct");
        }
        if(valid){
            send_form++;
        }
        return send_form == 1;
    }
    </script>
{% endblock %}

{% block breadcumbs %}

      <div id="bread_crumbs">
      <a href="/profile/{{ request.user.pk }}/" class="fl username">{{ request.user.first_name }} {{ request.user.last_name }}</a>
        <ul>
            <li><a href="/main/">Inicio</a></li>
            <li><a href="/panel_de_control/">Administraci&oacute;n</a></li>
            <li><a href="/panel_de_control/location/">Ubicaciones</a></li>
            <li><a href="/location/ver_estados/">Estados</a></li>
            <li>Agregar estado</li>
        </ul>

    </div>

{% endblock %}


{% block contenido %}


<div id="page_content">
    <div id="contenido_interno">
        <h2 id="titulo_form" class="privileges">
            {% if operation == "edit" %}Editar{% else %}Alta de{% endif %} estado
        </h2>


        <div class="divider" id="divider_top">&nbsp;</div>
        <div id="form_container">
            {% if message %}
                <span class="notif {{ type }}">
                    {% autoescape off %}{{ message }}{% endautoescape %}
                    <a href="#" onclick="$(this).parent().remove();">X</a>
                </span>
            {% endif %}
            <p class="description">
                Pid nisi sed dictumst ac ultricies, vut velit pid, nascetur est ac nunc urna amet tempor cum in odio. Ultrices. Urna placerat in auctor, urna.
                <br/>
                Pid eu, nisi egestas. Enim in porttitor, sed nec tempor, cursus dictumst enim? Augue! Porttitor mid, risus cras! Non duis et turpis, adipiscing augue.
            </p>
            <form method="post" action="." onsubmit="return valida();">
                {% csrf_token %}

                <div class="fields_row g12">
                    <label for="pais" class="g2">
                        Pa&iacute;s:
                    </label>
                    <input type="text" name="pais" id="pais" class="input_ac" autocomplete="off" {% if operation == "edit" %}readonly="readonly" value="{{ pais }}" {% endif %}/>
                    <input type="hidden" name="country" id="country">
                </div>

                <div id="asign">
                    <div class="fields_row g12">
                        <label for="estado" class="g2">
                            Estado:
                        </label>
                        <input type="text" name="estado" id="estado" class="input_ac" {% if operation == "edit" %}value="{{ estado }}" {% endif %}/>
                        <span></span>
                    </div>

                    <span class="g2">&nbsp;</span>
                    <div class="g9">
                        <button class="aqua_btn fr" id="save">
                            Guardar
                        </button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
{% endblock %}