{% extends "base.html" %}
{% block titulo %}{% if operation == "edit" %}Editar{% else %}Crear nuevo{% endif %} municipio{% endblock %}
{% block externalcss %}
    <link rel="stylesheet" href="/static/css/forms/main.css" type="text/css">
    <link rel="stylesheet" href="/static/css/forms/location_add_edit.css" type="text/css">
    <link type="text/css" href="/static/jquery-ui-1.8.23/css/smoothness/jquery-ui-1.8.23.custom.css" rel="stylesheet" />
{% endblock %}
{% block externaljs %}
    <script type="text/javascript" src="/static/jquery-ui-1.8.23/js/jquery-ui-1.8.23.custom.min.js"></script>
    <script type="text/javascript">
        $(function() {
            {% if operation != "edit" %}
            $("#asign").hide();
            $("#save").hide();


            $( "#pais" ).autocomplete({
                source: "/location/busca_pais/",
                minLength: 2,
                select: function( event, ui ) {
                    $("#country").val(ui.item.pk);
                    $("#estado").parent().show();
                }
            }).keyup(function(){
                        if($.trim($(this).val())==''){
                            $("#country").val("");
                            $("#estado").val("").parent().hide();
                            $("#state").val("");
                            $("#municipio").val("");
                            $("#asign").hide();
                            $("#save").hide();
                        }
                    });
            $( "#estado" ).focusin(function(){
                $(this).autocomplete({
                    source: "/location/busca_estados/?country="+$("#country").val(),
                    minLength: 2,
                    select: function( event, ui ) {
                        $("#state").val(ui.item.pk);
                        $("#asign").show();
                    }
                }).keyup(function(){
                            if($.trim($(this).val())==''){
                                $("#state").val("");
                                $("#municipio").val("");
                                $("#asign").hide();
                                $("#save").hide();
                            }
                        });
            }).parent().hide();
            {% endif %}
            $("#municipio").keyup(function(){

                if($.trim($(this).val()) == ""){
                    $("#save").hide();
                }else{
                    $("#save").show();
                }
            });
        });
    function valida(){
        var valid = true;
        var mun = $("#municipio");
        var municipio = $.trim(mun.val());
        mun.next().removeClass("correct").removeClass("incorrect");

        if (municipio =='' || !isValidString(municipio)){
            mun.next().addClass("incorrect");
            valid = false;
        }else{
            mun.next().addClass("correct");
        }
        return valid;
    }
    </script>
{% endblock %}


{% block contenido %}
    <div id="bread_crumbs">
        <ul>
            <li><a href="/main/">Inicio</a></li>
            <li><a href="/panel_de_control/">Administraci&oacute;n</a></li>
            <li><a href="/panel_de_control/location/">Ubicaciones</a></li>
            <li><a href="/location/ver_municipios/">Municipios</a></li>
            <li>{% if operation == "edit" %}Editar{% else %}Crear nuevo{% endif %} municipio</li>
        </ul>

    </div>
    <div id="contenido_interno">
        <h2 id="titulo_form" class="privileges">
            {% if operation == "edit" %}Editar{% else %}Crear nuevo{% endif %} municipio
        </h2>


        <div class="divider" id="divider_top">&nbsp;</div>
        <div id="form_container">
            {% if message %}
                <span class="notif {{ type }}">
                    {% autoescape off %}{{ message }}{% endautoescape %}
                    <a href="#" onclick="$(this).parent().remove();">X</a>
                </span>
            {% endif %}
            <p class="description">
                Pid nisi sed dictumst ac ultricies, vut velit pid, nascetur est ac nunc urna amet tempor cum in odio. Ultrices. Urna placerat in auctor, urna.
                <br/>
                Pid eu, nisi egestas. Enim in porttitor, sed nec tempor, cursus dictumst enim? Augue! Porttitor mid, risus cras! Non duis et turpis, adipiscing augue.
            </p>
            <form method="post" action="." onsubmit="return valida();">
                {% csrf_token %}

                <div class="fields_row g12">
                    <label for="pais" class="g2">
                        Pa&iacute;s:
                    </label>
                    <input type="text" name="pais" id="pais" class="input_ac" autocomplete="off" {% if operation == "edit" %}readonly="readonly" value="{{ pais }}" {% endif %}/>
                    <input type="hidden" name="country" id="country">
                </div>
                <div class="fields_row g12">
                    <label for="estado" class="g2">
                        Estado:
                    </label>
                    <input type="text" name="estado" id="estado" class="input_ac" {% if operation == "edit" %}readonly="readonly" value="{{ estado }}" {% endif %}/>
                    <input type="hidden" name="state" id="state">
                </div>

                <div id="asign">
                    <div class="fields_row g12">
                        <label for="municipio" class="g2">
                            Municipio:
                        </label>
                        <input type="text" name="municipio" id="municipio" class="input_ac" {% if operation == "edit" %}value="{{ municipio }}" {% endif %}/>
                        <span></span>
                    </div>

                    <span class="g2">&nbsp;</span>
                    <div class="g9">
                        <button class="aqua_btn fr" id="save">
                            Guardar
                        </button>
                    </div>
                </div>
            </form>

        </div>


    </div>
{% endblock %}