<!DOCTYPE html>
<html>
<head>
    <title>CFE - Regiones</title>
    <link rel="stylesheet" href="/static/css/theme.css"/>
</head>
<body style="background: none;">
5.1 Para la aplicaci&#243;n de los cargos de las tarifas con diferencias por regi&#243;n, &#233;stas se encuentran comprendidas por los siguientes municipios:<br>
&nbsp;<br>
5.1.1 Regi&#243;n Baja California<br>
Todos los municipios del Estado de Baja California.<br>
Municipios del Estado de SONORA: San Luis R&#237;o Colorado.<br>
&nbsp;<br>
5.1.2 Regi&#243;n Baja California Sur<br>
Todos los municipios del Estado de Baja California Sur.<br>
&nbsp;<br>
5.1.3 Regi&#243;n Noroeste<br>
Todos los municipios del Estado de Sonora excepto el comprendido en la Regi&#243;n Baja California.<br>
Todos los municipios del Estado de SINALOA.<br>
&nbsp;<br>
5.1.4 Regi&#243;n Norte<br>
Todos los municipios de los Estados de CHIHUAHUA y DURANGO.<br>
Municipios del Estado de ZACATECAS: Chalchihuites, Jim&#233;nez del Te&#250;l, Sombrerete, Sain Alto, Jerez, Juan Aldama, R&#237;o Grande, General Francisco Murgu&#237;a, Mazapil, Melchor Ocampo.<br>
Municipios del Estado de COAHUILA: Torre&#243;n, San Pedro de las Colonias, Matamoros, Viesca, Parras de la Fuente, Francisco I. Madero, Ocampo y Sierra Mojada.<br>
&nbsp;<br>
5.1.5 Regi&#243;n Noreste<br>
Todos los municipios de los Estados de NUEVO LEON y TAMAULIPAS.<br>
Todos los municipios del Estado de COAHUILA excepto los comprendidos en la REGION NORTE.<br>
Municipios del Estado de ZACATECAS: Concepci&#243;n del Oro y El Salvador.<br>
Municipios del Estado de SAN LUIS POTOSI: Vanegas, Cedral, Cerritos, Guadalc&#225;zar, Ciudad Fern&#225;ndez, Rioverde, San Ciro de Acosta, Lagunillas, Santa Catarina, Ray&#243;n, C&#225;rdenas, Alaquines, Ciudad del Ma&#237;z, Ciudad Valles, Tamazopo, Aquism&#243;n, Axtla de Terrazas, Tamazunchale, Huehuetl&#225;n, Tamu&#237;n, Tancahuitz, Tanlajas, San Antonio, Coxcatl&#225;n, Tampamol&#243;n, San Vicente Tancuayalab, Ebano, Xilitla, Tampac&#225;n, Tanqui&#225;n de Escobedo.<br>
Municipios del Estado de VERACRUZ: P&#225;nuco, Tempoal, Pueblo Viejo, Tampico Alto, Ozuluama de Mazcare&#241;as, El Higo, Huayacocotla.<br>
&nbsp;<br>
5.1.6 Regi&#243;n Central<br>
Todas las Delegaciones del DISTRITO FEDERAL.<br>
Municipios del Estado de MEXICO: Tultepec, Tultitl&#225;n, Ixtapaluca, Chalco de D&#237;az Covarrubias, Huixquilucan de Degollado, San Mateo Atenco, Toluca, Tepotzotl&#225;n, Cuautitl&#225;n, Coacalco, Cuautitl&#225;n Izcalli, Atizap&#225;n de Zaragoza, Tlalnepantla, Naucalpan de Ju&#225;rez, Ecatepec, Chimalhuac&#225;n, San Vicente Chicoloapan, Texcoco, Ciudad Nezahualc&#243;yotl, Los Reyes La Paz.<br>
Municipios del Estado de MORELOS: Cuernavaca.<br>
&nbsp;<br>
5.1.7 Regi&#243;n Sur<br>
Todos los municipios de los Estados de: NAYARIT, JALISCO, COLIMA, MICHOACAN, AGUASCALIENTES, GUANAJUATO, QUERETARO, HIDALGO, GUERRERO, TLAXCALA, PUEBLA, OAXACA, CHIAPAS, TABASCO.<br>
Todos los municipios de los Estados de ZACATECAS, SAN LUIS POTOSI y VERACRUZ no comprendidos en la REGION NORTE o en la REGION NORESTE.<br>
Todos los municipios de los Estados de MEXICO y MORELOS no comprendidos en la REGION CENTRAL.<br>
&nbsp;<br>
5.1.8 Regi&#243;n Peninsular<br>
Todos los municipios de los Estados de: YUCATAN, CAMPECHE y QUINTANA ROO.<br>
&nbsp;<br>
5.2&nbsp; Para la aplicaci&#243;n de la tarifa n&#250;mero 5 del servicio para alumbrado p&#250;blico, las zonas conurbadas se encuentran comprendidas por los siguientes municipios:<br>
&nbsp;<br>
5.2.1 Distrito Federal<br>
Todas las Delegaciones del DISTRITO FEDERAL.<br>
Municipios del Estado de MEXICO: Tultepec, Tultitl&#225;n, Ixtapaluca, Chalco de D&#237;az Covarrubias, Huixquilucan de Degollado, San Mateo Atenco, Toluca, Tepotzotl&#225;n, Cuautitl&#225;n, Coacalco, Cuautitl&#225;n Izcalli, Atizap&#225;n de Zaragoza, Tlalnepantla, Naucalpan de Ju&#225;rez, Ecatepec, Chimalhuac&#225;n, San Vicente Chicoloapan, Texcoco, Nezahualc&#243;yotl y Los Reyes La Paz.<br>
Municipios del Estado de MORELOS: Cuernavaca.<br>
&nbsp;<br>
5.2.2 Guadalajara<br>
Municipios del Estado de JALISCO: Guadalajara, Tonal&#225;, Juanacatl&#225;n, Tlaquepaque, Zapopan, El Salto y Tlajomulco de Z&#250;&#241;iga.<br>
&nbsp;<br>
5.2.3 Monterrey<br>
Municipios del Estado de NUEVO LEON: Monterrey, Guadalupe, Santa Catarina, General Escobedo, Apodaca, Ju&#225;rez, Garc&#237;a, San Nicol&#225;s de los Garza y San Pedro Garza Garc&#237;a.<br>

</body>
</html>