{% extends "base.html" %}
{% block titulo %}Ver Calles{% endblock %}
{% block externalcss %}
    <link rel="stylesheet" href="/static/css/forms/main.css" type="text/css" />
    <link rel="stylesheet" href="/static/css/forms/location.css" type="text/css" />
    <link href="/static/js/external/messi/messi.css" rel="stylesheet" type="text/css" media="screen" />
{% endblock %}
{% block externaljs %}
    <script src="/static/js/external/messi/messi.min.js"></script>
    <script type="text/javascript">
        function search_submit(pagina){
            if (typeof pagina == "object") {
                pagina = "1";
            }

            var base_url = window.location.pathname;
            base_url+="?page="+pagina;
            base_url=append_page(base_url);
            window.location = base_url;
        }
        function append_page(base_url){
            var get = getUrlVars();
            if(get.length>0){
                if (get[0]!=window.location.protocol+"//"+window.location
                        .host+window.location.pathname){
                    for(var i=0; i<get.length; i++){
                        if (get[i]!="msj" && get[i]!="ntype" && get[i]!="page"){
                            base_url+="&"+get[i]+"="+get[get[i]];
                        }
                    }
                }

            }
            return base_url
        }
        function append_get(base_url){
            var get = getUrlVars();
            if(get.length>0){
                if (get[0]!=window.location.protocol+"//"+window.location
                        .host+window.location.pathname){
                    for(var i=0; i<get.length; i++){
                        if (get[i]!="order_calle" && get[i]!="order_colonia" && get[i]!="order_municipio" && get[i]!="order_estado"){
                            base_url+="&"+get[i]+"="+get[get[i]];
                        }
                    }
                }

            }
            return base_url
        }
    </script>
{% endblock %}
{% block document_ready %}
            $("a.del").click(function(event){
                event.preventDefault();
                var url="/location/eliminar_calle/"+$(this).attr("rel")+"/";
                new Messi('&iquest;Est&aacute; seguro de que desea eliminar la calle?',
                        {title: 'Eliminar calle', modal: true, buttons: [{id: 0,
                            label: 'Cancelar', val: 'N'},{id: 1, label: 'Aceptar', val: 'Y'
                        }],
                        callback: function(val) {
                            if(val=='Y'){
                                document.location.href=url;
                            } else return false; }
                        });
            });
            $("#aplicar").click(function(e){
                e.preventDefault();
                if($("#actions").val()!="0"){
                    var check = false;
                    $("tbody input:checkbox").each(function(){
                        if($(this).is(":checked")){
                            check = true;
                        }
                    });
                    if(check){
                    new Messi('&iquest;Est&aacute; seguro de que desea eliminar las calles seleccionadas?',
                            {title: 'Eliminar calles', modal: true, buttons: [{id: 0,
                                label: 'Cancelar', val: 'N'},{id: 1, label: 'Aceptar', val: 'Y'
                            }],
                                callback: function(val) {
                                    if(val=='Y'){
                                        document.forms["operations_batch"].submit();
                                    } else return false; }
                            });
                    }
                }else{
                    return false;
                }

            });

            $("#sort_calle").click(function(e){
                e.preventDefault();
                var get = getUrlVars();

                var base_url = window.location.pathname;
                base_url+="?order_calle="+$("#sort_calle").attr("rel");
                base_url=append_get(base_url);
                window.location = base_url;
            });
            $("#sort_colonia").click(function(e){
                e.preventDefault();
                var get = getUrlVars();

                var base_url = window.location.pathname;
                base_url+="?order_colonia="+$("#sort_colonia").attr("rel");
                base_url=append_get(base_url);
                window.location = base_url;
            });
            $("#sort_municipio").click(function(e){
                e.preventDefault();
                var get = getUrlVars();

                var base_url = window.location.pathname;
                base_url+="?order_municipio="+$("#sort_municipio").attr("rel");
                base_url=append_get(base_url);
                window.location = base_url;
            });
            $("#sort_estado").click(function(e){
                e.preventDefault();
                var get = getUrlVars();

                var base_url = window.location.pathname;
                base_url+="?order_estado="+$("#sort_estado").attr("rel");
                base_url=append_get(base_url);
                window.location = base_url;
            });


{% endblock %}

{% block breadcumbs %}
     <div id="bread_crumbs">
     <a href="/profile/{{ request.user.pk }}/" class="fl username">{{ request.user.first_name }} {{ request.user.last_name }}</a>
        <ul>
            <li><a href="/main/">Inicio</a></li>
            <li><a href="/panel_de_control/location/">Ubicaciones</a></li>
            <li>Calles</li>
        </ul>
        <a href="/logout" id="userLogOut">Cerrar sesión</a>

    </div>

{% endblock %}

{% block contenido %}

    <div id="page_content">
    <div id="contenido_interno">
        <h2 id="titulo_form" class="user_role">Ver calles</h2>


        <div class="divider" id="divider_top">&nbsp;</div>
        {% if message %}
            <span class="notif {% if msg_type == "success" %}n_success{% else %}n_notif{% endif %}">
                    {% autoescape off %}{{ message }}{% endautoescape %}
                <a href="#" onclick="$(this).parent().remove(); History.replaceState({}, '', '?page=1');">X</a>
                </span>
        {% endif %}
        <div id="form_container">

            <p class="description">
                Pid nisi sed dictumst ac ultricies, vut velit pid, nascetur est ac nunc urna amet tempor cum in odio. Ultrices. Urna placerat in auctor, urna.
                <br/>
                Pid eu, nisi egestas. Enim in porttitor, sed nec tempor, cursus dictumst enim? Augue! Porttitor mid, risus cras! Non duis et turpis, adipiscing augue.
            </p>


                <div id="role_actions">

                    <a href="/location/agregar_calle/"><span class="plus"></span>
                        Nueva Calle
                    </a>
                    <span class="hz_divider"></span>
                    <form method="get" action=".">
                        <label class="input">
                            <span>Inserte su texto aqu&iacute;</span>
                            <input type="text" name="search" id="search"/>
                        </label>
                        <button class="aqua_btn">
                            Buscar
                        </button>
                    </form>
                </div>
                <form id="operations_batch" action="/location/eliminar_calle_batch/" method="post">
                    {% csrf_token %}
                    <div id="grid_container">
                        <table>
                            <thead>
                            <tr>
                                <th style="width: 20%;">
                                    <a href="#" id="sort_calle" rel="{{ order_calle }}">
                                        Calle
                                        <span class="sort"></span>
                                    </a>
                                </th>
                                <th style="width: 20%;">
                                    <a href="#" id="sort_colonia" rel="{{ order_colonia }}">
                                        Colonia
                                        <span class="sort"></span>
                                    </a>
                                </th>
                                <th style="width: 20%;">
                                    <a href="#" id="sort_municipio" rel="{{ order_municipio }}">
                                        Municipio
                                        <span class="sort"></span>
                                    </a>
                                </th>
                                <th style="width: 20%;">
                                    <a href="#" id="sort_estado" rel="{{ order_estado }}">
                                        Estado
                                        <span class="sort"></span>
                                    </a>
                                </th>
                                <th style="width: 20%;">Acciones</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for calle in paginacion.object_list %}

                                <tr class="{% cycle 'row1' 'row2' %}">
                                    <td>
                                        <input type="checkbox" id="calle_{{ calle.id_c_calle }}" name="calle_{{ calle.id_c_calle }}"/>
                                        <label for="calle_{{ calle.id_c_calle }}">

                                                {{ calle.calle }}

                                        </label>
                                    </td>
                                    <td class="c">

                                            {{ calle.colonia }}

                                    </td>
                                    <td class="c">

                                        {{ calle.municipio }}

                                    </td>
                                    <td class="c">

                                        {{ calle.estado }}

                                    </td>
                                    <td class="c">
                                        <a class="del" rel="{{ calle.id_c_calle }}"
                                           title="Eliminar Calle" href="#"></a>
                                        <a class="edit" title="Editar Calle" href="/location/editar_calle/{{ calle.id_c_calle }}/"></a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <div id="table_footer">
                            <select id="actions" name="actions">
                                <option value="0">Elije una Acci&oacute;n</option>
                                <option value="delete">Eliminar</option>
                            </select>
                            <button class="fl aqua_btn" id="aplicar">Aplicar a la
                                selecci&oacute;n</button>

                            <div class="pagination">
                            <span class="step-links">
                                {% if paginacion.has_previous %}
                                    <a href="#" onclick="search_submit({{ paginacion.previous_page_number }})">Anterior</a> &ndash;
                                {% endif %}

                                <span class="current">
                                    P&aacute;gina {{ paginacion.number }} de {{ paginacion.paginator.num_pages }}
                                </span>

                                {% if paginacion.has_next %}
                                    &ndash; <a href="#" onclick="search_submit({{ paginacion.next_page_number }})">Siguiente</a>
                                {% endif %}
                            </span>
                            </div>

                        </div>
                    </div>
                </form>




        </div>


    </div>
</div>
{% endblock %}