<!DOCTYPE html>
<html>
<head>
    <title>Husos Horarios de México</title>
    <link rel="stylesheet" href="/static/css/theme.css"/>
</head>
<body style="background: none;">
<h3>Tiempo del Centro: UTC –6 (UTC –5 en verano)</h3>
<br>
    Aguascalientes<br>
    Campeche<br>
    Chiapas (las comunidades zapatistas no respetan el horario de verano)<br>
    Coahuila<br>
    Colima (excepto las Islas Revillagigedo)<br>
    Distrito Federal<br>
    Durango<br>
    Guanajuato<br>
    Guerrero<br>
    Hidalgo<br>
    Jalisco<br>
    México<br>
    Michoacán (la comunidad de católicos radicales Nueva Jerusalén no respeta el horario de verano)<br>
    Morelos<br>
    Nayarit (sólo Bahía de Banderas)<br>
    Nuevo León<br>
    Oaxaca<br>
    Puebla<br>
    Querétaro<br>
    Quintana Roo<br>
    San Luis Potosí<br>
    Tabasco<br>
    Tamaulipas<br>
    Veracruz<br>
    Yucatán<br>
    Zacatecas<br><br>

<h3>Tiempo del Pacífico: UTC–7 (UTC–6 en verano)</h3>
<br>
    Baja California Sur<br>
    Colima (sólo Islas Clarión, San Benedicto y Roca Partida, que pertenecen al Archipiélago de Revillagigedo, y no aplican el horario de verano)<br>
    Chihuahua<br>
    Nayarit (excepto Bahía de Banderas)<br>
    Sinaloa<br><br>

<h3>Tiempo del Pacífico: UTC–7 todo el año</h3>
<br>
    Sonora (no participa en el horario de verano)<br><br>

<h3>Tiempo del Noroeste UTC–8 (UTC–7 en verano)</h3>
<br>
    Baja California<br>
    Colima (sólo Isla Socorro, que pertenece al Archipiélago de Revillagigedo, y no aplica el horario de verano)<br><br>


<h3>Tiempo del Sureste: UTC–5 (UTC–4) en verano</h3>
    Quintana Roo(Por validar)


</body>
</html>