
a{
    color: #666;
}
h1{
    font-size: 60px;
    text-align: center;
    margin-top: 16%;
}
#login_div {
    width: 530px;
    height: 370px;
    position:absolute;
    left: 50%;
    top: 50%;
    margin-left: -265px;
    margin-top: -185px;
}
#login_div2 {
    width: 530px;
    height: 370px;
    position: relative;
    left: 50%;
    top: 50%;
    margin-left: -265px;
    margin-top: 166px;
}
button{
    display: block;
    margin: 1em auto;
    width: 127px;
}
label{
    width: 165px;
    margin: 1em auto;
}
form{
    text-align: center;
}
p{
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 200%;
    color: #636363;
    margin-top: 15px;
}

