/*---------------------------------------------*/
/*------general look and feel-------*/
/*---------------------------------------------*/
/*-----Reset CSS-----*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body{
    min-height: 100% !important;
    height: 100%;
    width: 100%;
    min-width: 100% !important;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 12px;
    vertical-align: baseline;
    font-family: helvetica,serif;
    text-decoration: none;
}
input, select{
    font-family: helvetica, serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
.hidden{
    display: none;
}
.vacio{
    display: block;
    width: 100%;
    height: 1px;
    line-height: 1px;
    clear: both;
}
body {
    line-height: 1;
    /*background-image: url("../images/general/body_back.png");*/
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

a:hover{
    text-decoration: underline;
}
/*--..General..--*/
.fl{ float:left !important; }
.fr{ float:right !important; }

.l{ text-align:left; }
.c{ text-align:center; }
.j{ text-align:justify; }
.r{ text-align:right; }

.g1,.g2,.g3,.g4,.g5,.g6,.g7,.g8,.g9,.g10,.g11,.g12 {
    display:inline;
    float:left;
    margin-left:1%;
    margin-right:1%;
    padding:8px 0;
}
.alpha{margin-left:0;}
.omega{margin-right:0;}
.auto{
    display: block;
    margin: 0 auto;
}
.g1{width:6.333%;}
.g2{width:14.667%;}
.g3{width:23.0%;}
.g4{width:31.333%;}
.g5{width:39.667%;}
.g6{width:48.0%;}
.g7{width:56.333%;}
.g8{width:64.667%;}
.g9{width:73.0%;}
.g10{width:81.333%;}
.g11{width:89.667%;}
.g12{width:98.0%;}

/*----Jquery Labels----*/
.input {
    background: white;
    display: block;
    clear: both;
}
.input span {
    position: absolute;
    padding: 5px;
    margin-left: 3px;
    color: #999;
}
.input input, .input textarea, .input select {
    position: relative;
    margin: 0;
    border-width: 1px;
    padding: 6px;
    background: transparent;
    font: inherit;
}
/* Hack to remove Safari's extra padding. Remove if you don't care about pixel-perfection. */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    .input input, .input textarea, .input select { padding: 4px; }
}


#content{
    min-width: 870px;
    min-height: 800px;
    margin: 0 auto;
    display: block;
    float: left;
    background: #666;
}
header{
    width: 100%;
    height: 40px;
    background: #999999;
    position: absolute;
}
#header-container{
    padding: 10px;
    min-width: 1024px;
    margin: 0 auto;
    height: 100%;
}
#user_menu li{
    display: inline-block;
}
#sidebar{
    width: 154px;
    background: #ccc;
    height: 100%;
}
#sidebar_content{
    margin-top: 50px;
}