/*---------------------------------------------*/
/*------general look and feel-------*/
/*---------------------------------------------*/
@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);
/*-----Reset CSS-----*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body{
    min-height: 100% !important;
    height: 100%;
    width: 100%;
    min-width: 100% !important;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 12px;
    vertical-align: baseline;
    font-family: 'Droid Sans', Helvetica, sans-serif;
    text-decoration: none;
}
input, select{
    font-family: helvetica, serif;
    height: 25px;

}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
.hidden{
     display: none;
 }
.vacio{
    display: block;
    width: 100%;
    height: 1px;
    line-height: 1px;
    clear: both;
}
.divider{
    display: block;
    width: 100%;
    height: 2px;
    line-height: 2px;
    clear: both;
    margin: 10px auto;
    background: url(images/bgs/divider_1130.png) no-repeat 50% 50%;
}
body {
    line-height: 1;
    /*background-image: url("../images/general/body_back.png");*/
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

a:hover{
    text-decoration: underline;
}
/*--..General..--*/
.fl{ float:left !important; }
.fr{ float:right !important; }

.l{ text-align:left; }
.c{ text-align:center; }
.j{ text-align:justify; }
.r{ text-align:right; }

.g1,.g2,.g3,.g4,.g5,.g6,.g7,.g8,.g9,.g10,.g11,.g12 {
    display:inline;
    float:left;
    margin-left:1%;
    margin-right:1%;
    padding:8px 0;
}
/*.alpha{margin-left:0;}
.omega{margin-right:0;}*/
.auto{
    display: block;
    margin: 0 auto;
}
.g1{width:6.333%;}
.g2{width:14.667%;}
.g3{width:23.0%;}
.g4{width:31.333%;}
.g5{width:39.667%;}
.g6{width:48.0%;}
.g7{width:56.333%;}
.g8{width:64.667%;}
.g9{width:73.0%;}
.g10{width:81.333%;}
.g11{width:89.667%;}
.g12{width:98.0%;}

/*----Jquery Labels----*/
.input {
    background: url(images/bgs/input_inner_shadow.png) repeat-x;
    display: block;
    clear: both;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    text-align: left
}
.input span {
    position: absolute;
    padding: 11px 0;
    margin-left: 3px;
    color: #909090;
    z-index: 1;
}
.input input, .input textarea, .input select {
    position: relative;
    margin: 0;
    border-width: 1px;
    padding: 6px;
    background: transparent;
    font: inherit;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    width: 158px;
}
/* Hack to remove Safari's extra padding. Remove if you don't care about pixel-perfection. */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    .input input, .input textarea, .input select { padding: 4px; }
}

/*--Overall look and feel--*/
body{
    background: #f3f3f3;
    background-image: url(images/bgs/gray_steel.png); /* fallback */
    background-image: url(images/bgs/gray_steel.png), -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#333333)); /* Saf4+, Chrome */
    background-image: url(images/bgs/gray_steel.png), -webkit-linear-gradient(top, #ffffff, #333333); /* Chrome 10+, Saf5.1+ */
    background-image: url(images/bgs/gray_steel.png),    -moz-linear-gradient(top, #ffffff, #333333); /* FF3.6+ */
    background-image: url(images/bgs/gray_steel.png),     -ms-linear-gradient(top, #ffffff, #333333); /* IE10 */
    background-image: url(images/bgs/gray_steel.png),      -o-linear-gradient(top, #ffffff, #333333); /* Opera 11.10+ */
    background-image: url(images/bgs/gray_steel.png),         linear-gradient(top, #ffffff, #333333); /* W3C */
}

#table_container{
    position: relative;
    top: 59px;
    height: 100%;
    background: #f3f3f3;
    background-image: url(images/bgs/gray_steel.png); /* fallback */
    background-image: url(images/bgs/gray_steel.png), -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#333333)); /* Saf4+, Chrome */
    background-image: url(images/bgs/gray_steel.png), -webkit-linear-gradient(top, #ffffff, #333333); /* Chrome 10+, Saf5.1+ */
    background-image: url(images/bgs/gray_steel.png),    -moz-linear-gradient(top, #ffffff, #333333); /* FF3.6+ */
    background-image: url(images/bgs/gray_steel.png),     -ms-linear-gradient(top, #ffffff, #333333); /* IE10 */
    background-image: url(images/bgs/gray_steel.png),      -o-linear-gradient(top, #ffffff, #333333); /* Opera 11.10+ */
    background-image: url(images/bgs/gray_steel.png),         linear-gradient(top, #ffffff, #333333); /* W3C */
    width: 100%;
}
#table_container tr{
    height: 100%;
}
#table_container td{
    vertical-align: top;
}
#page_content{
    border-top: solid 1px #2b87a3;
    background: url("images/bgs/bg_pattern.png") #fff;
    margin-top: 10px;
    overflow: auto;
}
#contenido_interno{
    width: 1162px;
    display: block;
    margin: 0 auto;
    min-height: 800px;
    margin-top: 10px;
    padding: 28px 18px;
    /*
    overflow-y: auto;
    overflow-x: hidden;
    */
}
#content{
    min-width: 870px;
    width: 100%;
}
#form_container{
    display: block;
    margin: 0 auto;
    float: none;
    width: 900px;
}
#header{
    position: absolute;
    top: 0;
    width: 100%;
    height: 59px;

}
.main_logo{
    height: 35px;
}
.main_logo a{
    display: block;
    height: 35px;
    width: 150px;
}
.main_logo#myrios a{

    background: url("images/imgs_icns/myrios_logo.png") -11.7px;
    margin-top: 6px;
}
.main_logo#auditem a{
    margin-top: -6px;
    height: 47px;
    background-position: right center;
    width: 168px !important;
    background: url("images/imgs_icns/auditem_logo.png");
}
h2{
    line-height: 22px;
    color: #4d5b65;
    font-weight: 700;
    font-size: 20px;
    float: left;
}
h2 span{
    font-size: 20px;
    font-weight: 300 !important;
}
.various{
    line-height: 23px;
    color: #0278cf;
    float: left;
    margin-left: 5px;
}
/*--Main menu--*/
#tr_menu{
    height: 61px !important;
}
#top_menu{
    height: 62px;
    display: block;
    width: 100%;
    background: url(images/bgs/menu_bar_blue_green.png) repeat-x;
}
#top_menu #menu_container{
    display: block;
    width: 1162px;
    padding: 0 28px;
    margin: 0 auto;
}
/*-----Company-Building chooser*/
#logo_container{
    height: 67px;
    width: 180px;
}
#logo_container img{
    max-height: 50px;
    max-width: 180px;
}
#company_options .companies_continer{

}
#companies_container{
    position: relative;
    margin-left: 7px;
}
#companies_container #empresa{
    width: 130px;
    display: block;
    background: url(images/imgs_icns/company_arrow_d.png) no-repeat 100% 50%;
    line-height: 56px;
    color: #dbe2f2;
    font-size: 13px;
}
#companies_container #empresa.expanded{
    background: url(images/imgs_icns/company_arrow_u.png) no-repeat 100% 50%;
}
#company_options .username{
    color: #91d6ec;
    text-decoration: underline;
    line-height: 56px;
    margin-left: 10px;
}

#company_list{
    background: #FFF;
    border-bottom: solid 1px #2b87a3;
    border-left: solid 1px #2b87a3;
    border-right: solid 1px #2b87a3;
    width: 228px;
    margin-top: 6px;
    position: absolute;
    z-index: 2;
    left: -7px;
}
.company_list{
    display: block;
    height: 30px;
    padding: 6px 12px;
}
.company_list:hover, .building_list:hover{
    background: #ededed;
}
.company_list .company_name{
    font-size: 16px;
    display: block;
}
.building_list, .company_list{
    cursor: pointer;
}
.company_list .cluster_company, .building_list .building_location{
    color: #2b87a3;
    display: block;
    margin-top: 3px;
}
.company_list .building_count{
    color: #e15500;
    float: right;
    margin-top: -9px;
}
#building_container{
    max-height: 313px;
    overflow: auto;
    position: absolute;
    right: -309px;
    top: 61px;
    width: 215px;
    border: solid 1px #2b87a3;
    background: #fff;
    z-index: 2;
}
#building_container label{
    width: 88%;
    display: block;
    margin: 10px auto 10px auto;
}
.building_list{
    display: block;
    height: 32px;
    padding: 10px 10px;
}
.building_list .building_name{
    font-size: 14px;
}
#building_filter{
    width: 180px;
}
/*-----NAV MENU------*/
#navigation_menu{
    position: relative;
}
#main_menu{
    width: 562px;
}
#main_menu li.first_level{
    vertical-align: middle;
    float: left;
    width: 100px;
    height: 57px;
    line-height: 57px;
    font-size: 13px;
    color: #dbe2f2;
    text-align: center;
    margin-left: 5px;
}
#main_menu li.first_level.dashboard{
    width: 79px !important;
    background: url(images/imgs_icns/menu_myrios.png) no-repeat left center;
    padding-left: 21px;
}
#main_menu li.first_level.analisis{
    width: 62px !important;
    background: url(images/imgs_icns/menu_bolt.png) no-repeat left center;
    padding-left: 15px;
}
#main_menu li.first_level.consumo{
    width: 61px !important;
    background: url(images/imgs_icns/menu_meter.png) no-repeat left center;
    padding-left: 27px;
}
#main_menu li.first_level.edificio{
    width: 55px !important;
    background: url(images/imgs_icns/menu_building.png) no-repeat left center;
    padding-left: 28px;
}
#main_menu li.first_level.alarmas{
    width: 59px !important;
    background: url(images/imgs_icns/menu_alarm.png) no-repeat left center;
    padding-left: 23px;
}
#main_menu li.first_level.settings{
    background: url(images/imgs_icns/menu_settings.png) no-repeat left center;
}
#main_menu li.first_level.settings a{
    display: block;
    height: 100%;
}
/*all nested uls*/
#main_menu li.first_level ul{
    background: #fff;
    border: solid 1px #2b87a3;
}
/*second level*/
ul#main_menu ul{
    margin-left: -19px;
    width: 222px;
}
ul#main_menu ul ul{
    position: absolute !important;
    z-index: 3;
    top: -1px;
    right: -202px;
}
ul#main_menu ul li {
    position: relative;
    background: url(images/bgs/bread_crumb_sep.png) no-repeat 98% 50%;
}
ul#main_menu ul li:hover{
    background: url(images/bgs/bread_crumb_sep.png) #ededed no-repeat 98% 50%;
}
/*third level*/
ul#main_menu ul ul{
    width: 200px;
}
ul#main_menu ul ul li{
    background: url(images/bgs/bread_crumb_sep.png) no-repeat 6% 50%;
}
ul#main_menu ul ul li:hover{
    background: url(images/bgs/bread_crumb_sep.png) #ededed no-repeat 6% 50%;
}

#main_menu li.sub_level{
    display: block;
    padding: 8px 0px 8px 16px;
    height: 30px;
    font-weight: 300;
    text-align: left;
}
#main_menu li.sub_level, #main_menu li.sub_level a{
    color: #666;
    font-size: 12px !important;
    text-decoration: none;
    line-height: 30px;
}

/* tooltip styling. by default the element to be styled is .tooltip  */
.tooltip {
    display:none;
    background:transparent url(images/bgs/black_arrow.png) no-repeat;
    font-size:12px;
    height:45px;
    width:129px;
    padding-top:25px;
    color:#eee;
    text-align: center;
}
.tooltip.bottom {
    background:url(images/bgs/black_arrow_bottom.png) no-repeat;

    height:55px;
}

.tooltip.bottom {
    background:url(images/bgs/black_arrow_bottom.png) no-repeat;
}

#notificaciones a{ background: url(images/imgs_icns/notifications_icon_topbar.png) no-repeat;}
#notification_number{
    background: #f6531a;
    border: solid 2px #ffffff;
    position: absolute;
    width: 16px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    top: -9px;
    left: -10px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
}
#notification_number span{
    color: #ffffff;
    font-weight: 700;
    font-size: 13px;

}
#perfil a{ background: url(images/imgs_icns/profile_icon_topbar.png) no-repeat;}
#configuracion a{ background: url(images/imgs_icns/settings_icon_topbar.png) no-repeat;}
#salir a{ background: url(images/imgs_icns/exit_icon_topbar.png) no-repeat;}
#header-container{
    padding: 10px;
    width: 1162px;
    margin: 0 auto;
    height: 69%;
}

/* ----- Buttons -----*/
button{
    height: 31px;
    min-width: 103px;
}
a.aqua_btn:hover, a.grey_btn:hover{
    text-decoration: none;
}
.aqua_btn{
    background: url(images/bgs/aqua_button.png) repeat-x;
    border: solid 1px #78939a;
    color: #fff;
}
.grey_btn{
    background: url(images/bgs/grey_button.png) repeat-x;
    border: solid 1px #bdbdbd;
    color: #636363;
}
.aqua_btn, .grey_btn{
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 0 0 4px #999;
    padding: 6px 11px;
}


/*------Notification Bars------*/
.notif{
    height: 31px;
    line-height: 31px;
    text-align: center;
    color: #fff;
    font-weight: 700;
    display: block;

}
.notif a,.notif a:active{
    color: #fff;
    font-weight: 700;
    float: right;
    margin-right: 1em;
}
.n_error{
    background: url(images/bgs/notif_error.png) repeat-x;
}
.n_success{
    background: url(images/bgs/notif_success.png) repeat-x;
}
.n_notif{
    background: url(images/bgs/notif_notif.png) repeat-x;
}
/*------------Breadcrumbs-----------*/
#bread_crumbs{
    background: url(images/bgs/bread_crumbs_bg.png) repeat-x;
    border: solid 1px #9ebfc7;
    margin-top: 10px;
    height: 32px;
    line-height: 32px;
}
#bread_crumbs ul{
    display: block;
    width: 1162px;
    padding: 0 28px;
    margin: 0 auto;
}
#bread_crumbs ul li:first-child{
    background: none;
}
#bread_crumbs ul li{
    float: left;
    padding-left: 10px;
    margin-right: 5px;
    background: url(images/bgs/bread_crumb_sep.png) 0 50% no-repeat;
}
#bread_crumbs ul li a{
    color: #424242;
    font-size: 12px;
}
#footer{
    margin-top: 10px;
}
#footer span{
    display: block;
    text-align: center;
    color: #d0d0d0;
    font-size: 11px;
    line-height: 170%;
}
.selector span{
    visibility: visible !important;
}
.sidebarsub_op{
    display: none;
}
.error{
    border: solid 1px #dd3333;
}
.plus{
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(images/imgs_icns/plus_circle.png);
    cursor: pointer;
}
.sort{
    display: inline-block;
    width: 12px;
    height: 12px;
    background: url(images/imgs_icns/sort_icon.png) no-repeat;
    cursor: pointer;
}
.delete{
    display: inline-block;
    width: 14px;
    height: 14px;
    background: url(images/imgs_icns/del_circle.png) no-repeat;
    cursor: pointer;
}
.correct{
    background: url(images/imgs_icns/correct.png) no-repeat;
    width: 19px;
    height: 16px;
    display: inline-block;
}
.incorrect{
    background: url(images/imgs_icns/incorrect.png) no-repeat;
    width: 13px;
    height: 12px;
    display: inline-block;
}
#titulo_form{
    font-size: 18px;
    height: 23px;
    padding-left: 39px;
}
#titulo_form span{
    font-size: 18px;
    font-weight: 400;
    color: #505e68;
}
#titulo_form.user_role{
    background: url(images/imgs_icns/user_role_icon.png) no-repeat left 50%;
}
#titulo_form.user{
    background: url(images/imgs_icns/user_icon.png) no-repeat left 50%;
}
#titulo_form.privileges{
    background: url(images/imgs_icns/privileges_icon.png) no-repeat left 50%;
}
#titulo_form.building_attr{
    background: url(images/imgs_icns/square_triangle_icon_sm.png) no-repeat left 50%;
}
#titulo_form.company {
    background: url(images/imgs_icns/company_icon.png) no-repeat left 50%;
}
#titulo_form.cluster {
    background: url(images/imgs_icns/cluster_icon.png) no-repeat left 50%;
    padding-left: 60px;
}
#titulo_form.powermeter {
    background: url(images/imgs_icns/consumer_unit_icon.png) no-repeat left 50%;
}