.ui-spinner {position: relative; border: 0px solid white; left: -16px;}
.ui-spinner-buttons {position: absolute; top: -1px !important;}
.ui-spinner-button {overflow: hidden}
.ui-spinner-button{
    height: 8.5px !important;
    background: none;
    border: none;
}
.integer{
    width: 75px !important;
    height: 21px !important;
    padding-right: 15px !important;
}
#slider-range{
    width: 45px;
    position: absolute;
    left: 0;
    top: 34%;
}
#up{
    top: -108px;
    position: absolute;
}
#down{
    position: absolute;
    bottom: -200px;
}
#electric_unit{
    top: 319px;
    position: absolute;
    left: 29px;
    font-weight: 700;
}
#notice{
    display: block;
    margin: 0 auto;
    text-align: center;
    font-weight: 700;
}