.ui-spinner {position: relative; border: 0px solid white; }
.ui-spinner-buttons {position: absolute; top: -1px !important;}
.ui-spinner-button {overflow: hidden}
.ui-spinner-button{
    height: 8.5px !important;
}
.integer{
    width: 29px !important;
    height: 21px !important;
}
#slider-range{
    width: 45px;
    position: absolute;
    left: 0;
    top: 34%;
}
#up{
    top: -112px;
    position: absolute;
}
#down{
    position: absolute;
    bottom: -200px;
}