div, p, span{
    font-size: 12px;
}
.hidden{
    display: none;
}
div#filelist {
    border:solid 1px #aaa;
    width: 350px;
    min-height:162px;
}
div#filelist div:nth-child(2n+1){
    background-color: #eee;
}
#filelist #table_header{
    width: 350px;
    overflow:  auto;
    /* for W3C-compliant browsers */
    background-image: linear-gradient(top, rgba(255,255,255,255) 3%, rgba(231,231,231,255) 65%, rgba(207,207,207,255) 95%);
    /* for Safari 5.03+ and Chrome 7+ */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.031596079766670004, rgba(255,255,255,255)), color-stop(0.6508791, rgba(231,231,231,255)), color-stop(0.95345055830403, rgba(207,207,207,255)));
    /* for Firefox 3.6+ */
    background-image: -moz-linear-gradient(top, rgba(255,255,255,255) 3%, rgba(231,231,231,255) 65%, rgba(207,207,207,255) 95%);
    /* for Opera 11.1+ */
    background-image: -o-linear-gradient(top, rgba(255,255,255,255) 3%, rgba(231,231,231,255) 65%, rgba(207,207,207,255) 95%);
    /* for IE */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e7e7e7'endColorstr='#cfcfcf');
    border-bottom: 1px solid #aaa;
    border-top: 1px solid #aaa;
}
#filelist #table_header span{
    float:left;
    height:25px;
    text-align:center;
    padding-top:.7em;
    font-size: 12px !important;
    font-weight: bold;
}


.archivo, .tamanio, .progreso{

    float:left;
    height:30px;
    text-align:left;
    padding-top:.4em;
}
#head_archivo{
    width: 138px;
    border-right: solid 1px #aaa;
}
.archivo{
    padding-left:1em;
    border-right: solid 1px #fff;
    width: 127px;
}
.tamanio, #head_size{
    width: 54px;
    text-align: center;
    border-right: solid 1px #aaa;
}
.tamanio{
    border-right: solid 1px #fff;
}
.progreso, #head_progress{
    width: 148px;
}
.progreso span{
    float:left;
}
.file_row{
    height:28px;
}
.file_row span{
    height:24px;
}

#uploader_cont {
    overflow: auto;
    margin-top:1em;
    min-height: 50px;
}
.thumb_container{
    width: 147px;
    height: 132px;
    float: left;
}
.thumbs .uploaded_img{
    max-height: 100px;
    margin: auto;
    max-width:130px;
}
#thumbs_cont{
    margin-right: 2em;
    min-height: 200px;
    border: solid 1px #AAA;
    width: 26%;
    float: left;
}
.thumb_img_cont{
    position: relative;
    padding-top: 6px;
    width:131px;
    height:131px;
    float:left;
    margin-left: 1em;
}
.file_name{
    display: block;
    text-align: left;
    margin-left: 1em;
}
.del_thumb {
    position: absolute;
    right: 34px;
    top: 7px;
}
#upload_buttons{
    width: 350px;
}
#file_list_buttons{
    width: 350px;
    float: left;
    margin-right: 2em;
}
.desc{
    width: 100%;
    float: left;
    text-align: center;
    font-size: 14px;
}