{% extends "base.html" %}
{% block titulo %}
{% if operation == "edit" %}Editar{% else %}Alta de{% endif %} Tipo de Sector
{% endblock %}
{% block externalcss %}
<link rel="stylesheet" href="/static/css/forms/main.css" type="text/css" />
<link rel="stylesheet" href="/static/css/forms/rbac_add_user.css" type="text/css" />
<link rel="stylesheet" href="/static/css/forms/c_centers.css" type="text/css" />
<link type="text/css" href="/static/jquery-ui-1.8.23/css/smoothness/jquery-ui-1.8.23.custom.css" rel="stylesheet" />
{% endblock %}
{% block externaljs %}
<script type="text/javascript" src="/static/jquery-ui-1.8.23/js/jquery-ui-1.8.23.custom.min.js"></script>
<script type="text/javascript">
    var form_valid = true;
    var send_form = 0;
    $(document).ready(function(){
        $("#devicetypename").focus();
        $(".required").each(function(){
            $(this).parent().next().blur(function(e){
                var _span;

                if($.trim(e.delegateTarget.value)==''){
                    _span = "incorrect";
                    form_valid = false;
                }else{
                    if(/^[A-Za-z0-9ÁÉÍÓÚáéíóuñÑ ]+$/.test(e.delegateTarget.value)){
                        _span = "correct";
                        form_valid = true;
                    }else{
                        _span = "incorrect";
                        form_valid = false;
                    }
                }

                var n_span = $("#"+e.delegateTarget.id).next();
                n_span.removeClass("incorrect");
                n_span.removeClass("correct");
                n_span.addClass(_span);
            });
        });
        $("#save").click(function(){
            validate_form();
            return send_form == 1;
        });
    });
    function validate_form(){
        if (form_valid){
            var _span;
            var sectoraltype_name = $("#stype_name");
            if(sectoraltype_name.val()==''){
                _span = "incorrect";
                form_valid = false;
            }else{
                _span = "correct";
            }
            sectoraltype_name.next().removeClass("incorrect");
            sectoraltype_name.next().removeClass("correct");
            sectoraltype_name.next().addClass(_span);

        }
        if (form_valid){
            send_form++;
        }
        return form_valid;
    }
</script>
{% endblock %}

{% block document_ready %}

//custom select for sidebar
$("#empresa").click(function(){
$("#company_list").slideToggle();
});
$("#company_list li").click(function(){
var texto=$(this).text().replace(/^\s*|\s*$/g,'');
var texto1 = texto.substring(0,17) + "...";
$("#empresa").text(texto1);
$("#company_list").slideUp();

$.ajax({
url: "/reportes/set_default_building/" + $(this).attr("rel"),
type: "GET",
dataType: 'json',
async: 'true',
success: function(datos){
    window.location.reload();
}
});
});

{% endblock %}

{% block contenido %}
<div id="bread_crumbs">
    <ul>
        <li><a href="/main/">Inicio</a></li>
        <li><a href="/panel_de_control/">Administraci&oacute;n</a></li>
        <li><a href="/buildings/tipos_sectores/">Tipos de Sectores</a></li>
        {% if operation == "edit" %}
        <li>

            Edici&oacute;n de tipo de sectores

        </li>
        {% else %}
        <li>Alta de tipo de sector</li>
        {% endif %}

    </ul>

</div>
<div id="contenido_interno">
    <h2 id="titulo_form" class="cluster">
        {% if operation == "edit" %}Edici&oacute;n de{% else %}Alta de{% endif %} tipo de sector
    </h2>


    <div class="divider" id="divider_top">&nbsp;</div>
    <div id="form_container">
        {% if message %}
                <span class="notif {{ type }}">
                    {% autoescape off %}{{ message }}{% endautoescape %}
                    <a href="#" onclick="$(this).parent().remove();">X</a>
                </span>
        {% endif %}
        <p class="description">
            Pid nisi sed dictumst ac ultricies, vut velit pid, nascetur est ac nunc urna amet tempor cum in odio. Ultrices. Urna placerat in auctor, urna.
            <br/>
            Pid eu, nisi egestas. Enim in porttitor, sed nec tempor, cursus dictumst enim? Augue! Porttitor mid, risus cras! Non duis et turpis, adipiscing augue.
        </p>
        <form method="post" action=".">
            {% csrf_token %}
            <h3 class="g12">Informaci&oacute;n del Tipo de Sector</h3>
            <div id="cluster_fields">
                <div class="fields_row g9">
                    <label for="stype_name" class="g2">Nombre<span class="required">*</span></label>
                    <input type="text" name="stype_name" id="stype_name" class="g9"
                           value="{{ post.stype_name }}"
                            />
                    <span></span>
                </div>
                <div class="fields_row g9">
                    <label for="stype_description" class="g2">Descripci&oacute;n</label>
                    <textarea rows="5" name="stype_description" id="stype_description" class="g9">{{ post.stype_description }}</textarea>

                    <span></span>
                </div>

            </div>

            <div class="buttons g12">
                <button class="aqua_btn" id="save">
                    Guardar
                </button>
            </div>
        </form>

    </div>


</div>
{% endblock %}