{% extends "base.html" %}
{% block titulo %}
{% if operation == "edit" %}Editar{% else %}Crear{% endif %} Cluster de Empresas
{% endblock %}
{% block externalcss %}
<link rel="stylesheet" href="/static/css/forms/main.css" type="text/css" />
<link rel="stylesheet" href="/static/css/forms/rbac_add_user.css" type="text/css" />
<link rel="stylesheet" href="/static/css/forms/c_centers.css" type="text/css" />
<link type="text/css" href="/static/jquery-ui-1.8.23/css/smoothness/jquery-ui-1.8.23.custom.css" rel="stylesheet" />
{% endblock %}
{% block externaljs %}
<script type="text/javascript" src="/static/jquery-ui-1.8.23/js/jquery-ui-1.8.23.custom.min.js"></script>
<script type="text/javascript">
    var form_valid = true;
    $(document).ready(function(){
        $("#clustername").focus();
        $(".required").each(function(){
            var _span;
            if ($(this).parent().next()[0].nodeName.toLowerCase() == 'input'){
                $(this).parent().next().blur(function(e){

                    if($.trim(e.delegateTarget.value)==''){

                        _span = "incorrect";
                        form_valid = false;
                    }else{
                        if(/^[A-Za-z0-9ÁÉÍÓÚáéíóuñÑ ]+$/.test(e.delegateTarget.value)){
                            _span = "correct";
                            form_valid = true;
                        }else{
                            _span = "incorrect";
                            form_valid = false;
                        }
                    }

                    var n_span = $("#"+e.delegateTarget.id).next();
                    n_span.removeClass("incorrect");
                    n_span.removeClass("correct");
                    n_span.addClass(_span);
                });
            }else if ($(this).parent().next()[0].nodeName.toLowerCase() == 'select'){
                var id_select = $(this).parent().next().attr('id')
                $("#"+id_select).change(function(e){
                    if($.trim(e.delegateTarget.value)==''){
                        _span = "incorrect";
                        form_valid = false;
                    }else{
                        _span = "correct";
                        form_valid = true;
                    }

                    var n_span =  $("#"+id_select).parent().next();
                    n_span.removeClass("incorrect");
                    n_span.removeClass("correct");
                    n_span.addClass(_span);
                });
            }
        });
        $("#save").click(function(){
            return validate_form();
        });
    });
    function validate_form(){
        if (form_valid){
            var _span;
            var clustername = $("#clustername");
            if(clustername.val()==''){
                _span = "incorrect";
                form_valid = false;
            }else{
                _span = "correct";
            }
            clustername.next().removeClass("incorrect");
            clustername.next().removeClass("correct");
            clustername.next().addClass(_span);

            }

            var sector = $("#clustersector");
            if(sector.val()==''){
                _span = "incorrect";
                form_valid = false;
            }else{
                _span = "correct";
            }
            $("#sel_sector").removeClass("incorrect");
            $("#sel_sector").removeClass("correct");
            $("#sel_sector").addClass(_span);

            return form_valid
        }
</script>
{% endblock %}


{% block contenido %}
<div id="bread_crumbs">
    <ul>
        <li><a href="/main/">Inicio</a></li>
        <li><a href="/buildings/clusters/">Clusters</a></li>
        {% if operation == "edit" %}
        <li>

            Edici&oacute;n de cluster de empresas

        </li>
        {% else %}
        <li>Alta de cluster de empresas</li>
        {% endif %}

    </ul>

</div>
<div id="contenido_interno">
    <h2 id="titulo_form" class="cluster">
        {% if operation == "edit" %}Editar{% else %}Crear{% endif %} cluster de empresas
    </h2>


    <div class="divider" id="divider_top">&nbsp;</div>
    <div id="form_container">
        {% if message %}
                <span class="notif {{ type }}">
                    {% autoescape off %}{{ message }}{% endautoescape %}
                    <a href="#" onclick="$(this).parent().remove();">X</a>
                </span>
        {% endif %}
        <p class="description">
            Pid nisi sed dictumst ac ultricies, vut velit pid, nascetur est ac nunc urna amet tempor cum in odio. Ultrices. Urna placerat in auctor, urna.
            <br/>
            Pid eu, nisi egestas. Enim in porttitor, sed nec tempor, cursus dictumst enim? Augue! Porttitor mid, risus cras! Non duis et turpis, adipiscing augue.
        </p>
        <form method="post" action=".">
            {% csrf_token %}
            <h3 class="g12">Informaci&oacute;n del Cluster</h3>
            <div id="cluster_fields">
                <div class="fields_row g9">
                    <label for="clustername" class="g2">Nombre<span class="required">*</span></label>
                    <input type="text" name="clustername" id="clustername" class="g9"
                           value="{{ post.clustername }}"
                    />
                    <span></span>
                </div>
                <div class="fields_row g9">
                    <label for="clusterdescription" class="g2">Descripci&oacute;n</label>
                    <textarea rows="5" name="clusterdescription" id="clusterdescription" class="g9">{{ post.clusterdescription }}</textarea>
                    <!--<input type="text" name="clusterdescription" id="clusterdescription" class="g9"
                           value="{{ post.clusterdescription }}"
                            />-->
                    <span></span>
                </div>
                <div class="fields_row g9">
                    <label for="clustersector" class="g2">Sector<span class="required">*</span></label>
                    <select name="clustersector" id="clustersector" class="g9">
                        <option value="">Selecciona un sector </option>
                        {% if sectores %}
                            {% for sector in sectores %}
                                <option value="{{sector.id}}" {% if post.clustersector == sector.id %} selected {% endif %}>{{ sector.sectorial_type_name }}</option>
                            {% endfor %}
                        {% endif %}

                    </select>
                    <span id="sel_sector"></span>
                </div>

            </div>

            <div class="buttons g12">
                <button class="aqua_btn" id="save">
                    Guardar
                </button>
            </div>
        </form>

    </div>


</div>
{% endblock %}