{% extends "popup_forms_base.html" %}
{% block titulo %}
    {% if operation == "edit" %}Editar{% else %}Alta de{% endif %} Medidor
{% endblock %}
{% block externalcss %}
    <link rel="stylesheet" href="/static/css/forms/main.css" type="text/css" />
    <link rel="stylesheet" href="/static/css/forms/rbac_add_user.css" type="text/css" />
    <link rel="stylesheet" href="/static/css/forms/c_centers.css" type="text/css" />
    <link type="text/css" href="/static/jquery-ui-1.8.23/css/smoothness/jquery-ui-1.8.23.custom.css" rel="stylesheet" />
{% endblock %}
{% block externaljs %}
    <script type="text/javascript" src="/static/jquery-ui-1.8.23/js/jquery-ui-1.8.23.custom.min.js"></script>
    <script type="text/javascript">
        var form_valid = true;
        var send_form = 0;
        var get = getUrlVars();
        $(document).ready(function(){
            $("#pw_alias").focus();
            $(".required").each(function(){
                var _span;
                if ($(this).parent().next()[0].nodeName.toLowerCase() == 'input'){
                    $(this).parent().next().blur(function(e){

                        if($.trim(e.delegateTarget.value)==''){

                            _span = "incorrect";
                            form_valid = false;
                        }else{
                            if(/^[A-Za-z0-9ÁÉÍÓÚáéíóuñÑ ]+$/.test(e.delegateTarget.value)){
                                _span = "correct";
                                form_valid = true;
                            }else{
                                _span = "incorrect";
                                form_valid = false;
                            }
                        }

                        var n_span = $("#"+e.delegateTarget.id).next();
                        n_span.removeClass("incorrect");
                        n_span.removeClass("correct");
                        n_span.addClass(_span);
                    });
                }else if ($(this).parent().next()[0].nodeName.toLowerCase() == 'select'){
                    var id_select = $(this).parent().next().attr('id');
                    $("#"+id_select).change(function(e){
                        if($.trim(e.delegateTarget.value)==''){
                            _span = "incorrect";
                            form_valid = false;
                        }else{
                            _span = "correct";
                            form_valid = true;
                        }

                        var n_span =  $("#"+id_select).parent().next();
                        n_span.removeClass("incorrect");
                        n_span.removeClass("correct");
                        n_span.addClass(_span);
                    });
                }
            });
            $("#save").click(function(e){
                e.preventDefault();
                validate_form();
                if(send_form == 1){
                    $.ajax({
                        type: "POST",
                        url: "/buildings/save_add_powermeter_popup/",
                        data: $("#add_pw_form").serialize(),
                        success: function(data){
                            var opener_=$(window.opener.document);
                            var nombre_parte = $("#pw_alias").val();
                            var id_ddl;
                            if(get['edit']=="edit"){
                                id_ddl = "#prof_pwr_edit";
                                opener_.find("#edit_node").parent()
                                        .removeClass("hidden");
                                opener_.find("#edit_node").show();


                            }else{
                                id_ddl = "#prof_pwr";
                                opener_.find("#add_node").parent()
                                        .removeClass("hidden");
                                opener_.find("#add_node").show();
                            }
                            opener_.find(id_ddl)
                                    .append("<option value='"+ data +"'>"+ nombre_parte+"</option>")
                                    .parent()
                                    .parent()
                                    .parent()
                                    .removeClass("hidden");
                            opener_.find(id_ddl+" option[value="+data+"]")
                                    .parent()
                                    .parent()
                                    .find("span")
                                    .text(nombre_parte);
                            if(get['edit']=="edit"){
                                opener_.find("#prof_pwr")
                                        .html(opener_.find(id_ddl).html());
                            }else{
                                opener_.find("#prof_pwr_edit")
                                        .html(opener_.find(id_ddl).html());
                            }
                            opener_.find(id_ddl+" option[value="+data+"]")
                                    .attr("selected","selected");

                            window.close();
                        }
                    });
                }
            });
        });
        function validate_form(){
            if (form_valid){
                var _span;
                var powermeter_alias = $("#pw_alias");
                if($.trim(powermeter_alias.val())==''){
                    _span = "incorrect";
                    form_valid = false;
                }else{
                    if(/^[A-Za-z0-9ÁÉÍÓÚáéíóuñÑ ]+$/.test(powermeter_alias.val())){
                        _span = "correct";
                    }else{
                        _span = "incorrect";
                        form_valid = false;
                    }
                }
                powermeter_alias.next().removeClass("incorrect");
                powermeter_alias.next().removeClass("correct");
                powermeter_alias.next().addClass(_span);

                var modelo = $("#pw_model");
                if(modelo.val()==""){
                    _span = "incorrect";
                    form_valid = false;
                }else{
                    _span = "correct";
                }
                $("#sel_model").removeClass("incorrect");
                $("#sel_model").removeClass("correct");
                $("#sel_model").addClass(_span);

                var powermeter_serial = $("#pw_serial");
                if(powermeter_serial.val()==''){
                    _span = "incorrect";
                    form_valid = false;
                }else{
                    if(/^[A-Za-z0-9ÁÉÍÓÚáéíóuñÑ ]+$/.test(powermeter_serial.val())){
                        _span = "correct";

                    }else{
                        _span = "incorrect";
                        form_valid = false;
                    }
                }
                powermeter_serial.next().removeClass("incorrect");
                powermeter_serial.next().removeClass("correct");
                powermeter_serial.next().addClass(_span);
            }
            if (form_valid){
                send_form++;
            }
            return form_valid
        }
    </script>
{% endblock %}
{% block contenido %}
    {% include "consumption_centers/buildings/just_forms/just_form_add_powermeter.html" %}
{% endblock %}