{% extends "popup_forms_base.html" %}
{% block titulo %}Alta de Parte de Edificio{% endblock %}
{% block externalcss %}
    <link rel="stylesheet" href="/static/css/forms/theme.css"/>
    <link type="text/css" href="/static/jquery-ui-1.8.23/css/smoothness/jquery-ui-1.8.23.custom.css" rel="stylesheet" />
{% endblock %}
{% block externaljs %}
    <script type="text/javascript" src="/static/jquery-ui-1.8.23/js/jquery-ui-1.8.23.custom.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/external/autoNumeric-1.7.4.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/external/jquery.metadata.js"></script>
    <script type="text/javascript">
        var form_valid = true;
        var send_form = 0;
        $(document).ready(function(){
            $("#b_part_mt2").autoNumeric({asep:',', vMin: "0.00", vMax: "999.99"});
            $("#attr_value").autoNumeric({asep:',', vMin: "0.00", vMax: "999.99"});

            $("#b_part_name").focus();
            $(".required").each(function(){
                var _span;
                if ($(this).parent().next()[0].nodeName.toLowerCase() == 'input'){
                    $(this).parent().next().blur(function(e){
                        if($.trim(e.delegateTarget.value)==''){

                            _span = "incorrect";
                            form_valid = false;
                        }else{
                            if(/^[A-Za-z0-9ÁÉÍÓÚáéíóuñÑ. ]+$/.test(e.delegateTarget.value)){
                                _span = "correct";
                                form_valid = true;
                            }else{
                                _span = "incorrect";
                                form_valid = false;
                            }
                        }

                        var n_span = $("#"+e.delegateTarget.id).next();
                        n_span.removeClass("incorrect");
                        n_span.removeClass("correct");
                        n_span.addClass(_span);
                    });
                }else if ($(this).parent().next()[0].nodeName.toLowerCase() == 'select'){
                    var id_select = $(this).parent().next().attr('id');
                    $("#"+id_select).change(function(e){
                        if($.trim(e.delegateTarget.value)==''){
                            _span = "incorrect";
                            form_valid = false;
                        }else{
                            _span = "correct";
                            form_valid = true;
                        }

                        var n_span =  $("#"+id_select).parent().next();
                        n_span.removeClass("incorrect");
                        n_span.removeClass("correct");
                        n_span.addClass(_span);
                    });
                }
            });
            $("#save").click(function(e){
                e.preventDefault();
                validate_form();
                if(send_form == 1){
                    $.ajax({
                        type: "POST",
                    {% if operation == "pop_edit" %}url: "/buildings/save_edit_part_popup/{{ cu }}/"{% else %}url: "/buildings/save_add_part_popup/"{% endif %},
                        data: $("#add_part_form").serialize(),
                        success: function(data){
                            var opener_=$(window.opener.document);
                            var nombre_parte = $("#b_part_name").val();
                            {% if operation == "pop_edit" %}
                                opener_.find("#edit_notif").show();
                                opener_.find("li a[rel='{{ cu }}']").text(nombre_parte);
                                opener_.find("#edit_node").show();
                            {% else %}

                            opener_.find("#node_part")
                                    .append("<option value='"+ data +"_ncu'>"+ nombre_parte+" - Sin medidor</option>")
                                    .append("<option value='"+ data +"_cu'>"+ nombre_parte+" - Con medidor</option>")
                                    .parent()
                                    .removeClass("hidden");
                            opener_.find("#node_part option[value="+data+"_ncu]")
                                    .attr("selected","selected")
                                    .parent()
                                    .parent()
                                    .find("span")
                                    .text(nombre_parte+" - Sin medidor");
                            opener_.find("#add_node").show();
                            {% endif %}

                            window.close();
                        }
                    });
                }
            });
        });
        function validate_form(){
            if (form_valid){

                var _span;
                var partbuilding_name = $("#b_part_name");
                if($.trim(partbuilding_name.val())==''){
                    _span = "incorrect";
                    form_valid = false;
                }else{
                    _span = "correct";
                }
                partbuilding_name.next().removeClass("incorrect");
                partbuilding_name.next().removeClass("correct");
                partbuilding_name.next().addClass(_span);

                var building_name = $("#b_building_name");

                if($.trim(building_name.val())==''){
                    _span = "incorrect";
                    form_valid = false;
                }else{
                    _span = "correct";
                }
                building_name.next().removeClass("incorrect");
                building_name.next().removeClass("correct");
                building_name.next().addClass(_span);



                var b_part_type = $("#b_part_type");
                if(b_part_type.val()==''){
                    _span = "incorrect";
                    form_valid = false;
                }else{
                    _span = "correct";
                }
                $("#sel_type").removeClass("incorrect");
                $("#sel_type").removeClass("correct");
                $("#sel_type").addClass(_span);
            }
            if(form_valid){
                send_form++;
            }
            return form_valid
        }

        $(function() {
            var perm ="Alta de partes de edificio";
            perm = encodeURIComponent(perm)
            $( "#b_building_name" ).autocomplete({
                source: "/buildings/search_buildings/?perm="+perm+"&op=create",
                minLength: 2,
                select: function( event, ui ) {
                    $("#b_building_id").val(ui.item.pk);
                }
            }).keyup(function(){
                        if($.trim($(this).val())==''){
                            $("#b_building_name").val("");
                            $("#b_building_id").val("");
                        }
                    });
        });

        function append_attribute(tipo_atributo_etiq,atributo_etiq,tipo_atributo,atributo,valor){

            var append = '<div class="extra_attributes_div"><span class="delete_attr_icon">' +
                    '<a href="#eliminar" class="delete hidden_icon" ' +
                    'title="eliminar atributo"></a></span>' +
                    '<span class="tip_attribute_part">' +
                    tipo_atributo_etiq +
                    '</span>' +
                    '<span class="attribute_part">' +
                    atributo_etiq +
                    '</span>'+
                    '<span class="attribute_value_part">'+
                    valor +
                    '</span>' +
                    '<input type="hidden" name="atributo_' + tipo_atributo + "_" +atributo +'" ' +
                    'value="' + tipo_atributo +','+ atributo + ','+ valor +
                    '"/></div>';

            $('#atributes_fields').before(append);
        }

    </script>
{% endblock %}

{% block document_ready %}

    $(".extra_attributes_div").mouseenter(function(){
    $(this).find(".hidden_icon").css("visibility","visible");
    }).mouseleave(function(){
    $(this).find(".hidden_icon").css("visibility","hidden");
    });

    $(".delete").click(function(e){
    e.preventDefault();
    $(this).parent().parent().remove();
    });

    $("#attributes_type").click(function(){
    $(this).find("ul.ddl").slideToggle();
    });

    $("#attributes_type_list li").click(function(){
    //Limpia los campos ocultos
    $("#attr_type_id_sel").val('');
    $("#attr_id_sel").val('');
    $("#attributes span").text('Atributo');

    $("#attribute_list, #object_list").html("").hide();
    var elemento = $(this);
    $("#attributes_type span").text(elemento.text());
    elemento.parent().slideUp().stop();
    var uri = elemento.attr("rel");
    $("#attr_type_id_sel").val(uri);
    var url = "/buildings/get_attributes/"+uri;
    $("#attribute_list").load(url, function(){
    $(this).slideDown();
    $("#attribute_list li").click(function(){
    var elemento = $(this);
    $("#attributes span").text(elemento.text());
    elemento.parent().slideUp();
    $("#attr_id_sel").val(elemento.attr("rel"));
    });

    });

    });


    $("#add_attributes").click(function(event){
    event.preventDefault();
    var attribute_value = $("#attr_value").val();
    var attribute_type_id = $("#attr_type_id_sel").val();
    var attribute_type_label = $("#attributes_type span").text();
    var attribute_id = $("#attr_id_sel").val();
    var attribute_label = $("#attributes span").text();

    if (attribute_type_id != '' && attribute_id != '' && attribute_value != ''){
    append_attribute(attribute_type_label,attribute_label,attribute_type_id,attribute_id,attribute_value);
    }

    $(".extra_attributes_div").mouseenter(function(){
    $(this).find(".hidden_icon").css("visibility","visible");
    }).mouseleave(function(){
    $(this).find(".hidden_icon").css("visibility","hidden");
    });

    $(".delete").click(function(e){
    e.preventDefault();
    $(this).parent().parent().remove();
    });

    //Limpia las etiquetas de los combos
    $("#attributes_type span").text('Tipos de Atributos');
    $("#attributes span").text('Atributo');
    $("#attr_value").val('');

    });


    $("a.back").click(function(e){e.preventDefault(); History.back();});

{% endblock %}
{% block contenido %}
{% include "consumption_centers/buildings/just_forms/just_form_add_partbuilding.html" %}
{% endblock %}