{% extends "base.html" %}
{% block titulo %}Ver Medidores{% endblock %}
{% block externalcss %}
<link rel="stylesheet" href="/static/css/forms/main.css" type="text/css" />
<link rel="stylesheet" href="/static/css/forms/rbac_general.css" type="text/css" />
<link rel="stylesheet" href="/static/css/forms/c_centers.css" type="text/css" />
<link rel="stylesheet" href="/static/css/forms/rbac_user_list.css" type="text/css" />
<link href="/static/js/external/messi/messi.css" rel="stylesheet" type="text/css" media="screen" />
{% endblock %}
{% block externaljs %}
<script src="/static/js/external/messi/messi.min.js"></script>
<script type="text/javascript">
    function search_submit(pagina){
        if (typeof pagina == "object") {
            pagina = "1";
        }

        var base_url = window.location.pathname;
        base_url+="?page="+pagina;
        base_url=append_page(base_url);
        window.location = base_url;
    }
    function append_page(base_url){
        var get = getUrlVars();
        if(get.length>0){
            if (get[0]!=window.location.protocol+"//"+window.location
                    .host+window.location.pathname){
                for(var i=0; i<get.length; i++){
                    if (get[i]!="msj" && get[i]!="ntype" && get[i]!="page"){
                        base_url+="&"+get[i]+"="+get[get[i]];
                    }
                }
            }

        }
        return base_url
    }
</script>
{% endblock %}
{% block document_ready %}
$("a.switch").click(function(event){
event.preventDefault();
var url="/buildings/status_medidor/"+$(this).attr("rel")+"/";
var action = $(this).attr("title");
new Messi('&iquest;Est&aacute; seguro de que desea '+ action +' este medidor?',
{title: action+' medidor', modal: true, buttons: [{id: 0,
label: 'Cancelar', val: 'N'},{id: 1, label: 'Aceptar', val: 'Y'
}],
callback: function(val) {
if(val=='Y'){
document.location.href=url;
} else return false; }
});
});

$("#aplicar").click(function(e){
    e.preventDefault();
    if($("#actions").val()!="0"){
        var check = false;
        $("tbody input:checkbox").each(function(){
            if($(this).is(":checked")){
            check = true;
            }
        });
        if(check){
            new Messi('&iquest;Est&aacute; seguro de que desea cambiar el estatus a los medidores seleccionados?',
                {title: 'Cambiar estatus', modal: true, buttons: [{id: 0,
                label: 'Cancelar', val: 'N'},{id: 1, label: 'Aceptar', val: 'Y'
                }],
                callback: function(val) {
                    if(val=='Y'){
                        document.forms["operations_batch"].submit();
                    } else return false;
                }
            });
        }
    }else{
        return false;
    }
});

$("#sort_alias").click(function(e){
e.preventDefault();
var get = getUrlVars();

var base_url = window.location.pathname;
base_url+="?order_alias="+$("#sort_alias").attr("rel");
if(get.length>0){
if (get[0]!=window.location.protocol+"//"+window.location
.host+window.location.pathname){
for(var i=0; i<get.length; i++){
if (get[i]!="order_alias" && get[i]!="order_model" && get[i]!="order_status" && get[i]!="order_serial"){
base_url+="&"+get[i]+"="+get[get[i]];
}
}
}
}
window.location = base_url;
});
$("#sort_model").click(function(e){
e.preventDefault();
var get = getUrlVars();

var base_url = window.location.pathname;
base_url+="?order_model="+$("#sort_model").attr("rel");
if(get.length>0){
if (get[0]!=window.location.protocol+"//"+window.location
.host+window.location.pathname){
for(var i=0; i<get.length; i++){
if (get[i]!="order_alias" && get[i]!="order_model" && get[i]!="order_status" && get[i]!="order_serial"){
base_url+="&"+get[i]+"="+get[get[i]];
}
}
}

}

window.location = base_url;
});

$("#sort_status").click(function(e){
e.preventDefault();
var get = getUrlVars();

var base_url = window.location.pathname;
base_url+="?order_status="+$("#sort_status").attr("rel");
if(get.length>0){
if (get[0]!=window.location.protocol+"//"+window.location
.host+window.location.pathname){
for(var i=0; i<get.length; i++){
if (get[i]!="order_alias" && get[i]!="order_model" && get[i]!="order_status" && get[i]!="order_serial"){
base_url+="&"+get[i]+"="+get[get[i]];
}
}
}

}

window.location = base_url;
});

$("#sort_serial").click(function(e){
e.preventDefault();
var get = getUrlVars();

var base_url = window.location.pathname;
base_url+="?order_serial="+$("#sort_serial").attr("rel");
if(get.length>0){
if (get[0]!=window.location.protocol+"//"+window.location
.host+window.location.pathname){
for(var i=0; i<get.length; i++){
if (get[i]!="order_alias" && get[i]!="order_model" && get[i]!="order_status" && get[i]!="order_serial"){
base_url+="&"+get[i]+"="+get[get[i]];
}
}
}

}

window.location = base_url;
});

{% endblock %}

{% block breadcumbs %}
    <div id="bread_crumbs">
    <a href="/panel_de_control/ver_usuario/{{ request.user.pk }}/" class="fl username">{{ request.user.first_name }} {{ request.user.last_name }}</a>
    <ul>
        <li><a href="/main/">Inicio</a></li>
        <li><a href="/panel_de_control/">Panel de Control</a></li>
        <li><a href="/panel_de_control/?cat=6">Panel Medidores</a></li>
        <li>Medidores</li>
    </ul>
    <a href="/logout" id="userLogOut">Cerrar sesión</a>

</div>


{% endblock %}


{% block contenido %}


<div id="page_content">
<div id="contenido_interno">
    <h2 id="titulo_form" class="powermeter">Medidores</h2>


    <div class="divider" id="divider_top">&nbsp;</div>
    {% if message %}
            <span class="notif {{ msg_type }}">
                    {% autoescape off %}{{ message }}{% endautoescape %}
                <a href="#" onclick="$(this).parent().remove(); History.replaceState({}, '', '?page=1');">X</a>
                </span>
    {% endif %}
    <div id="form_container">

         <p class="description">
           A continuación se despliega una lista de los medidores dados de alta en el sistema.
        </p>

        <div id="user_actions">

            <a href="/buildings/alta_medidor/"><span class="plus"></span>
                Nuevo Medidor
            </a>
            <span class="hz_divider"></span>
            <form method="get" action=".">
                <label class="input">
                    <span>Inserte su texto aqu&iacute;</span>
                    <input type="text" name="search" id="search"/>
                </label>
                <button class="aqua_btn">
                    Buscar
                </button>
            </form>
        </div>
        <form id="operations_batch" action="/buildings/status_batch_powermeter/" method="post">
            {% csrf_token %}
            <div id="grid_container">
                <table>
                    <thead>
                    <tr>
                        <th style="width: 20%;">
                            <a href="#" id="sort_alias" rel="{{ order_alias }}">
                                Alias
                                <span class="sort"></span>
                            </a>
                        </th>
                        <th style="width: 20%;">
                            <a href="#" id="sort_model" rel="{{ order_model }}">
                                Modelo
                                <span class="sort"></span>
                            </a>
                        </th>
                        <th style="width: 20%;">
                            <a href="#" id="sort_serial" rel="{{ order_serial }}">
                                Número de Serie
                                <span class="sort"></span>
                            </a>
                        </th>
                        <th style="width: 20%;">
                            <a href="#" id="sort_status" rel="{{ order_status }}">
                                Estatus
                                <span class="sort"></span>
                            </a>
                        </th>
                        <th style="width: 20%;">Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for powermeter in paginacion.object_list %}

                    <tr class="{% cycle 'row1' 'row2' %}">
                        <td>
                            <input type="checkbox" id="powermeter_{{ powermeter.pk }}"
                                   name="powermeter_{{ powermeter.pk }}"/>
                            <label for="powermeter_{{ powermeter.pk }}">
                                <a href="/buildings/ver_medidor/{{ powermeter.pk }}/">
                                    {{ powermeter.powermeter_anotation }}
                                </a>
                            </label>
                        </td>
                        <td class="c">
                            {{ powermeter.powermeter_model.powermeter_brand }}-{{ powermeter.powermeter_model.powermeter_model }}
                        </td>
                        <td class="c">
                            {{ powermeter.powermeter_serial }}
                        </td>
                        <td class="c">
                            <a href="#" rel="{{ powermeter.pk }}" {% if powermeter.status == 1 %}class="switch active_switch" title="desactivar"{% else %}class="switch inactive_switch" title="activar"{% endif %}>
                            </a>
                        </td>
                        <td class="c">
                            <a class="edit" title="Editar medidor"
                               href="/buildings/editar_medidor/{{ powermeter.pk }}/"></a>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div id="table_footer">
                    <select id="actions" name="actions">
                        <option value="0">Elije una Acci&oacute;n</option>
                        <option value="status">Habilitar/Deshabilitar</option>
                    </select>
                    <button class="fl aqua_btn" id="aplicar">Aplicar a la
                        selecci&oacute;n</button>

                    <div class="pagination">
                            <span class="step-links">
                                {% if paginacion.has_previous %}
                                    <a href="#" onclick="search_submit({{ paginacion.previous_page_number }})">Anterior</a> &ndash;
                                {% endif %}

                                <span class="current">
                                    P&aacute;gina {{ paginacion.number }} de {{ paginacion.paginator.num_pages }}
                                </span>

                                {% if paginacion.has_next %}
                                &ndash; <a href="#" onclick="search_submit({{ paginacion.next_page_number }})">Siguiente</a>
                                {% endif %}
                            </span>
                    </div>

                </div>
            </div>
        </form>
    </div>


</div>
</div>
{% endblock %}