{% extends "base.html" %}
{% block titulo %}Ver Cluster{% endblock %}

{% block externalcss %}
<link rel="stylesheet" href="/static/css/forms/main.css" type="text/css">
<link rel="stylesheet" href="/static/css/forms/rbac.css" type="text/css">
<link rel="stylesheet" href="/static/css/forms/c_centers.css" type="text/css">

{% endblock %}



{% block contenido %}
<div id="bread_crumbs">
    <ul>
        <li><a href="/main/">Inicio</a></li>
        <li><a href="/panel_de_control/">Administraci&oacute;n</a></li>
        <li><a href="/buildings/clusters/">Clusters</a></li>
        <li>Ver Cluster</li>
    </ul>

</div>
<div id="contenido_interno" class="cluster_content">
    <h2 id="titulo_form" class="cluster">
        Cluster
    </h2>

    <div class="divider" id="divider_top">&nbsp;</div>
    <div id="card_container">
        <div id="cluster_img" class="fl">
            <img src="/static/css/images/imgs_icns/place_holder_cluster.png" alt="Cluster"/>
        </div>
        <div id="cluster_data" class="fl">
            <div>
            <p>
                <span class="strong label">Nombre:</span>
                {{ cluster.cluster_name }}
            </p>
            <p>
                <span class="strong label">Descripción:</span>
                {% if cluster.cluster_description %}
                    {{ cluster.cluster_description }}
                {% endif %}
            </p>

            <p>
                <span class="strong label">Sector:</span>
                {{ cluster.sectoral_type.sectorial_type_name }}
            </p>
            <p>
                <span class="strong label">Pertenencen:</span>
            </p>
            </div>
            {% if cluster_companies%}
                <div id="clusters_companies">
                {% for company in cluster_companies %}
                    {% if company.company.company_logo %}
                        <div class="logos_in_cluster">
                            <a href="/buildings/ver_empresa/{{ company.company.pk }}/"><img src="/static/media/company_logos/company_{{company.company.pk}}/{{company.company.company_logo}}"></a>
                        </div>
                    {% endif %}
                {% endfor %}
                </div>
                <div id="clusters_companies_list">

                    {% for company in cluster_companies %}
                        {% if not company.company.company_logo %}
                             - <a href="/buildings/ver_empresa/{{ company.company.pk }}/">{{company.company.company_name}}</p></a>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}

            <p>
            <a href="/buildings/clusters/" id="go_back">Volver al listado</a>
            </p>
        </div>

    </div>


</div>
{% endblock %}