{% extends "base.html" %}
{% block titulo %}Ver Atributo{% endblock %}

{% block externalcss %}
    <link rel="stylesheet" href="/static/css/forms/main.css" type="text/css" />
    <link rel="stylesheet" href="/static/css/forms/rbac.css" type="text/css" />

{% endblock %}



{% block contenido %}

    <div id="bread_crumbs">
        <ul>
            <li><a href="/main/">Inicio</a></li>
            <li><a href="/panel_de_control/">Administraci&oacute;n</a></li>
            <li><a href="/buildings/atributos/">Atributos de edificio</a></li>
            <li>
                Ver atributo de edificio
            </li>
        </ul>

    </div>
    <div id="page_content">
    <div id="contenido_interno" class="card">
        <h2 id="titulo_form" class="building_attr">
            Atributo de edificio
        </h2>


        <div class="divider" id="divider_top">&nbsp;</div>
        <div id="card_container">
            <div id="user_img" class="fl">

                <img src="/static/css/images/imgs_icns/square_triangle_icon.png" alt="{{ user1.username }}"/>

            </div>
            <div id="user_data" class="fl">

                <p>
                    <span class="strong label">Nombre del atributo de edificio:</span>

                    {{ post.attr_name }}
                </p>
                <p>
                    <span class="strong label">Descripci&oacute;n:</span>
                    {{ post.description }}
                </p>

                <p>
                    <span class="strong label">Tipo de atributo:</span>
                    {{ post.attr_type }}
                </p>
                {% if post.value_boolean == "1" %}
                    <p>
                        <span class="strong label">Unidades:</span>
                        {{ post.unidades }}
                    </p>
                {% endif %}


                <a href="/buildings/atributos/" id="go_back">Volver al listado</a>
            </div>

        </div>

    </div>
</div>
{% endblock %}