<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/css/theme.css">
    <link rel="stylesheet" href="/static/css/consumption_centers/cfe_bill.css">
    <link rel="stylesheet" href="/static/js/external/jqueryUniform/css/uniform.default.css" type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" href="/static/date_picker/css/datepicker.css" type="text/css" />

    <script type="text/javascript" src="/static/js/external/jquery.tools.min.js"></script>
    <script type="text/javascript" src="/static/js/external/jqueryUniform/jquery.uniform.min.js"></script>
    <script type="text/javascript" src="/static/date_picker/js/date_picker.js"></script>
    <script type="text/javascript">


        function set_date(){
            event.preventDefault()

            var e_date = $("#date_end").val();
            var e_hour = $("#end_hour").val();
            var e_minute = $("#end_minutes").val();
            var e_ampm = $("#end_ampm").val();

            var url = '/reportes/set_cutdate_ajax/'
            url += '?date='+e_date+" "+e_hour+":"+e_minute+" "+e_ampm+"&cutdate={{ cutdate.pk }}";

            $.ajax({
                type: "GET",
                url: url,
                dataType: 'json',
                success: function (data) {
                    if (data.status == 'OK'){
                        //Se cierra el Fancybox y se actualiza el padre
                        parent.window.location.reload();// = "/";
                        parent.jQuery.fancybox.close();
                    }else if (data.status == 'Error'){

                        //Se muestra el mensaje de error
                    }
                }
            });
        }

        $(document).ready(function () {

            $('#corte_calendarios').DatePicker({
                flat: true,
                format: 'd/m/Y',
                date: '{{ cutdate.date_init|date:'d/m/Y' }}',
                starts: 1,
                onChange: function(formated) {
                    $('#date_end').val(formated);
                }
            });
        });
    </script>

</head>
<body id="body_fb">
<form method="post" action=".">
    {% csrf_token %}
    <div id="corte_container">
        <div id="corte_title" style="margin: 10px 0px;">
            Selecciona la fecha de corte
        </div>


        <div id="corte_input">
            Del {{ s_date_str }} al
            <input type="text" name="date_end" id="date_end" value="" readonly="readonly">
        </div>
        <div id="corte_calendarios">

        </div>
        <div id="corte_selects">
            <select name="end_hour" id="end_hour">
                {% for i_hour in i_hours %}
                    <option value="{{ i_hour }}" {% if i_hour == e_ihour %} selected {% endif %} >{{ i_hour }}</option>
                {% endfor %}
            </select>:
            <select name="end_minutes" id="end_minutes">
                {% for i_minute in i_minutes %}
                    <option value="{{ i_minute }}" {% if i_minute == e_iminute %} selected {% endif %} >{{ i_minute }}</option>
                {% endfor %}
            </select>
            <select name="end_ampm" id="end_ampm">
                <option value="AM" {% if "AM" == e_ampm %} selected {% endif %} >AM</option>
                <option value="PM" {% if "PM" == e_ampm %} selected {% endif %} >PM</option>
            </select>


        </div>
        <div class="buttons g12">
            <button class="aqua_btn" id="save" onclick="set_date();">
                Guardar
            </button>
        </div>
    </div>
</form>
</body>
</html>