{% extends "popup_forms_base.html" %}
{% block titulo %}
{% if operation == "edit" %}Editar{% else %}Alta de{% endif %} Grupo de Empresas
{% endblock %}
{% block externalcss %}
<link rel="stylesheet" href="/static/css/forms/main.css" type="text/css" />
<link rel="stylesheet" href="/static/css/forms/rbac_general.css" type="text/css" />
<link rel="stylesheet" href="/static/css/forms/c_centers.css" type="text/css" />
<link rel="stylesheet" href="/static/css/forms/rbac_user_list.css" type="text/css" />
<link type="text/css" href="/static/jquery-ui-1.8.23/css/smoothness/jquery-ui-1.8.23.custom.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="/static/js/external/jquery-validator/css/validator.css">
{% endblock %}
{% block externaljs %}
<script type="text/javascript" src="/static/jquery-ui-1.8.23/js/jquery-ui-1.8.23.custom.min.js"></script>
<script type="text/javascript" src="/static/js/external/jquery-validator/js/validator.js"></script>
<script type="text/javascript">
    var form_valid = true;
    var send_form = 0;
    $(document).ready(function(){
        $("#cluster_form").validate({onsubmit: function(form){
            $.ajax({
                type: "POST",
                url: "/buildings/save_add_cluster_popup/",
                data: form,
                success: function(data){
                    if(data.type == "n_success"){
                        parent.jQuery("#company_cluster").append("<option value='"+data.cluster_new+"'>"+data.post.clustername+"</option>");
                        parent.jQuery("#company_cluster").parent().find("span").text(data.post.clustername);
                        parent.jQuery("#company_cluster option[value='"+data.cluster_new+"']").attr("selected", "selected");
                        parent.jQuery.fancybox.close();
                    }
                }
            });

            return false;
        }});
        $("#clustername").focus();
    });
</script>
{% endblock %}

{% block contenido %}
    {% include "consumption_centers/buildings/just_forms/just_form_add_cluster.html" %}
{% endblock %}