{% extends "popup_forms_base.html" %}
{% block titulo %}
{% if operation == "edit" %}Editar{% else %}Alta de{% endif %} Empresa
{% endblock %}
{% block externalcss %}
<link rel="stylesheet" href="/static/css/forms/main.css" type="text/css" />
<link rel="stylesheet" href="/static/css/forms/rbac_general.css" type="text/css" />
<link rel="stylesheet" href="/static/css/forms/c_centers.css" type="text/css" />
<link type="text/css" href="/static/jquery-ui-1.8.23/css/smoothness/jquery-ui-1.8.23.custom.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/static/js/external/jquery-validator/css/validator.css">
{% endblock %}
{% block externaljs %}
<script type="text/javascript" src="/static/jquery-ui-1.8.23/js/jquery-ui-1.8.23.custom.min.js"></script>
<script type="text/javascript" src="/static/js/external/jquery-validator/js/validator.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $("#company_name").focus();
        $("#company_form").validate({onsubmit: function(form){
            $.ajax({
                type: "POST",
                url: "/buildings/save_add_company_popup/",
                data: form,
                success: function(data){
                    if(data.type == "n_success"){
                        parent.jQuery("#company").append("<option value='"+data.company_new+"'>"+data.post.cmp_name+"</option>");
                        parent.jQuery("#company").parent().find("span").text(data.post.cmp_name);
                        parent.jQuery("#company option[value='"+data.company_new+"']").attr("selected", "selected");
                        parent.jQuery.fancybox.close();
                    }
                }
            });

            return false;
        }});
    });
</script>
{% endblock %}
{% block contenido %}
    {% include "consumption_centers/buildings/just_forms/just_form_add_company.html" %}
{% endblock %}