{% extends "base.html" %}
{% block titulo %}Reportes{% endblock %}
{% block externalcss %}
    <link rel="stylesheet" href="/static/css/consumption_centers/main.css" type="text/css" />
    <link rel="stylesheet" href="/static/css/consumption_centers/billing_analysis.css" type="text/css" />
    <link rel="stylesheet" href="/static/date_picker/css/datepicker.css" type="text/css" />
    <link rel="stylesheet" href="/static/js/external/fancybox/jquery.fancybox.css" type="text/css" />
{% endblock %}
{% block externaljs %}
    <script type="text/javascript" src="/static/js/external/fancybox/jquery.fancybox.js"></script>
    <script type="text/javascript" src="/static/date_picker/js/date_picker.js"></script>

    <script type="text/javascript">
        //<![CDATA[


        function billingReload(){

            var etiqueta_periodo = '';
            var url = '/reportes/analisis_costo_fac_frame/?';
            var b_continue = true

            var y01 = $("#a_year_01").val();
            var y02 = $("#a_year_02").val();

            if(y01 == null){
                b_continue = false;
            }else{
                url += 'year01='+y01;
                etiqueta_periodo = y01;
                if($("#compare_year").is(':checked')){
                    url += '&year02='+y02;
                    etiqueta_periodo += ' vs '+ y02;
                }
            }

            if(b_continue){
                //Cambia el texto del select
                $('#widgetField span').get(0).innerHTML = etiqueta_periodo;

                $('#analisis_container').addClass('iframe_spinner');
                makeIframe(url);
            }
        }

        function refresh_iframe_height(){
            // regresca el height del iframe para ajustarse a su conte
            setTimeout("parent.document.getElementById('graphFrame').height = document['body'].offsetHeight;", 1000);
        }
        function makeIframe(src){
            var graphFrame = document.createElement("IFRAME");
            graphFrame.id = "graphFrame";
            graphFrame.src = src;
            $("#analisis_container").html(graphFrame);
            refresh_iframe_height();
        }
        //]]>
    </script>
{% endblock %}
{% block document_ready %}

    var url = window.location.href;
    url = url.replace("#", '');
    History.replaceState(url,"Reporte electrico", url);

    var state = false;
    $('#widgetField').click(function(){
    $('#b_analisis_drop').slideToggle();
    });

    $(".aqua_btn").click(function(e){
    //aplicar el(los) rangos de fecha seleccionados
    e.preventDefault();
    $('#b_analisis_drop').slideUp();
    billingReload();
    });

    $('#compare_year').click(function(){
    //Se habilita/deshabilita

    if ($("#compare_year").is(":checked")) {
    $('#a_year_02').prop('disabled', false);
    $('#uniform-a_year_02').removeClass('disabled');
    }
    else {
    $('#a_year_02').prop('disabled', 'disabled');
    $('#uniform-a_year_02').addClass('disabled');

    }

    });

    $(".various").fancybox({
    maxWidth	: 800,
    maxHeight	: 800,
    fitToView	: false,
    width		: '70%',
    height		: '70%',
    autoSize	: false,
    closeClick	: false,
    openEffect	: 'none',
    closeEffect	: 'none'
    });

{% endblock %}
{% block contenido %}

    <div id="bread_crumbs">
        <ul>
            <li><a href="/main/">Inicio</a></li>
            <li><a href="/main/">Reportes</a></li>
        </ul>

    </div>
    <div id="page_content">
        <div id="contenido_interno">
            <h2 id="titulo_reporte">{{ empresa.building_name }} -
        <span>
            {% if consumer_unit.part_of_building %}
                {{ consumer_unit.part_of_building.part_of_building_name }}
            {% else %}
                {{ consumer_unit.electric_device_type.electric_device_type_name }}
            {% endif %}
        </span>
            </h2><a class="various" data-fancybox-type="iframe"  href="/reportes/set_consumer_unit/">Cambiar</a>

            <div id="datepicker_component">
                <div id="widgetField">
                    <span>Fecha Inicio &ndash; Fecha Fin</span>
                    <a href="#">&nbsp;</a>
                </div>

                <div id="b_analisis_drop">
                    <div class="cl_temporalidad" id="anual_container" style="display: block;">
                        <div>
                            <label>Selecciona un año:</label>
                        </div>
                        <div class="selects_container selects_long">
                            <select name="a_year_01" id="a_year_01">
                                {% if years %}
                                    {% for year in years %}
                                        <option value="{{ year }}">{{ year }}</option>
                                    {% endfor %}
                                {% endif %}
                            </select>
                        </div>
                        <div>
                            <input type="checkbox" id="compare_year"/>Comparar con
                        </div>
                        <div class="selects_container selects_long">
                            <select name="a_year_02" id="a_year_02" disabled="true">
                                {% if years %}
                                    {% for year in years %}
                                        <option value="{{ year }}">{{ year }}</option>
                                    {% endfor %}
                                {% endif %}
                            </select>
                        </div>
                    </div>
                    <div id="btn_apply">
                        <a href="#" class="aqua_btn">Aplicar</a>
                    </div>

                </div>
            </div>

            <div class="divider" id="divider_top">&nbsp;</div>

            <div id="graphs_container">

                <div id="analisis_container">
                    <iframe src="/reportes/graficas/" id="graphFrame" seamless="seamless"></iframe>
                </div>

            </div>


        </div>
    </div>
{% endblock %}