
<html>
<head>
    <link rel="stylesheet" href="/static/css/theme.css">
    <link rel="stylesheet" href="/static/css/consumption_centers/billing_analysis.css" type="text/css" />
    <script type="text/javascript" src="/static/js/external/jquery.tools.min.js"></script>
    <script type="text/javascript" src="http://www.google.com/jsapi"></script>

    <script type="text/javascript">
        google.load('visualization', '1', {packages: ['corechart']});
    </script>
    <script type="text/javascript">

        function drawVisualization() {

            {% if tipo_reporte == 1 %}
                // Create and populate the data table.
                var data = google.visualization.arrayToDataTable([
                    {% if not compare_years %}
                        {% if kwh_data %}
                            ['Mes', 'KWH'],
                            {% for kwh_d in kwh_data %}
                                ['{{ kwh_d.mes }}',{{ kwh_d.kwh_01 }}],
                            {% endfor %}
                        {% endif %}
                    {% else %}
                        {% if kwh_data %}
                            ['Mes', 'KWH {{ year_01 }}', 'KWH {{ year_02 }}'],
                            {% for kwh_d in kwh_data %}
                                ['{{ kwh_d.mes }}',{{ kwh_d.kwh_01 }},{{ kwh_d.kwh_02 }}],
                            {% endfor %}
                        {% endif %}
                    {% endif %}
                ]);

                // Create and draw the visualization.
                new google.visualization.ColumnChart(document.getElementById('kwh_graph')).
                        draw(data,
                        {
                            width:900, height:400, vAxis: {title: "Facturación CFE($)"}, colors:['#5093c7','#f78a3d'],legend:'none'

                        }
                );

                var data2 = google.visualization.arrayToDataTable([
                    {% if not compare_years %}
                        {% if money_data %}
                            ['Mes', 'Costo'],
                            {% for m_d in money_data %}
                                ['{{ m_d.mes }}',{{ m_d.total_01 }}],
                            {% endfor %}
                        {% endif %}
                    {% else %}
                        {% if money_data %}
                            ['Mes', 'Costo {{ year_01 }}', 'Costo {{ year_02 }}'],
                            {% for m_d in money_data %}
                                ['{{ m_d.mes }}',{{ m_d.total_01 }},{{ m_d.total_02 }}],
                            {% endfor %}
                        {% endif %}
                    {% endif %}
                ]);

                // Create and draw the visualization.
                new google.visualization.ColumnChart(document.getElementById('money_graph')).
                        draw(data2,
                        {
                            width:900, height:400, vAxis: {title: "Energía (KWh)"}, colors:['#5093c7','#f78a3d'], legend:'none'

                        }
                );
            {% else %}
                // Create and populate the data table.
                var data = google.visualization.arrayToDataTable([
                    ['Mes', 'KWH'],
                    ['{{ mes_01 }}',{{ m01_kwh }}],
                    ['{{ mes_02 }}',{{ m02_kwh }}],

                ]);

                // Create and draw the visualization.
                new google.visualization.ColumnChart(document.getElementById('m_kwh_graph')).
                        draw(data,
                        {
                            width:370, height:400, vAxis: {title: "Consumo (kWh)"}, colors:['#5093c7'], legend:'none'

                        }
                );

                // Create and populate the data table.
                var data2 = google.visualization.arrayToDataTable([
                    ['Mes', '$(MXN)'],
                    ['{{ mes_01 }}',{{ m01_money }}],
                    ['{{ mes_02 }}',{{ m02_money }}],

                ]);

                // Create and draw the visualization.
                new google.visualization.ColumnChart(document.getElementById('m_money_graph')).
                        draw(data2,
                        {
                            width:370, height:400, vAxis: {title: "Facturación CFE ($)"}, colors:['#5093c7'],legend:'none'

                        }
                );

                {% if tarifa == 1 or tarifa == 3 %}
                    // Create and populate the data table.
                    var data3 = google.visualization.arrayToDataTable([
                        ['Mes', 'KW'],
                        ['{{ mes_01 }}',{{ m01_kw }}],
                        ['{{ mes_02 }}',{{ m02_kw }}],

                    ]);

                    // Create and draw the visualization.
                    new google.visualization.ColumnChart(document.getElementById('m_kw_graph')).
                            draw(data3,
                            {
                                width:370, height:400, vAxis: {title: "Demanda"}, colors:['#5093c7'],legend:'none'

                            }
                    );
                {% endif %}

                {% if tarifa == 1 %}
                    // Create and populate the data table.
                    var data4 = google.visualization.arrayToDataTable([
                        ['Mes', 'Base', 'Intermedio', 'Punta'],
                        ['{{ mes_01 }}',{{ m01_base }},{{ m01_intermedio }},{{ m01_punta }}],
                        ['{{ mes_02 }}',{{ m02_base }},{{ m02_intermedio }},{{ m02_punta }}],

                    ]);

                    // Create and draw the visualization.
                    new google.visualization.BarChart(document.getElementById('m_kwh_periodo_graph')).
                            draw(data4,
                            {
                                width:500, height:250, colors:['#5093c7','#f78a3d'],legend:'none'

                            }
                    );
                {% endif %}


            {% endif %}
        }


        $(document).ready(function(){

            //$(this).contents().find("#cal").DatePicker();
        });


        google.setOnLoadCallback(drawVisualization);
    </script>

</head>

<body style="background: none !important;">


<div class="iframe_container">

    {% if tipo_reporte == 1 %}
        <div class="graph_title">
            Analisis de Facturación ($ MXN): {{ year_01 }}
            {% if compare_years %}
                vs {{ year_02 }}
            {% endif %}
        </div>

        <div class="g_border">
            <div class="left_bgraph">
                <div class="graph_container" id="kwh_graph">

                </div>
            </div>
            <div class="right_bgraph">
                <div class="right_info">
                    {% if compare_years %}
                        <div>
                            <div class="label_title_graph">
                                Variación
                            </div>
                            <div class="info_compare">
                                {{ diff_kwh_pc|floatformat:2 }}%
                            </div>
                            <div class="info_compare">
                                {{ diff_kwh_qty }} kHw
                            </div>
                            <div class="label_data">
                                {{ year_01 }}: {{ kwh_total_01 }} kWh
                            </div>
                            <div class="label_data">
                                {{ year_02 }}: {{ kwh_total_02 }} kWh
                            </div>
                        </div>
                    {% else %}
                        <div>
                            <div class="label_title_graph">
                                Total Anual:
                            </div>
                            <div class="label_data_graph">
                                {{ kwh_total }} kWh
                            </div>
                            <div class="label_title_graph">
                                Promedio Mensual:
                            </div>
                            <div class="label_data_graph">
                                {{ kwh_average|floatformat:2 }} kWh
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="graph_title">
            Analisis de Consumo de Energía (kWh): {{ year_01 }}
            {% if compare_years %}
                vs {{ year_02 }}
            {% endif %}
        </div>
        <div class="g_border">
            <div class="left_bgraph">
                <div class="graph_container" id="money_graph">

                </div>
            </div>
            <div class="right_bgraph">
                <div class="right_info">
                    {% if compare_years %}
                        <div>
                            <div class="label_title_graph">
                                Variación
                            </div>
                            <div class="info_compare">
                            {{ diff_money_pc|floatformat:2 }}%
                            </div>
                            <div class="info_compare">
                            $ {{ diff_money_qty|floatformat:2 }}
                            </div>
                            <div class="label_data">
                                {{ year_01 }}: ${{ money_total_01|floatformat:2 }}
                            </div>
                            <div class="label_data">
                                {{ year_02 }}: ${{ money_total_02|floatformat:2 }}
                            </div>
                        </div>
                    {% else %}
                        <div>
                            <div class="label_title_graph">
                                Total Anual:
                            </div>
                            <div class="label_data_graph">
                                $ {{ money_total }}
                            </div>
                            <div class="label_title_graph">
                                Promedio Mensual:
                            </div>
                            <div class="label_data_graph">
                               $ {{ money_average|floatformat:2 }}
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

    {% else %}
        <div class="half_column">
            <div class="left_bgraph_small">
                <div class="graph_container" id="m_kwh_graph">

                </div>
            </div>
            <div class="right_bgraph_small">
                <div class="right_info_small">
                    <div class="label_title_graph">
                        Consumo en kWh
                    </div>
                    <div class="label_data_graph">
                        {{ diff_kwh|floatformat:2}} %
                    </div>
                    <div class="label_data">
                        {{ mes_01 }}: {{ m01_kwh }} kWh
                    </div>
                    <div class="label_data">
                        {{ mes_02 }}: {{ m02_kwh }} kWh
                    </div>

                </div>

            </div>
        </div>
        <div class="half_column">
            <div class="left_bgraph_small">
                <div class="graph_container" id="m_money_graph">

                </div>
            </div>
            <div class="right_bgraph_small">
                <div class="right_info_small">
                    <div class="label_title_graph">
                        Facturación CFE
                    </div>
                    <div class="label_data_graph">
                        {{ diff_money|floatformat:2 }} %
                    </div>
                    <div class="label_data">
                        {{ mes_01 }}: ${{ m01_money|floatformat:2 }}
                    </div>
                    <div class="label_data">
                        {{ mes_02 }}: ${{ m02_money|floatformat:2 }}
                    </div>

                </div>

            </div>
        </div>

        </div>
        {% if tarifa == 1 or tarifa == 3 %}
            <div class="half_column">
                <div class="left_bgraph_small">
                    <div class="graph_container" id="m_kw_graph">

                    </div>
                </div>
                <div class="right_bgraph_small">
                    <div class="right_info_small">
                        <div class="label_title_graph">
                            Demanda (kW)
                        </div>
                        <div class="label_data_graph">
                            {{ diff_kw|floatformat:2 }} %
                        </div>
                        <div class="label_data">
                            {{ mes_01 }}: {{ m01_kw }} kW
                        </div>
                        <div class="label_data">
                            {{ mes_02 }}: {{ m02_kw }} kW
                        </div>

                    </div>

                </div>
            </div>

        {% endif %}
        {% if tarifa == 1 %}
            <div class="half_column">
                <div class="graph_container" id="m_kwh_periodo_graph">

                </div>
                <div id="periodo_container">
                    <div class="periodo_info">
                        <div class="label_data">
                        <span class="periodo_label">Base:</span> <span class="periodo_porcentajes">{{ diff_tbase|floatformat:2 }}%</span>
                        </div>
                        <div class="label_data">
                        {{ mes_01 }}: ${{ m01_t_base|floatformat:4 }}
                        </div>
                        <div class="label_data">
                        {{ mes_02 }}: ${{ m02_t_base|floatformat:4 }}
                        </div>
                    </div>
                    <div class="periodo_info">
                        <div class="label_data">
                        <span class="periodo_label">Intermedio:</span> <span class="periodo_porcentajes">{{ diff_tint|floatformat:2 }}%</span>
                        </div>
                        <div class="label_data">
                        {{ mes_01 }}: ${{ m01_t_intermedio|floatformat:4 }}
                        </div>
                        <div class="label_data">
                        {{ mes_02 }}: ${{ m02_t_intermedio|floatformat:4 }}
                        </div>
                    </div>
                    <div class="periodo_info">
                        <div class="label_data">
                        <span class="periodo_label">Punta:</span> <span class="periodo_porcentajes">{{ diff_tpunta|floatformat:2 }}%</span>
                        </div>
                        <div class="label_data">
                        {{ mes_01 }}: ${{ m01_t_punta|floatformat:4 }}
                        </div>
                        <div class="label_data">
                        {{ mes_02 }}: ${{ m02_t_punta|floatformat:4 }}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}


    {% endif %}
</div>
</body>
</html>