{% extends "base.html" %}
{% block titulo %}Reportes{% endblock %}
{% block externalcss %}
    <link rel="stylesheet" href="/static/css/consumption_centers/main.css" type="text/css" />
    <link rel="stylesheet" href="/static/css/consumption_centers/billing_analysis.css" type="text/css" />
    <link rel="stylesheet" href="/static/date_picker/css/datepicker.css" type="text/css" />
    <link rel="stylesheet" href="/static/js/external/fancybox/jquery.fancybox.css" type="text/css" />
{% endblock %}
{% block externaljs %}
    <script type="text/javascript" src="/static/js/external/fancybox/jquery.fancybox.js"></script>
    <script type="text/javascript" src="/static/date_picker/js/date_picker.js"></script>

    <script type="text/javascript">
        //<![CDATA[


        function billingReload(){

            var etiqueta_periodo = '';
            var periodType = $("input:radio[name=period_type_rd]]:checked").val();
            var b_continue = true

            var url = '/reportes/analisis_fac_ajax/?report_type='+periodType
            if(periodType == 0){
                var y01 = $("#a_year_01").val();
                var y02 = $("#a_year_02").val();

                if(y01 == null){
                    b_continue = false;
                }else{
                    etiqueta_periodo = y01;
                    url += '&year01='+y01;
                    if($("#compare_year").is(':checked')){
                        url += '&year02='+y02;
                        etiqueta_periodo += ' vs '+ y02;
                    }
                }

            }else{
                var m_m01 =$("#m_month_01").val();
                var m_m02 =$("#m_month_02").val();
                var m_y01 =$("#m_year_01").val();
                var m_y02 =$("#m_year_02").val();

                if(m_y01 == null){
                    b_continue = false;
                }else{
                    url += '&month_01='+m_m01+'&year_01='+m_y01+'&month_02='+m_m02+'&year_02='+m_y02;

                    var mes1 = $("#m_month_01 option:selected").text();
                    var mes2 = $("#m_month_02 option:selected").text();
                    etiqueta_periodo += mes1+' '+m_y01+' vs '+ mes2+' '+m_y02;
                }
            }

            if(b_continue){
                //Cambia el texto del select
                $('#widgetField span').get(0).innerHTML = etiqueta_periodo;

                $('#analisis_container').addClass('iframe_spinner');
                makeIframe(url);
            }
        }

        function refresh_iframe_height(){
            // regresca el height del iframe para ajustarse a su conte
            setTimeout("parent.document.getElementById('graphFrame').height = document['body'].offsetHeight;", 1000);
        }
        function makeIframe(src){
            var graphFrame = document.createElement("IFRAME");
            graphFrame.id = "graphFrame";
            graphFrame.src = src;
            $("#analisis_container").html(graphFrame);
            refresh_iframe_height();
        }
        //]]>
    </script>
{% endblock %}
{% block document_ready %}

    var url = window.location.href;
    url = url.replace("#", '');
    History.replaceState(url,"Reporte electrico", url);

    var state = false;
    $('#widgetField').click(function(){
    $('#b_analisis_drop').slideToggle();
    });


    $("[name=period_type_rd]").click(function(e){

        var periodType = $("input:radio[name=period_type_rd]:checked").val()
    console.log(periodType);
        $('.cl_temporalidad').hide();
        if(periodType == 0){
            $("#anual_container").show();
        }else{
            $("#monthly_container").show();
        }
    });

    $(".aqua_btn").click(function(e){
    //aplicar el(los) rangos de fecha seleccionados
    e.preventDefault();
    $('#b_analisis_drop').slideUp();
    billingReload();
    });

    $('#compare_year').click(function(){
        //Se habilita/deshabilita

        if ($("#compare_year").is(":checked")) {
            $('#a_year_02').prop('disabled', false);
            $('#uniform-a_year_02').removeClass('disabled');
        }
        else {
            $('#a_year_02').prop('disabled', 'disabled');
            $('#uniform-a_year_02').addClass('disabled');

        }

    });


    $(".various").fancybox({
    maxWidth	: 800,
    maxHeight	: 800,
    fitToView	: false,
    width		: '70%',
    height		: '70%',
    autoSize	: false,
    closeClick	: false,
    openEffect	: 'none',
    closeEffect	: 'none'
    });

{% endblock %}

{% block breadcumbs %}
    <div id="bread_crumbs">
    <a href="/profile/{{ request.user.pk }}/" class="fl username">{{ request.user.first_name }} {{ request.user.last_name }}</a>
        <ul>
            <li><a href="/main/">Inicio</a></li>
            <li><a href="/main/">Reportes</a></li>
        </ul>

    </div>

{% endblock %}
{% block contenido %}


    <div id="page_content">
        <div id="contenido_interno">
            <h2 id="titulo_reporte">{{ empresa.building_name }}
        <span>
            {% if consumer_unit.part_of_building %}
                {{ consumer_unit.part_of_building.part_of_building_name }}
            {% else %}
                {{ consumer_unit.electric_device_type.electric_device_type_name }}
            {% endif %}
        </span>
            </h2><!--<a class="various" data-fancybox-type="iframe"  href="/reportes/set_consumer_unit/">Cambiar</a>-->
            <div id="logo_container"{% if company.company_logo %}class="c fr" style="background: url(/static/media/{{ company.company_logo }}) no-repeat 50% 50%; background-size: 100% auto; margin-top: -19px;">
            {% else %}class="c fr" style="background: url(/static/css/images/imgs_icns/company_placeholder.png) no-repeat 50% 50%; background-size: 100% auto; margin-top: -19px;">
            {% endif %}
            </div>


            <div class="divider" id="divider_top">&nbsp;</div>
            <div id="datepicker_component">
                <div id="widgetField">
                    <span>Fecha Inicio &ndash; Fecha Fin</span>
                    <a href="#">&nbsp;</a>
                </div>

                <div id="b_analisis_drop">

                    <div>
                        <label class="ba_h4">Selecciona temporalidad</label>
                        <div id="temp_container">
                            <span><input type="radio" name="period_type_rd" value="0" checked="checked"> Anual</span>
                            <span><input type="radio" name="period_type_rd" value="1"> Mensual</span>
                        </div>
                    </div>
                    <div class="cl_temporalidad" id="anual_container" style="display: block;">
                        <div>
                            <label>Selecciona un año:</label>
                        </div>
                        <div class="selects_container selects_long">
                            <select name="a_year_01" id="a_year_01">
                                {% if years %}
                                    {% for year in years %}
                                        <option value="{{ year }}">{{ year }}</option>
                                    {% endfor %}
                                {% endif %}
                            </select>
                        </div>
                        <div>
                            <input type="checkbox" id="compare_year"/>Comparar con
                        </div>
                        <div class="selects_container selects_long">
                            <select name="a_year_02" id="a_year_02" disabled="true">
                                {% if years %}
                                    {% for year in years %}
                                        <option value="{{ year }}">{{ year }}</option>
                                    {% endfor %}
                                {% endif %}
                            </select>
                        </div>
                    </div>
                    <div class="cl_temporalidad" id="monthly_container" style="display: none;">
                        <div>
                            <label>Selecciona un mes:</label>
                        </div>
                        <div class="selects_container selects_short">
                            <select name="m_month_01" id="m_month_01">
                                <option value="1" selected="selected">Enero</option>
                                <option value="2">Febrero</option>
                                <option value="3">Marzo</option>
                                <option value="4">Abril</option>
                                <option value="5">Mayo</option>
                                <option value="6">Junio</option>
                                <option value="7">Julio</option>
                                <option value="8">Agosto</option>
                                <option value="9">Septiembre</option>
                                <option value="10">Octubre</option>
                                <option value="11">Noviembre</option>
                                <option value="12">Diciembre</option>
                            </select>
                            <select name="m_year_01" id="m_year_01">
                                {% if years %}
                                    {% for year in years %}
                                        <option value="{{ year }}">{{ year }}</option>
                                    {% endfor %}
                                {% endif %}
                            </select>
                        </div>
                        <div>
                            <label>Comparar con:</label>
                        </div>
                        <div class="selects_container selects_short">
                            <select name="m_month_02" id="m_month_02">
                                <option value="1" selected="selected">Enero</option>
                                <option value="2">Febrero</option>
                                <option value="3">Marzo</option>
                                <option value="4">Abril</option>
                                <option value="5">Mayo</option>
                                <option value="6">Junio</option>
                                <option value="7">Julio</option>
                                <option value="8">Agosto</option>
                                <option value="9">Septiembre</option>
                                <option value="10">Octubre</option>
                                <option value="11">Noviembre</option>
                                <option value="12">Diciembre</option>
                            </select>
                            <select name="m_year_02" id="m_year_02">
                                {% if years %}
                                    {% for year in years %}
                                        <option value="{{ year }}">{{ year }}</option>
                                    {% endfor %}
                                {% endif %}
                            </select>
                        </div>
                    </div>
                    <div id="btn_apply">
                        <a href="#" class="aqua_btn">Aplicar</a>
                    </div>

                </div>
            </div>
            <div id="graphs_container">
                <div id="compare" class="fl">
                    <input id="evaluated_companies" type="hidden" value="{{ empresa.pk }},"/>
                    <!--<span>Comparar:</span>
            <span class="compared">{{ empresa.building_name }}</span>
            <span class="vs_tag">VS</span>
            <select id="compare_to">
                <option value="0">Selecciona</option>
                {% for cntx in datacontext %}
                    <option value="{{ cntx.building.pk }}">
                        {{cntx.building.building_name}}
                    </option>
                {% endfor %}
            </select>-->
                </div>

                <div id="analisis_container">
                    <iframe src="/reportes/graficas/" id="graphFrame" seamless="seamless"></iframe>
                </div>

            </div>


        </div>
    </div>
{% endblock %}