

{% extends "base.html" %}
{% block titulo %}Reportes{% endblock %}
{% block externalcss %}
<link rel="stylesheet" href="/static/css/consumption_centers/graphs.css">
<link rel="stylesheet" href="/static/css/consumption_centers/cfe_bill.css">
<!--<link rel="stylesheet" href="/static/datepicker/css/datepicker.css" type="text/css" />-->
{% endblock %}
{% block externaljs %}
<!--<script type="text/javascript" src="/static/datepicker/js/datepicker.js"></script>-->
<script type="text/javascript" src="http://www.google.com/jsapi"></script>


<script type="text/javascript">


    function cfeReload(){

        var init_d = $("#start_d").val();
        var end_d = $("#end_d").val();

        var url = '/reportes/desglose_calculos/'
        url += '?init_d='+init_d+'&end_d='+end_d;

        //$("#cfe_container").append('<img src="/static/css/images/spinner.gif" id="spinner" alt="cargando" style="display: block; margin: 0 auto; width: 200px;">');
        //$('#cfe_container').load(url, function(){$("#spinner").remove();});

        $('#cfe_container').addClass('iframe_spinner');
        makeIframe(url);
    }

    function refresh_iframe_height(){
        // regresca el height del iframe para ajustarse a su conte
        setTimeout("parent.document.getElementById('graphFrame').height = document['body'].offsetHeight;", 1000);
    }
    function makeIframe(src){
        var graphFrame = document.createElement("IFRAME");
        graphFrame.id = "graphFrame";
        graphFrame.src = src;

        $("#cfe_container").html(graphFrame);
        if (navigator.userAgent.indexOf("MSIE") > -1 && !window.opera) {
            graphFrame.onreadystatechange = function(){
                if (graphFrame.readyState == "complete"){
                    $('#cfe_container').removeClass('iframe_spinner');
                }
            };
        } else {
            graphFrame.onload = function(){
                $('#cfe_container').removeClass('iframe_spinner');
            };
        }
        refresh_iframe_height()
    }

    /*
     function drawVisualization() {
     // Create and populate the data table.
     var data = google.visualization.arrayToDataTable([
     ['Mes', 'Base', 'Media', 'Punta'],
     {% for hist in  historico%}
     ['{{ hist.fecha|date:"m/Y" }}', {{ hist.kw_base }}, {{ hist.kw_intermedio }}, {{ hist.kw_punta }}],
     {% endfor %}
     ]);

     // Create and draw the visualization.
     new google.visualization.ColumnChart(document.getElementById('visualization')).
     draw(data,
     {
     width:570, height:325,}
     );
     }


     google.setOnLoadCallback(drawVisualization);*/
</script>
{% endblock %}
{% block document_ready %}
$(".desp").click(function(){
$(this).next().slideToggle();
});
$("#nav_toggle").click(function(){
if($("#sidebar").hasClass("collapsed_nav")){

$("#sidebar").animate({width: 'toggle',}, 500, function(){console.log("quito la clase");
$(this).removeClass("collapsed_nav");
});
$("#sidebar_content").show('slide', {direction: 'right'}, 100);
$("footer").show('slide', {direction: 'right'}, 100);

}else{
$("#sidebar").addClass("collapsed_nav");
$("#sidebar_content").hide('slide', {direction: 'left'}, 100);
$("footer").hide('slide', {direction: 'left'}, 100);
$("#sidebar").animate({width: 'toggle',}, 500);
}
$("#nav_toggle").toggleClass("closed");
});


refresh_iframe_height();

var state = false;
$('#widgetField').click(function(){
$('#datepicker').slideToggle();
});


//custom select for sidebar
$("#empresa").click(function(){
$("#company_list").slideToggle();
});
$("#company_list li").click(function(){
var texto=$(this).text().replace(/^\s*|\s*$/g,'');
var texto1=texto.substring(0,17)+"...";
$("#empresa").text(texto1);
$("#company_list").slideUp();
//reload with the selected company data
window.location.href="/reportes/set_default_building/"+$(this).attr("rel")+"/?referer=cfe";


});
{% endblock %}
{% block contenido %}

<div id="bread_crumbs">
    <ul>
        <li><a href="/main/">Inicio</a></li>
        <li><a href="/reportes/cfe/">Recibo CFE</a></li>
    </ul>
</div>

<div id="contenido_interno">
    <h2 id="titulo_reporte">Desglose</h2>

    <div class="divider" id="divider_top">&nbsp;</div>

    <div id="types_graphs">
        <ul>
            <li class="active"><a href="#">Desglose</a></li>
        </ul>
    </div>
    <div id="data_container">
        <h3>{{ empresa.building_name }}</h3>

        <input type="hidden" name="empresa_act" id="empresa_act" value="{{ empresa.pk }}"/>
        <div id="datepicker_component">
            <input type="text" name="start_d" id="start_d">
            <input type="text" name="end_d" id="end_d">

            <button class="aqua_btn" onclick="cfeReload();">Reporte</button>

        </div>
        <div class="vacio"></div>
        <div id="cfe_container">
            <iframe id="graphFrame"></iframe>
        </div>

    </div>

</div>
{% endblock %}