<html>
<head>
    <link rel="stylesheet" href="/static/css/theme.css">
    <link rel="stylesheet" href="/static/css/consumption_centers/cfe_bill.css">
    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
    <script type="text/javascript">
        google.load('visualization', '1', {packages: ['corechart']});
    </script>
    <script type="text/javascript">

        function drawVisualization() {
            // Create and populate the data table.
            var data = google.visualization.arrayToDataTable([
                {% if tipo_tarifa.pk == 1 %}
                    ['Mes', 'Base', 'Media', 'Punta'],
                    {% for hist in  historico%}
                        ['{{ hist.fecha }}', {{ hist.kw_base }}, {{ hist.kw_intermedio }}, {{ hist.kw_punta }}],
                    {% endfor %}
                {% elif tipo_tarifa.pk == 2 %}
                    ['Mes', 'KWH'],
                    {% for hist in  historico%}
                    ['{{ hist.fecha }}', {{ hist.total_kwh }}],
                    {% endfor %}
                {% elif tipo_tarifa.pk == 3 %}
                    ['Mes', 'KWH'],
                    {% for hist in  historico%}
                    ['{{ hist.fecha }}', {{ hist.total_kwh }}],
                    {% endfor %}
                {% endif %}
            ]);

            // Create and draw the visualization.
            new google.visualization.ColumnChart(document.getElementById('visualization')).
                    draw(data,
                    {
                        width:570, height:325,}
            );
        }

        google.setOnLoadCallback(drawVisualization);
    </script>

</head>
<body>
<h4>Estado de Cuenta</h4>
<div id="left_col" class="fl inner_col">

    {% if tipo_tarifa.pk == 1 %}
    <div id="sumary">
        <span class="l">Periodo</span>
        <span class="r">{{ resultados.periodo }}</span>
        <span class="l">Energ&iacute;a</span>
        <span class="r">${{ resultados.costo_energia|floatformat:2 }}</span>
        <span class="l">Demanda Facturable</span>
        <span class="r">${{ resultados.costo_dfacturable|floatformat:2 }}</span>
        <span class="l">Bonificaci&oacute;n Factor de Potencia</span>
        <span class="r">${{ resultados.costo_fpotencia|floatformat:2 }}</span>
        <span class="l">Sub Total</span>
        <span class="r">${{ resultados.subtotal|floatformat:2 }}</span>
        <span class="l">IVA 16%</span>
        <span class="r">${{ resultados.iva|floatformat:2 }}</span>
        <span class="l">Total</span>
        <span class="r total">${{ resultados.total|floatformat:2 }}</span>
    </div>
    {% elif tipo_tarifa.pk = 2 %}
    <div id="sumary">
        <span class="l">Periodo</span>
        <span class="r">{{ resultados.periodo }}</span>
        <span class="l">Energ&iacute;a</span>
        <span class="r">${{ resultados.costo_energia|floatformat:2 }}</span>
        <span class="l">IVA 16%</span>
        <span class="r">${{ resultados.iva|floatformat:2 }}</span>
        <span class="l">Total</span>
        <span class="r total">${{ resultados.total|floatformat:2 }}</span>
    </div>
    {% elif tipo_tarifa.pk = 3 %}
    <div id="sumary">
        <span class="l">Periodo</span>
        <span class="r">{{ resultados.periodo }}</span>
        <span class="l">Energ&iacute;a</span>
        <span class="r">${{ resultados.costo_energia|floatformat:2 }}</span>
        <span class="l">Demanda M&aacute;xima</span>
        <span class="r">${{ resultados.costo_demanda|floatformat:2 }}</span>
        <span class="l">Bonificaci&oacute;n Factor de Potencia</span>
        <span class="r">${{ resultados.costo_fpotencia|floatformat:2 }}</span>
        <span class="l">Sub Total</span>
        <span class="r">${{ resultados.subtotal|floatformat:2 }}</span>
        <span class="l">IVA 16%</span>
        <span class="r">${{ resultados.iva|floatformat:2 }}</span>
        <span class="l">Total</span>
        <span class="r total">${{ resultados.total|floatformat:2 }}</span>
    </div>
    {% endif %}

    {% if tipo_tarifa.pk == 1 %}
    <table id="function_period">
        <thead>
        <tr>
            <th class="h82">Funci&oacute;n y Periodo</th>
            <th class="h18">Totales</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>kWh Base</td>
            <td>{{ resultados.kwh_base }}</td>
        </tr>
        <tr>
            <td>kWh Intermedia</td>
            <td>{{ resultados.kwh_intermedio }}</td>
        </tr>
        <tr>
            <td>kWh Punta</td>
            <td>{{ resultados.kwh_punta }}</td>
        </tr>

        <tr>
            <td>kW Base</td>
            <td>{{ resultados.kw_base }}</td>
        </tr>
        <tr>
            <td>kW Intermedia</td>
            <td>{{ resultados.kw_intermedio }}</td>
        </tr>
        <tr>
            <td>kW Punta</td>
            <td>{{ resultados.kw_punta }}</td>
        </tr>
        <tr>
            <td>kVArh</td>
            <td>{{ resultados.kvarh_totales }}</td>
        </tr>
        <tr>
            <td>Factor de potencia %</td>
            <td>{{ resultados.factor_potencia|floatformat:2  }}</td>
        </tr>
        </tbody>
    </table>
    <table id="rates">
        <thead>
        <tr>
            <th>Diferencia</th>
            <th>Totales</th>
            <th>Precios Unitarios</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Energ&iacute;a en base kWh</td>
            <td>{{ resultados.kwh_base }}</td>
            <td>{{ resultados.tarifa_kwhb|floatformat:4 }}</td>

        </tr>
        <tr>
            <td>Energ&iacute;a en intermedia kWh</td>
            <td>{{ resultados.kwh_intermedio }}</td>
            <td>{{ resultados.tarifa_kwhi|floatformat:4 }}</td>

        </tr>
        <tr>
            <td>Energ&iacute;a en punta kWh</td>
            <td>{{ resultados.kwh_punta }}</td>
            <td>{{ resultados.tarifa_kwhp|floatformat:4 }}</td>

        </tr>
        <tr>
            <td>Demanda facturable kW</td>
            <td>{{ resultados.demanda_facturable }}</td>
            <td>{{ resultados.tarifa_df|floatformat:4 }}</td>

        </tr>
        </tbody>
    </table>
    {% elif tipo_tarifa.pk = 2 %}
    <table id="function_period">
        <thead>
        <tr>
            <th class="h82">Funci&oacute;n y Periodo</th>
            <th class="h18">Totales</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Energía KWH</td>
            <td>{{ resultados.kwh_totales }}</td>
        </tr>
        <tr>
            <td>Tarifa $/Kwh</td>
            <td>{{ resultados.tarifa_kwh|floatformat:4 }}</td>
        </tr>
        <tr>
            <td>Importe</td>
            <td>{{ resultados.importe|floatformat:4 }}</td>
        </tr>
        <tr>
            <td>Cargo Fijo Mensual</td>
            <td>{{ resultados.tarifa_mes|floatformat:4 }}</td>
        </tr>
        </tbody>
    </table>
    {% elif tipo_tarifa.pk = 3 %}
    <table id="function_period">
        <thead>
        <tr>
            <th class="h82">Funci&oacute;n y Periodo</th>
            <th class="h18">Totales</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Energía KWH</td>
            <td>{{ resultados.kwh_totales }}</td>
        </tr>
        <tr>
            <td>Tarifa $/Kwh</td>
            <td>{{ resultados.tarifa_kwh|floatformat:4 }}</td>
        </tr>
        <tr>
            <td>Demanda Máxima KW</td>
            <td>{{ resultados.kw_totales }}</td>
        </tr>
        <tr>
            <td>Tarifa $/Kw</td>
            <td>{{ resultados.tarifa_kw|floatformat:4 }}</td>
        </tr>
        <tr>
            <td>Factor de Potencia</td>
            <td>{{ resultados.factor_potencia|floatformat:2 }}</td>
        </tr>
        <tr>
            <td>Importe</td>
            <td>{{ resultados.costo_energia|floatformat:2 }}</td>
        </tr>
        </tbody>
    </table>
    {% endif %}
</div>
<div id="right_col" class="fl inner_col">
    <div id="notes">
        <span>Tarifa:</span><span>{{tipo_tarifa.electric_rate_name}}</span>
        <span>Carga conectada kW:</span><span>150</span>
        <span>Demanda contratada kW:</span><span>134</span>
        <span>Multiplicador:</span><span>240</span>
    </div>
    <div id="history_graph">
        <span id="graph_title">Datos Hist&oacute;ricos</span>
        <div id="visualization"></div>
    </div>
    <table id="sumary_month">
        <thead>
        <tr>
            <th>Mes</th>
            <th>Demanda M&aacute;xima</th>
            <th>Consumo Total (KWh)</th>
            <th>F.P. %</th>
            <th>F.C. %</th>
            <th>Precio Medio</th>
        </tr>
        </thead>
        <tbody>
        {% if tipo_tarifa.pk == 1 %}
            {% for hist in  historico%}
                <tr>
                    <td>{{ hist.fecha }}</td>
                    <td>{{ hist.demanda_maxima|floatformat:2 }}</td>
                    <td>{{ hist.total_kwh }}</td>
                    <td>{{ hist.factor_potencia|floatformat:2 }}%</td>
                    <td>{{ hist.factor_carga|floatformat:2 }}%</td>
                    <td>{{ hist.costo_promedio|floatformat:4 }}</td>
                </tr>
            {% endfor %}
        {% elif tipo_tarifa.pk = 2 %}
            {% for hist in  historico%}
                <tr>
                    <td>{{ hist.fecha }}</td>
                    <td>-</td>
                    <td>{{ hist.total_kwh }}</td>
                    <td>-</td>
                    <td>-</td>
                    <td>{{ hist.costo_promedio|floatformat:4 }}</td>
                </tr>
            {% endfor %}
        {% elif tipo_tarifa.pk = 3 %}
            {% for hist in  historico%}
                <tr>
                    <td>{{ hist.fecha }}</td>
                    <td>{{ hist.demanda_maxima|floatformat:2 }}</td>
                    <td>{{ hist.total_kwh }}</td>
                    <td>{{ hist.factor_potencia|floatformat:2 }}%</td>
                    <td>{{ hist.factor_carga|floatformat:2 }}%</td>
                    <td>{{ hist.costo_promedio|floatformat:4 }}</td>
                </tr>
            {% endfor %}
        {% endif %}
        </tbody>
    </table>
</div>

</body>
</html>