
<html>
<head>
    <link rel="stylesheet" href="/static/css/theme.css">
    <link rel="stylesheet" href="/static/css/consumption_centers/cfe_bill.css">
    <link rel="stylesheet" href="/static/js/external/fancybox/jquery.fancybox.css" type="text/css" />
    <script type="text/javascript" src="/static/js/external/jquery.tools.min.js"></script>
    <script type="text/javascript" src="/static/js/external/fancybox/jquery.fancybox.js"></script>
    <script type="text/javascript" src="http://www.google.com/jsapi"></script>

    <link rel="stylesheet" href="/static/date_picker/css/datepicker.css" type="text/css" />
    <script type="text/javascript" src="/static/date_picker/js/date_picker.js"></script>
    <script type="text/javascript">
        google.load('visualization', '1', {packages: ['corechart']});
    </script>
    <script type="text/javascript">

        function drawVisualization() {
            // Create and populate the data table.
            var data = google.visualization.arrayToDataTable([
                {% if tipo_tarifa.pk == 1 %}
                    ['Mes', 'Base', 'Media', 'Punta'],
                    {% for hist in  historico%}
                        ['{{ hist.fecha }}', {{ hist.kw_base }}, {{ hist.kw_intermedio }}, {{ hist.kw_punta }}],
                    {% endfor %}
                {% elif tipo_tarifa.pk == 2 %}
                    ['Mes', 'kWh'],
                    {% for hist in  historico%}
                    ['{{ hist.fecha }}', {{ hist.total_kwh }}],
                    {% endfor %}
                {% elif tipo_tarifa.pk == 3 %}
                    ['Mes', 'kWh'],
                    {% for hist in  historico%}
                    ['{{ hist.fecha }}', {{ hist.total_kwh }}],
                    {% endfor %}
                {% endif %}
            ]);

            // Create and draw the visualization.
            new google.visualization.ColumnChart(document.getElementById('visualization')).
                    draw(data,
                    {
                        width:570, height:325, colors: ['#79b80d','#f08d00','#0a9bc7']
                    }
            );
        }

        $(function() {
            $('a#cut_date_fb').click(function() {
                window.parent.$.fancybox({
                    href        :'/buildings/corte_recibo/{{ control }}',
                    type        :'iframe',
                    maxWidth	: 400,
                    maxHeight	: 350,
                    width		: '70%',
                    height		: '70%'
                });
            });
        });


        $(document).ready(function(){

            //$(this).contents().find("#cal").DatePicker();
        });


        google.setOnLoadCallback(drawVisualization);
    </script>

</head>

<body>
<div class="iframe_container">
<div>
    {% if message %}
        {% if morethan30 %}
            <span class="notif n_error">
            La facturación para este mes ya rebasa los 30 días. Selecciona la fecha de corte <a id="cut_date_fb" href="#">AQUÍ</a>
            <a href="#" onclick="$(this).parent().remove();">X</a>
            </span>
        {% else %}
            <span class="notif {{ type }}">
            {% autoescape off %}{{ message }}{% endautoescape %}
            <a href="#" onclick="$(this).parent().remove();">X</a>
            </span>
        {% endif %}
    {% endif %}

</div>
<h4>Resumen de Consumo</h4>
<div id="left_col" class="fl inner_col">

    {% if tipo_tarifa.pk == 1 %}
        <table id="sumary_month">
            <tbody>
                <tr>
                    <td colspan="2" class="bolder">
                        Periodo {{ resultados.periodo }}
                        {% if control %}
                            <a target="_parent" class="username" href="/buildings/establecer_fecha/{{ control }}">Cambiar</a>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>Energía</td>
                    <td>${{ resultados.costo_energia|floatformat:2 }}</td>
                </tr>
                <tr>
                    <td>Demanda Facturable</td>
                    <td>${{ resultados.costo_dfacturable|floatformat:2 }}</td>
                </tr>
                <tr>
                    <td>Bonificación Factor de Potencia</td>
                    <td>${{ resultados.costo_fpotencia|floatformat:2 }}</td>
                </tr>
                <tr>
                    <td>Sub Total</td>
                    <td>${{ resultados.subtotal|floatformat:2 }}</td>
                </tr>
                <tr>
                    <td>IVA 16%</td>
                    <td>${{ resultados.iva|floatformat:2 }}</td>
                </tr>
                <tr>
                    <td>Total</td>
                    <td>$ {{ resultados.total|floatformat:2 }}</td>
                </tr>
            </tbody>
        </table>

    {% elif tipo_tarifa.pk == 2 %}
        <table id="sumary_month">
            <tbody>
                <tr>
                    <td colspan="2" class="bolder">
                        Periodo {{ resultados.periodo }}
                        {% if control %}
                           <a target="_parent" class="username" href="/buildings/establecer_fecha/{{ control }}">Cambiar</a>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>Energía</td>
                    <td>${{ resultados.costo_energia|floatformat:2 }}</td>
                </tr>
                <tr>
                    <td>IVA 16%</td>
                    <td>${{ resultados.iva|floatformat:2 }}</td>
                </tr>
                <tr>
                    <td>Total</td>
                    <td>$ {{ resultados.total|floatformat:2 }}</td>
                </tr>
            </tbody>
        </table>
    {% elif tipo_tarifa.pk == 3 %}
        <table id="sumary_month">
            <tbody>
                <tr>
                    <td colspan="2" class="bolder">
                        Periodo {{ resultados.periodo }}
                        {% if control %}
                            <a target="_parent" class="username" href="/buildings/establecer_fecha/{{ control }}">Cambiar</a>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>Energía</td>
                    <td>${{ resultados.costo_energia|floatformat:2 }}</td>
                </tr>
                <tr>
                    <td>Demanda M&aacute;xima</td>
                    <td>${{ resultados.costo_demanda|floatformat:2 }}</td>
                </tr>
                <tr>
                    <td>Bonificación Factor de Potencia</td>
                    <td>${{ resultados.costo_fpotencia|floatformat:2 }}</td>
                </tr>
                <tr>
                    <td>Sub Total</td>
                    <td>${{ resultados.subtotal|floatformat:2 }}</td>
                </tr>
                <tr>
                    <td>IVA 16%</td>
                    <td>${{ resultados.iva|floatformat:2 }}</td>
                </tr>
                <tr>
                    <td>Total</td>
                    <td>$ {{ resultados.total|floatformat:2 }}</td>
                </tr>
            </tbody>
        </table>
    {% endif %}

    {% if tipo_tarifa.pk == 1 %}
    <table id="function_period">
        <thead>
        <tr>
            <th class="h82">Funci&oacute;n y Periodo</th>
            <th class="h18">Totales</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>kWh Totales</td>
            <td>{{ resultados.kwh_totales }}</td>
        </tr>
        <tr>
            <td>kWh Base</td>
            <td>{{ resultados.kwh_base }}</td>
        </tr>
        <tr>
            <td>kWh Intermedia</td>
            <td>{{ resultados.kwh_intermedio }}</td>
        </tr>
        <tr>
            <td>kWh Punta</td>
            <td>{{ resultados.kwh_punta }}</td>
        </tr>

        <tr>
            <td>kW Base</td>
            <td>{{ resultados.kw_base }}</td>
        </tr>
        <tr>
            <td>kW Intermedia</td>
            <td>{{ resultados.kw_intermedio }}</td>
        </tr>
        <tr>
            <td>kW Punta</td>
            <td>{{ resultados.kw_punta }}</td>
        </tr>
        <tr>
            <td>kVArh</td>
            <td>{{ resultados.kvarh_totales }}</td>
        </tr>
        <tr>
            <td>Factor de potencia</td>
            <td>{{ resultados.factor_potencia|floatformat:2  }}</td>
        </tr>
        </tbody>
    </table>
    <table id="rates">
        <thead>
        <tr>
            <th>Diferencia</th>
            <th>Totales</th>
            <th>Precios Unitarios</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Energ&iacute;a en base kWh</td>
            <td>{{ resultados.kwh_base }}</td>
            <td>{{ resultados.tarifa_kwhb|floatformat:4 }}</td>

        </tr>
        <tr>
            <td>Energ&iacute;a en intermedia kWh</td>
            <td>{{ resultados.kwh_intermedio }}</td>
            <td>{{ resultados.tarifa_kwhi|floatformat:4 }}</td>

        </tr>
        <tr>
            <td>Energ&iacute;a en punta kWh</td>
            <td>{{ resultados.kwh_punta }}</td>
            <td>{{ resultados.tarifa_kwhp|floatformat:4 }}</td>

        </tr>
        <tr>
            <td>Demanda facturable kW</td>
            <td>{{ resultados.demanda_facturable }}</td>
            <td>{{ resultados.tarifa_df|floatformat:3 }}</td>

        </tr>
        </tbody>
    </table>
    {% elif tipo_tarifa.pk == 2 %}
    <table id="function_period">
        <thead>
        <tr>
            <th class="h82">Funci&oacute;n y Periodo</th>
            <th class="h18">Totales</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Energía kWh</td>
            <td>{{ resultados.kwh_totales }}</td>
        </tr>
        <tr>
            <td>Tarifa $/kWh</td>
            <td>{{ resultados.tarifa_kwh|floatformat:3 }}</td>
        </tr>
        <tr>
            <td>Importe</td>
            <td>{{ resultados.importe|floatformat:2 }}</td>
        </tr>
        <tr>
            <td>Cargo Fijo Mensual</td>
            <td>{{ resultados.tarifa_mes|floatformat:2 }}</td>
        </tr>
        </tbody>
    </table>
    {% elif tipo_tarifa.pk == 3 %}
    <table id="function_period">
        <thead>
        <tr>
            <th class="h82">Funci&oacute;n y Periodo</th>
            <th class="h18">Totales</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Energía kWh</td>
            <td>{{ resultados.kwh_totales }}</td>
        </tr>
        <tr>
            <td>Tarifa $/kWh</td>
            <td>{{ resultados.tarifa_kwh|floatformat:2 }}</td>
        </tr>
        <tr>
            <td>Demanda Máxima KW</td>
            <td>{{ resultados.kw_totales }}</td>
        </tr>
        <tr>
            <td>Tarifa $/Kw</td>
            <td>{{ resultados.tarifa_kw|floatformat:3 }}</td>
        </tr>
        <tr>
            <td>Factor de Potencia</td>
            <td>{{ resultados.factor_potencia|floatformat:2 }}</td>
        </tr>
        <tr>
            <td>Importe</td>
            <td>{{ resultados.costo_energia|floatformat:2 }}</td>
        </tr>
        </tbody>
    </table>
    {% endif %}
</div>
<div id="right_col" class="fl inner_col">
    <div id="notes">
        <h2 id="header_report">Tarifa:{{tipo_tarifa.electric_rate_name}}</h2>
        <span>Carga conectada kW:</span><span>150</span>
        <span>Demanda contratada kW:</span><span>134</span>
        <span>Multiplicador:</span><span>240</span>
    </div>
    <div id="history_graph">
        <span id="graph_title">Datos Hist&oacute;ricos</span>
        <div id="visualization"></div>
    </div>
    <table id="sumary_month">
        <thead>
        <tr>
            <th colspan="6">
                Resumen Hist&oacute;rico
            </th>
        </tr>
        <tr>
            <th>Mes</th>
            <th>Demanda M&aacute;xima</th>
            <th>Consumo Total (kWh)</th>
            <th>F.P.</th>
            <th>F.C.</th>
            <th>Precio Medio</th>
        </tr>
        </thead>
        <tbody>
        {% if tipo_tarifa.pk == 1 %}
            {% for hist in  historico%}
                <tr>
                    <td>{{ hist.fecha }}</td>
                    <td>{{ hist.demanda_maxima|floatformat:2 }}</td>
                    <td>{{ hist.total_kwh }}</td>
                    <td>{{ hist.factor_potencia|floatformat:2 }}</td>
                    <td>{{ hist.factor_carga|floatformat:2 }}</td>
                    <td>{{ hist.costo_promedio|floatformat:2 }}</td>
                </tr>
            {% endfor %}
        {% elif tipo_tarifa.pk == 2 %}
            {% for hist in  historico%}
                <tr>
                    <td>{{ hist.fecha }}</td>
                    <td>-</td>
                    <td>{{ hist.total_kwh }}</td>
                    <td>-</td>
                    <td>-</td>
                    <td>{{ hist.costo_promedio|floatformat:2 }}</td>
                </tr>
            {% endfor %}
        {% elif tipo_tarifa.pk == 3 %}
            {% for hist in  historico%}
                <tr>
                    <td>{{ hist.fecha }}</td>
                    <td>{{ hist.demanda_maxima|floatformat:2 }}</td>
                    <td>{{ hist.total_kwh }}</td>
                    <td>{{ hist.factor_potencia|floatformat:2 }}</td>
                    <td>{{ hist.factor_carga|floatformat:2 }}</td>
                    <td>{{ hist.costo_promedio|floatformat:2 }}</td>
                </tr>
            {% endfor %}
        {% endif %}
        </tbody>
    </table>
</div>
</div>
</body>
</html>