{% extends "base.html" %}
{% block titulo %}Reportes{% endblock %}
{% block externalcss %}
    <link rel="stylesheet" href="/static/css/consumption_centers/main.css" type="text/css" />
    <link rel="stylesheet" href="/static/date_picker/css/datepicker.css" type="text/css" />
    <link rel="stylesheet" href="/static/js/external/fancybox/jquery.fancybox.css" type="text/css" />
{% endblock %}
{% block externaljs %}
    <script type="text/javascript" src="/static/js/external/fancybox/jquery.fancybox.js"></script>
    <script type="text/javascript" src="/static/date_picker/js/date_picker.js"></script>

    <script type="text/javascript">
    var number_params = 0;
    var src = "{{ graph_type.object_access_point|safe }}";

    function graphsReload(){
        /* Takes the date in the range inputs and reloads the graph data */
        var get_string = src.split("?")[1];//electrical-parameters-names
        var get_parameters = get_string.split("&");
        var params = [];
        for(var i_get=0; i_get<get_parameters.length;i_get++){
            var get_str = get_parameters[i_get];
            params.push(get_str.split("=")[1]);
        }

        var f1_init = encodeURIComponent($("#range1_init").val());
        var f1_end = encodeURIComponent($("#range1_end").val());
        var f2_init = encodeURIComponent($("#range2_init").val());
        var f2_end = encodeURIComponent($("#range2_end").val());
        var f3_init = encodeURIComponent($("#range3_init").val());
        var f3_end = encodeURIComponent($("#range3_end").val());
        var f4_init = encodeURIComponent($("#range4_init").val());
        var f4_end = encodeURIComponent($("#range4_end").val());

        var params_new = [];
        var c_param;
        var cont=0;
        if(f1_init != ''){
            var base_url = src.split("?")[0];
            if(f1_end == ''){
                f1_end = new Date().format("yyyy-mm-dd");
            }

            c_param = construct_params(params, f1_init, f1_end, 1);
            params_new = c_param;

            if(f2_init != ''){

                if(f2_end == ''){
                    f2_end = new Date().format("yyyy-mm-dd");
                }
                c_param = construct_params(params, f2_init, f2_end, Object.size(params_new)/params.length);

                params_new = merge_object(params_new, c_param);

            }

            if(f3_init != ''){
                cont++;

                if(f3_end == ''){
                    f3_end = new Date().format("yyyy-mm-dd");
                }
                c_param = construct_params(params, f3_init, f3_end, (Object.size(params_new)/params.length)-cont);

                params_new = merge_object(params_new, c_param);
            }


            if(f4_init != ''){
                cont++;

                if(f4_end == ''){
                    f4_end = new Date().format("yyyy-mm-dd");
                }
                c_param = construct_params(params, f4_init, f4_end, (Object.size(params_new)/params.length-cont));

                params_new = merge_object(params_new, c_param);
            }
            var url = buildUrl(src.split("?")[0], params_new);

            makeIframe(url);
        }

    }
    function refresh_iframe_height(){
        // regresca el height del iframe para ajustarse a su conte
        setTimeout("parent.document.getElementById('graphFrame').height = 1200;", 1000);
    }
    function makeIframe(source){
        var graphFrame = document.createElement("IFRAME");
        graphFrame.id = "graphFrame";
        graphFrame.src = source;
        $("#graph_container").html(graphFrame);
        refresh_iframe_height();
    }

    function initial_parameters(cu_count){
        var params = [];
        for(var i=1; i<=cu_count; i++){
            var index;
            var get = getUrlVars();
            var fecha_ini, f_i, f_e;
            if(get['fi']!=undefined && get['ff']!=undefined){
                var fecha = get['fi'].split("-");
                f_i = new Date(parseInt(fecha[0]), parseInt(fecha[1])-1, parseInt(fecha[2]));
                f_i = f_i.format("yyyy-mm-dd");

                fecha = get['ff'].split("-");
                f_e = new Date(parseInt(fecha[0]), parseInt(fecha[1])-1, parseInt(fecha[2]));
                f_e = f_e.format("yyyy-mm-dd");
            }else{
                fecha_ini = new Date();
                fecha_ini.setDate(fecha_ini.getDate()-30);
                f_i = fecha_ini.format("yyyy-mm-dd");
                f_e = new Date().format("yyyy-mm-dd");
            }


            if(i<10){
                index = "0"+String(i);
            }else{
                index = String(i);
            }
            params['consumer-unit'+index]={{ consumer_unit.pk }};
            params['date-from'+index] = f_i;
            params['date-to'+index] = f_e;
        }
        return params;
    }
    function construct_params(params, finit, fend, seq){
        var params_ = [];
        var index = seq;
        for(var ncu=1; ncu<=number_params; ncu++){

            if(index<10){
                index = "0"+String(index);
            }else{
                index = String(index);
            }
            params_['consumer-unit'+index]={{ consumer_unit.pk }};
            params_['date-from'+index] = finit;
            params_['date-to'+index] = fend;
            params_['electrical-parameter-name'+index] = params[ncu-1];
            index++;
        }
        return params_;
    }
    </script>
{% endblock %}
{% block document_ready %}

    var url = window.location.href;
    url = url.replace("#", '');
    History.replaceState(url,"Reporte electrico", url);

    var now3 = new Date();
    now3.addDays(-4);
    var now4 = new Date();
    var mul_date, mul_date3, mul_date4 = false;
    $('#widgetCalendar').DatePicker({
        flat: true,
        format: 'Y-m-d',
        date: [new Date(now3), new Date(now4)],
        calendars: 2,
        mode: 'range',
        starts: 1,
        onChange: function(formated) {
            $('#range1_init').val(formated[0]);
            $('#range1_end').val(formated[1]);
            if(!mul_date){
                $('#widgetField span').css({'font-size':'16px', 'height':'26px'});
                $('#widgetField span').get(0).innerHTML = formated.join(' &ndash; ');
            }else{
                $('#widgetField span').get(0).innerHTML = $('#range1_init').val() + " &ndash; " + $('#range1_end').val() + " contra: " + $('#range2_init').val() + " &ndash; " + $('#range2_end').val();
            }
        }
    });
    $('#widgetCalendar').DatePickerClear();
    $('#widgetCalendar2').DatePicker({
        flat: true,
        format: 'Y-m-d',
        date: [new Date(now3), new Date(now4)],
        calendars: 2,
        mode: 'range',
        starts: 1,
        onChange: function(formated) {
            $('#range2_init').val(formated[0]);
            $('#range2_end').val(formated[1]);
            $('#widgetField span').get(0).innerHTML = $('#range1_init').val() + " &ndash; " + $('#range1_end').val();
            $('#widgetField span').get(0).innerHTML = $('#widgetField span').html() + " contra: " + $('#range2_init').val() + " &ndash; " + $('#range2_end').val();
            $('#widgetField span').css('font-size','11px');

        }
    });
    $('#widgetCalendar2').DatePickerClear();

    //-----3rd and 4th calendars-------
    $('#widgetCalendar3').DatePicker({
        flat: true,
        format: 'Y-m-d',
        date: [new Date(now3), new Date(now4)],
        calendars: 2,
        mode: 'range',
        starts: 1,
        onChange: function(formated) {
            $('#range3_init').val(formated[0]);
            $('#range3_end').val(formated[1]);

            var inner_text='';
            inner_text= $('#range1_init').val() + " &ndash; " + $('#range1_end').val() + " contra: " + $('#range2_init').val() + " &ndash; " + $('#range2_end').val();
            inner_text+= " contra "+$('#range3_init').val() + " &ndash; " + $('#range3_end').val();
            $('#widgetField span').get(0).innerHTML = inner_text;
            $('#widgetField').css({'font-size':'11px', 'height': '52px' });
    }
    });
    $('#widgetCalendar3').DatePickerClear();
    $('#widgetCalendar4').DatePicker({
        flat: true,
        format: 'Y-m-d',
        date: [new Date(now3), new Date(now4)],
        calendars: 2,
        mode: 'range',
        starts: 1,
        onChange: function(formated) {
            $('#range4_init').val(formated[0]);
            $('#range4_end').val(formated[1]);
            var inner_text = '';
            inner_text= $('#range1_init').val() + " &ndash; " + $('#range1_end').val() + " contra: " + $('#range2_init').val() + " &ndash; " + $('#range2_end').val();
            inner_text+= " contra: "+$('#range3_init').val() + " &ndash; " + $('#range3_end').val() + " contra: " + $('#range4_init').val() + " &ndash; " + $('#range4_end').val();
            $('#widgetField span').get(0).innerHTML = inner_text;
            $('#widgetField').css({'font-size':'11px', 'height': '52px', 'width': '362px' });
        }
    });
    $('#widgetCalendar4').DatePickerClear();

    var state = false;
    $('#widgetField').click(function(){
        $('#datepicker').slideToggle();
    });
    $("#date_ranges .aqua_btn").click(function(e){
        //aplicar el(los) rangos de fecha seleccionados
        e.preventDefault();
        $('#datepicker').slideUp();
        graphsReload();
    });
    $("#prev_dates").click(function(){
        //maneja la visibilidad del calendario del rango adicional
        if($("#widgetCalendar2").is(":visible")){
            mul_date = false;
            $('#range2_init').val("");
            $('#range2_end').val("");
            $('#widgetField span').html($('#widgetField span').html().split(" contra: ")[0]);
            $('#widgetCalendar2').DatePickerClear();
        }else{
            mul_date = true;
        }
        $("#widgetCalendar2").slideToggle();
    });

    $("#prev_dates3").click(function(){
        //maneja la visibilidad del calendario del rango adicional
        if($("#widgetCalendar3").is(":visible")){
            mul_date3 = false;
            $('#range3_init').val("");
            $('#range3_end').val("");
            var span_content=$('#widgetField span').html().split(" contra: ")
            $('#widgetField span').html(span_content[0]+" contra: "+span_content[1]);
            $('#widgetCalendar3').DatePickerClear();
        }else{
            mul_date = true;
        }
        $("#widgetCalendar3").slideToggle();
    });

    $("#prev_dates4").click(function(){
        //maneja la visibilidad del calendario del rango adicional
        if($("#widgetCalendar4").is(":visible")){
            mul_date4 = false;
            $('#range4_init').val("");
            $('#range4_end').val("");
            var span_content=$('#widgetField span').html().split(" contra: ")
            $('#widgetField span').html(span_content[0]+" contra: "+span_content[1]+" contra: "+span_content[2]);
            $('#widgetCalendar4').DatePickerClear();
        }else{
            mul_date = true;
        }
        $("#widgetCalendar4").slideToggle();
    });
    //--INITIAL IFRAME URL
    var get_string = src.split("?")[1];//electrical-parameters-names
    number_params = get_string.split("&").length;
    params = initial_parameters(number_params);
    url = buildUrl(src.split("?")[0], params);
    url += "&"+get_string;

    makeIframe(url);

    refresh_iframe_height();

    $(".various").fancybox({
        maxWidth	: 800,
        maxHeight	: 800,
        fitToView	: false,
        width		: '70%',
        height		: '70%',
        autoSize	: false,
        closeClick	: false,
        openEffect	: 'none',
        closeEffect	: 'none'
    });

    {% endblock %}
{% block contenido %}

<div id="bread_crumbs">
    <ul>
        <li><a href="/main/">Inicio</a></li>
        <li>Reportes</li>
    </ul>

</div>
<div id="page_content">
<div id="contenido_interno">
    <h2 id="titulo_reporte">{{ empresa.building_name }} -
        <span>
            {% if consumer_unit.part_of_building %}
                {{ consumer_unit.part_of_building.part_of_building_name }}
            {% else %}
                {{ consumer_unit.electric_device_type.electric_device_type_name }}
            {% endif %}
        </span>
    </h2><a class="various" data-fancybox-type="iframe"  href="/reportes/set_consumer_unit/">Cambiar</a>
    <div id="logo_container"{% if company.company_logo %}class="c fr" style="background: url(/static/media/{{ company.company_logo }}) no-repeat 50% 50%; background-size: 100% auto; margin-top: -19px;">
    {% else %}class="c fr" style="background: url(/static/css/images/imgs_icns/company_placeholder.png) no-repeat 50% 50%; background-size: 100% auto; margin-top: -19px;">
    {% endif %}
    </div>


    <div class="divider" id="divider_top">&nbsp;</div>
    <div id="datepicker_component">
        <span class="period_tag">Periodo</span>
        <div id="widgetField">
            <span>Fecha Inicio &ndash; Fecha Fin</span>
            <a href="#">&nbsp;</a>
        </div>

        <div id="datepicker">
            <div id="widgetCalendar">

            </div>
            <div id="date_ranges">
                <span>Selecciona un periodo</span>
                <div>
                    <label for="range1_init">Desde</label>
                    <input type="text" name="range1_init" id="range1_init" readonly="readonly"/>
                </div>
                <span>&ndash;</span>
                <div>
                    <label for="range1_end">Hasta</label>
                    <input type="text" name="range1_end" id="range1_end" readonly="readonly"/>
                </div>
                <label id="compare_prev_date"><input type="checkbox" id="prev_dates"/>Comparar con fechas previas</label>
                <div>
                    <label for="range2_init">Desde</label>
                    <input type="text" name="range2_init" id="range2_init" readonly="readonly"/>
                </div>
                <span>&ndash;</span>
                <div>
                    <label for="range2_end">Hasta</label>
                    <input type="text" name="range2_end" id="range2_end" readonly="readonly"/>
                </div>

                <label id="compare_prev_date3"><input type="checkbox" id="prev_dates3"/>Comparar con fechas previas</label>
                <div>
                    <label for="range3_init">Desde</label>
                    <input type="text" name="range3_init" id="range3_init" readonly="readonly"/>
                </div>
                <span>&ndash;</span>
                <div>
                    <label for="range3_end">Hasta</label>
                    <input type="text" name="range3_end" id="range3_end" readonly="readonly"/>
                </div>
                <label id="compare_prev_date4"><input type="checkbox" id="prev_dates4"/>Comparar con fechas previas</label>
                <div>
                    <label for="range4_init">Desde</label>
                    <input type="text" name="range2_init" id="range4_init" readonly="readonly"/>
                </div>
                <span>&ndash;</span>
                <div>
                    <label for="range4_end">Hasta</label>
                    <input type="text" name="range2_end" id="range4_end" readonly="readonly"/>
                </div>


                <a href="#" class="aqua_btn">Aplicar</a>
            </div>
            <div id="widgetCalendar2">

            </div>

            <div id="widgetCalendar3">

            </div>

            <div id="widgetCalendar4">

            </div>
        </div>
    </div>
    <h3>
        {{ graph_type.object_description }}
    </h3>

    <div id="graphs_container">
        <div id="compare" class="fl">
            <input id="evaluated_companies" type="hidden" value="{{ empresa.pk }},"/>
        </div>

        <div id="graph_container">
            <iframe src="/reportes_extendidos/" id="graphFrame" seamless="seamless"></iframe>
        </div>

    </div>


</div>
</div>
{% endblock %}