<html>
<head>

    <link rel="stylesheet" href="/static/css/consumption_centers/graphs.css"/>
    <link type="text/css" href="/static/jquery-ui-1.8.23/css/smoothness/jquery-ui-1.8.23.custom.css" rel="stylesheet" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
    <script type="text/javascript" src="/static/jquery-ui-1.8.23/js/jquery-ui-1.8.23.custom.min.js"></script>
    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
    <script type="text/javascript">
        google.load('visualization', '1.1', {packages: ['corechart', 'controls']});
    </script>
    <script type="text/javascript">
        Date.prototype.addDays = function (n) {
            this.setDate(this.getDate() + n);
            this.tempDate = this.getDate();
        };
        Date.prototype.addHours= function(h){
            this.setHours(this.getHours()+h);
            return this;
        };

        function changeRange(interval) {


            //Date("October 13, 1975 11:13:00")
            var start_date = new Date("{{ fi|date:"F d, Y" }} 00:00:00");
            var end_date=new Date("{{ fi|date:"F d, Y" }} 23:59:59");
            console.log("{{ fi|date:"F d, Y" }}");
            switch (interval){
                case 'hour' :
                    start_date.addHours(5);
                    end_date.addHours(7);
                    break;
                case 'day' :
                    end_date.addDays(1);
                    break;
                case 'week' :
                    end_date.addDays(7);
                    break;
                case 'month' :
                    end_date.addDays(30);
                    break;
            }
            // 'slider' is the ControlWrapper instance describing the range slider.
            console.log(start_date,end_date);
            control.setState({
                'range': {
                    'start':start_date,
                    'end': end_date
                }
            });
            control.draw();
        }


        function changeRange2(interval) {


            //Date("October 13, 1975 11:13:00")
            var start_date = new Date("{{ fi|date:"F d, Y" }} 00:00:00");
            var end_date=new Date("{{ fi|date:"F d, Y" }} 00:00:00");
            console.log("{{ fi|date:"F d, Y" }}");
            switch (interval){
                case 'hour_2' :
                    start_date.addHours(5);
                    end_date.addHours(7);
                    break;
                case 'day_2' :
                    end_date.addDays(1);
                    break;
                case 'week_2' :
                    end_date.addDays(7);
                    break;
                case 'month_2' :
                    end_date.addDays(30);
                    break;
            }
            // 'slider' is the ControlWrapper instance describing the range slider.
            control2.setState({
                'range': {
                    'start':start_date,
                    'end': end_date
                }
            });
            control2.draw();
        }


        var fi=encodeURIComponent("{{ fi|date:"d/m/Y" }}");
        var ff=encodeURIComponent("{{ ff|date:"d/m/Y" }}");
        var url="/reportes/perfil_carga_data/?building={{ building }}&f1_init="+
                fi+"&f1_end="+ff;

        var data = new google.visualization.DataTable();
        var data2 = new google.visualization.DataTable();
        $(document).ready(function(){
            $("#compare_interval li").each(function(){
                //cambia el intervalo visible de las graficas y cambia el estilo segun la opcion seleccionada
                $(this).click(function(){
                    changeRange($(this).attr('id'));
                    $("#compare_interval li").each(function(){
                        $(this).removeClass("active");
                    });
                    $(this).addClass("active");
                });
            });

            $("#compare_interval2 li").each(function(){
                //cambia el intervalo visible de las graficas y cambia el estilo segun la opcion seleccionada
                $(this).click(function(){
                    changeRange2($(this).attr('id'));
                    $("#compare_interval2 li").each(function(){
                        $(this).removeClass("active");
                    });
                    $(this).addClass("active");
                });
            });

            $.ajax({
                url: url,
                type: "GET",
                dataType: 'json',
                async: 'true',
                success: function(datos){
                    //----------------------CHARTS----------------------------

                    function drawVisualization() {
                        var dashboard = new google.visualization.Dashboard(
                                document.getElementById('dashboard'));

                        control = new google.visualization.ControlWrapper({
                            'controlType': 'ChartRangeFilter',
                            'containerId': 'control',
                            'options': {
                                // Filter by the date axis.
                                'filterColumnIndex': 0,
                                'ui': {
                                    'chartType': 'LineChart',
                                    'chartOptions': {
                                        'chartArea': {'width': '90%'},
                                        'hAxis': {'baselineColor': 'none'}
                                    },
                                    // Display a single series that shows the closing value of the stock.
                                    // Thus, this view has two columns: the date (axis) and the stock value (line series).
                                    'chartView': {
                                        'columns': [0, 1]
                                    },
                                    // 1 day in milliseconds = 24 * 60 * 60 * 1000 = 86,400,000
                                    'minRangeSize': 3600000
                                }
                            },
                            // Initial range: 2012-02-09 to 2012-03-20.
                            'state': {
                                'range': {
                                    'start': new Date("{{ fi|date:"F d, Y" }} 00:00:00"),
                                    'end': new Date("{{ ff|date:"F d, Y" }} 23:59:59")
                                }
                            }
                        });

                        chart = new google.visualization.ChartWrapper({
                            'chartType': 'LineChart',
                            'containerId': 'chart',
                            'options': {
                                // Use the same chart area width as the control for axis alignment.
                                'chartArea': {'height': '80%', 'width': '90%'},
                                'hAxis': {'slantedText': false},
                                'vAxis': {'viewWindow': {'min': -850, 'max': 850}, textPosition: 'in'},
                                'legend': {'position': 'none'}
                            },
                            'colors': ['#ccc','#000'],
                            // Convert the first column from 'date' to 'string'.
                            'view': {
                                'columns': [
                                    {
                                        'calc': function(dataTable, rowIndex) {
                                            return dataTable.getFormattedValue(rowIndex, 0);
                                        },
                                        'type': 'string'
                                    }, 1, 2]
                            }
                        });


                        data.addColumn('datetime', 'Date');
                        data.addColumn('number', 'Potencia Activa');
                        data.addColumn('number', 'Potencia Reactiva');
                        var max = 0;
                        var min = 9000000000;
                        for(var x=0; x < datos.length; x++) {
                            var e = datos[x];
                            var fecha=new Date();
                            fecha.setTime((e.date*1000) - 3600000);//numero de milisegundos en una hora
                            data.addRow([fecha , parseFloat(e.kw), parseFloat(e.kvar)]);
                            var dato_electrico =  parseFloat(e.kw);
                            if(dato_electrico > max){
                                max = dato_electrico;
                            }
                            if(dato_electrico < min){
                                min = dato_electrico;
                            }
                        }
                        if(min < 0){
                            min += min/4;
                        }else{
                            min -= min/4;
                        }

                        max += max/4;
                        chart.setOption("vAxis.viewWindow.max", max);
                        chart.setOption("vAxis.viewWindow.min", min);
                        dashboard.bind(control, chart);
                        dashboard.draw(data);
                        $( "#slider-range" ).slider({
                            range: true,
                            orientation: "vertical",
                            min: min,
                            max: max,
                            values: [ min, max ],
                            slide: function( event, ui ) {
                                chart.setOption('vAxis', {'viewWindow':{'max':ui.values[ 1 ], 'min':ui.values[ 0 ]}});
                                chart.draw();
                            }
                        });
                    }
                    drawVisualization();
                }
            });
            var buildings_json = eval("{{ buildings }}");
            var buildings_number = buildings_json.length;
            var buildings_str = "";
            for (var building_index = 0; building_index < buildings_number; building_index++) {
                buildings_str += "building" + building_index + "=" +
                        buildings_json[building_index] + "&";
            }
            var url2 = "/reportes/grafica_datos/?graph" +
                    "=pf&"+buildings_str+"f1_init="+fi+"&f1_end="+ff;
            var controlChartViewColumns = {
                'columns': [0, 1]
            };

            var chartViewColumns = [
                {
                    'calc': function(dataTable, rowIndex) {
                        return dataTable.getFormattedValue(rowIndex, 0);
                    },
                    'type': 'string'
                }];
            for (var column_index = 1; column_index <= 1; column_index++) {
                chartViewColumns.push(column_index);
            }
            $.ajax({
                url: url2,
                type: "GET",
                dataType: 'json',
                async: 'true',
                success: function(datos){
                    //----------------------CHARTS----------------------------
                    var tipo = "Factor Potencia";
                    tipo= tipo.replace("_", " ");

                    function drawVisualization() {
                        var dashboard = new google.visualization.Dashboard(
                                document.getElementById('dashboard'));

                        control2 = new google.visualization.ControlWrapper({
                            'controlType': 'ChartRangeFilter',
                            'containerId': 'control2',
                            'options': {
                                // Filter by the date axis.
                                'filterColumnIndex': 0,
                                'ui': {
                                    'chartType': 'LineChart',
                                    'chartOptions': {
                                        'chartArea': {'width': '90%'},
                                        'hAxis': {'baselineColor': 'none'}
                                    },
                                    // Display a single series that shows the closing value of the stock.
                                    // Thus, this view has two columns: the date (axis) and the stock value (line series).
                                    'chartView': controlChartViewColumns,
                                    // 1 day in milliseconds = 24 * 60 * 60 * 1000 = 86,400,000
                                    'minRangeSize': 3600000
                                }
                            },
                            // Initial range: 2012-02-09 to 2012-03-20.
                            'state': {
                                'range': {
                                    'start': new Date("{{ fi|date:"F d, Y" }} 00:00:00"),
                                    'end': new Date("{{ ff|date:"F d, Y" }} 23:59:59")
                                }
                            }
                        });

                        chart2 = new google.visualization.ChartWrapper({
                            'chartType': 'LineChart',
                            'containerId': 'chart2',
                            'options': {
                                // Use the same chart area width as the control for axis alignment.
                                'chartArea': {'height': '80%', 'width': '90%'},
                                'hAxis': {'slantedText': false},
                                'vAxis': {'viewWindow': {'min': 90, 'max': 260}, textPosition: 'in'},
                                'legend': {position: 'top', textStyle: {color: '#1E90FF', fontSize: 16}}
                            },
                            'colors': ['#ccc','#000'],
                            // Convert the first column from 'date' to 'string'.
                            'view': {
                                'columns': chartViewColumns
                            }
                        });


                        data2.addColumn('datetime', 'Date');
                    {% for building_name in building_names %}
                        data2.addColumn('number', '{{ building_name.building_name }} - ' +
                                tipo);
                    {% endfor %}
                        var max = 0;
                        var min = 9000000000;

                        for(var x=0; x < datos.length; x++) {

                            var e = datos[x];

                            var fecha=new Date();
                            fecha.setTime((e.date*1000) - 3600000);//numero de milisegundos en una hora
                            var rowArray = new Array();
                            rowArray.push(fecha);

                            var dat_kw;
                            for (var medition_index = 0; medition_index < e.meditions.length; medition_index++) {
                                var dato_electrico=parseFloat(e.meditions[medition_index]);

                                dat_kw={v: dato_electrico,
                                    f: dato_electrico+" "+ tipo +" - " +
                                            e.labels[medition_index]};

                                rowArray.push(dat_kw);
                                if(dato_electrico > max){
                                    max = dato_electrico;
                                }
                                if(dato_electrico < min){
                                    min = dato_electrico;
                                }
                            }

                            data2.addRow(rowArray);
                        }
                        if(min < 0){
                            min += min/4;
                        }else{
                            min -= min/4;
                        }

                        max += max/4;

                        chart2.setOption("vAxis.viewWindow.max", max);
                        chart2.setOption("vAxis.viewWindow.min", min);
                        dashboard.bind(control2, chart2);
                        dashboard.draw(data2);
                        $( "#slider-range-pf" ).slider({
                            range: true,
                            orientation: "vertical",
                            min: min,
                            max: max,
                            values: [ min, max ],
                            slide: function( event, ui ) {
                                chart2.setOption('vAxis', {
                                        'viewWindow':{
                                                'max': ui.values[ 1 ],
                                                'min': ui.values[ 0 ]
                                        }
                                });
                                chart2.draw();
                            }
                        });
                    }
                    drawVisualization();
                }
            });
        });

    </script>
</head>

<body>
<ul id="compare_interval" class="fr">
    <li id="hour">Hora</li>
    <li id="day">D&iacute;a</li>
    <li id="week" class="active">Semana</li>
    <li id="month">Mes</li>
</ul>
<div id="dashboard" class="fl">
    <div id="chart">
        <img src="/static/css/images/spinner.gif" alt="cargando" style="display: block; margin: 0 auto; width: 200px;">
    </div>
    <div id="control"></div>
    <div id="slider-range" class="slider"></div>
</div>
<ul id="compare_interval2" class="fr">
    <li id="hour_2">Hora</li>
    <li id="day_2">D&iacute;a</li>
    <li id="week_2" class="active">Semana</li>
    <li id="month_2">Mes</li>
</ul>
<div id="dashboard2" class="fl">
    <div id="chart2">
        <img src="/static/css/images/spinner.gif" alt="cargando" style="display: block; margin: 0 auto; width: 200px;">
    </div>
    <div id="control2"></div>
    <div id="slider-range-pf" class="slider"></div>
</div>
</body>
</html>