<html>
<head>
<link rel="stylesheet" href="/static/css/consumption_centers/graphs.css"/>
<link type="text/css" href="/static/jquery-ui-1.8.23/css/smoothness/jquery-ui-1.8.23.custom.css" rel="stylesheet" />
<link rel="stylesheet" href="/static/js/external/jqueryUniform/css/uniform.default.css" type="text/css" media="screen" charset="utf-8" />
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
<script type="text/javascript" src="/static/jquery-ui-1.8.23/js/jquery-ui-1.8.23.custom.min.js"></script>
<script type="text/javascript" src="/static/js/external/jqueryUniform/jquery.uniform.min.js"></script>
<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<script type="text/javascript">
    google.load('visualization', '1.1', {packages: ['corechart', 'controls']});
</script>
<script type="text/javascript">
Date.prototype.addDays = function (n) {
    this.setDate(this.getDate() + n);
    this.tempDate = this.getDate();
};
Date.prototype.addHours= function(h){
    this.setHours(this.getHours()+h);
    return this;
};

function changeRange(interval) {
    var start_date, end_date;

    //Date("October 13, 1975 11:13:00")
    start_date = new Date("{{ fi|date:"F d, Y" }} 00:00:00");
    end_date=  new Date("{{ fi|date:"F d, Y" }} 00:00:00");
    switch (interval){
        case 'hour' :
            start_date.addHours(5);
            end_date.addHours(7);
            break;
        case 'day' :
            end_date.addDays(1);
            break;
        case 'week' :
            end_date.addDays(7);
            break;
        case 'month' :
            end_date.addDays(30);
            break;
    }
    // 'slider' is the ControlWrapper instance describing the range slider.

    control.setState({
        'range': {
            'start':new Date("{{ fi|date:"F d, Y" }}"),
            'end': end_date
        }
    });
    control.draw();
}

var fi = encodeURIComponent("{{ fi|date:"d/m/Y" }}");
var ff = encodeURIComponent("{{ ff|date:"d/m/Y" }}");
var buildings_json = eval("{{ buildings }}");
var buildings_number = buildings_json.length;
var buildings_str = "";
for (var building_index = 0; building_index < buildings_number; building_index++) {
    buildings_str += "building" + building_index + "=" + buildings_json[building_index] + "&";
}
var url = "/reportes/grafica_datos/?graph={{ tipo }}&"+buildings_str+"f1_init="+fi+"&f1_end="+ff;
var csv_url = "/reportes/grafica_datos_csv/?graph={{ tipo }}&"+buildings_str+"f1_init="+fi+"&f1_end="+ff;
{% if fi2 %}
    var fi2 = encodeURIComponent("{{ fi2|date:"d/m/Y" }}");
    var ff2 = encodeURIComponent("{{ ff2|date:"d/m/Y" }}");
    url+= "&f2_init=" + fi2 + "&f2_end=" + ff2;
{% endif %}


var chart, control;
var data = new google.visualization.DataTable();
$(document).ready(function(){
    $("#export_csv").attr("href",csv_url);
    $("select, input, input:checkbox, input:radio, input:file").uniform();

    $("#compare_interval li").each(function(){
        //cambia el intervalo visible de las graficas y cambia el estilo segun la opcion seleccionada
        $(this).click(function(){
            changeRange($(this).attr('id'));
            $("#compare_interval li").each(function(){
                $(this).removeClass("active");
            });
            $(this).addClass("active");
        });
    });



    var controlChartViewColumns = {
        'columns': [0, buildings_number]
    };

    var chartViewColumns = [
        {
            'calc': function(dataTable, rowIndex) {
                return dataTable.getFormattedValue(rowIndex, 0);
            },
            'type': 'string'
        }];
    for (var column_index = 1; column_index <= buildings_number; column_index++) {
        chartViewColumns.push(column_index);
    }

    $.ajax({
        url: url,
        type: "GET",
        dataType: 'json',
        async: 'true',
        success: function(datos){
            //----------------------CHARTS----------------------------
            var tipo = "{{ tipo }}";
            tipo= tipo.replace("_", " ");

            function drawVisualization() {
                var dashboard = new google.visualization.Dashboard(
                        document.getElementById('dashboard'));

                control = new google.visualization.ControlWrapper({
                    'controlType': 'ChartRangeFilter',
                    'containerId': 'control',
                    'options': {
                        // Filter by the date axis.
                        'filterColumnIndex': 0,
                        'ui': {
                            'chartType': 'LineChart',
                            'chartOptions': {
                                'chartArea': {'width': '90%'},
                                'hAxis': {'baselineColor': 'none'}
                            },
                            // Display a single series that shows the closing value of the stock.
                            // Thus, this view has two columns: the date (axis) and the stock value (line series).
                            'chartView': controlChartViewColumns,
                            // 1 day in milliseconds = 24 * 60 * 60 * 1000 = 86,400,000
                            'minRangeSize': 3600000
                        }
                    },
                    // Initial range: 2012-02-09 to 2012-03-20.
                    'state': {'range': {'start': new Date("{{ fi|date:"F d, Y" }} 00:00:00"),
                        'end': new Date("{{ ff|date:"F d, Y" }} 23:59:59")}}
                });

                chart = new google.visualization.ChartWrapper({
                    {% if tipo == "kwh_consumido" or tipo == "kvarh_consumido" %}
                        'chartType': 'ColumnChart',
                    {% else %}
                        'chartType': 'LineChart',
                    {% endif %}
                    'containerId': 'chart',
                    'options': {
                        // Use the same chart area width as the control for axis alignment.
                        'chartArea': {'height': '80%', 'width': '90%'},
                        'hAxis': {'slantedText': false},
                        'vAxis': {'viewWindow': {'min': 90, 'max': 260}, textPosition: 'out'},
                        'legend': {position: 'top', textStyle: {color: '#1E90FF', fontSize: 16}}
                    },
                    'colors': ['#ccc','#000'],
                    // Convert the first column from 'date' to 'string'.
                    'view': {
                        'columns': chartViewColumns
                    }
                });


                data.addColumn('datetime', 'Date');
            {% for building_name in building_names %}
                data.addColumn('number', '{{ building_name.building_name }} - ' + tipo);
            {% endfor %}
                var max = 0;
                var min = 9000000000;

                for(var x=0; x < datos.length; x++) {

                    var e = datos[x];

                    var fecha=new Date();
                    fecha.setTime((e.date*1000) - 3600000);//numero de milisegundos en una hora
                    var rowArray = new Array();
                    rowArray.push(fecha);

                    var dat_kw;
                    for (var medition_index = 0; medition_index < e.meditions.length; medition_index++) {
                        var dato_electrico=parseFloat(e.meditions[medition_index]);

                        dat_kw={v: dato_electrico,
                                f: dato_electrico+" "+ tipo +" - " +
                                    e.labels[medition_index]};

                        rowArray.push(dat_kw);
                        if(dato_electrico > max){
                            max = dato_electrico;
                        }
                        if(dato_electrico < min){
                            min = dato_electrico;
                        }
                    }

                    data.addRow(rowArray);
                }
                if(min < 0){
                    min += min/4;
                }else{
                    min -= min/4;
                }

                max += max/4;

                chart.setOption("vAxis.viewWindow.max", max);
                chart.setOption("vAxis.viewWindow.min", min);
                dashboard.bind(control, chart);
                dashboard.draw(data);
                $( "#slider-range" ).slider({
                    range: true,
                    orientation: "vertical",
                    min: min,
                    max: max,
                    values: [ min, max ],
                    slide: function( event, ui ) {
                        chart.setOption('vAxis', {'viewWindow':{'max':ui.values[ 1 ], 'min':ui.values[ 0 ]}});
                        chart.draw();
                    }
                });
            }
            drawVisualization();
        }
    });
    var text = $("#weekly_summary h1").text();
    text = text.replace("_", " ");
    $("#weekly_summary h1").text(text);
    $('#weekly_report').click(function(e){
                e.preventDefault();
                var load_url = "/reportes/weekly_summary_kwh/?type={{ tipo }}";
                load_url += "&year01="+$('#year_01').val();
                load_url += "&month01="+$('#month_01').val();
                load_url += "&week01="+$('#week_01').val();
                if ($('#compare_week_report').is(':checked')){
                    load_url += "&year02="+$('#year_02').val();
                    load_url += "&month02="+$('#month_02').val();
                    load_url += "&week02="+$('#week_02').val();

                }
                $('#report_div').html('<img src="/static/css/images/spinner.gif" id="spinner2" alt="cargando" style="display: block; margin: 0 auto; width: 200px;">');
                $('#report_div').load(load_url, function(){$("#spinner2").remove();});

    });
    {% if tipo == "kwh" or tipo == "kvarh" or tipo == "kwh_consumido" or tipo == "kvarh_consumido" %}
        var load_url = "/reportes/weekly_summary_kwh/?type={{ tipo }}";
        load_url += "&year01={{ year }}";
        load_url += "&month01={{ month }}";
        load_url += "&week01={{ week }}";
        $('#report_div').load(load_url);
    {% endif %}
    $('#compare_week_report').click(function(){
            $("#compare_week_contrls").toggle();
    });

});

</script>
</head>

<body>

<ul id="compare_interval" class="fr">
    <li id="hour">Hora</li>
    <li id="day">D&iacute;a</li>
    <li id="week" class="active">Semana</li>
    <li id="month">Mes</li>
</ul>
<a id="export_csv" class="fr" href="">Exportar datos en CSV</a>
<div id="dashboard" class="fl">
    <div id="chart">
        <img src="/static/css/images/spinner.gif" alt="cargando" style="display: block; margin: 0 auto; width: 200px;">
    </div>
    <div id="control"></div>
    <div id="slider-range" class="slider"></div>
</div>

{% if tipo == "kwh" or tipo == "kvarh" or tipo == "kwh_consumido" or tipo == "kvarh_consumido" %}

    <div id="weekly_summary">
        <h1>Resumen Semanal - {{ tipo }}</h1>

        <div>
            <div id="main_week">
                <select id="year_01">
                    {% for year in years %}
                        <option value="{{ year }}">
                            {{ year }}
                        </option>
                    {% endfor %}
                </select>

                <select id="month_01">
                    <option value="1">Enero</option>
                    <option value="2">Febrero</option>
                    <option value="3">Marzo</option>
                    <option value="4">Abril</option>
                    <option value="5">Mayo</option>
                    <option value="6">Junio</option>
                    <option value="7">Julio</option>
                    <option value="8">Agosto</option>
                    <option value="9">Septiembre</option>
                    <option value="10">Octubre</option>
                    <option value="11">Noviembre</option>
                    <option value="12">Diciembre</option>
                </select>

                <select id="week_01">
                    <option value="1">Semana 01</option>
                    <option value="2">Semana 02</option>
                    <option value="3">Semana 03</option>
                    <option value="4">Semana 04</option>
                    <option value="5">Semana 05</option>
                    <option value="6">Semana 06</option>
                </select>
            </div>

            <div id="compare_week_contrls">
                <span class="vs_tag">VS</span>

                <select id="year_02">
                    {% for year in years %}
                        <option value="{{ year }}">
                            {{ year }}
                        </option>
                    {% endfor %}
                </select>

                <select id="month_02">
                    <option value="1">Enero</option>
                    <option value="2">Febrero</option>
                    <option value="3">Marzo</option>
                    <option value="4">Abril</option>
                    <option value="5">Mayo</option>
                    <option value="6">Junio</option>
                    <option value="7">Julio</option>
                    <option value="8">Agosto</option>
                    <option value="9">Septiembre</option>
                    <option value="10">Octubre</option>
                    <option value="11">Noviembre</option>
                    <option value="12">Diciembre</option>
                </select>

                <select id="week_02">
                    <option value="1">Semana 01</option>
                    <option value="2">Semana 02</option>
                    <option value="3">Semana 03</option>
                    <option value="4">Semana 04</option>
                    <option value="5">Semana 05</option>
                    <option value="6">Semana 06</option>
                </select>
            </div>

            <button name="weekly_report" id="weekly_report" class="aqua_btn">Reporte</button>
        </div>
    <div id="check_compare">
        <label>Comparar con datos anteriores</label><input type="checkbox" id="compare_week_report"/>
    </div>


        <div id="report_div">
            <img src="/static/css/images/spinner.gif" id="spinner2" alt="cargando" style="display: block; margin: 0 auto; width: 200px;">
        </div>

    </div>

{% endif %}

</body>
</html>