{% if not all_meditions %}
    <span id="notice">
    No se han encontrado mediciones para todos los d&iacute;as de la semana, por lo que
    los porcentajes podrían no ser representativos del consumo diario.
    </span>
{% endif %}
<table>
    <thead>
    <tr>
        <th width="15%">Unidad de Consumo</th>
        <th width="15%">D&iacute;a</th>
        <th width="5%">Total de {{ type }}</th>
        <th width="5%">Porcentaje</th>
        <th width="60%"></th>
    </tr>
    </thead>

    <tbody>
    {% for week_day, week_day_data_tuple_list in week_days_data_tuple_list %}
        <tr class="bg_gray">
            <td>{{ week_day }}</td>
            <td></td>
            <td></td>
            <td></td>
            <td  width="200"></td>
        </tr>

        {% for consumer_unit, week_day_date, electric_data, electric_data_percentage, color_css in week_day_data_tuple_list %}
            <tr>
                <td>{{ consumer_unit.building.building_name }}</td>
                <td>{{ week_day_date }}</td>
                <td>{{ electric_data|floatformat:2 }}</td>
                <td>{{ electric_data_percentage|floatformat:2 }}%</td>
                <td>
                    <div class="container" width="200">
                        <div id="bar{{ forloop.counter }}" class="bar" style="width:{{ electric_data_percentage|floatformat:2 }}%;background-color:#CC0000;height:10px;"></div>
                    </div>
                </td>
            </tr>
        {% endfor %}

    {% endfor %}
    </tbody>
</table>