<!DOCTYPE html>
<html>

<head>
    <title>{% block titulo%}{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="/static/css/theme.css">
    {% block externalcss %}{% endblock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <!-- Loading JS Files this way is not recommended! Merge them but keep their order -->
    <!-- some basic functions -->
    <script src="/static/js/functions.js"></script>
    <script type="text/javascript" src="/static/js/external/labels.js"></script>
    <!-- all Third Party Plugins -->
    {% block externaljs %}{% endblock %}
    <script type="text/javascript">
        $(document).ready(function(){
            {% block document_ready %}{% endblock %}
        });
    </script>
</head>
<body>

    <header>
        <div id="header-container">
            <ul id="user_menu" class="fr">
                {% include "user_menu.html" %}
            </ul>
            <div id="main_logo" class="fl">AUDITEM</div>
        </div>
    </header>
    <table>
        <tbody>
            <tr>
                <td id="navbar">{% include "sidebar.html" %}</td>
                <td id="nav_toggle">
                </td>
                <td id="content">
                    {% block contenido %}{% endblock %}
                </td>
            </tr>
        </tbody>
    </table>

</body>
</html>