<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--suppress ALL -->
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>{% block titulo%}{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="/static/css/theme.css"/>
    <link rel="stylesheet" href="/static/js/external/jqueryUniform/css/uniform.default.css" type="text/css" media="screen" charset="utf-8" />
    {% block externalcss %}{% endblock %}

    <script type="text/javascript" src="/static/js/external/jquery.tools.min.js"></script>
    <script type="text/javascript" src="/static/js/external/jquery.effects.core.js"></script>
    <script type="text/javascript" src="/static/js/external/jquery.effects.slide.js"></script>

    <!-- Loading JS Files this way is not recommended! Merge them but keep their order -->
    <!-- some basic functions -->
    <script type="text/javascript" src="/static/js/functions.js"></script>

    <!-- all Third Party Plugins -->
    <script type="text/javascript" src="/static/js/external/history/jquery.history.js"></script>
    <script type="text/javascript" src="/static/js/external/labels.js"></script>
    <script type="text/javascript" src="/static/js/external/jqueryUniform/jquery.uniform.min.js"></script>
    {% block externaljs %}{% endblock %}
    <script type="text/javascript">

        var data_context = {{ datacontext|safe }};
        var buildings = new Array();
        function building_list_gen(){
            var ul_list ='';
            var list;
            for(var i=0; i<data_context.length; i++){
                list = "<li class='company_list' rel='"+String(i)+"'>";
                list += "<span class='company_name'>" +
                        data_context[i].company_name +
                        "</span>";
                list += "<span class='building_count'>(" +
                        data_context[i].building_count +
                        ")</span>";
                list += "<span class='cluster_company'>(" +
                        data_context[i].cluster_company +
                        ")</span>";

                buildings.push(data_context[i].buildings);
                /*for(var j=0; j<data_context[i].buildings.length; j++){

                     list += "<li class='building_list'>";
                     list += "<span class='building_name' rel='"+data_context[i].buildings[j].building_id+"'>" +
                     data_context[i].buildings[j].building_name +
                     "</span>";
                     list += "<span class='building_city'>" +
                     data_context[i].buildings[j].building_city +
                     "</span>";
                     list += "</li>";


                }*/

                list += "</li>";
                ul_list += list;
            }
            $("#company_list").html(ul_list);

        }
        $(document).ready(function(){
            building_list_gen();
            $(".first_level").hover(function(){
                $(this).find("> .sub_list").show();
            }, function(){
                $(this).find("> .sub_list").hide();
            });
            $(".sub_level").hover(function(){
                $(this).find("> .sub_list").show();
            }, function(){
                $(this).find("> .sub_list").hide();
            });
            $(".company_list").click(function(){
                var lista_edificios = $("#building_list");
                var edificios = buildings[parseInt($(this).attr("rel"))];
                lista_edificios.html("");
                for(var i=0; i<edificios.length; i++){
                    var li = "<li class='building_list' rel='"+edificios[i].building_id+"'>";
                    li += "<span class='building_name'>"+edificios[i].building_name+"</span>";
                    li += "<span class='building_location'>"+edificios[i].building_city+"</span>";
                    lista_edificios.append(li);
                }
                $("#building_container").show();
            });
            var search_building = $("#building_filter");
            search_building.keyup(function(){
                var texto = $.trim(search_building.val());
                var list = $(".building_list");
                console.log(texto);
                if(texto != ''){
                    list.each(function(){
                        $(this).hide();
                    });
                    $(".building_list:Contains('"+texto+"')").show();
                }else{
                    list.each(function(){
                        $(this).show();
                    });
                }
            });

            $("#salir").click(function(e){
                e.preventDefault();
                History.replaceState({}, '', '/');
                window.location = "/logout/";
            });
            //forms uniforms
            $("select, input, input:checkbox, input:radio, input:file, textarea").uniform();
            //custom select for sidebar
            $("#empresa").click(function(){
                $("#company_list").slideToggle();
                $("#building_container").hide();
                $(this).toggleClass("expanded");
            });
            $("#building_list li").live('click', function(){
                var texto=$(this).find("span.building_name").text().replace(/^\s*|\s*$/g,'');
                var texto1 = texto.substring(0,17) + "...";
                $("#empresa").text(texto1);
                $("#company_list").slideUp();
                $("#building_container").slideUp();

                $.ajax({
                    url: "/reportes/set_default_building/" + $(this).attr("rel"),
                    type: "GET",
                    dataType: 'json',
                    async: 'true',
                    success: function(datos){
                        window.location.reload();
                    }
                });
            });
            {% block document_ready %}{% endblock %}
            $("#user_menu li a[title]").tooltip({effect: 'slide'}).dynamic({ bottom: { direction: 'down', bounce: true } });
        });

    </script>
</head>
<body>

    <div id="header">
        <div id="header-container">
            <div id="main_logo" class="fr"></div>
        </div>
    </div>
    <table id="table_container">
        <tbody>
        <tr>
            <td>
                {% include "top_menu.html" %}
            </td>
        </tr>
        <tr>
            <td id="content">
                {% block contenido %}{% endblock %}
            </td>
        </tr>
        </tbody>
    </table>
</body>
</html>
