<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--suppress ALL -->
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>{% block titulo%}{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="/static/css/theme.css"/>
    <link rel="stylesheet" href="/static/js/external/jqueryUniform/css/uniform.default.css" type="text/css" media="screen" charset="utf-8" />
    {% block externalcss %}{% endblock %}

    <script type="text/javascript" src="/static/js/external/jquery.tools.min.js"></script>
    <script type="text/javascript" src="/static/js/external/jquery.effects.core.js"></script>
    <script type="text/javascript" src="/static/js/external/jquery.effects.slide.js"></script>

    <!-- Loading JS Files this way is not recommended! Merge them but keep their order -->
    <!-- some basic functions -->
    <script type="text/javascript" src="/static/js/functions.js"></script>

    <!-- all Third Party Plugins -->
    <script type="text/javascript" src="/static/js/external/history/jquery.history.js"></script>
    <script type="text/javascript" src="/static/js/external/labels.js"></script>
    <script type="text/javascript" src="/static/js/external/jqueryUniform/jquery.uniform.min.js"></script>
    {% block externaljs %}{% endblock %}
    <script type="text/javascript">
        //<![CDATA[

        $(document).ready(function(){

            Date.prototype.addDays = function (n) {
                this.setDate(this.getDate() + n);
                this.tempDate = this.getDate();
            };
            Date.prototype.addHours= function(h){
                this.setHours(this.getHours()+h);
                return this;
            }
            String.prototype.format = function() {
                var args = arguments;
                return this.replace(/{(\d+)}/g, function(match, number) {
                    return typeof args[number] != 'undefined'
                            ? args[number]
                            : match
                            ;
                });
            };
            $("#salir").click(function(e){
                e.preventDefault();
                History.replaceState({}, '', '/');
                window.location = "/logout/";
            });
            $("select, input, input:checkbox, input:radio, input:file, textarea").uniform();
            $("#nav_toggle").click(function(){
                //maneja el evento de colapsar o mostrar la barra de navegacion
                if($("#sidebar").hasClass("collapsed_nav")){

                    $("#sidebar").animate({width: 'toggle'}, 500, function(){
                        $(this).removeClass("collapsed_nav");
                    });
                    $("#sidebar_content").show('slide', {direction: 'right'}, 100);
                    $("footer").show('slide', {direction: 'right'}, 100);

                }else{
                    $("#sidebar").addClass("collapsed_nav");
                    $("#sidebar_content").hide('slide', {direction: 'left'}, 100);
                    $("footer").hide('slide', {direction: 'left'}, 100);
                    $("#sidebar").animate({width: 'toggle'}, 500);
                }
                $("#nav_toggle").toggleClass("closed");
            });

            //custom select for sidebar
            $("#empresa").click(function(){
                $("#company_list").slideToggle();
            });
            $("#company_list li").click(function(){
                var texto=$(this).text().replace(/^\s*|\s*$/g,'');
                var texto1 = texto.substring(0,17) + "...";
                $("#empresa").text(texto1);
                $("#company_list").slideUp();

                $.ajax({
                    url: "/reportes/set_default_building/" + $(this).attr("rel"),
                    type: "GET",
                    dataType: 'json',
                    async: 'true',
                    success: function(datos){
                        window.location.reload();
                    }
                });
            });


            $(".desp").click(function(){
                $(".sidebarsub_op").each(function(){$(this).slideUp();});
                var prox = $(this).next();
                if (!prox.is(":visible")){
                    prox.slideDown();
                }
            });
            {% block document_ready %}{% endblock %}
            $("#user_menu li a[title]").tooltip({effect: 'slide'}).dynamic({ bottom: { direction: 'down', bounce: true } });
        });
        //]]>
    </script>
</head>
<body>

    <div id="header">
        <div id="header-container">
            <ul id="user_menu" class="fr">
                {% include "user_menu.html" %}
            </ul>
            <div id="main_logo" class="fl"></div>
        </div>
    </div>
    <table id="table_container">
        <tbody>
        <tr>
            <td id="sidebar">{% include "sidebar.html" %}</td>
        </tr>
        <tr>
            <td id="content">
                {% block contenido %}{% endblock %}
            </td>
        </tr>
        </tbody>
    </table>
</body>
</html>
