{% extends "base.html" %}
{% block titulo %}Sin acciones disponibles{% endblock %}
{% block externalcss %}
    <link rel="stylesheet" href="/static/css/consumption_centers/main.css" type="text/css" />

{% endblock %}
{% block externaljs %}
{% endblock %}
{% block document_ready %}
    var url = window.location.href;
    History.replaceState(url,"Reporte electrico", url);
{% endblock %}
{% block contenido %}
    <div id="bread_crumbs">
        <ul>
            <li><a href="/main/">Inicio</a></li>
            <li><a href="/main/">Reportes</a></li>
        </ul>

    </div>
    <div id="contenido_interno">
        <h2 id="titulo_reporte">Bienvenido</h2>


        <div class="divider" id="divider_top">&nbsp;</div>

        <p>
            Por el momento no hemos encontrado unidades de consumo para tu esquema de permisos.
            Por favor contacta con tu adminsitrador para resolver esto.
        </p>


        <div id="graphs_container">


        </div>


    </div>
{% endblock %}