{% extends "base.html" %}
{% block titulo %}
Recuperar Contraseña
{% endblock %}
{% block externalcss %}
<link rel="stylesheet" href="/static/css/forms/main.css" type="text/css" />
<link rel="stylesheet" href="/static/css/forms/rbac_general.css" type="text/css" />
<link rel="stylesheet" href="/static/css/forms/c_centers.css" type="text/css" />
<link type="text/css" href="/static/jquery-ui-1.8.23/css/smoothness/jquery-ui-1.8.23.custom.css" rel="stylesheet" />
{% endblock %}
{% block externaljs %}
<script type="text/javascript" src="/static/jquery-ui-1.8.23/js/jquery-ui-1.8.23.custom.min.js"></script>

<script>
    $(document).ready(function(){
        $("#save").hide();

        $('#empresa').remove();

    });

    $(document).on('input','#mail',function () {

        if(document.getElementById("mail").value != "")
        {
           $("#save").show()
        }
        else
        {
            $("#save").hide()
        }
    });

</script>

{% endblock %}

{% block document_ready %}
{% endblock %}

{% block breadcumbs %}

    <div id="bread_crumbs">
    <ul>
        <li><a href="#">Forgot Password</a></li>

    </ul>
    <a href="/logout" id="userLogOut">Cerrar sesión</a>

</div>

{% endblock %}

{% block contenido %}


<div id="page_content">
    <div id="contenido_interno">
        <h2 id="titulo_form" >
            Recuperación de contraseña
        </h2>


        <div class="divider" id="divider_top">&nbsp;</div>

            {% if message %}
                <span class="notif {{ msg_type }}">
                    {% autoescape off %}{{ message }}{% endautoescape %}
                <a href="#" onclick="$(this).parent().remove(); History.replaceState({}, '', '?page=1');">X</a>
                </span>
            {% endif %}
            <div id="form_container">
            {% if message %}

            {% endif %}
            <p class="description">
                Pid nisi sed dictumst ac ultricies, vut velit pid, nascetur est ac nunc urna amet tempor cum in odio. Ultrices. Urna placerat in auctor, urna.
                <br/>
                Pid eu, nisi egestas. Enim in porttitor, sed nec tempor, cursus dictumst enim? Augue! Porttitor mid, risus cras! Non duis et turpis, adipiscing augue.
            </p>
            <form method="post" action=".">
                {% csrf_token %}
                <h3 class="g12">Ingresa tu correo electronico para recuperar tu contraseña</h3>
                <div id="cluster_fields">
                    <div class="fields_row g9">
                        <label for="mail" class="g2">Correo Electronico<span class="required">*</span></label>
                        <input type="text" name="mail" id="mail" class="text" />

                        <span></span>
                    </div>
                </div>

                <div class="buttons g12">
                    <button class="aqua_btn" id="save">
                        Enviar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}