{% extends "base.html" %}
{% block titulo %}Sin acciones disponibles{% endblock %}
{% block externalcss %}
    <link rel="stylesheet" href="/static/css/consumption_centers/main.css" type="text/css" />
    <link rel="stylesheet" href="/static/css/login.css" type="text/css" />

{% endblock %}
{% block externaljs %}
{% endblock %}
{% block document_ready %}
{% endblock %}
{% block contenido %}
<div id="page_content">
<div id="login_div">

    <div id="title">
        <h1><img src="/static/css/images/imgs_icns/auditem_gray_transp.png" alt="Auditem"/></h1>
    </div>
    <p>
        Lo sentimos, pero no tienes los permisos necesarios para ver esta secci&oacute;n
        <br/>
        Para mayor informaci&oacute;n por favor contacta al administrador.
        <br/>
        <a href="/" class="aqua_btn">Inicio</a>
    </p>

</div>
</div>
{% endblock %}