{% extends "base.html" %}
{% block titulo %}Sin acciones disponibles{% endblock %}
{% block externalcss %}
    <link rel="stylesheet" href="/static/css/consumption_centers/main.css" type="text/css" />
    <link rel="stylesheet" href="/static/css/login.css" type="text/css" />

{% endblock %}
{% block externaljs %}
{% endblock %}
{% block document_ready %}
    //custom select for sidebar
    $("#empresa").click(function(){
    $("#company_list").slideToggle();
    });
    $("#company_list li").click(function(){
    var texto=$(this).text().replace(/^\s*|\s*$/g,'');
    var texto1 = texto.substring(0,17) + "...";
    $("#empresa").text(texto1);
    $("#company_list").slideUp();

    $.ajax({
    url: "/reportes/set_default_building/" + $(this).attr("rel"),
    type: "GET",
    dataType: 'json',
    async: 'true',
    success: function(datos){
    window.location.reload();
    }
    });
    });
{% endblock %}
{% block contenido %}
<div id="login_div">

    <div id="title">
        <h1><img src="{{ STATIC_URL }}css/images/imgs_icns/auditem_gray_transp.png" alt="Auditem"/></h1>
    </div>
    <p>
        Lo sentimos, pero no tienes los permisos necesarios para ver esta secci&oacute;n
        <br/>
        Para mayor informaci&oacute;n por favor contacta al administrador.
        <br/>
        <a href="/" class="aqua_btn">Inicio</a>
    </p>

</div>
{% endblock %}