<!DOCTYPE html>
<html>

<head>
    <title>Inicio de Sesión</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="/static/css/theme.css" />
    <link rel="stylesheet" href="/static/js/external/jqueryUniform/css/uniform.default.css" type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" href="/static/css/login.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/external/history/jquery.history.js"></script>
    <script type="text/javascript" src="/static/js/external/labels.js"></script>
    <script type="text/javascript" src="/static/js/external/jqueryUniform/jquery.uniform.min.js"></script>
    <script type="text/javascript" src="/static/js/functions.js"></script>
    <script type="text/javascript">
        History.forward();
        window.onbeforeunload = function () {
            History.forward();
        }
        $(document).ready(function(){
            $("input").uniform();
        });
    </script>
</head>
<body>
{% if error %}<span class="notif n_error">{% autoescape off %}{{ error }}{% endautoescape %}</span>{% endif %}
<div id="login_div">

    <div id="title">
        <h1><img src="/static/css/images/imgs_icns/auditem_gray_transp.png" alt="Auditem"/></h1>
    </div>
    <form action="." method="post">
        {% csrf_token %}
        <label class="input">
            <span>Nombre de Usuario</span>
            <input type="text" name="username" id="username" />
        </label>
        <label class="input">
            <span>Contrase&ntilde;a</span>
            <input type="password" name="password" id="password"/>
        </label>
        <div class="vacio">&nbsp;</div>
        <a href="/forgot_password">&iquest;Olvidaste la contrase&ntilde;a?</a>

        <button type="submit" name="login" id="login" class="aqua_btn">Iniciar Sesi&oacute;n</button>

    </form>
</div>
<footer>

</footer>
</body>
</html>
