<!DOCTYPE html>
<html>

<head>
    <title>Menu Tipo de Medición</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="/static/css/theme.min.css" />
    <link rel="stylesheet" href="/static/js/external/jqueryUniform/css/uniform.default.css" type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" href="/static/css/medition_type.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/external/history/jquery.history.js"></script>
    <script type="text/javascript" src="/static/js/external/labels.js"></script>
    <script type="text/javascript" src="/static/js/external/jqueryUniform/jquery.uniform.min.js"></script>
    <script type="text/javascript" src="/static/js/functions.js"></script>

</head>
<body>
<div id="title">
        <h1 id='audi_logo_med_type'><img src="/static/css/images/imgs_icns/auditem_gray_transp.png" alt="Auditem"/></h1>
</div>

<div id="menu">
    <a href='/water_medition/'><img id='wat' src="/static/css/images/imgs_icns/agua.png" alt="Agua"/></a>
    <a href='/gas_medition/'><img  src="/static/css/images/imgs_icns/gas.png" alt="Gas"/></a>
    <a href="/main/"><img id='elec' src="/static/css/images/imgs_icns/elec.png" alt="Elec"/></a>
</div>

<div class="title">
        <h1 class='myrios' id='audi_logo_med_type'><img src="/static/css/images/imgs_icns/myrios_logo.png" alt="Myrios"/></h1>
</div>

<footer>

</footer>
</body>
</html>