{% extends "base.html" %}
{% block titulo %}Panel de Control{% endblock %}
{% block externalcss %}
    <link rel="stylesheet" href="/static/css/consumption_centers/main.css" type="text/css" />

{% endblock %}
{% block externaljs %}
{% endblock %}
{% block document_ready %}
{% endblock %}
{% block breadcumbs %}
    <div id="bread_crumbs">
        <a href="/profile/{{ request.user.pk }}/" class="fl username">{{ request.user.first_name }} {{ request.user.last_name }}</a>
        <ul>
            <li><a href="/main/">Inicio</a></li>
            <li>Panel de control</li>
        </ul>
    </div>
{% endblock %}
{% block contenido %}
    

    <div id="page_content">
    <div id="contenido_interno">
        <img id="panelImg" src="/static/css/images/imgs_icns/gear.png" alt=""/>
        <h2 id="titulo_reporte">Panel de control</h2>
        <div class="divider" id="divider_top">&nbsp;</div>
       <div class="element_row">
        {% for group in object_permission %}

            {% for element in group %}
                <div class="element">
                    <a href="{{ element.access_point }}" class="caption">
                    <img src="{{ element.image }}" alt="{{ element.caption }}"/>
                    {{ element.caption }}</a>
                </div>
            {% endfor %}

        {% endfor %}
       </div>
    </div>
    </div>    
{% endblock %}