<!DOCTYPE html>
<html>
<head>
    <title>Prototype</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>

    <script type="text/javascript">
        google.load('visualization', '1.1', {packages: ['corechart', 'controls']});
    </script>

    <script type="text/javascript">

        function drawVisualization() {
            var control = new google.visualization.ControlWrapper({
                'controlType': 'ChartRangeFilter',
                'containerId': 'control',
                'options': {
                    // Filter by the date axis.
                    'filterColumnIndex': 0,
                    'ui': {
                        'enableInteractivity': false,
                        'chartType': 'LineChart',
                        'chartOptions': {
                            'chartArea': {'width': '90%'},
                            'hAxis': {'baselineColor': 'none'}
                        },
                        // Display a single series that shows the closing value of the stock.
                        // Thus, this view has two columns: the date (axis) and the stock value (line series).
                        'chartView': {
                            'columns': [0, 1]
                        },
                        // 1 day in milliseconds = 24 * 60 * 60 * 1000 = 86,400,000
                        //'minRangeSize': 86400000
                        'minRangeSize':3600000
                    }
                }
                // Initial range: 2012-02-09 to 2012-03-20.
                //'state': {'range': {'start': new Date(2012, 9, 8), 'end': new Date(2012, 9, 9)}}
            });

            var dashboard = new google.visualization.Dashboard(
                    document.getElementById('chart-raw'));

            var chart = new google.visualization.ChartWrapper({
                'chartType': 'LineChart',
                'containerId': 'chart-raw-inner',
                'options': {
                    // Use the same chart area width as the control for axis alignment.
                    'chartArea': {'height': '80%', 'width': '90%'},
                    'hAxis': {'slantedText': false},
                    'legend': {'position': 'top', 'alignment': 'center'},
                }
            });

            //
            // Google Chart
            //

            var data = new google.visualization.DataTable();
            var columns_display = new Array();
            var default_colors = new Array();

            data.addColumn({type:'datetime', role:'domain'}, "Tiempo");
            data.addColumn('number', "kWh");

            var data_rows = {% autoescape off %}{{ data_rows }}{% endautoescape %};
            console.log("data_rows");
            for(var row_index = 0; row_index < data_rows.length; row_index++){
                var data_row = data_rows[row_index];
                var row_array = new Array();
                var object_datetime = new Date();
                if(row_index < 10){
                    console.log(data_row['datetime']);
                }
                object_datetime.setTime((data_row['datetime']*1000));
                row_array.push(object_datetime);
                var object_electric_data = Math.abs(data_row['electric_data']);
                row_array.push(object_electric_data);
                data.addRow(row_array);
            }

            var view = new google.visualization.DataView(data);
            dashboard.bind(control, chart);
            dashboard.draw(view);
        }

        google.setOnLoadCallback(drawVisualization);
    </script>

    <script type="text/javascript">

        function drawVisualizationRegression() {
            var control = new google.visualization.ControlWrapper({
                'controlType': 'ChartRangeFilter',
                'containerId': 'control-regression',
                'options': {
                    // Filter by the date axis.
                    'filterColumnIndex': 0,
                    'ui': {
                        'enableInteractivity': false,
                        'chartType': 'LineChart',
                        'chartOptions': {
                            'chartArea': {'width': '90%'},
                            'hAxis': {'baselineColor': 'none'}
                        },
                        // Display a single series that shows the closing value of the stock.
                        // Thus, this view has two columns: the date (axis) and the stock value (line series).
                        'chartView': {
                            'columns': [0, 1]
                        },
                        // 1 day in milliseconds = 24 * 60 * 60 * 1000 = 86,400,000
                        //'minRangeSize': 86400000
                        'minRangeSize':3600000
                    }
                }
                // Initial range: 2012-02-09 to 2012-03-20.
                //'state': {'range': {'start': new Date(2012, 9, 8), 'end': new Date(2012, 9, 9)}}
            });

            var dashboard = new google.visualization.Dashboard(
                    document.getElementById('chart-regression'));

            var chart = new google.visualization.ChartWrapper({
                'chartType': 'LineChart',
                'containerId': 'chart-regression-inner',
                'options': {
                    // Use the same chart area width as the control for axis alignment.
                    'chartArea': {'height': '80%', 'width': '90%'},
                    'hAxis': {'slantedText': false},
                    'legend': {'position': 'top', 'alignment': 'center'},
                }
            });

            //
            // Google Chart
            //

            var data = new google.visualization.DataTable();
            var columns_display = new Array();
            var default_colors = new Array();

            data.addColumn({type:'datetime', role:'domain'}, "Tiempo");
            data.addColumn('number', "kWh");

            var data_rows = {% autoescape off %}{{ data_rows_curve_fit }}{% endautoescape %};
            console.log("data_rows");
            for(var row_index = 0; row_index < data_rows.length; row_index++){
                var data_row = data_rows[row_index];
                var row_array = new Array();
                var object_datetime = new Date();
                if(row_index < 10){
                    console.log(data_row['datetime']);
                }
                object_datetime.setTime((data_row['datetime']*1000));
                row_array.push(object_datetime);
                var object_electric_data = Math.abs(data_row['electric_data']);
                row_array.push(object_electric_data);
                data.addRow(row_array);
            }

            var view = new google.visualization.DataView(data);
            dashboard.bind(control, chart);
            dashboard.draw(view);
        }

        google.setOnLoadCallback(drawVisualizationRegression);
    </script>

    <script type="text/javascript">
        $(document).ready(function() {
            var data_rows = {% autoescape off %}{{ data_rows }}{% endautoescape %};
            for(var row_index = 0; row_index < data_rows.length; row_index++){
                var data_row = data_rows[row_index];
                var object_datetime = new Date();
                object_datetime.setTime((data_row['datetime']*1000));
                var object_electric_data = Math.abs(data_row['electric_data']);
                var datetime_td_str = "<td>" + object_datetime.toLocaleDateString() + " " + object_datetime.toLocaleTimeString() + "</td>"
                var electric_data_td_str = "<td>" + object_electric_data.toString() + "</td>"
                var row_str = "<tr>" + datetime_td_str + electric_data_td_str + "</tr>"
                $('#raw-table-body').append(row_str);
            }

            var data_rows_regression = {% autoescape off %}{{ data_rows_curve_fit }}{% endautoescape %};
            for(var row_index = 0; row_index < data_rows_regression.length; row_index++){
                var data_row = data_rows_regression[row_index];
                var object_datetime = new Date();
                object_datetime.setTime((data_row['datetime']*1000));
                var object_electric_data = Math.abs(data_row['electric_data']);
                var datetime_td_str = "<td>" + object_datetime.toLocaleDateString() + " " + object_datetime.toLocaleTimeString() + "</td>"
                var electric_data_td_str = "<td>" + object_electric_data.toString() + "</td>"
                var row_str = "<tr>" + datetime_td_str + electric_data_td_str + "</tr>"
                $('#regression-table-body').append(row_str);
            }
        });
    </script>
</head>
<body>
    <div id="chart-raw">
        <div id="chart-raw-inner">
            <img src="/static/css/images/spinner.gif" alt="cargando" style="display: block; margin: 0 auto; width: 200px;">
        </div>
        <div id="control"></div>
    </div>

    <div id="chart-regression">
        <div id="chart-regression-inner">
            <img src="/static/css/images/spinner.gif" alt="cargando" style="display: block; margin: 0 auto; width: 200px;">
        </div>
        <div id="control-regression"></div>
    </div>

    <div width="300" style="float: left;">
        <table>
            <thead>
                <tr>
                    <th>Datetime</th>
                    <th>Electric Data</th>
                </tr>
            </thead>

            <tbody id="raw-table-body">

            </tbody>
        </table>
    </div>

    <div width="300" style="float: left;">
        <table>
            <thead>
            <tr>
                <th>Datetime</th>
                <th>Electric Data</th>
            </tr>
            </thead>

            <tbody id="regression-table-body">

            </tbody>
        </table>
    </div>
</body>
</html>