<div id="sidebar_content" xmlns="http://www.w3.org/1999/html">
    <img id="company_profile_pic" src="/static/css/images/imgs_icns/company_placeholder.png" alt="logotipo"/>
    <span id="empresa">
        {{empresa.building_name|slice:"17" }}
        {% if empresa.building_name|length > 17 %}...{% endif %}
    </span>
    <ul id="company_list">
        {% for cntx in datacontext %}
            <li rel="{{ cntx.building.pk }}">
                {{cntx.building.building_name}}
            </li>
        {% endfor %}
    </ul>
    <span class="sidebar_option first">
        <span>Panel de Control</span>
    </span>

    <span class="sidebar_option desp">
        <span>Reportes</span>
    </span>
    <ul class="sidebarsub_op">
        <li><a href="/">Perfil de Carga</a></li>
        <li><a href="/reportes/cfe/">Recibo CFE</a></li>
        <li><a href="#">Reporte 3</a></li>
        <li><a href="#">Reporte 4</a></li>
    </ul>
</div>
<footer>
    <span> CIDEC 2012 © </span>
    <span>Todos los derechos reservados</span>
</footer>