<div id="sidebar_content">
    <img id="company_profile_pic" src="/static/css/images/imgs_icns/company_placeholder.png" alt="logotipo"/>
    <span id="empresa">Sears Galerias QRO </span>

    <span class="sidebar_option first">
        <span>Panel de Control</span>
    </span>

    <span class="sidebar_option desp">
        <span>Reportes</span>
    </span>
    <ul class="sidebarsub_op">
        <li><a href="#">Reporte 1</a></li>
        <li><a href="#">Reporte 2</a></li>
        <li><a href="#">Reporte 3</a></li>
        <li><a href="#">Reporte 4</a></li>
    </ul>
</div>