<div id="top_menu">
    <div id="menu_container">

        <div id="company_options" class="fl">

            <div id="companies_container" class="fl">
                <span id="empresa">
                {{empresa.building_name|slice:"17" }}
                    {% if empresa.building_name|length > 17 %}...{% endif %}
                </span>
                <ul id="company_list" class="hidden">

                </ul>
                <div id="building_container" class="hidden">
                    <label class="input" for="building_filter">
                        <span>Filtrar edificios</span>
                        <input type="text" id="building_filter" name="building_filter" autocomplete="off"/>
                    </label>
                    <ul id="building_list">
                        <li class="building_list">
                            <span class="building_name">Nombre Edificio</span>
                            <span class="building_location">Quer&eacute;taro</span>
                        </li>
                        <li class="building_list">
                            <span class="building_name">Nombre Edificio</span>
                            <span class="building_location">Quer&eacute;taro</span>
                        </li>
                        <li class="building_list">
                            <span class="building_name">Nombre Edificio</span>
                            <span class="building_location">Quer&eacute;taro</span>
                        </li>
                    </ul>
                </div>
            </div>


        </div>
         <h2 id="titulo_reporte">
        <span>
            {% if consumer_unit.part_of_building %}
                {{ consumer_unit.part_of_building.part_of_building_name }}
            {% else %}
                {{ consumer_unit.electric_device_type.electric_device_type_name }}
            {% endif %}
        </span>
         <a id='arrow_lightbox' class="various" data-fancybox-type="iframe"  href="/reportes/set_consumer_unit/">&nbsp;</a>
        </h2>

        <div id="navigation_menu" class="fr">
            {{ sidebar|safe }}
        </div>
    </div>

</div>