{% extends "base.html" %}
{% block titulo %}Medición de Gas{% endblock %}
{% block externalcss %}
    <!-- Styles -->
        <link rel="stylesheet" href="/static/css/forms/main.css" type="text/css" />
        <link rel="stylesheet" href="/static/css/consumption_centers/graphs.css"/>
        <link type="text/css" href="/static/jquery-ui-1.8.23/css/smoothness/jquery-ui-1.8.23.custom.css" rel="stylesheet" />
        <link rel="stylesheet" href="/static/js/external/jqueryUniform/css/uniform.default.css" type="text/css" media="screen" charset="utf-8" />
        <link href="/static/js/external/messi/messi.css" rel="stylesheet" type="text/css" media="screen" />
        <link rel="stylesheet" href="/static/css/ui.spinner.css"/>
{% endblock %}

{% block breadcumbs %}
    <div id="bread_crumbs">
    <a href="/panel_de_control/ver_usuario/{{ request.user.pk }}/" class="fl username">{{ request.user.first_name }} {{ request.user.last_name }}</a>
        <ul>
            <li><a href="/main/">Inicio</a></li>
        </ul>
        <a href="/logout" id="userLogOut">Cerrar sesión</a>

    </div>

{% endblock %}


{% block contenido %}


<div id="page_content">
<body>

</body>
</div>
{% endblock %}