<h2 id="titulo_form" class="user_role">
    {% if operation == "edit" %}Edici&oacute;n de{% else %}Alta de{% endif %} usuario
</h2>


<div class="divider" id="divider_top">&nbsp;</div>
<div id="form_container">
    {% if message %}
        <span class="notif {{ type }}">
            {% autoescape off %}{{ message }}{% endautoescape %}
            <a href="#" onclick="$(this).parent().remove();">X</a>
        </span>
    {% endif %}
    <p class="description">
            {% if operation == "edit" %}Realice los cambios correspondientes a el usuario y de click en guardar para aplicar los cambios.{% else %}Complete los siguientes campos para crear un nuevo usuario en el sistema.{% endif %}
    </p>
    <form method="post" action="." id="add_user_form">
        {% csrf_token %}
        <h3 class="g12">Nombre de Usuario y Contraseña</h3>
        <div id="basic_info">
            <div class="fields_row g12">
                <label for="username" class="g2">Nombre de
                    usuario<span class="required">*</span></label>
                {{ form_usr.username}}
                <span></span>
            </div>
            <div class="fields_row g12">
                <label for="pass1" class="g2">
                    Contrase&ntilde;a<span class="required">*</span>
                    <span class="g12">La contrase&ntilde;a debe contener al menos 8
                        caracteres</span>
                </label>
                {{ form_usr.password}}

                <span></span>
            </div>
            <div class="fields_row g12">
                <label for="pass2" class="g2">
                    Re-introducir Contrase&ntilde;a<span class="required">*</span>
                </label>
                {{ form_usr.password2}}

            </div>
        </div>
        <h3 class="g12">Informaci&oacute;n Personal</h3>
        <div id="personal_info">
            <div class="fields_row g12">
                <label for="name" class="g2">Nombre(s)<span class="required">*</span></label>
                 {{ form_usr.name  }}
                <span></span>
            </div>
            <div class="fields_row g12">
                <label for="last_name" class="g2">Apellido Paterno<span class="required">*</span></label>

                {{ form_usr.last_name  }}
                <span></span>
            </div>
            <div class="fields_row g12">
                <label for="surname" class="g2">Apellido Materno</label>
                {{ form_usr.surname  }}
                <span></span>
            </div>
            <div class="fields_row g12">
                <label for="mail" class="g2">Correo Electr&oacute;nico<span class="required">*</span></label>
                {{ form_usr.mail }}
                <span></span>
            </div>
            <div class="fields_row g12">
                <span class="label g2">Sexo</span>
                {% for choice in form_usr.sex.field.choices %}
                    {% if choice.0 == 'M' %}
                <label for="sex_m" class="g2">
                    <input type="radio" name="sex" id="sex_m" value="{{ choice.0  }}"
                               {% if post.sex == "M" %}
                                    checked="checked"
                               {% endif %}
                               {% if not post %}
                                    checked="checked"
                               {% endif %}
                           />
                     {{ choice.1 }}
                </label>
                {% else %}
                <label for="sex_f" class="g2">
                    <input type="radio" name="sex" id="sex_f" value="choice.0"
                                {% if post.sex == "F" %}
                                    checked="checked"
                                {% endif %}
                            />
                    {{choice.1 }}
                </label>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="fields_row g12">
                <label for="dob" class="g2">Fecha de Nacimiento<span class="required">*</span></label>
                {{ form_usr.dob }}
                <span></span>
            </div>
            <div class="fields_row g12">
                <label for="tel_o" class="g2">Tel&eacute;fono Oficina</label>
                {{ form_usr.tel_o }}
            </div>
            <div class="fields_row g12">
                <label for="tel_m" class="g2">Tel&eacute;fono Celular</label>
                {{ form_usr.tel_m }}
            </div>
        </div>
        <div class="buttons g12">

            <span class="g2">&nbsp;</span>
            <div class="g9">
                <button class="aqua_btn fr" id="save">
                    Guardar
                </button>
            </div>
        </div>
    </form>

</div>