{% extends "base.html" %}
{% block titulo %}Restaurar Data Warehouse{% endblock %}
{% block externalcss %}
    <link rel="stylesheet" href="/static/css/consumption_centers/main.css" type="text/css" />
    <link rel="stylesheet" href="/static/date_picker/css/datepicker_og.css" type="text/css" />
    <link rel="stylesheet" type="text/css" href="/static/js/external/jquery-validator/css/validator.css">
{% endblock %}
{% block externaljs %}
    <script type="text/javascript" src="/static/date_picker/js/date_picker.js"></script>
    <script type="text/javascript" src="/static/js/external/jquery-validator/js/validator.js"></script>
{% endblock %}
{% block document_ready %}
    $("#dw").validate();
    var now3 = new Date();
    now3.addDays(-4);
    var now4 = new Date();
    var mul_date, mul_date3, mul_date4 = false;
    $('#widgetCalendar').DatePicker({
        flat: true,
        format: 'Y-m-d',
        date: [new Date(now3), new Date(now4)],
        calendars: 2,
        mode: 'range',
        starts: 1,
        onChange: function(formated) {
            $('#range1_init').val(formated[0]);
            $('#range1_end').val(formated[1]);
            if(!mul_date){
                $('#widgetField span').css({'font-size':'16px', 'height':'26px'});
            }
        }
    });
    $('#widgetCalendar').DatePickerClear();

{% endblock %}

{% block breadcumbs %}

     <div id="bread_crumbs">
     <a href="/panel_de_control/ver_usuario/{{ request.user.pk }}/" class="fl username">{{ request.user.first_name }} {{ request.user.last_name }}</a>
        <ul>
            <li><a href="/main/">Inicio</a></li>
            <li><a href="/main/">Reportes</a></li>
        </ul>
        <a href="/logout" id="userLogOut">Cerrar sesión</a>

    </div>

{% endblock %}

{% block contenido %}


    <div id="page_content">
        <div id="contenido_interno">
            <h2 id="titulo_reporte">Data Warehouse</h2>
            <div class="divider" id="divider_top">&nbsp;</div>
            {% if text %}
                <span class="posted">
                    {% autoescape off %}{{ text }}{% endautoescape %}
            </span>
            {% endif %}
            <div id="graphs_container">
                <form action="." method="post" id="dw">
                    {% csrf_token %}
                    <p class="g12">
                        <label class="g2" for="consumer_unit">Unidad de consumo
                        </label>
                        <select name="consumer_unit" id="consumer_unit" class="validate notnull">
                            <option value="0">Unidad de Consumo</option>
                            {% for consumer_unit in consumer_units %}
                                <option value="{{ consumer_unit.transactional_id }}">{{ consumer_unit.building_name }} - {{ consumer_unit.electric_device_type_name }}</option>
                            {% endfor %}
                        </select>
                    </p>
                    <div class="g12">
                        <span class="g2">Selecciona un periodo</span>
                        <div class="g3">
                            <label for="range1_init">Desde</label>
                            <input type="text" name="range1_init" id="range1_init" readonly="readonly" class="validate notnull"/>
                        </div>
                        <div class="g3">
                            <label for="range1_end">Hasta</label>
                            <input type="text" name="range1_end" id="range1_end" readonly="readonly" class="validate notnull"/>
                        </div>
                        <div id="widgetCalendar" class="g12"></div>
                    </div>
                    <p class="g12">
                        <button type="submit" class="aqua_btn c">Actualizar DW</button>
                    </p>
                </form>
            </div>


        </div>
    </div>
{% endblock %}