input, textarea{
    background: url('../images/bgs/input_inner_shadow.png') white repeat-x 0 0 !important;
}
form {
    color: #6C6C6C;
}
.required {
    color: red;
}
#cluster_fields div.selector{
width: 475px;
    }

#cluster_fields div.selector select{
width: 500px;
    }

#cluster_fields div.selector span{
width: 450px;
    }

#cluster_fields input{
width: 465px;
    }

#cluster_fields textarea{
width: 465px;
background: url('../images/bgs/input_inner_shadow.png') white repeat-x 0 0;
    }

#part_bld_fields div.selector{
    width: 487px;
}

#part_bld_fields div.selector select{
    width: 490px;
}

#part_bld_fields div.selector span{
    width: 460px;
}

#part_bld_fields textarea{
    background: url('../images/bgs/input_inner_shadow.png') white repeat-x 0 0;
}

.del, .delete, .edit{
    margin-right: 10px;
    margin-left: 0;
}

.active_status{
    font-weight: bold;
    color: #54bf77;
}

.inactive_status{
    font-weight: bold;
    color: #6d6d6d;
}

#company_logo_upload{
    float:left;
    width: 200px;
    height: 260px;
}

#company_logo{
    width: 200px;
    height: 150px;
    text-align: center;
    margin-top: 20px;
}
#company_logo img{
    max-width: 200px;
    max-height: 150px;
}

.company_fields{
    float:left;
    height: 260px;
    width: 630px;
    margin-left: 20px;
}

#clusters_companies{
    overflow: auto;
}

#clusters_companies_list{
    overflow: auto;
    margin-top: 10px;
    margin-left: 30px;
}

#cluster_img{
    margin-right: 30px;
    margin-top: 30px;
}

#cluster_data{
    width: 580px;
    color: #6E6E6E;
    overflow: auto;
}

#cluster_data p{
    margin-bottom: 10px;
}

.logos_in_cluster{
    float: left;
    width: 125px;
    height: 125px;
    text-align: center;
    margin: 10px;
}

.cluster_content{
    overflow: auto;
    min-height: 250px;
}


#clusters_companies_list a, clusters_companies_list a:active{
    color: #6C6C6C;
}


.hrchy_cluster{
    margin:20px 0;
}

.hrchy_company{
    margin:10px 30px;
}

.hrchy_building{
    margin: 5px 30px;
}

.hrchy_cluster_label{
    font-size: 16px;
    font-weight: bold;
}

.hrchy_company_label{
    font-size: 14px;
}


.hz_divider_short{
    float: left;
    display: inline-block;
    height: 27px;
    margin: 4px 1.7em 0 1.7em;
    border-right: solid 1px #9EBFC7;
}

#part_bld_fields{
    height: 350px;
    width: 100%;
}

#atributes_fields{
    height: 170px;
    width: 100%;
    margin-top: 20px;
}


.extra_attributes_div{
    margin-left: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    height: 12px;
    display: block;
    float: left;
}

.extra_attributes_building{
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
}

.field_seebld{
    padding: 0 0 !important;
}

.tip_attribute_part{
    width: 200px;
    display: block;
    float: left;
    font-weight: bold;
}

.tip_attribute_part_seebld{
    width: 200px;
    display: block;
    float: left;
}

.attribute_part{
    width: 200px;
    display: block;
    float: left;
}

.attribute_value_part{
    visibility: visible !important;
    display: block;
}

.widgetField{
    width: 220px;
}

.widgetField span.legend{
    width: 180px !important;
    float: left;
}

.widgetField ul.ddl{
    width: 100%;
}

.attribute_value_text_row{
    margin: 0;
    padding: 0;
    width: 235px;
    float: left;
}

.attribute_value_text{
    height: 20px;
}

.delete_attr_icon{
    float:left;
}


.building_info{
    width: 100%;
}

#seebld_address{
    padding: 8px 0;
}

.building_info_top{
    width: 100%;
    height: 320px;
}
.info_top_seebld{
    height: 230px !important;
    padding-top: 30px;
}

.att_seebld{
    height: auto !important;
    min-height: 120px;
}

.building_info_bottom{
    width: 100%;
    height: 460px;
}

.building_column{
    width: 50%;
    float: left;
}

.map_canvas{
    width: 100%;
    height: 350px;
}

.map_canvas_seebld{
    width: 100%;
    height: 170px;
}

.building_column textarea{
    background: url('../images/bgs/input_inner_shadow.png') white repeat-x 0 0;
}

.building_column textarea:focus{
    background-color: white;
}

.building_column div.selector{
    width: 290px;
}

.building_column div.selector select{
    width: 300px;
}

.building_column div.selector span{
    width: 265px;
}

#b_type{
    background: url('../images/bgs/input_inner_shadow.png') white repeat-x 0 0;
    height: 170px;
    font-size: 12px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    padding: 3px;
    color: #777;
    border: 1px solid #AAA;
    border-right-color: #CCC;
    border-bottom-color: #CCC;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    outline: 0;
}

.hz_divider {
    float: left;
    display: inline-block;
    height: 27px;
    margin: 4px 1.3em 0 1.3em;
    border-right: solid 1px #9EBFC7;
}
.required{
    color: red;
}
#search_pm label, #search_pm a#asign{
    float: left;
    margin-top: 0;
    font-weight: 700;
    color: #6C6C6C;
}
#search_pm .plus{
    margin-top: 5px;
}

#user_actions form{
    width: 670px !important;
}

#alarm input[type="text"]{
    width: 182px;
}



#chart{
    display: block;
    margin: 0 auto;
}
#chart a{
    font-size: 14px;
    line-height: 150%;
    color: #909aa2 !important;
}
#chart a:hover{
    color: #505e68 !important;
}
h1#title_lb{
    font-size: 16px !important;
    font-weight: 400;
    color: #4a5c65;
}
h1#title_lb span{
    font-size: 16px !important;
    font-weight: 700;
    color: #4f5962;
}
#notice{
    font-size: 12px !important;
}