#cluster_fields div.selector{
    width: 475px;
}

#cluster_fields div.selector select{
    width: 500px;
}

#cluster_fields div.selector span{
    width: 450px;
}

#cluster_fields input{
    width: 465px;
}

#cluster_fields textarea{
    width: 465px;
    background: url('../images/bgs/input_inner_shadow.png') white repeat-x 0px 0px;
}

.del, .delete, .edit{
    margin-right: 10px;
    margin-left: 0px;
}

.active_status{
    font-weight: bold;
    color: #54bf77;
}

.inactive_status{
    font-weight: bold;
    color: #6d6d6d;
}

#company_logo_upload{
    float:left;
    width: 200px;
    height: 260px;
}

#company_logo{
    width: 200px;
    height: 150px;
    text-align: center;
    margin-top: 20px;
}

.company_fields{
    float:left;
    height: 260px;
    width: 630px;
    margin-left: 20px;
}

#titulo_form.company {
    background: url(../images/imgs_icns/company_icon.png) no-repeat left 50%;
}

#titulo_form.cluster {
    background: url(../images/imgs_icns/cluster_icon.png) no-repeat left 50%;
    padding-left: 60px;
}

#clusters_companies{
    overflow: auto;
}

#clusters_companies_list{
    overflow: auto;
    margin-top: 10px;
    margin-left: 30px;
}

#cluster_img{
    margin-right: 30px;
    margin-top: 30px;
}

#cluster_data{
    width: 580px;
    color: #6E6E6E;
    overflow: auto;
}

#cluster_data p{
    margin-bottom: 10px;
}

.logos_in_cluster{
    float: left;
    width: 125px;
    height: 125px;
    text-align: center;
    margin: 10px;
}

.cluster_content{
    overflow: auto;
    min-height: 250px;
}


#clusters_companies_list a, clusters_companies_list a:active{
    color: #6C6C6C;
}


