#company_profile_pic{
    max-width: 154px;
    max-height: 154px;
    display: block;
    margin: 30px auto 10px auto;
}
#empresa{
    line-height: 125%;
    cursor: pointer;
    background: url(../images/imgs_icns/arrow_down_sm_white.png) 100% 50% no-repeat;
    display: block;
    width: 115px;
    margin: 10px auto;
    font-size: 12px;
    border: none;
    color: white;
}
#company_list{
    border: solid 1px #666;
    left: 18px;
    position: absolute;
    background: #505e68;
    width: 200px;
    display: none;
}

#company_list li{
    cursor: pointer;
    padding: 3px 10px;
}
#company_list li:hover{
    font-weight: 700;
    background-color: #fff;
    color: #505e68;
}
#sidebar_content{
    color: #fff;
}
h2{
    line-height: 22px;
    color: #878787;
    font-weight: 700;
    font-size: 14px;
    float: left;
}
#titulo_form{
    font-size: 18px;
    height: 22px;
    padding-left: 39px;
}
#titulo_form.user_role{
    background: url(../images/imgs_icns/user_role_icon.png) no-repeat left 50%;
}
#titulo_form span{
    font-size: 18px;
    font-weight: 400;
    color: #505e68;
}
.various{
    line-height: 23px;
    color: #86A2AC;
    float: left;
    margin-left: 5px;
}
.sidebar_option{
    padding-left: 11px;
    line-height: 40px;
    display: block;
    height: 41px;
    background: url(../images/bgs/sidebar_separator.png) no-repeat 0 100%;
    font-size: 14px !important;
}
.sidebar_option span{
    height: 100%;
    padding-left: 38px;
    background: url(../images/imgs_icns/electric_icon.png) no-repeat 0 50%;
    display: block;
}
.sidebar_option.first{
    background: url(../images/bgs/sidebar_first.png) repeat-x;
}
.sidebarsub_op{
    margin-top: 5px;
}
.sidebarsub_op li{
    display: block;
    color: #fff;
    margin-left: 25%;
    height: 20px;
}
.sidebarsub_op li a{
    color: #fff;
}
#contenido_interno{
    width: 94.1%;
    min-height: 520px;
    margin-top: 10px;
    border: solid 1px #9ebfc7;
    padding: 28px 40px;
    background: #FFF;
    background-image: url(../images/bgs/main_content_bg.png); /* fallback */
    background-image: url(../images/bgs/main_content_bg.png), -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ededed)); /* Saf4+, Chrome */
    background-image: url(../images/bgs/main_content_bg.png), -webkit-linear-gradient(top, #ffffff, #ededed); /* Chrome 10+, Saf5.1+ */
    background-image: url(../images/bgs/main_content_bg.png),    -moz-linear-gradient(top, #ffffff, #ededed); /* FF3.6+ */
    background-image: url(../images/bgs/main_content_bg.png),     -ms-linear-gradient(top, #ffffff, #ededed); /* IE10 */
    background-image: url(../images/bgs/main_content_bg.png),      -o-linear-gradient(top, #ffffff, #ededed); /* Opera 11.10+ */
    background-image: url(../images/bgs/main_content_bg.png),         linear-gradient(top, #ffffff, #ededed); /* W3C */
}

#divider_top.divider{
    margin-top: 40px;
}
.description{
    color: #636363;
    line-height: 150%;
    margin: 30px 0;
}
#basic_rol_info{
    width: 650px;
}
#basic_rol_info label{
    margin: 10px 0;
}
#basic_rol_info input{
    width: 98.7%;
}
.buttons a, .buttons a:active{
    font-weight: 700;
    color: #636363;
}
.widgetField{
    text-align: center;
    width: 320px;
    height: 26px;
    float: left;
    line-height: 26px;
    background: url(../images/bgs/datepicker_select_bg.png) repeat-x;
    border: solid 1px #BDBDBD;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.widgetField a{
    float: right;
    width: 21px;
    background: url(../images/imgs_icns/arrow_down_sm_gray.png) no-repeat 0 50%;
    display: inline-block;
}
.delete, .edit{
    display: inline-block;
    width: 16px;
    height: 16px;
}
.delete{
    background: url(../images/imgs_icns/minus_red.png) no-repeat 50% 50%;
}
.edit{
    background: url(../images/imgs_icns/pencil.png) no-repeat 50% 50%;
}