.input span
{
    position: absolute !important;
    padding: 11px 0 !important;
    margin-left: 3px !important;
    color: #909090 !important;
    z-index: 1 !important;
    font-size: 12px !important;
    font-style: normal !important;
}