#contenido_interno{
    padding: 10px;
    margin: 0px auto !important;
}
form{
    overflow: auto;
    color: #6c6c6c;
}
label span{
    font-style: italic;
    font-size: 11px;
    padding: 0 !important;
}
input[type="text"], input[type="password"], input[type="email"]{
    background: url('../images/bgs/input_inner_shadow.png') #fff repeat-x 0px 0px !important;
}
textarea{
    width: 465px;
    background: url('../images/bgs/input_inner_shadow.png') white repeat-x 0px 0px !important;
}
.fields_row.g12{
    margin: 0;
}
.required{
    color: red;
}
.widgetField{
    width: 220px;
    margin-right: 15px;
}
.widgetField span.legend{
    display: inline-block;
    width: 180px !important;
    float: left;
}
.ddl{
    height: 104px;
    -webkit-box-shadow: 2px 2px 3px#DDD;
    -moz-box-shadow: 2px 2px 3px#DDD;
    box-shadow: 2px 2px 3px#DDD;
    border: solid 1px #CCC;
    background: white;
    display: none;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto !important;
}
.attribute_value_text_row {
    margin: 0px;
    padding: 0px;
    width: 235px;
    float: left;
}
.attribute_value_text {
    height: 20px;
}
#atributes_fields{
    float: left;
    height: 170px;
    width: 100%;
    margin-top: 20px;
}